[2020-01-07 05:57] lukehoban commented on #3722
Oh - that sound entirely unrelated to `StackReference`.  Do you just mean like this?

[code]

See https://github.com/pulumi/examples/blob/master/aws-py-s3-folder/__main__.py for another example along these lines.

[2020-01-07 06:03] lukehoban commented on #3722
BTW - If your core question is ultimately "How do I turn an `Output[str]` into a `str`?", the answer is that you cannot directly do this.  An `Output[str]` represents a value that may at some point in the future (after the resource is provisioned) have a value, but may not yet have that value (during preview, or during an update before creation or replacement).  So you can only use the value of th

[2020-01-07 06:21] SwitchedToGitlab commented on #3722
Yeah this doesn't make any sense. `Output[str]` is not Pythonic syntax so I really don't follow you there. I've read the [Outputs](https://www.pulumi.com/docs/intro/concepts/programming-model/#outputs) doc well over a dozen times and it still doesn't make any sense. A big reason for that is that it keeps using javascript references:

That makes zero sense to a python programmer whatsoever. Nor doe

[2020-01-07 06:41] lukehoban commented on #3722
FWIW - this is Python syntax - as in https://github.com/pulumi/pulumi-aws/blob/master/sdk/python/pulumi_aws/s3/bucket.py#L17.

See https://docs.python.org/3/library/asyncio-future.html which is the feature being compared with here - though this is just a general conceptual comparison.

You definitely *can* do this - by doing the work that depends on the string value inside a callback function pass

[2020-01-07 14:28] metral commented on #3182
When CI runs experience a slew of failed tests, e.g in pulumi/eks, this exhausts travis even further and can intro this error across many tests. It's been occurring regularly in pulumi/eks over the last month when other unrelated issues arise (e.g. https://github.com/pulumi/pulumi-eks/issues/300)

[2020-01-07 14:29] tndata opened #3723 "Add DotNet support to the pulumi/actions GitHub action docker container"
when I try to build my C# pulumi project in Github using GitHub actions, I get this error

Diagnostics:
  pulumi:pulumi:Stack (PulumiAppServiceContainer-githubaction):
    error: could not find `dotnet` on the $PATH: exec: "dotnet": executable file not found in $PATH

I am using this image - uses: docker://pulumi/actions

[2020-01-07 14:59] lukehoban commented on #3723
This was fixed recently in https://github.com/pulumi/pulumi/pull/3616, but I believe we have not yet published the updated images which include that fix. That is tracked in https://github.com/pulumi/pulumi/issues/3701.

[2020-01-07 15:21] lukehoban commented on #3723
I’ll actually close this out as the work is done and the remaining release task is already tracked in #3701.

[2020-01-07 15:21] #3723 closed

[2020-01-07 21:09] Strife96 opened #3724 "Feature: Update go-cloud library to enable Azure filestate backend to specify different Azure Storage Domain"
Currently, Pulumi's cloud filestate backends use the go-cloud library's default blob driver to handle blob storage connection, reads/writes, etc. Recently, the go-cloud library's default Azure blob driver gained the ability to specify an Azure domain (i.e. "blob.core.windows.net", "blob.core.usgovcloudapi.net", etc.) using an environment variable. This enables users to access blob accounts in any

[2020-01-07 22:26] CyrusNajmabadi commented on #3646
Fixed with https://github.com/pulumi/pulumi/pull/3676

[2020-01-07 22:26] #3646 closed

[2020-01-08 17:38] migueloller opened #3725 "Expose watch primitives to implement features like hot-reloading"
Would the Pulumi architecture allow for exposing an API to Pulumi programs that can hook into watch mode?

More specifically, could a custom resource be made that can detect when Pulumi is running in watch mode and change resource behavior? For example, one could make a Docker image resource that on source file changes, instead of rebuilding the entire image, just syncs the files using a volume. T

[2020-01-08 18:42] lukehoban opened #3727 "Issue with 1.8.1 pulumi/actions docker image"
From https://pulumi-community.slack.com/archives/CDE799L1M/p1578505547064500:

[2020-01-08 18:43] lukehoban commented on #3701
We've released the `1.8.1` docker images - so I'll close this out - though there was a separate issue with these that we are following up on in https://github.com/pulumi/pulumi/issues/3727.

[2020-01-08 18:43] #3701 closed

[2020-01-08 18:46] CyrusNajmabadi commented on #3111
We decided this is 'by design' as per: https://github.com/pulumi/pulumi/pull/3210#issuecomment-555845992

[2020-01-08 18:46] #3111 closed

[2020-01-08 18:47] CyrusNajmabadi commented on #3111
Note: docs where updated here: https://www.pulumi.com/docs/intro/concepts/programming-model/#optional-chaining-off-of-an-output

[2020-01-08 18:59] pgavlin commented on #3727
This should now be fixed.

[2020-01-08 18:59] #3727 closed

[2020-01-08 19:16] chrsmith commented on #1023
At this point I think we've gotten to a point where the `apitype` package only contains things that are actually used in the CLI. So closing this out as no longer necessary.

[2020-01-08 19:16] #1023 closed

[2020-01-08 19:54] chrsmith commented on #3727
Thanks Pat!

[2020-01-08 23:02] joeduffy commented on #1614
I'm not sure if this is worth tracking here, but the names we generate are not "perfectly idiomatic." For instance, on `ec2.Instance`, we expose properties named `PublicIp` and `PublicDns`; these technically ought to be `PublicIP` and `PublicDNS`. Not a huge deal, but worth noting.

[2020-01-08 23:08] mikhailshilkov commented on #3644
Thanks @Szer! Based on your `Yield`-based examples, I managed to make the following snippet compile:

[code]

[2020-01-09 08:52] yamamoto-febc opened #3729 "Pulumi doesn't respect provider generated resource id when updating"
I wrote a custom provider using pulumi-terraform-bridge.
It works fine, but some resources can no longer be managed from Pulumi after updated.

Steps to reproduce are:

1. Write code and run `pulumi up`
2. Update code and run `pulumi up`

(Details of reproducing steps are [here](https://gist.github.com/yamamoto-febc/8429df8f26ff9102fb915410b7bc8df6).)

If the provider changes resource ID with in-p

[2020-01-09 13:11] boillodmanuel commented on #3646
Hello @CyrusNajmabadi,

I'm looking for this feature in official doc and didn't found anything. Is this documented anywhere (other than in PR)

[2020-01-09 17:37] pgavlin commented on #3729
Currently, the Pulumi engine does not allow resource IDs to change as part of an update. We would need to add this feature to the engine itself in order to allow resource providers to change IDs.

What is the scenario you're addressing that requires the ID to change during an update?

[2020-01-09 23:15] breathe commented on #3339
@brandonkal this would require a redeployment of all the resources wouldn't it ...?

I'm trying to manage VM's with pulumi -- and some of these VM's are unfortunately snowflakes -- so I unfortunately can't reproduce the stack in which the vm is deployed by deleting and redeploying ...

I've gotten all the snowflakes migrated into a single stack, and putting everything in that same stack going forw

[2020-01-09 23:46] brandonkal commented on #3339
@breathe Yes. I found that out the hard way as well. I ran into lots of performance issues with Pulumi and thus had to break things up to offset the very slow diff speed. I then tried moving code into the main stack and Pulumi now wants to recreate everything.

Pulumi doesn't really let you move resources or refactor code between stacks. Essentially your end goal would be to have everything in one

[2020-01-09 23:55] clstokes opened #3730 "Allow config to be used without specify scope"
Currently to access a scoped config value (e.g. `aws:region`, `gcp:project`, etc) through Pulumi's config system, the user must first instantiate the config via the scope and then reference the specific config key like below:
[code]

We should support a simpler method which doesn't require the extra step, e.g.:
[code]

##### _An alternative method_
For others that come across this issue, the recom

[2020-01-10 03:48] yamamoto-febc commented on #3729
My scenario is:

On [our platform](https://manual.sakura.ad.jp/cloud/en/), changing some attributes creates a new resource internally.
With this case, some attributes(e.g. public IP) that the original resource had will be inherited to the new resource.
It's a new resource internally, the ID is also changed, but it looks like the same resource for users.

If Terraform recreates(delete-create) the r

[2020-01-10 09:33] barclayadam opened #3731 "Azure custom hostname + new DNS records"
I'm using Pulumi to create an environment in Azure that has an Azure Web App, pointed at from Cloudflare.

Part of the Pulumi app I therefore have is to create a `CustomHostnameBinding`. Azure requires a verification DNS record to be live for this to work. The problem occurs when first setting up the environment because of DNS propagation.

I can wait a minute and then manually retry and it works,

[2020-01-10 16:14] pgavlin commented on #3731
@stack72 would custom timeouts be an option here, or is this something that needs to be addressed in the underlying provider?

[2020-01-10 16:25] barclayadam commented on #3731
By custom timeouts do you mean https://github.com/pulumi/pulumi/issues/2655?.

If the DNS has not been propagated the creation of the custom hostname would fail immediately and therefore fail the deployment

I may be off here but it feels like either:

a dependency wait change in that if something depends on a DNS record, the determination of when the DNS record has been "created" changes from "ha

[2020-01-10 16:39] metral opened #3732 "ts-node is requiring node >= v10 per yn, causing breakage in CI when testing node v8"
`ts-node` was recently [updated](https://www.npmjs.com/package/ts-node/v/8.6.0) from v8.5.4 -> v8.6.0 yesterday, introducing a dependency on `yn` which has a hard requirement on node >= v10.

The `yn` dependency on node >= v10 causes breakage when working in a node v8 environment like CI due to mismatch of versions.

The suggested fix is to lock `ts-node` on v8.5.4

[2020-01-10 17:18] #3732 closed

[2020-01-10 18:19] clstokes commented on #3706
@axwalker, I see no _obvious_ reason that the AWSX VPC should not provide the improved start times, but I also don't see a way from the AWS docs to actually validate this except for observing performance.

Can you provide your modified code and I can see if I can replicate this?

[2020-01-10 20:22] mikhailshilkov opened #3734 "PaC as runtime tests"
One type of testing Pulumi programs is running checks during `preview up` execution. The idea is to describe in [this blog](https://www.pulumi.com/blog/unit-testing-infrastructure-in-nodejs-and-mocha/). Tests run during both Preview and Update.

There is a lot of overlap with Policy-as-code running in local mode. We should improve the ergonomics and terminology of PaC to reuse it for automated tes

[2020-01-10 21:12] phewitt opened #3735 "Symlink files not copied to tmp dir for Integration tests"
It seems that when I have a symlinked file inside of the pulumi stack at test. When I run `integration.ProgramTest` all files are copied to `tmp` besides symlinks. Haven't had time to test in isolation. Simply have experienced this in one of our projects.

[2020-01-10 22:45] lukehoban commented on #3735
@phewitt For your use-case, what behaviour did you expect/need for symlinks?  Did you want them to be followed and copied as real files, or remain as links to the source location?  Neither option seems generally "safe" here (the former could lead to cycles, the latter could lead to accidentally have the tests not perform isolated operations.

[2020-01-10 22:46] lukehoban commented on #3735
FWIW - the issue appears to be we use Go's `fsutil.CopyFile` which includes this documentation:

[code]

[2020-01-10 23:56] lukehoban opened #3736 "Considering dropping support for Node 8"
Pulumi officially support "Node.js version 8 and later" (https://www.pulumi.com/docs/intro/languages/javascript/).  However, Node 8 was EOL as of 12/31/2019.  And we are seeing some dependencies starting to drop support, and in some cases actively block usage on Node <10.

We should consider if/when to officially change support Node version to 10 and later.

As part of this, we should move our min

[2020-01-11 03:04] SwitchedToGitlab commented on #3722
Would you please? This still doesn't make any sense to me honestly.

[2020-01-11 06:17] lukehoban commented on #3722
Happy to.  Can you share a code snippet of what you are trying to accomplish here which is not working for you?

[2020-01-11 23:48] joeduffy opened #3737 "Better import failure error messages"
If I'm trying to import state, and the computed state of the resource's properties don't match, the error message doesn't give me much information here. I get a warning:

[code]

And then if I proceed, I get an error:

[code]

Upon seeing the first one, I can hit "details" in the preview to get full information. However, I would find it much nicer if we embellished these errors a bit more. For ins

[2020-01-13 12:47] mikhailshilkov opened #3739 "Don't re-run `dotnet build` in update phase"
For a .NET program, `pulumi up` runs `dotnet build` twice: during preview and during update.

I think we should only run it once during a single CLI run. Note, that the build should still run if `--skip-preview` is passed.

[2020-01-13 12:50] mikhailshilkov opened #3740 "Migrate to .NET Core 3.1"
.NET Core 3.1 is the current stable, LTS release. We should gradually migrate to it from 3.0:
- Change examples and templates
- Change tfgen
- Change the core libraries

[2020-01-13 14:31] mikhailshilkov commented on #3480
Getting this on my first day with macOs terminal / zsh / dotnet, so it might not be that rare after all.

[2020-01-13 17:12] phewitt commented on #3735
for our use case we originally were we had a directory `/docker` which had many sub directories for each unique image `/docker/image1/` `/docker/image2/`. However we had common bash scripts that we were using in each container, so we moved it out of copy pasting into each `image` directory and made it just `/docker/common.sh` (didn't actually name it common). and then symlink inside of each `/dock

[2020-01-13 19:01] lukehoban opened #3742 "Support a List operation in the resource provider model"
The current resource provider model supports Create, Read, Update and Delete operations, but not List operations.  For the AWS, Azure and GCP providers, some List operations are available via APIs like `.getRouteTables()`, but this is not support universally in the same way that methods like `RouteTable.get()` are supported universally.

Adding support for this is mostly dependent on being able to

[2020-01-13 19:01] lukehoban commented on #83
Opened #83 as a more up-to-date tracking item for the remaining piece of this.

[2020-01-13 19:01] #83 closed

[2020-01-13 19:03] lukehoban commented on #85
We have config which we use for this purpose. And it's not clear we want to directly formalize OS args as an input mechanism.  Closing this out for now.

[2020-01-13 19:03] #85 closed

[2020-01-13 19:04] lukehoban commented on #95
https://github.com/pulumi/pulumi/issues/1583 tracks a more up to date version of this.  Closing this one out.

[2020-01-13 19:04] #95 closed

[2020-01-13 19:14] lukehoban commented on #1691
For folks looking for solutions here - please do check out https://github.com/pulumi/examples/tree/master/aws-ts-ec2-provisioners, which shows how to use a simple library on top of "dynamic providers" to enable this.  We're still looking at adding more first-class support for this in the near future - but the library used in that example should work for many use-cases in the meantime.

[2020-01-13 19:17] lukehoban commented on #99
For folks looking for solutions here - please do take a look at https://github.com/pulumi/examples/tree/master/aws-ts-ec2-provisioners.  There is a small helper library built with "dynamic providers" that solves for the most common cases of this.  We are still looking at adding more first-class support here in the near future - but this should help for folks who need a solution today.

[2020-01-13 20:08] lukehoban commented on #2287
@pgavlin has a PR out with an approach to fully mocking the engine interface as a foundational element of unit testing approaches.  See pulumi/pulumi#3738.

[2020-01-13 21:26] lukehoban opened #3744 "Move template tests to templates repo"
We currently test all our templates in this repo's CI.  These tests are somewhat slow, are the only place we directly depend on external cloud providers, and generally catch a class of issues that aren't related to `pulumi/pulumi` itself.

We should look into moving these tests to run nightly in `pulumi/templates` instead - which is a closer match for their coverage.

[2020-01-13 21:30] stack72 commented on #3744
I can move these easily enough as I have the credentials for them

[2020-01-13 22:14] lukehoban commented on #116
We haven't really heard this request again in the last 2 years, and haven't seen upvotes here.  Going to close out - and if a new scenario arises around this we can reopen.

[2020-01-13 22:14] #116 closed

[2020-01-13 22:16] lukehoban commented on #122
We probably don't need to track a "prototype" issue here.  We may look into something around adding RI (or savings plans) coverage to our PaC feature, but it's also already possible to do this manually on PaC.  Will close this out as a standalone issue in this repo.

[2020-01-13 22:16] #122 closed

[2020-01-13 22:19] lukehoban commented on #178
This is phrased in terms of very old details of the resource model, and much of the details of any possible concerns here are different after implementing provider diffing.  Closing this out - and we can open more actionable issues if needed in the future.

[2020-01-13 22:19] #178 closed

[2020-01-13 22:20] lukehoban commented on #190
This is now tracked in https://github.com/pulumi/pulumi-policy/issues/98.

[2020-01-13 22:20] #190 closed

[2020-01-13 22:21] lukehoban commented on #191
We are lint clean up to our current bar - and do not have current need to raise that bar significantly.

[2020-01-13 22:21] #191 closed

[2020-01-13 22:22] lukehoban commented on #263
We have not had user-facing issues here over the last two years in practice - so I think we can close this for now - it's one of several areas of overall performance and stress coverage we will continue to invest in.

[2020-01-13 22:22] #263 closed

[2020-01-13 22:22] lukehoban commented on #270
We have not had increased need to focus on this in the last 2 years.

[2020-01-13 22:22] #270 closed

[2020-01-13 22:24] lukehoban commented on #286
I'll close this out - as we look at improving our error reporting going forward - this is one of many technical solutions we may consider.

[2020-01-13 22:24] #286 closed

[2020-01-13 22:36] lukehoban commented on #318
We do document some of this boundary for the layman at https://www.pulumi.com/docs/intro/concepts/how-pulumi-works/.  As far as the internal boundary - I think we have what we need for now, and will formalize internal APIs more as needed for new user scenarios.

[2020-01-13 22:36] #318 closed

[2020-01-13 22:39] lukehoban commented on #329
There's rather limited need for this in practice today - and it is not something we've seen asks for.  Possibly the only really practical benefit of this would be if it allowed getting rid of the concept of `Pulumi.yaml` file entirely - though there are likely bigger reasons that is difficult (identifying project root, identifying current project name).  Closing this out as a standalone request.

[2020-01-13 22:39] #329 closed

[2020-01-13 22:42] lukehoban opened #3745 "Remove need for Pulumi.yaml"
Today Pulumi requires quite a few files by default - for example in TypeScript: `Pulumi.yaml`, `Pulumi.<stack>.yaml`, `index.ts`, `package.json`, `tsconfig.json`.

Many of these are outside our control.  But one that is in our control is `Pulumi.yaml`.  This file has very little useful information in it - in common cases it only has two things:
1. Project name
2. Runtime

It is also used to find t

[2020-01-13 22:42] lukehoban commented on #329
I opened https://github.com/pulumi/pulumi/issues/3745 to track the idea of not requiring `Pulumi.yaml`.

[2020-01-13 22:43] mitchellmaler opened #3746 "[.NET] Vault Provider ProviderAuthLoginsArgs Parameters error "auth_login.0.parameters: should be a map""
Hello,

I am trying to create a vault provider using the ProviderAuthLoginsArgs so I can authenticate using AppRole. I have added the parameters as an InputMap but each time i run up it gives me the error "auth_login.0.parameters: should be a map". I was unable to find good vault examples that were using a custom provider like this and since dotnet is so new I am not sure if I am just configuring

[2020-01-13 22:52] lukehoban commented on #404
This hasn't been an area we've seen a lot of feedback/need in the last 2 years, so closing out for now.  Can reopen based on user feedback/needs as appropriate.

[2020-01-13 22:52] #404 closed

[2020-01-13 22:55] lukehoban commented on #406
I assume we'll add this as part of adding test coverage going forward - but not sure this issue helps much (and the fact we haven't touched it in 2+ years is some evidence of that :-)).

[2020-01-13 22:55] #406 closed

[2020-01-13 22:58] lukehoban commented on #457
This hasn't come up again in the last 2 years - I think its "just the way it is".

[2020-01-13 23:05] #470 closed

[2020-01-13 23:07] lukehoban commented on #474
We haven't actually heard this request again in the last 2+ years, so I'm going to close this one out.  We have done a fair bit of incremental improvement generally - which may be why this doesn't come up more often.

[2020-01-13 23:07] #474 closed

[2020-01-13 23:15] lukehoban commented on #537
This has not really come up again in the last 2 years, and I believe we do have some test coverage generally for this.  Will close for now, and we can reopen if new need arises.

[2020-01-13 23:15] #537 closed

[2020-01-13 23:21] lukehoban commented on #3469
Here's another example of this when we print a warning about incompatible versions of a resource provider:

[code]

[2020-01-13 23:24] lukehoban commented on #564
We now show this:

[code]

This is the AWS error message - and we can't/won't try to rewrite that.

We do provide reasonable back-pointer to the resource in question in the current diagnostic, but a line number might be helpful. I'll open a specific issue to track that and close this one.

[2020-01-13 23:24] #564 closed

[2020-01-14 01:12] lukehoban commented on #3690
For the use-case origianlly called out - I think it might be reasonable to treat this as "by design".

However, for registering resource outputs, which may be required as part of https://github.com/pulumi/pulumi/pull/3711 for example (and is already technically possible to want to do with the existing resource model), it does seem we'll need the ability to pass `Output`s of PONOs into `RegisterRes

[2020-01-14 03:48] SwitchedToGitlab commented on #3722
Let's just use the S3 bucket example you used above and just log the bucket domain name to a file using the python logger module with the filename `example.log`.

[code]

[2020-01-14 10:06] mikhailshilkov commented on #3746
I reproduced the same error with .NET, while TS version works fine.

It looks like our serialization doesn't work properly and sends this map as a string. Here is a value from the log for .NET:

[code]
while TS has
[code]
@CyrusNajmabadi could you check?

[2020-01-14 14:05] ringods opened #3747 "pulumi login should not be a global user-level configuration"
Our company helps other technology companies with improving their cloud-native architecture & delivery automation. We use Pulumi ourselves for our own infrastructure, but this is not much.

When we use Pulumi for customers, I think it is clear that each of our customers use a different backend for their set of projects. At the moment, I have to login/logout at least once to switch between the back

[2020-01-14 15:28] lukehoban commented on #3747
Yes - this idea that the backend to use should really be information tied to an individual stack has come up several times.

The one case it doesn’t directly handle is creation of a new stack - though it could be that passing the backend as a parameter to that command is the right approach.

We have `—secrets-provider` which is a similar idea, and behaves like that (stored with the stack, passed i

[2020-01-14 15:41] ringods commented on #3747
@lukehoban in this issue I'm not really asking to tie a backend to a project or a stack.

For me, being able to "link" the customer backend to the set of projects from that same customer, and switch without too much hassle to our own setup. I can live with a single backend for a set of projects, but per customer.

[2020-01-14 17:23] lukehoban commented on #609
This is pretty hypothetical, and not something we've progressed in the last 2 years.  We'll reopen if there is renewed interest in expanding in this direction.

[2020-01-14 17:23] #609 closed

[2020-01-14 18:16] lukehoban commented on #727
This hasn't come up again in the last two years - closing out for now.

[2020-01-14 18:16] #727 closed

[2020-01-14 18:20] lukehoban commented on #1037
This hasn't come up again in last ~2 years.  We might consider things in the future along these lines - but can close this issue out for now.

[2020-01-14 18:20] #1037 closed

[2020-01-14 18:22] lukehoban commented on #1252
This has been working for the last ~year.

[2020-01-14 18:22] #1252 closed

[2020-01-14 18:25] lukehoban commented on #1471
This hasn't come up again in last ~1.5 years, and we're reasonably happy with overall update progress display at this point.  We may consider something like this in the future - but can close this issue out for now.

[2020-01-14 18:25] #1471 closed

[2020-01-14 20:01] lukehoban commented on #1536
Going to close out this meta-issue, as we do now have much of this support.  As new package managers become common needed/desired we can open individual work items to track.

[2020-01-14 20:01] #1536 closed

[2020-01-14 20:08] damianh opened #3748 "TypeError: Cannot read property 'length' of undefined at getAvailabilityZones"
A stack I've been working with has stopped working for `preview` and `up` for me.

This code:

[code]

`pulumi preview` results in:

[code]

Node version: v12.14.1
Pulumi version: v1.8.1

I had to set this to prevent the hanging issue:
`pulumi:noSyncCalls: "true"`

I've posted a repro project to https://github.com/damianh/pulumi-vpc
I've validated this with a colleague.

I'm dead in the water with

[2020-01-14 20:40] clstokes commented on #3748
I'm able to reproduce this using Damian's referenced repro project. On my machine, removing the `pulumi:noSyncCalls: "true` from the stack config resolves the issue.

[2020-01-14 20:50] CyrusNajmabadi commented on #3748
investigating.

[2020-01-14 20:50] damianh commented on #3748
@clstokes What version of node are you using?

If I remove that, then `pulumi preview` hangs.

[2020-01-14 20:50] clstokes commented on #3748
I'm using `v10.16.3`.

[2020-01-14 20:54] CyrusNajmabadi commented on #3748
Reproes for me as well.  Looking further.

[2020-01-14 20:59] damianh commented on #3748
@clstokes If you use latest Node LTS version you'll probably be hit with #3309
@CyrusNajmabadi relieved to hear :)

[2020-01-14 21:09] CyrusNajmabadi commented on #3748
Ok.  So this is fixed in pulumi-awsx 0.18.15.  But that's in preview right now.  Working on figuring out a way forward for you.

[2020-01-14 21:29] damianh commented on #3748
Confirmed that the issue does not occur with `@pulumi/awsx 0.18.15-alpha.1578507252`. To unblock myself, I can take a reference on this package pending a release.

Thanks for the fast investigation.

[2020-01-14 21:31] CyrusNajmabadi commented on #3748
Hi @damianh So i don't have great news for you.  The problem *right now* is the use of `pulumi:noSyncCalls: "true"` and this version of the library.  They're just not compatible together.  TO move forward (until we release 0.18.15) you'll need to remove `pulumi:noSyncCalls: "true"`.

Now, as you mentioned, this gives you a hang.  The path forward on that, unfortunately, is to take the approach spe

[2020-01-14 21:33] damianh commented on #3748
Great! I will go ahead with your suggestion. Cheers.

[2020-01-14 21:34] seivan commented on #3748
@CyrusNajmabadi What is the purpose of

`ProviderResource.register(provider);`

and still setting the provider with `, { provider });`
?

[2020-01-14 21:41] CyrusNajmabadi commented on #3748
@seivan Hooboy, it's long and complex to explain.  Here's the best way i can sum it up.

When you pass `{ provider }` to a resource, we end up using it to inform queries we make (like `getAvailabilityZones`).  i.e. we're using that provider to answer the question `what region are you asking for availability zones in?`.

This currently has some significant problems because we end up making that cal

[2020-01-14 21:51] seivan commented on #3748
@CyrusNajmabadi Thanks a bunch for explaining that, appreciate it.

[2020-01-14 22:25] lukehoban opened #3751 "Pulumi 2.0 Breaking Changes"
This issue will centrally track any breaking changes that are part of the [2.0 release](https://github.com/pulumi/pulumi/issues/3591).  The goal is to keep this list small, to ensure maximum compatibility for upgrades to 2.0.  At the same time, we will take the opportunity to make strategic breaking changes at this version boundary to ensure we can maintain extremely high compatibility within majo

[2020-01-15 00:37] lukehoban commented on #1564
We don't have pressing needs for these - for our current use cases we aren't deeply sensitive to jitter.  If/when we need it - we'll add it.

[2020-01-15 00:37] #1564 closed

[2020-01-15 01:32] lukehoban commented on #1641
I'm going to close this as "by design" - the way this works is fairly standard for Python scripts, and consistent with our general approach of treating Pulumi entry points more as "running a script" than "loading a module" across all language environments.

[2020-01-15 01:32] #1641 closed

[2020-01-15 01:33] lukehoban commented on #1708
This hasn't come up against in 1.5 years - and honestly the current message feels okay.

[2020-01-15 01:33] #1708 closed

[2020-01-15 01:39] lukehoban commented on #1778
I think it's okay to rely on use of 3rd party tools to wrap timestamp prefixes if really needed.   That is also much more flexible.  Unix philosophy and all :-).  Also haven't really heard this again in last 1.5 years.

[2020-01-15 01:39] #1778 closed

[2020-01-15 01:40] lukehoban commented on #3748
I think this issue is technically "fixed" already - but we can close out once `0.18.5` is released.

[2020-01-15 01:45] lukehoban commented on #3102
This was very point in time around the 1.0 betas - no need to track now.  We will have a related but in practice totally different set of discussions for 1.0 -> 2.0.

[2020-01-15 01:45] #3102 closed

[2020-01-15 01:49] lukehoban commented on #3034
This was a long time ago - closing.

[2020-01-15 01:49] #3034 closed

[2020-01-15 04:31] lukehoban commented on #2891
This part is done.

[2020-01-15 04:41] lukehoban commented on #2883
You can use `main: ` in the Pulumi.yaml to point to a different folder or file:

[code]

[2020-01-15 04:42] lukehoban commented on #2883
The initial issue raised here I think has several available workarounds that fit better with the current Pulumi project+stack model, and the general point around configuring entrypoint is well supported by `main: `.  I am going to close this out, if there are any further improvements folks think would be valuable though - feel free to open new issues to track.

[2020-01-15 04:42] #2883 closed

[2020-01-15 04:51] lukehoban commented on #2877
This is tracked in https://github.com/pulumi/pulumi/issues/2318.

I've read through this whole issue a couple times, but still don't quite follow what the ask is exactly.  What resources does this delete?  IS this related to `deleteBeforeReplace` (and thus limited to things which will be replaced) or unrelated (as far as I can tell its unrelated).

It this the feature you are looking for?

[2020-01-15 05:31] lukehoban commented on #2834
A couple of the issues here had solutions, and the others may have changed meaningfully in the last 9 months.  I'm not sure there is anything still clearly actionable here.  I'll close out - but if there is still a reproducible issue here - please do reopen.

[2020-01-15 05:31] #2834 closed

[2020-01-15 05:46] lukehoban commented on #2215
I believe @pgavlin has told me this is "impossible".  Would be good to list the specific things that prevent this today so that we can explore what it would look like to include more information in the checkpoint in order to do this (or a reasonable approximation of this) in the future.

[2020-01-15 05:58] lukehoban commented on #2580
We do provide good errors here in all runtimes now - for example:

[code]

[2020-01-15 05:58] #2580 closed

[2020-01-15 06:00] lukehoban commented on #2563
We'll do this when we need to for tracing/cancellation - the issue itself isn't helping at this point.

[2020-01-15 06:00] #2563 closed

[2020-01-15 06:08] lukehoban commented on #2711
Haven't seen more of this - closing.

[2020-01-15 06:08] #2711 closed

[2020-01-15 06:15] #1968 closed

[2020-01-15 06:46] lukehoban commented on #802
I think we can close this out at this point. We may more broadly rethink config, but don't need to track this specifically at this point.

[2020-01-15 06:46] #802 closed

[2020-01-15 06:51] lukehoban commented on #853
Not sure what this means - but also not sure this issue is increasing the chances we do this - closing out for now.

[2020-01-15 06:51] #853 closed

[2020-01-15 06:54] lukehoban commented on #975
`pulumi watch` is part of this - and we could in principle expand that command with a flag to automatically do the `pulumi stack init`, `pulumi destroy` and `pulumi stack rm` parts of this as well.  But I'm not sure in practice we're likely to add any deeper product feature here in the forseeable future - will close this out for now.

[2020-01-15 06:54] #975 closed

[2020-01-15 12:15] matkarasiewicz opened #3754 "pulumi command hangs when non existing dir passed as param for `--cwd`"
Calling pulumi command hangs when directory passed as a value to `--cwd` param doesn't exist.

Example:
`pulumi --cwd non-existing-dir version`

Tested on :
v1.8.1 MacOs/Linux/Windows

Expected behavior:
Error notification that passed dir doesn't exist.

[2020-01-15 15:24] nesl247 commented on #2877
This deletes all resources that pulumi detects need to be deleted because of a change in the plan. For example:

- Create a K8s Service named "1"
- Remove directly created K8s Service named "1" in favor of it being created via helm in pulumi
- Pulumi detects it needs to delete resource "1" because the code changed, but the real result is the same resource
- Pulumi fails because it can't create a r

[2020-01-15 17:04] guitarrapc commented on #1910
Is there any plan to add `download state` button from Pulumi Web's ACTIVITY view, as Terraform Cloud offers?

![image](https://user-images.githubusercontent.com/3856350/72454497-4fea4800-3804-11ea-8245-753b5c97f564.png)

Most cases I want export previous version's state is "some issue is already happen with state and want to revert back to specific checkpoint".

So I will use `pulumi history` or g

[2020-01-15 17:17] lukehoban commented on #1910
@guitarrapc yes - this is a very good suggestion - we’ll look into exposing UI for this in the console as well.

[2020-01-15 18:30] lukehoban opened #3755 "Support storing custom state/metadata in state file"
From a user at https://pulumi-community.slack.com/archives/CRH5ENVDX/p1579108146047000:

Yes - this is a scenario that's come up a few times.

There's no first-class support for it today.  But it's possible to accomplish with a simple dynamic provider.

There are theoretically three places we could store this long-term:
1. As a resource in the resource state
2. As metadata in the deployment
3. As

[2020-01-15 19:01] EvanBoyle commented on #3710
Technically, the work here will involve some breaking changes. For example:

https://github.com/pulumi/pulumi/blob/evan/mypy/sdk/python/lib/pulumi/output.py#L110

We believe this is OK because we aren't currently publishing our types. Existing mypy users will likely have a config line ignoring the pulumi package. If anyone is somehow depending on our types today, they aren't correct and this shoul

[2020-01-15 19:43] ekrengel opened #3756 "Update Policy gestures to support configuration"
Related to: https://github.com/pulumi/pulumi-policy/issues/91

We will be improving the UI experience to support configuration. The CLI now allows you to enable/disable Policy Packs, so the CLI will also need to be able to support configuring them.

[2020-01-15 20:56] csssuf opened #3759 "100% CPU usage while waiting for EKS cluster creation"
While waiting for Amazon to create an EKS cluster, the Pulumi Python language executor seems to take a full CPU (presumably busywaiting?):

[code]

Since EKS clusters take about ten minutes to create on the AWS side, this is quite a long time for one core to be busy. Pulumi is not creating any other resources during this time, and there are no further dependent resources it is waiting to create. I

[2020-01-15 22:39] lukehoban commented on #3748
This is now available in https://www.npmjs.com/package/@pulumi/awsx/v/0.19.0.

[2020-01-15 22:39] #3748 closed

[2020-01-15 22:42] lukehoban commented on #3279
Does anyone who has seen this have any more details for a repro?  We have not yet been able to reproduce this, and don't have any great guesses for what would be wrong here based on details shared so far unfortunately.

[2020-01-15 22:56] lukehoban commented on #3491
Part of https://github.com/pulumi/pulumi/pull/3506.

[2020-01-15 22:58] lukehoban commented on #3492
Part of https://github.com/pulumi/pulumi/pull/3506?

[2020-01-15 22:58] lukehoban commented on #3487
Part of https://github.com/pulumi/pulumi/pull/3506?

[2020-01-15 23:00] lukehoban commented on #3488
This does not appear to be part of https://github.com/pulumi/pulumi/pull/3506 currently - not precisely sure what this is tracking or whether it is critical.  @pgavlin could you add more details?

[2020-01-15 23:01] lukehoban commented on #2149
I believe this is part of https://github.com/pulumi/pulumi/pull/3506/?

[2020-01-15 23:03] lukehoban commented on #1549
@pgavlin @EvanBoyle Do we have any thoughts on what we'll do here?  This seems to be a fairly deep remaining question mark for Go support.

[2020-01-15 23:11] lukehoban commented on #3683
This is tracked in https://github.com/pulumi/pulumi/issues/2918.  We will prioritize that one, but leave this one open to track a first class `transfer` gesture in the future.

[2020-01-15 23:12] lukehoban commented on #2993
This is tracked in https://github.com/pulumi/pulumi/issues/2918.  And indeed I think that is the fundamental thing needed to enable this.

[2020-01-16 06:06] lukehoban commented on #3596
I'm unfortunately struggling to recreate a full working repro of this - the code above seems to be missing the definition of `ServiceFactory.create`, and there's quite a lot going on that doesn't appear related to the issue here which I'm having trouble detangling.

Can you provide a standalone repro of this by any chance?

[2020-01-16 09:09] armenr commented on #2558
Not valuable input, but if it helps to prove any need/fit --> We'd really appreciate this @ my startup.

[2020-01-16 20:58] lukehoban opened #3760 "Add test coverage for all supported filestate backends"
We support local disk, S3, Azure Blob, and GCS backends.  We should ensure we have robust test coverage for all of these as part of GAing these backends.

[2020-01-16 21:02] lukehoban opened #3761 "Add test coverage for all supported Secrets Providers"
We support `awskms`, `azurekeyvault`, `gcpkms` and `hashivault` secrets providers today.  We should ensure all of these have robust test coverage.

[2020-01-16 21:10] lblackstone opened #3762 "[feature] Add option to ProgramTest to only preview (no update)"
I've encountered several cases in the k8s provider where it would be useful to check only the preview step without running an update.

I couldn't find an easy way to do this in test framework, so it would be nice to add this as an optional mode for ProgramTest.

[2020-01-16 22:16] lukehoban opened #3764 "Introduce Pulumi resource model schema and unified code generators"
Today we have multiple code generators - one for `tfgen`, one for our Kubernetes provider, and several providers that have had to be hand written in every language because they do not fit either of the above.

Logically, these are all the same, and are tightly constrained by the need to represent the Pulumi resource model in the target language.

We plan to introduce a common intermediate schema t

[2020-01-16 22:58] lukehoban commented on #3759
Just a note - I was able to reproduce this maxing out a single core on my machine from the provided repro (thanks for a complete repro!).  Will need to do some profiling to understand exactly what the root issue is here.

[2020-01-16 23:03] LouisAmon opened #3765 "Python: `pylint(no-member)` error on `Resource.id `"
Even though the code is actually working, `pylint` by default shows an error when I code `resource.id`.
A way to avoid the `pylint` error is to use `getattr(resource, 'id')` but it is verbose and inelegant.

Is there a way to fix this linting error ?

![image](https://user-images.githubusercontent.com/6024791/72570113-4a503900-38bc-11ea-9124-88abb92a18b5.png)

[2020-01-17 00:23] lukehoban commented on #3759
We end up in this loop the whole time, effectively busy-waiting.

[code]

We do constantly yield on the `sleep(0)`, but appear to come back into this loop effectively immediately and keep using up CPU.

[2020-01-17 00:35] lukehoban commented on #3712
@RichardWLaub Do you have any more details that could help with a repro?  I've spent some time looking into this - but can't identify anything I would expect to lead to this.

The issue in #2914 was fixed, so although the symptom here is similar, it's likely not the same root cause.

If you could run with `pulumi up --logtostderr -v=9 2> out.txt` it might be helpful to see those logs to understand

[2020-01-17 01:21] EvanBoyle opened #3767 "Python: follow up on type issues"
There were a few type issues discovered as a part of enabling mypy in #3710 and #3758.

1. Follow up on the encoding of `Unknown` and `None` WRT `Output`: https://github.com/pulumi/pulumi/pull/3758#discussion_r367570819
2. Label `T` in Output as covariant: https://github.com/pulumi/pulumi/pull/3758#discussion_r367579715. If I try enabling this, mypy complains about covariant parameters in `.apply`

[2020-01-17 05:48] lukehoban commented on #3767
Curious - which lines of code triggered these errors?

[2020-01-17 14:16] axblum commented on #3596
Hi Everyone,
Thanks for taking a look into this. I have created a repro of an Issue, but its not specifically this issue.  Because there were many things that changed under the hood. The provider was updated many times, and so was Pulumi.  After creating a sample repo in order to attempt reproduce https://github.com/axblum/pulumi-repro. I am starting to think this is an issue with the provider.

I

[2020-01-17 19:35] lukehoban commented on #481
This is likely dependent on https://github.com/pulumi/pulumi/issues/2918.  Once that is supported, this will be fairly easy to implement (as a shorthand for exporting the stack with unencrypted secrets, reencrypting them (and config), and importing the new stack (plus serializing the new config).

[2020-01-17 21:07] EvanBoyle commented on #3767
Another one to look into: https://github.com/pulumi/pulumi/pull/3758/files/9008ac25d834e04a643a1d96b45d6122183af1be#r368084010

[2020-01-17 22:01] SwitchedToGitlab commented on #3722
Any chance you can throw me a bone here @lukehoban?

[2020-01-17 22:45] #3710 closed

[2020-01-18 00:30] lukehoban commented on #3722
[code]

[code]

[2020-01-18 15:08] #2149 closed

[2020-01-18 15:08] #3487 closed

[2020-01-18 15:08] #3488 closed

[2020-01-18 15:08] #3492 closed

[2020-01-18 15:08] #3491 closed

[2020-01-18 15:08] #3562 closed

[2020-01-18 17:21] Jmen opened #3772 "Secrets not being encrypted in resource output of state file for .net"
When using .net and there are secrets used for values in the resources. These values are not encrypted in the state when the values is passed to a resource output

This can be seen when using a self managed backend like S3

example program which recreates the issue is here
https://gist.github.com/Jmen/27f1eaafe3660f384c34b65af6b13d4f

and example of the plain text secret in the resource output of

[2020-01-20 07:52] mikhailshilkov commented on #3772
Hey @Jmen thanks for reporting this! I copied your program exactly but failed to reproduce the result.

Here is a dump of my state file
https://gist.github.com/mikhailshilkov/2b9f26b30b689341441fbd2ee79aeb4e#file-state-json-L100

I'm on Pulumi CLI 1.8.1, the only NuGet package reference is `<PackageReference Include="Pulumi.Aws" Version="1.18.0-preview" />`, using `pulumi login --local`.

Any idea

[2020-01-20 12:28] ringods commented on #2430
I like this thought experiment. If all the supported languages compile into WebAssembly (WASM), the interoperability is handled on this layer.

Running the compiled code could be done with this VM:
https://github.com/WAVM/WAVM

[2020-01-20 19:46] standemchuk opened #3773 "Docker image: running `pulumi up` on Github Actions causes a helm error for a stack that contains a helm chart installation"
Hello Pulumi team!
First of all, thanks for the super nice tooling!

Having an issue while trying to run `pulumi up` during a Github Actions job using `pulumi/pulumi`. Not using `pulumi/actions` since I want to run `pulumi config` before `pulumi up`, but tried on that image as well, still the same error.

The only helm chart in the stack:

[code]

Github Actions job:

[code]

Resulting error:
[cod

[2020-01-20 20:05] clstokes opened #3774 "Unable to use mergeOptions for resource arguments in transformation"
It seems our current [`pulumi.mergeOptions`](https://www.pulumi.com/docs/reference/pkg/nodejs/pulumi/pulumi/#mergeOptions) implements don't support the necessary types for merging resource arguments when used in a transformation.

Can we add another implementation of `mergeOptions` that supports this?

#### Compile Error
[code]

#### Code
[code]

#### Workaround without using `mergeOptions`
[code]

[2020-01-20 20:56] lukehoban commented on #3774
`pulumi.mergeOptions` is for merging `ResourceOptions`, not for generally merging argument bags for inputs.

The use case you seem to be using it for here is for manipulating the inputs to a resource constructor.  That is just a different use cases, and `...` (splat) operators (as in your workaround above) are indeed the right way to handle that.   We could try to offer something similar to `merge

[2020-01-20 20:56] #3774 closed

[2020-01-20 22:04] Jmen commented on #3772
Right, so this is much more nuanced than I thought, as I couldn't recreate the problem at first either. So I retraced my steps from my command history, and I've found how to recreate the issue consistently

I pushed that program up, but the first time, I made a mistake and I had the plain text value in the code, e.g.

[code]

Then I corrected the problem using the config.RequireSecret()

[code]

a

[2020-01-20 22:08] Jmen commented on #3772
I'm assuming when the compare is done, it is not taking into account the change of a value to being a secret as a state change?

[2020-01-20 22:26] Jmen commented on #3772
Just confirmed that the javascript implementation has the same behaviour as above

[2020-01-20 23:00] lukehoban commented on #3772
Thanks for the detailed repro @Jmen!  That is very helpful.  Sounds like the issue isn't that secrets are being leaked, but that they aren't correctly being *un*-leaked.   Definitely important to address, but gives a much better idea where the underlying issue might be.

[2020-01-20 23:06] JanVoracek opened #3776 "`pulumi up/preview -c` changes the config"
The [docs](https://www.pulumi.com/docs/reference/cli/pulumi_up/#options) say `-c, --config stringArray           Config to use during the update`.

However, it is not used only during the update. As a side effect, it also alters the config file.

My goal is to pass the current Docker image tag (e.g. `pulumi up -c 'myapp:tag=1d321ef'`) without changing my `Pulumi.<stack>.yaml` as it is tracked by G

[2020-01-21 02:19] guitarrapc opened #3777 "`pulumi stack ls` and Pulumi Console always diff 1"
## Description

While `pulumi stack ls` shows 6, Pulumi Web Console shows 5.

## Reason

Looking into resources, `pulumi stack` counts TYPE for `pulumi:pulumi:Stack` but Pulumi Web Console don't.

[code]

![image](https://user-images.githubusercontent.com/3856350/72769957-cd1c1f80-3c3f-11ea-8408-0089ccfca115.png)

![image](https://user-images.githubusercontent.com/3856350/72769765-2d5e9180-3c3f-11

[2020-01-21 04:12] joeduffy commented on #1614
Should we also update our templates to use Go modules? As of this writing, they still seem to use Godep.

[2020-01-21 04:41] lukehoban commented on #1614
Yep. Added to tracking list.

[2020-01-21 10:50] mikhailshilkov commented on #3772
Thanks @Jmen so much! Now I'm able to reproduce the issue with any SDK.

I've spent some time digging into the issue and here is what I have so far:
0. We change an input of an AWS resource from some string `"abc"` to `pulumi.secret("abc")`.
1. The engine calls the AWS provider to calculate the diff.
2. Because the provider doesn't understand secrets natively (`AcceptSecrets` not set to `true`), t

[2020-01-21 15:08] robertvanhoesel opened #3780 "Unhandled exceptions and inconsistency in requireOutputSync"
I experience inconsistent behavior when calling StackReference.requireOutputSync() in preview/up, centered around the following bit:

https://github.com/pulumi/pulumi/blob/c9d3a504b175a39020310d79d85a5adfbde781f0/sdk/nodejs/stackReference.ts#L141-L159

Results vary between:
- Unhandled exception because secretNames is undefined ( .includes() on line 150)
- Occasionally the neat but incorrect error

[2020-01-21 17:12] pgavlin commented on #3777
Thanks for reporting this! @chrsmith, can you take a look?

[2020-01-21 17:30] lblackstone commented on #3773
Pulumi's Kubernetes provider currently shells out to the system to run the `helm` binary, so that's the source of this error message. Helm needs to be initialized before running `pulumi up`. It looks like it's still helm2 installed in the image, so you'll need to run these commands first:

1. `helm init --client-only`
1. `helm repo update`

[2020-01-21 17:59] chrsmith commented on #3777
Thank you for the issue report. You are correct that the Pulumi Console hides the `pulumi:pulumi:stack` resource if it is present. (Since every stack will have that same resource, as the parent of all other resources in the stack.) I do not recall the original motivation for doing so, but the inconsistency with the CLI is probably worth changing that. Let me look up the original reason and see if

[2020-01-22 00:24] jkisk opened #3785 "Add "rename" value to apitype.UpdateKind enum values"

[2020-01-22 06:34] lukehoban commented on #3604
This appears to be the same issue as https://github.com/pulumi/pulumi-aws/issues/814, which was reported around the same time.

[2020-01-22 15:40] mikhailshilkov opened #3786 "Final revamp of .NET package names and namespaces"
.NET naming convention [says](https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/capitalization-conventions) that acronyms should be PascalCase.

However, the brands should keep capitalization ([link](https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/names-of-namespaces)):

The suggestion is to revise the following providers:
- `VSphere` -> `vSphere`
- `MySql` -> `

[2020-01-22 15:57] pixelicous opened #3787 "Pulumi fails to find Python on windows"
I cannot get pulumi 1.8.1 to work on windows 10 from command line.
Both pulumi and python installed from choco
No other application has an issue with python

Following the beginners guide i run: pulumi up
and get:
error: Failed to locate 'python3' on your PATH. Have you installed Python 3.6 or greater?

The funny thing is, i created the virtualenv and installed prerequisites without any issue
i ca

[2020-01-22 16:06] lukehoban commented on #3787
The fix for #3398 (and also this issue) is in master - but will be released this week as part of 1.9.0.

The fix for the docs related to windows and virtual environments is in progress in https://github.com/pulumi/docs/pull/2184 - feel free to leave feedback on those changes.

[2020-01-22 16:10] pixelicous commented on #3787
@lukehoban thx, so i guess ill start checking pulumi sometime in the futue and not now

Thanks!

[2020-01-22 16:10] #3787 closed

[2020-01-22 16:41] dstine commented on #3787
@pixelicous
Just FYI, I am successfully using the work-around from #3398 with Pulumi 1.8.1: copying `python.exe` to `python3.exe`

[2020-01-22 17:08] lukehoban commented on #3787
@pixelicous we expect to have a release out today that includes this fix. And as @dstine notes, it is possible to work around in the meantime!

[2020-01-22 17:16] lukehoban commented on #3786
I don’t have a strong sense of how strongly this brand rule is followed - but I will admit that it introduces a really ambiguous element into our naming that I’m sure we’ll get “wrong” a lot - especially in long tail providers. And which is a breaking change to fix.

It feels like a simple and predictable pattern that we can confidently apply is desirable here - even if it is ever so slightly off

[2020-01-22 21:05] lukehoban opened #3788 "1.9.0 release"
- [x] language SDKs and CLI
- [x] homebrew (https://github.com/Homebrew/homebrew-core/pull/49300)
- [x] dockerhub
- [x] docs and marked as latest-version (https://github.com/pulumi/docs/pull/2292)
- [x] Chocolatey
- [x] Docs updated for 1.9.0 changes

[2020-01-23 08:59] mikhailshilkov commented on #3786
I don't feel religious about this either. FWIW, it looks like there's a lot of inconsistency in naming the same things in different packages.

Whatever we choose, the chance of errors for any new provider will stay relatively high, so we'll need to carefully review every new one anyways. We should probably document naming in "creating a new provider" guide if/when we have one.

[2020-01-23 10:50] Dominik-K opened #3789 "Smaller Docker images, one for each language"
The current [`pulumi/pulumi` Docker image `v1.8.1.`](https://hub.docker.com/layers/pulumi/pulumi/v1.8.1/images/sha256-e2239928f3dfe52ddb38deda5ddcb41e71e295e4d70fbd1276bd8cfc3e025c88) is **2.44GB** big (compressed: 694.17 MB). Mainly because it contains all frameworks for the different languages. That makes CI builds unnecessary long & using it locally is really uncomfortable, especially when you

[2020-01-23 13:40] theneva opened #3790 "`pulumi update` with `--target` and unapplied non-target resource breaks everything 💥"
Hi! :wave:

I'm not 100 % sure if this is an issue with Pulumi or with the GCP Provider, but the stack trace points to the Pulumi code.

## Background

I have a TypeScript Pulumi project that uses GCP.

My resource file (`index.ts`) has a bunch of resources. One resource (a GCP service account) is a work in progress, and has never been applied. It looks like this (`provider` is just a non-default

[2020-01-23 13:46] theneva commented on #3435
This is on the verge of being a dealbreaker for us :confused: an update would be great!

[2020-01-23 14:07] SimenB commented on #3435
Pulumi v2 seems like a great opportunity the change this, fwiw

[2020-01-23 16:15] mark-bixler opened #3791 "ssm Document Provider not picking up Permissions Changes"
When creating a new SSM Document:

[code]
The `accountIds` string does not get checked for changes. All other properties seems to validate any changes.

pulumi version v1.9.0

[2020-01-23 17:02] pgavlin commented on #3790
Thanks for the report! @CyrusNajmabadi can you take a quick look?

[2020-01-23 17:21] chrsmith commented on #3435
Thanks for the report @theneva , all of the reasons you mention seem pretty convincing that the current behavior isn't quite right. And while it's a little more convenient for, say, using Pulumi in CI/CD to default to `--yes`, failing to properly work on the `pulumi up -v 5 | less` scenario is "not great".

So unless someone else can find a reason why it's important we keep this current behavior,

[2020-01-23 19:29] CyrusNajmabadi commented on #3435
I would have no problem with this.  Even though this was an explicit intentional decision at the time, the negatives outweigh the positives for me.  Requiring an explicit `--yes` on the command-line is non-onerous and would certainly be greatly appreciated by anyone who has ever run into this sort of thing.

[2020-01-23 19:33] CyrusNajmabadi commented on #3435
Working on a fix now.

[2020-01-23 20:07] pgavlin commented on #3788
This is complete.

[2020-01-23 20:07] #3788 closed

[2020-01-23 20:56] lukehoban opened #3795 "Support turning secret into non-secret"
There are (rare) occasions when it is important to opt-in to turning a secret into a non-secret.  This is dangerous (as it risks leaking the secret) - but we should allow users to make the explicit choice to do so if they want.

They can already technically accomplish this - so it's not changing the trust boundaries to provide an API for it.  And the API should have all the appropriate warning sig

[2020-01-23 20:59] CyrusNajmabadi commented on #3790
That seems very bad.  This is the case where we go through the 'skipped create' path.  i.e. we mark that a user wanted to make the item, but we don't explicitly error unless the created item is referenced by something that we're actually going through with.

There must be a mistake where we're not properly filtering out this 'skipped create'.

[2020-01-23 21:49] lukehoban commented on #1419
Haven't heard this feedback much over last 2 years - and it's an even more disruptive change at this point.  Closing until/unless we hear more feedback.

[2020-01-23 21:49] #1419 closed

[2020-01-23 21:52] lukehoban commented on #1660
Going to close this out as the original issue is "by design" for now based on upstream providers, but has a workaround as described in https://github.com/pulumi/pulumi/issues/1660#issuecomment-408213388 if really needed.  The `aws:acm:CertificateValidation` should definitely work (many users successfully using that) - so if there are issues with that one - we should open a new issue.

[2020-01-23 22:04] lukehoban commented on #2423
This was addressed some time ago - see pulumi/pulumi-azure#168.

[2020-01-23 22:04] #2423 closed

[2020-01-23 22:18] lukehoban commented on #2733
We no longer have this replace - I *think* this is fixed?

[2020-01-23 22:18] #2733 closed

[2020-01-23 23:32] mark-bixler commented on #3791
Another issue with this ssm provider when trying to update the policy doc it returns with an error

[code]

It seems that this document version from come from polling the existing resource. I don't see that as a value I can specify in creating the resource.

[2020-01-24 05:33] #3605 closed

[2020-01-24 15:44] dustinfarris opened #3799 "Testing with Jest breaks on closure serialization"
Running unit tests with Jest breaks if a test references an output from a resource that utilizes closure serialization, e.g. lambda callbacks or dynamic resources.

Minimal repo to reproduce:

https://github.com/dustinfarris/pulumi-jest-bug

Install dependencies and run `npx jest` to see the error:

[code]

This is coming from [runtime/closure/v8_v11andHigher#getRuntimeIdForFunctionAsync](https://

[2020-01-24 17:04] EvanBoyle opened #3800 "Add regression tests for StackReference in the Python SDK"
We regressed Python StackReferences in the mypy PR. There's no test coverage in this area. We should figure out a way to add some to pulumi/pulumi.

See fix with more details: https://github.com/pulumi/pulumi/pull/3798

[2020-01-24 18:52] pgavlin opened #3801 "Expose the engine's logging interface from the Go SDK."
Just what it says on the tin.

[2020-01-24 20:37] #3790 closed

[2020-01-24 20:51] theneva commented on #3790
Thank you very much for fixing this so quickly!

[2020-01-24 21:38] lukehoban opened #3803 "Support AltTypes in Go/Python/.NET"
We should add support for `AltTypes` (the tfgen concept) or `oneOf` types (the JSONSchema concept) to all language code generators.  Today it is only supported for TypeScript.

[2020-01-24 22:35] CyrusNajmabadi commented on #3790
Definitely!

[2020-01-25 02:49] CyrusNajmabadi commented on #3435
Fixed with https://github.com/pulumi/pulumi/pull/3793

[2020-01-25 02:49] #3435 closed

[2020-01-25 05:02] lukehoban commented on #3712
Going to close out for now - but @RichardWLaub if you are still seeing this please do let me know so we can get more details to investigate further.

[2020-01-25 05:02] #3712 closed

[2020-01-25 15:43] cloudspeak opened #3807 "Creating a Dynamic Provider causes 'non-numeric port' error on Windows"
Hi,

I am learning how to write a Dynamic Provider using the [example in the documentation](https://www.pulumi.com/docs/intro/concepts/programming-model/#dynamicproviders).  My Pulumi program looks like this:

[code]

However, when I run `pulumi up` I get the following error message:

[code]

The error message is slightly garbled but I think the problem is the `\r` which is present after the port

[2020-01-25 16:45] lukehoban commented on #3807
Thanks for the detailed report - it does look like there is an issue here with Python + Dynamic Providers + Windows. We will look into it.

[2020-01-25 17:52] joeduffy commented on #3469
This still seems to be an issue, and happens with every .NET project I've created. Marking as part of the 2.0 release since this should be part of making sure .NET is ready for prime time.

E.g.

![image](https://user-images.githubusercontent.com/3953235/73125142-50978280-3f58-11ea-98fd-5f99ec7080fa.png)

[2020-01-25 18:16] joeduffy opened #3808 "Improve missing required property errors in .NET"
Ideally we could give you interactive errors (at development time, in the IDE) when you are missing a resource's required property in .NET. Right now, we issue errors dynamically:

[code]

[2020-01-25 18:28] lukehoban commented on #3808
My recollection of the dozens of conversations we had on this topic during design of the Pulumi .NET APIs was:
1. C# does not currently offer any way to express this in its type system
2. Others have built Roslyn analyzers to work around this
3. Building a Roslyn analyzer May have implications for the .NET platform we target (https://github.com/pulumi/pulumi/issues/3579)

@mikhailshilkov and @Cyru

[2020-01-25 19:46] joeduffy opened #3810 "Unconditional diff for program without changes"
I have a program that unconditionally shows a diff when there are no changes made.

The offending part of the program is:

[code]

The policy shows up as a diff, apparently due to some normalization of the JSON?

[code]

[2020-01-25 19:49] stack72 commented on #3810
Im pretty sure this is because you are missing Version in the policy and AWS is normalising it

[2020-01-25 19:51] joeduffy commented on #3810
That sounds likely to be it -- but shouldn't we be insulated from this, since we store and diff the normalized values? Or is the provider not doing full normalization for the value used for diffing?

[2020-01-25 19:54] joeduffy commented on #3810
By the way, confirmed that adding the version makes this go away.

Feel free to close out if this is by-design -- I just assumed we'd want to ensure we never get into this state, but if it's due to behavior in the provider, at the very least I suppose it's a bug in the provider and not in the engine itself.

[2020-01-25 19:58] stack72 commented on #3810
Yeah this is 100% a but in the provider. Basically the provider on the Read is getting the normalised value and storing that and causing our perpetual diff. Technically this is an actually an invalid Policy but aws allows it because people are sloppy :/ not sure if this means we should close this out - but I 100% would expect the same behaviour in TS or Go

[2020-01-26 10:44] stack72 opened #3811 "Ensure all integration tests run on Windows"
As a follow up to #3656, there are a number of integration tests that currently fail on Windows:

* [ ] TestConfigCaptureNodeJS
* [ ] TestStackReferenceNodeJS
* [ ] TestStackReferencePython
* [ ] TestStackReferenceDotnet
* [ ] TestStackReferenceSecretsNodejs
* [ ] TestStackReferenceSecretsDotnet
* [ ] TestDynamicPython
* [ ] TestPartialValuesPython
* [ ] TestStackBadParenting
* [ ] TestLargeResour

[2020-01-26 13:08] cloudspeak opened #3812 "Error message for non-existent secret shows how to add a normal config item, not secret"
Very minor issue: if a non-existent secret is required:

[code]

the error message explains how to add a normal config item:
[code]

i.e., it is missing the `--secret`.  Using Python 3.8, Windows 10, Pulumi 1.8.1.

[2020-01-26 19:48] joeduffy commented on #3810
Yeah, I copied that from somewhere, hence the missing version. I'll close this out then -- please open something on the AWS provider if you think this warrants further investigation. I've never heard anybody mention this previously and folks are writing IAM policies left and right, so I assume it's not worth chasing down.

[2020-01-26 19:48] #3810 closed

[2020-01-27 08:40] mikhailshilkov commented on #3579
I think our decision is to target .NET Core 3.1 for all SDKs. This is tracked in #3740 and I'll start the transition shortly. This is regardless of whether we can make analyzers work, which I suggest tracking in #3808 and #3580.

[2020-01-27 08:40] #3579 closed

[2020-01-27 08:43] ringods commented on #1635
IMO a big shortcomming to the programmatic approach is that it the IDs you import are specific to a stack. If you use your Pulumi code for multiple stacks, you have to change the code multiple times. On top of that, if you use reusable packages with Pulumi code, it is very hard to add the import IDs to the resource descriptors of the third-party code.

Conclusion: I'm in favor of an import command

[2020-01-27 08:47] mikhailshilkov commented on #3499
I think we agreed to use the `Stack` component as the blessed way to define .NET programs. The component is implemented and released in 1.9.0, so I'll start transitioning templates and examples shortly.

[2020-01-27 08:47] #3499 closed

[2020-01-27 08:47] jen20 commented on #1635
Hi @ringods! A good way to deal with this in the short term is to source the ID from configuration, and then it can be set per-stack. Indeed, some people have implemented novel approaches to this, including sourcing them from Terraform state files, or from API calls using cloud SDKs and so forth.

[2020-01-27 09:35] ringods commented on #1635
@jen20 Is the sourcing of the IDs from configuration something core to Pulumi? You have a pointer on that?

So far, I read this blog post:
https://www.pulumi.com/blog/adopting-existing-cloud-resources-into-pulumi/#adopting-existing-resources
but it only talks about the `import` property in the code.

[2020-01-27 09:38] jen20 commented on #1635
Sure - so what you'd do is create a config point for the stack (I'm assuming TypeScript but this works across all languages):

[code]

This can be set per stack using:

[code]

The variable can be passed as the name to the `import` property.

[code]

Hopefully this clarifies things?

[2020-01-27 10:24] ringods commented on #1635
@jen20 thanks for the example. However, this still doesn't solve the case of importing resources when the resources are created by a third-party package (npm, pip, ...).

Adding support for `import` in reusable pulumi code libraries can be done, but the issue here is that everybody could be doing it their own way. IMO, `import` should work for all stacks and with reusable code without any special

[2020-01-27 10:52] jen20 commented on #1635
@ringods I don't think there is anything wrong with the idea of an import command per se, it's just that there is not yet one - in the meantime the example I posted covers a majority of cases, but there are definitely cases where this can be improved. Now that the import primitives are in place it should be substantially easier to implement a CLI command for this.

[2020-01-27 15:10] pascostefan commented on #2644
We face a similar issue when using Azure Key Vault as a secrets provider.
This command never returns:
pulumi new azure-typescript --secrets-provider="azurekeyvault://**************.vault.azure.net/keys/pulumikey" -v=3

[2020-01-27 15:20] igal1c0de4n commented on #1778
@lukehoban can you provide an example or point to a page which shows how to achieve that?

[2020-01-27 16:49] clstokes opened #3815 "Unable to use CustomTimeouts class in python"
The documentation at https://www.pulumi.com/docs/intro/concepts/programming-model/#customtimeouts shows using a `CustomTimeouts` class to provide custom timeout information, but using this with fully-qualified class names, this results in a runtime exception.

#### Code from example
[code]

#### Test Code
[code]

#### Error
[code]

#### Workaround
[code]

#### Version Info

Using Python `3.7.6`.

[2020-01-27 17:13] clstokes commented on #3815
Updated original comment with Python version.

[code]

[2020-01-27 17:21] pgavlin commented on #1635
The fundamental challenge with an import command is that a naive approach that simply adds the resource to the state file isn't very ergonomic: it would require exposing type tokens, parent resources, and other resource properties in a novel fashion, and would also require that the resource be immediately added to the user's program in order to prevent its deletion during the next update. These tw

[2020-01-27 17:38] pgavlin commented on #3812
@EvanBoyle can you take a look?

[2020-01-27 17:48] lukehoban commented on #2081
@praneetloke did some work related to this recently.  What is remaining here?

[2020-01-27 18:39] stack72 opened #3816 "Re-enable RunBuild on TestEmptyGo"
This was disabled as part of getting the tests running on windows due to

[code]

[2020-01-27 18:52] #3589 closed

[2020-01-27 18:52] ekrengel commented on #3589
The last PR for this has been merged!

[2020-01-27 19:00] praneetloke commented on #2081
Yes, I believe this can be closed. The `ci.pr.number` tag was introduced quite a while ago, along with detecting the PR number for a few supported CI systems. As for the repo slug, we have the `vcs.*` properties that have existed for quite a while as well.

[2020-01-27 19:00] #2081 closed

[2020-01-27 19:03] CyrusNajmabadi commented on #3746
Notes as i go along.

TS does this:
[code]

This takes `authLogins` (Which is `pulumi.Input<pulumi.Input<inputs.ProviderAuthLogin>[]>;`) and should json stringify it.

in .net we have:

[code]

the `json: true` is supposed to get us to do the same.  investigating.

[2020-01-27 19:42] EvanBoyle opened #3817 "Update Go templates and examples to use gomod"

[2020-01-27 19:45] EvanBoyle opened #3818 "Implement first-class unknowns in Go SDK"
See https://github.com/pulumi/pulumi/pull/3327

[2020-01-27 19:46] chrsmith commented on #2720
Closing this issue out. @jkisk and I looked into it, and the benefit of fixing this issue doesn't justify the amount of refactoring/wiring needed to fix.

There are two "times" when you could cancel the `pulumi up <template-url>`. (1) When we gather stack/configuration information, before the preview/update. And (2) after the preview/update has started.

In both cases "rollback" type behavior isn'

[2020-01-27 19:46] #2720 closed

[2020-01-27 19:46] #3785 closed

[2020-01-27 19:46] EvanBoyle opened #3819 "Add more testing to Go SDK"
The scope is currently undefined. We need to examine and determine where we have coverage gaps and create a plan.

[2020-01-27 19:48] EvanBoyle opened #3820 "Support closure serialization in the Go SDK"

[2020-01-27 19:50] lukehoban commented on #3820
Honest question - is this possible?  What are our best thoughts on how we could approach it?   (Note that it is not supported in Python or .NET currently).

[2020-01-27 20:46] lukehoban commented on #3257
Cristoph shared a trace offline - it shows serialized calls to `patchCheckpoint` each taking 30s on the critical path leading to a 30m+ deployment.

<img width="608" alt="trace" src="https://user-images.githubusercontent.com/223467/73212381-fb4ba480-4102-11ea-8c39-65606fc77c0b.PNG">

[2020-01-27 21:07] EvanBoyle commented on #3820
I haven't started to think about it. Just making sure the list here (https://github.com/pulumi/pulumi/issues/1614) is captured in issues. It's already stimulating discussion it seems!

[2020-01-27 22:11] pgavlin opened #3821 "1.9.1 Release"
- [x] language SDKs and CLI
- [x] homebrew (https://github.com/Homebrew/homebrew-core/pull/49459)
- [x] dockerhub
- [x] docs and marked as latest-version (https://github.com/pulumi/docs/pull/2313)
- [x] Chocolatey

[2020-01-27 22:16] pgavlin commented on #3257
@lukehoban any idea how much data is being sent there?

[2020-01-27 22:49] #3746 closed

[2020-01-28 00:06] EvanBoyle opened #3823 "Go SDK Windows test coverage"
see https://github.com/pulumi/examples/issues/497

[2020-01-28 00:09] EvanBoyle opened #3824 "Go SDK testing approach (user facing)"
See dotnet issue: https://github.com/pulumi/pulumi/issues/3633
Mocks PR: https://github.com/pulumi/pulumi/pull/3738

[2020-01-28 00:10] EvanBoyle commented on #3824
This was added as a part of #3506

We still need documentation, blogs, etc.

[2020-01-28 00:12] EvanBoyle opened #3825 "Go dynamic providers"
True dynamic providers probably won't be possible, but we need an answer to this scenario.

[2020-01-28 00:15] EvanBoyle opened #3826 "Go SDK: allow arbitrary objects to be exported from a stack"
see https://github.com/pulumi/pulumi/issues/3641

[2020-01-28 00:22] EvanBoyle commented on #3823
@stack72 will we get this for free with your windows work? If so, would you mind self-assigning this?

[2020-01-28 00:25] EvanBoyle commented on #1962
We think this may have been fixed. I'll try to create a repro in M31 to verify.

[2020-01-28 00:33] EvanBoyle commented on #3817
Likely this will involve investigating multi-module repos.

[2020-01-28 00:37] EvanBoyle commented on #3819
Known coverage gaps:
1. resource options
2. rpc marshaling/unmarshaling, especially around pointers and nil
3. pulumi.any
4. pulumi.all

[2020-01-28 00:38] EvanBoyle commented on #3819
`go test -coverprofile=cover.out` will generate a good starting point for this.

[2020-01-28 03:45] pgavlin commented on #3821
@stack72 any ideas re: this Chocolatey issue? https://ci.appveyor.com/project/Pulumi/pulumi-chocolatey

[2020-01-28 06:10] jjangga0214 opened #3827 "Different config path and source path"
Hi, let's say I have a directory structure like this.

[code]

So, source files(e.g. index.ts) and config files like Pulumi.yaml does not reside in the same directory.
In this situation, how can I `pulumi up`?

[2020-01-28 11:15] stephanwehr commented on #3504
Same here...

Steps to reproduce:

1. Open a new PowerShell terminal
    Current working directory is "$env:USERPROFILE"
2. Create project directory and change working directory
[code]
3. Run Pulumi login using Azure Blob storage:
[code]
4. Create new Pulumi project
[code]
5. Run Pulumi up
[code]
6. Run Pulumi stack
[code]
7. List Pulumi stack
    No output:
[code]
8. List all Pulumi stacks
    No

[2020-01-28 14:11] stack72 commented on #3821
@pgavlin the previous maintainer hadn't switched off the autoupdate of the Pulumi package - this has been rectified. Chocolatey does have the 1.9.1 package though :)

[2020-01-28 17:51] #3821 closed

[2020-01-28 18:08] pgavlin commented on #3827
You should be able to add the following to your `Pulumi.yaml`:

[code]

[2020-01-28 20:55] EvanBoyle commented on #2820
Make sure to update stack output integration tests to validate behavior https://github.com/pulumi/pulumi/blob/7b3ec744f467f0ecea7d3ab8cfc0df6e39dbd9f1/tests/integration/stack_reference/nodejs/step2/index.ts#L21

[2020-01-29 01:24] CyrusNajmabadi opened #3832 "Appveyor builds all failing"
![image](https://user-images.githubusercontent.com/4564579/73320005-eea67980-41f2-11ea-83ec-41ddf46426a6.png)

[2020-01-29 09:35] mikhailshilkov opened #3833 "Move Input and Output attributes to Pulumi namespace"
(.NET SDK) `InputAttribute` and `OutputAttribute` are currently in `Pulumi.Serialization` namespace, and they seem to be the user-facing core things not in `Pulumi`. As we use those attributes for component resources and stacks, they should be in `Pulumi`.

That's a breaking change but it seems worth it.

@CyrusNajmabadi opinion?

[2020-01-29 12:03] stack72 opened #3834 "Re-enable the linting of providers"
The upgrade to the go SDK generation has introduced a linting error at:

sdk/go/<provider/doc.go

There is an empty lint between the description of the package and the standard README output that has an empty whitespace that causes a linting error

[2020-01-29 12:03] stack72 commented on #3832
FWIW, I did point out that there was a broken test on Windows in master before this was merged...

[2020-01-29 12:35] julienvincent commented on #3279
No details for a repro but I can confirm that I am getting this as well. My stack outputs do not have secrets

[2020-01-29 13:00] tedchangtr commented on #1910
it would be nice to be able to retrieve versions based on tags.

[2020-01-29 13:32] #3832 closed

[2020-01-29 13:44] mikhailshilkov commented on #3746
The fix has been merged to `pulumi-vault` today (https://github.com/pulumi/pulumi-vault/pull/25/files#diff-9d140050d61d8a86799b4f72e8cccc0eR148) and will be included into the next release

[2020-01-29 13:50] mikhailshilkov commented on #3772
I'll remove P1 since we now know this is a much more narrow scenario than the original issue. I'll watch for @pgavlin ideas on this diff-ing issue.

[2020-01-29 14:18] julienvincent commented on #3257
I am seeing similar extreme performance delays for stack applies, primarily for kubernetes-heavy stacks.

Recently after adding a few more resources to the stack I started getting program crashes similar to what is being reported in #3279

Here is my trace from when the execution crashes:

[up.trace.zip](https://github.com/pulumi/pulumi/files/4128466/up.trace.zip)

Here is a trace after setting `N

[2020-01-29 17:11] metral commented on #3182
We're hitting the 403 and `error: [409] Conflict: Another update is currently in progress.` errors consistently the last few days in EKS CI, where the Travis runtime is likely hitting resource starvation due to leaky tests (e.g. https://github.com/pulumi/pulumi-eks/issues/312).

While the leaky tests are likely the root cause here, it does like we're possibly hitting some sort of timing window w.r

[2020-01-29 19:43] JLarky commented on #2661
I think you should just go to packages/cloud and run `yarn add ...` with all pulimi packages that you are going to use in that directory instead of just hoping that it will be requires from root

[2020-01-29 19:45] brandonkal opened #3838 "[feat] Deno TypeScript runtime support"
I'm going to throw this one out there because it is a natural fit for configuration code.

Pros:
- No package manager. Let's face it. It's annoying to download a bunch of modules just to "Hello World" a Pulumi Program. For simple things, one will just reach for YAML instead. Because Deno uses standard HTTPS imports you can just run a file and forget about packages.
- You can run via URL. `deno htt

[2020-01-29 23:00] SwitchedToGitlab commented on #3722
hmmmm.... can't say I'm convinced given that I can't get any of the python examples to work in the docs, and this isn't exactly what I was looking for. I'm closing this for now, but I'm truly not sure why it seems that we aren't speaking the same language here, or why assigning an output of string type to a variable seems like such an impossible thing to do with Pulumi. I don't know how else to as

[2020-01-29 23:00] #3722 closed

[2020-01-29 23:37] lukehoban commented on #3257
@julienvincent Thanks for the details.  My guess is what you are seeing is related to the issue being tracked in https://github.com/pulumi/pulumi-kubernetes/issues/963.

[2020-01-29 23:57] ekrengel commented on #2872
Some other things I've noticed that are bit problematic:

The CLI doesnt tell me what PP the violation is from.
[code]

The service appears to group PP violations, maybe based on the PP name (actual name). Which means that if I `aws-pack` locally and enforced by the service. The violations are grouped together. The non-local PP was actually v9 so my guess is were using some sort of map here incorr

[2020-01-30 02:20] clstokes opened #3840 "Diff info show for unrelated resource when using --target"
When using `--target` to target one resource amongst several with proposed changes, the `preview --diff --target ...` output shows its parent resource having the same diff info in the `Info` field  but no actual changes are proposed in the preview.

#### Proposal
No changes should be suggested for the parent resource(s).

#### Steps to reproduce
1. run `pulumi up`
1. add another tag to `commonTags

[2020-01-30 02:34] clstokes commented on #3840
I tested this for AWS resources and saw similar behavior.

[2020-01-30 09:21] julienvincent commented on #3257
@lukehoban Thanks!

[2020-01-30 10:13] michaeldtaylor opened #3842 "Imported Azure ResourceGroup trying to be deleted on destroy"
In the organisation I am currently working for have a rather strange policy with regards to Azure ResourceGroups, meaning this is not something I can create myself (lots of teams share the same subscription).  I can however create and manage anything under a specific ResourceGroup.

I thought that using ImportId's might be the way to do it:

[code]

And this works fine when using:
[code]
However,

[2020-01-30 10:23] stack72 commented on #3842
Hi @michaeldtaylor

So, unfortunately, when you bring a resource into Pulumi management (via import or otherwise), it then follows the Pulumi crud cycles. Therefore, when you try and destroy the resources in the application, it will try and destroy the resource group. I think the only way around this for you would be to use the `azure.core.getResources` resource where you would pass in a resource

[2020-01-30 10:27] michaeldtaylor commented on #3842
I'll give it a go thanks. My hands are tied, so if I can't get it to work I can't use Pulumi to manage the rest of the environment, unless I never use destroy.

[2020-01-30 10:47] stack72 commented on #3842
I totally understand @michaeldtaylor - sometimes there are environmental restrictions around these types of things. Please let me know if you have any issues with this getResources code path and we can see what we can do

Paul

[2020-01-30 12:57] andreujuanc commented on #3535
I was surprised that this is not currently implemented in the CLI. Specially since some organizations may have several dozen apps, each with its own environments, etc.

One cannot just assume that one person is going to manually do init on each project per environment. Or as @m4dc4p is doing, creating a temporary deployment for PRs.

I would suggest for example something like this:
[code]
This ide

[2020-01-30 14:07] paymog opened #3844 "Endless retries when GCP Cloud SQL returns 500"
I recently ran into the edge case where I:

1. made a cloud sql db with a manually specified name
2. destroyed the db
3. tried to recreate the DB
4. Realized that the same name can't be used for [a week after deletion](https://github.com/pulumi/pulumi-gcp/blob/0d14572bc485201d99df2cdf74ec8fde4523727c/sdk/nodejs/sql/databaseInstance.ts#L65).

While I was discovering this edge case, `pulumi up` woul

[2020-01-30 17:02] ahmetsevki opened #3845 "Attaching the same policy to an AWS role twice, and deleting causes deletion of earlier policy"
This is a lost update problem.
This is on AWS provider, running `v1.9.1`

Repro Steps:
1- Create a role
2- Create a policy
3- attach the policy to role using `aws.iam.RolePolicyAttachment`
4- `pulumi up`: role is created w/ policy
5 - attach the same policy arn to role using `aws.iam.RolePolicyAttachment`, give it a different logical name. `pulumi up` : no change on the policy on the role (since i

[2020-01-30 18:38] pgavlin commented on #3845
This is essentially #918.

[2020-01-30 18:39] pgavlin commented on #3844
This is likely a bug in the TF code that underlies the GCP provider. @stack72, can you take a look?

[2020-01-30 18:40] pgavlin commented on #3838
cc @lukehoban

[2020-01-30 19:01] EvanBoyle opened #3846 "Define and document behavior for go ResourceOption merging"
We should deliberately define and add tests for the resource options merging behavior in the Go SDK. Right now there is some discrepancy between the way that options are merged between providers (merged) and ignore changes arrays (overwritten):

ReadResource in go takes in a list of options and merges them
https://github.com/pulumi/pulumi/blob/f168bdc1c2757f27e99d859a10044e4328d758a6/sdk/go/pulumi

[2020-01-30 20:14] solidDoWant opened #3849 "Can't iterate over Output[List] (Python)"
When I attempt to iterate over an Output[List] object such as below:

`
import pulumi
import pulumi_cloudflare
import pulumi_aws.globalaccelerator
from typing import List, Optional

class Args:
    def __init__(self, ips: List[str]):
        self.ips: List[str] = ips

class ExampleComponent(pulumi.ComponentResource):
    def __init__(self, name: str, args: Args, opts: Optional[pulumi.ResourceOptio

[2020-01-31 04:15] lukehoban opened #3850 "[NodeJS] Significant performance issues with `pulumi.output` and `pulumi.all`"
We have seen that when large objects are passed as inputs to `pulumi.output` and/or `pulumi.all`, they can cause very large amounts of memory allocations and garbage collection due to recursively visiting the input object(s) and allocating a lot of (most often unnecessary) intermediate results.

We believe this is the root cause of a number of OOM issues we have seen reported by Pulumi Node.js use

[2020-01-31 05:59] pgavlin commented on #3850
I believe https://github.com/pulumi/pulumi/pull/3851 will fix this issue.

[2020-01-31 11:14] stack72 commented on #3842
Hi @michaeldtaylor

Is there anything else you need with this?

Paul

[2020-01-31 15:06] michaeldtaylor commented on #3842
Hi @stack72,

I'm good for now thanks. I'll let you know how I get on.

Michael

[2020-01-31 17:02] pgavlin commented on #3849
You can't iterate over an `Output[List]` by design, as the actual value of the output may not be known at the time you attempt to iterate. You need to access the resolved value of the output via an `Apply` and iterate over it inside your callback.

[2020-01-31 17:03] pgavlin commented on #3849
(`Output` values are essentially futures that extra information such as resource dependencies, secretness, etc)

[2020-01-31 17:19] solidDoWant commented on #3849
If that's the case how do I create additional resources based off of an output value? I'm aware and fine with the fact that they wouldn't show up at preview time. Output.apply says that:

Is there a way to extract it to a non-output values from apply?

[2020-01-31 17:26] pgavlin commented on #3849
This is a guideline, but not a hard rule. The most significant risk is that if you create a resource inside an apply and return one of its outputs, the result may not have proper dependency information, which can cause issues during `pulumi destroy`. Besides that, the resources may not show up at preview time if the inputs to the apply are unknown (as you've pointed out).

[2020-01-31 19:18] lukehoban commented on #3182
We currently believe this is due to https://github.com/pulumi/pulumi-eks/issues/312 which is itself due to https://github.com/pulumi/pulumi/issues/3850.  The 403s are a (roughly expected) symptom of OOMing the Node processes.  I'm going to close this out as I don't believe there is anything actionable here.  If we see this in non-OOM scenarios in the future - let's open an issue with a repro for i

[2020-01-31 19:18] #3182 closed

[2020-02-01 00:20] lukehoban commented on #3849
Note that we should definitely fix this doc comment to be more accurate about the implications of creating resources inside an `apply` callback.

[2020-02-01 06:19] ekrengel commented on #3490
Sorry for the back and forth on this one! Wanted to make sure it was something that could be done in M32 before assigning it to @tasiah

[2020-02-01 16:59] standemchuk commented on #3773
Thanks, @lblackstone, this resolved the issue.

For those who will stumble upon something similar, I got it working after adding the following steps to the deployment job:

[code]

[2020-02-01 17:43] clstokes opened #3854 "Execute policy packs during refresh"
When running `pulumi refresh` with a policy pack applied, the policy pack information is printed in the output, but the pack is not executed.

The policy pack(s) should be executed during a refresh so that policy violations can be found in resources that have been modified outside of Pulumi.

#### Steps to reproduce
1. `pulumi up -y`
1. `aws ec2 delete-tags --resources $(pulumi stack output instan

[2020-02-01 18:51] solidDoWant commented on #3849
Thanks @pgavlin, that solves my problem.

[2020-02-01 18:51] #3849 closed

[2020-02-01 19:51] EvanBoyle commented on #2980
I just ran into something similar. I had a project that had jest as a dev-dep. It looks like it had this package simlinked in a few places: https://www.npmjs.com/package/acorn

[code]

the solution for me was to do a dep only install:

[code]

[2020-02-01 19:52] EvanBoyle commented on #2980
It would actually be pretty helpful here if our closure serialization could filter out anything in the dev dependencies section of the package.json.

[2020-02-02 13:27] lonegunmanb opened #3856 "Incorrect Stack Destroy Order"
Hello Pulumi!

I really like your project and I'm developing [UCloud Provider for pulumi](https://github.com/lonegunmanb/pulumi-ucloud). I've encountered an issue when I destroy my stack. Here's the plan:

`
     Type                      Name                      Plan
 -   pulumi:pulumi:Stack       ucloud-pulumi-sample-dev  delete
 -   ├─ ucloud:vpc:Subnet      pului_test_subnet         delete
 -

[2020-02-03 08:33] mikhailshilkov commented on #3786
The decision is to keep the naming as-is and keep living with the maximally unambiguous naming strategy.

[2020-02-03 08:33] #3786 closed

[2020-02-03 08:40] mikhailshilkov commented on #2287
Moving to 0.32 to have enough time to get this right across SDKs

[2020-02-03 13:45] mikhailshilkov commented on #3192
@4c74356b41 I'm sorry for such a long response time, but I've finally tried to reproduce the issue.

I tried a basic program like

[code]

Running `pulumi up` on Windows yields

[code]

and on a Mac:

[code]

which look very similar to me.

May I ask you to try again with a current version (I'm on Pulumi 1.9.1) and report back a simple repro code if you find one? Thank a ton!

[2020-02-03 13:56] mikhailshilkov opened #3857 "Clean up CustomResourceOptions vs ComponentResourceOptions in .NET SDK"
- Make `ResourceOptions` class abstract
- `CustomResource` should expect `CustomResourceOptions`
- `ComponentResource` should expect `ComponentResourceOptions`
- Fix the docs that would mention `new ResourceOptions` instead of a derived class

[2020-02-03 15:15] joeduffy commented on #3857
Note that I cleaned up a few obvious `new ResourceOptions` instances in the docs [here](https://github.com/pulumi/docs/pull/2338), however I can't claim to have gotten them all.

[2020-02-03 15:59] 4c74356b41 commented on #3192
sorry, dont have window + python anywhere right now, you can probably close this for now, I'll test some time later and get back to you if it doesn't work

[2020-02-03 16:25] #3773 closed

[2020-02-03 17:41] lukehoban commented on #3842
Closing out for now - but happy to address any remaining issues here if you'd like to reopen.

[2020-02-03 17:41] #3842 closed

[2020-02-03 20:47] pgavlin commented on #3772
We should probably update the inputs on the resource's state in this case. I believe that those inputs will then be written to the state file.

[2020-02-03 22:11] #3535 closed

[2020-02-04 11:41] #3744 closed

[2020-02-04 14:26] mikhailshilkov commented on #3772
@pgavlin I need a bit more hand-holding here...

That was my thought process as well in https://github.com/pulumi/pulumi/pull/3779/files: if `oldInputs` and `newInputs` are not equal, mark it as a diff. However, you rightfully noticed that

So how do we update the inputs without causing a diff?

[2020-02-04 14:27] #3192 closed

[2020-02-04 17:30] mazamats commented on #2506
:+1: This would be incredibly useful for running a SaaS.

[2020-02-04 23:42] jaredallard commented on #2149
I'm looking at using this w/ the Go SDK and I'm a bit confused on how we'd utilize the providers now. Would this be passed in where `opts ...ResourceOption` is right now? If so, `Provider` doesn't implement that right now.

Hope you can shed some light on this @pgavlin!

[2020-02-05 02:09] joeduffy commented on #1614
Just a reminder, we should update the docs as we improve things here. I _believe_ string interpolation is now supported in Go, but https://www.pulumi.com/docs/intro/concepts/programming-model/#outputs-and-strings still lists it as a TODO and links to this very work item.

[2020-02-05 02:41] joeduffy commented on #1614
Here's another doc issue I noticed: https://www.pulumi.com/docs/intro/concepts/programming-model/#dependson says to use `pulumi.ResourceOpt{DependsOn: []Resource{res1}}`, however, `ResourceOpt` doesn't seem to exist, and it appears the preferred approach is to use functions like `pulumi.DependsOn` to construct the options bag?

[2020-02-05 03:25] EvanBoyle commented on #1614
We do have an item to track a doc update (
https://github.com/pulumi/docs/issues/2311) but you're right, we should be
doing this as we go.

On Tue, Feb 4, 2020 at 6:42 PM Joe Duffy <notifications@github.com> wrote:

[2020-02-05 03:34] EvanBoyle opened #3861 "Add primitive helper methods to the Go SDK"
There are a few repetitive motions with the Go SDK especially with converting prompt arrays and maps into pulumi equivalents.

Joe also ran into a similar issue with `StringArrayInput` that required a helper when working on an [ECS example](https://github.com/pulumi/examples/pull/540):

[code]

We should add some helpers to make this a little more ergonomic.

[2020-02-05 03:51] joeduffy commented on #1614
One question I have: for data source invokes, it looks like we take pointers (e.g., `*bool`, `*string`, etc). I assume this is so we know what is "missing" versus being an actual empty value (e.g., `nil` versus `false`). But it does lead to some clumsy code, like https://github.com/pulumi/examples/pull/540/files#diff-b570181547fbf47c161a97779091d852R14, unless I'm missing something. Two questions:

[2020-02-05 17:44] lukehoban commented on #3850
Fixed with #3851.

[2020-02-05 17:44] #3850 closed

[2020-02-05 18:22] chrsmith commented on #3617
Haven't made any progress on this in M0.31, but I'm certainly it will be a significant undertaking.

[2020-02-05 18:47] lukehoban opened #3863 "1.10 release"
- [x] language SDKs and CLI
- [x] homebrew (https://github.com/Homebrew/homebrew-core/pull/49818)
- [x] dockerhub
- [x] docs and marked as latest-version (https://github.com/pulumi/docs/pull/2381)
- [ ] Chocolatey

[2020-02-05 18:55] EvanBoyle commented on #1614
cc @pgavlin ^

[2020-02-05 19:32] hugbubby commented on #2506
The lack of support for programmatically making pulumi deployments is the reason I'm going to be forced to choose Terraform. It's a damn shame, because I would put up with a lot of nonsense to be able to maintain the unusual architecture I have from my existing codebase.

[2020-02-05 19:46] pgavlin commented on #1614
It is, yes: we need to be able to distinguish between "not set" and "set to the zero value". Args types do also do this, but they are a bit easier to deal with b/c they use interface types: https://github.com/pulumi/pulumi-aws/blob/master/sdk/go/aws/s3/bucket.go#L267-L268

I'd love to add helpers like that, but they would overlap with the `pulumi.XPtr` input types. Any other ideas for names? Maybe

[2020-02-05 19:46] pgavlin commented on #2149
Yep, that's right :)

[2020-02-05 19:47] lukehoban commented on #2506
Curious - what feature of Terraform are you currently using to drive Terraform deployments programmatically?  Is this via the REST APIs and remote execution?  Or via linking in the Terraform engine to a Go application?  Or something else?

[2020-02-05 21:04] pgavlin commented on #3772
Hm. Oddly enough, this seems like it should already be handled: https://github.com/pulumi/pulumi/blob/master/pkg/resource/deploy/step_generator.go#L293-L314

In particular, line 313 should update the inputs, which should then be written to the state file.

I wonder if the problem is actually that the engine isn't properly propagating secret-ness for checked inputs when used with providers that do

[2020-02-05 21:18] mikhailshilkov commented on #3772
Do we re-write to the state file when there's no diff in a resource?

[2020-02-05 21:32] mikhailshilkov commented on #3772
Actually we do overwrite inputs, the problem is with outputs.

I just ran this test:
1. Create a `Parameter` with an insecure value and another resource.
2. Run `pulumi up -y` and export the state. It contains the plain text value (OK).
3. Change the parameter value to the same string but secure. Also change another resource and run `pulumi up -y`.
4. Export the state which shows
[code]

So we do

[2020-02-05 21:47] deplorable opened #3864 "Provide option to suppress upgrade notifications"
Hi folks,

Have been trying to integrate Pulumi into some shell scripts and noticed pulumi keeps displaying a notification to upgrade to the latest version (1.9.1), when using commands like "pulumi stack select STACKNAME" and other commands.

Is there any way to suppress upgrade notifications like this, with a CLI option like --suppress-upgrade-notifications or similar?

Am currently using a self-

[2020-02-05 22:00] CyrusNajmabadi opened #3866 "Pulumi unit tests are stateful and depend on either pre-existing stacks (or stacks created by other tests)."
Discovered by @leezen

If you have a no stacks in Pulumi.com and you run the following:

[code]

Then you'll fail with:

<details>
[code]
</details>

The issue here is that this test (in isolation) will end up creating a stack whose test-name doesn't match its generated name.

In non-isolation this passes as the test finds the stack from the real backend (possibly due to the non-deterministic exec

[2020-02-05 22:01] CyrusNajmabadi commented on #3866
Giving to @leezen as he is interested in spelunking here.  That said, @pgavlin, is this something we have a general way to do better in tests?  I'm not really familiar with these unit tests, but maybe you know of something?

[2020-02-05 22:01] deplorable commented on #3864
Silly me.
pulumi stack select STACKNAME 2> /dev/null
does what I need -- but would still be nice to have a suppression switch for such things. ^_^

[2020-02-05 22:15] ilmax opened #3867 "Question: Programmatically access the current stack's declared resources"
I've just started playing around with pulumi so please be indulgent with me if this sounds silly :) but I'm not able to find a way to iterate over the resources declared in the current stack, I think it will be useful for example (I'm thinking about the C# Azure SDK) to run through all resources to apply a specific tag or to add a lock if the current stack is Production and so on.

Is there any wa

[2020-02-05 22:23] lblackstone opened #3868 "Programmatically reference the temp directory used by the test framework"
I couldn't find a way to get a reference to the temporary directory used by the test framework during the `ExtraRuntimeValidation` step.

The use case here was that the program created some files relative to the project directory, but there was no simple way to access that path during validation.

[2020-02-05 22:25] lukehoban commented on #3867
There is `pulumi.runtime.registerStackTransformation` in Node.js and Python which plays a similar role - it lets you provide a callback which can transform the inputs to any resource that gets constructed as part of the stack.  You could use it to add tags, to keep track of what resources are registered, or anything similar.

It appears it is not yet available in the .NET SDK, but will be as part

[2020-02-05 22:44] lukehoban commented on #3864
There is also the `PULUMI_SKIP_UPDATE_CHECK` env var which can be set to skip this - see https://www.pulumi.com/docs/reference/cli/environment-variables/.

[2020-02-05 22:45] #3864 closed

[2020-02-05 22:54] lukehoban opened #3870 "Add `registerStackTransformation` to .NET SDK"
This API is available in Node.js and Python and should also be made available in .NET: https://www.pulumi.com/docs/reference/pkg/nodejs/pulumi/pulumi/runtime/#registerStackTransformation

[2020-02-06 01:13] spara opened #3873 "Update instructions for pulumi new for python"
The following instructions after pulumi new python need updating, they do not match the instructions in Getting Started.

The current instructions are:

[code]
for Linux and macOS:
[code]

for Windows:
[code]

[2020-02-06 01:39] lukehoban opened #3874 "1.10 CLI release is not available for Windows"
The download for 1.10 returns an error: https://get.pulumi.com/releases/sdk/pulumi-v1.10.0-windows-x64.zip

[2020-02-06 11:39] stack72 commented on #3874
This was due to #3656

And is taken care of by #3875

[2020-02-06 15:02] migueloller opened #3877 "Malformed credentials file"
Running Pulumi CLI commands in CI is failing with the following error:

[code]

The following scripts are representative of what was running when the error happened:

[code]

[code]

Some things to keep in mind:
- In some instances, the error doesn't happen at all.
- The `prepare.sh` bash script is run once before updating each stack.
- The `deploy.sh` bash script above executes in parallel for mu

[2020-02-06 15:03] migueloller commented on #3877
I will be modifying the CI configuration so that it runs all projects in series and report back if that reliably stops the error from happening.

[2020-02-06 16:03] dustinfarris opened #3878 "--target-dependents CLI option does not find all dependents"
We are having an issue where `--target-dependents` in a `pulumi destroy` operation does not always find/destroy all dependents.

[code]

In this example, pulumi detects that the glue CatalogDatabase resource has a dependency Crawler resource; so it starts by deleting that.  What it seems to have missed is that the Crawler resource in turn has a dependent glue workflow Trigger resource that referen

[2020-02-06 17:10] lukehoban commented on #3823
Confirmed we do run all our pulumi/pulumi tests covering Go support now in Windows on AppVeyor.

[2020-02-06 17:10] #3823 closed

[2020-02-06 17:25] migueloller commented on #3877
Reporting back. It seems that running the projects serially fixed the issue. This means that the likelihood of Pulumi commands not being safe to run in parallel is pretty high.

cc: @lukehoban

[2020-02-06 17:28] #3874 closed

[2020-02-06 18:00] #2344 closed

[2020-02-06 18:16] leezen opened #3879 "Policy integration tests rely on having an organization that supports the feature"
We should only run this integration test if the runner actually has the feature enabled on the backend

[2020-02-06 18:29] CyrusNajmabadi opened #3880 ".net crash when adding tasks to tasklist."
[code]

[2020-02-06 18:57] CyrusNajmabadi opened #3882 "`make install` step should cleanup nuget deps just like it does npm deps."
We can leave lots of stale nupk information around on disk, which just keeps growing and growing.  We can/should clean this up like we do with npm deps.

[2020-02-06 18:58] pgavlin opened #3883 "1.10.1 Release"
- [x] language SDKs and CLI
- [x] homebrew (https://github.com/Homebrew/homebrew-core/pull/49867)
- [x] dockerhub
- [x] docs and marked as latest-version
- [x] Chocolatey

[2020-02-06 19:07] EvanBoyle opened #3884 "Add aliases to the go code generator"
The schema allows a provider to specify aliases for a resource. The code generator needs to emit those aliases into the generated code as default resource options.

[2020-02-06 19:08] lukehoban opened #3885 "1.10.1 release"
- [x] language SDKs and CLI
- [ ] homebrew
- [ ] dockerhub
- [ ] docs and marked as latest-version
- [ ] Chocolatey

[2020-02-06 19:10] stack72 commented on #3885
@lukehoban this is a duplicate of #3883

[2020-02-06 19:10] #3885 closed

[2020-02-06 19:34] #3807 closed

[2020-02-06 19:47] lukehoban opened #3886 "Warn when a provider is loaded from PATH"
We've had several cases where users have reported very strange bugs that have ultimately been because they had built a provider binary locally at some point, leading to that version of the binary being preferred over one that actually matches the version their program needs.

We should warn when we load from `PATH` instead of from a properly versioned plugin.

We could consider adding an ENV var t

[2020-02-06 20:02] #2924 closed

[2020-02-06 20:07] lukehoban commented on #1372
A quick update on this.

In Python, .NET and Go it is actually already possible to debug Pulumi programs today - though requires a little bit of manual work.

As one example of this - here's steps for Python and VS Code:
1. Follow these instructions https://code.visualstudio.com/docs/python/debugging#_attach-to-a-local-script.
2. Run `pulumi up` to launch your deployment.
3. It will appear to hang

[2020-02-06 20:34] ilmax commented on #3867
I think that would do the job for my use case, thanks!

[2020-02-06 20:34] #3867 closed

[2020-02-06 20:43] pgavlin commented on #3863
This is complete. The Chocolatey release cannot be performed b/c no Windows build was produced for this version.

[2020-02-06 20:43] #3863 closed

[2020-02-06 23:29] #3880 closed

[2020-02-06 23:42] justinvp commented on #1052
We want to align with the direction we're heading for configuring PaC policies.

[2020-02-07 00:10] casey-robertson commented on #3224
Looks like I may have inadvertently run across this as well:

[code]

[2020-02-07 01:23] joeduffy commented on #1372
@lukehoban Is this in 2.0?

[2020-02-07 10:05] #3883 closed

[2020-02-07 10:06] dokuboyejo opened #3891 "Getting resourcegroup not found while creating mangement locks on azure"
Been getting this now all of a sudden consistently, even though the resource group(s) mentioned exist with resources

`error: locks.ManagementLocksClient#CreateOrUpdateByScope: Failure responding to request: StatusCode=404 -- Original Error: autorest/azure: Service returned an error. Status=404 Code="ResourceGroupNotFound" Message="Resource group 'XXXRG' could not be found."
<br/>
    error: locks

[2020-02-07 10:09] mikhailshilkov commented on #3891
Can you reproduce it with a clean stack? If so, could you post the repro code here?

[2020-02-07 10:12] dokuboyejo commented on #3891
@mikhailshilkov  that's a little tricky has this is an existing resource group hosting sql managed instance. The strange thing is that out of 3 resource groups marked for locking, one of them worked correctly while the other two failed.

[2020-02-07 10:18] dokuboyejo commented on #3891
@mikhailshilkov the issue is similar to https://github.com/MicrosoftDocs/azure-docs/issues/17847

[2020-02-07 11:39] mikhailshilkov commented on #3891
@dokuboyejo As you can imagine, this is even more tricky for me without seeing any of the code and having a way to reproduce the error. "Resource group not found" is quite a generic error and can be a symptom of many different things.

[2020-02-07 12:38] dokuboyejo commented on #3891
@mikhailshilkov see the code snippet below
`# lock resource group 2
rg02_lock = management.Lock(
    config_rg02['lock']['name'],
    name=config_rg02['lock']['name'],
    lock_level="CanNotDelete",
    notes=f"Resource Group {config_rg02['name']} is locked for delete",
    scope=rg02.id
)`

[2020-02-07 20:11] #3759 closed

[2020-02-07 20:44] #3469 closed

[2020-02-07 21:02] lukehoban commented on #3257
We've released three major performance fixes recently - which I believe address all of the various things reported on this thread so far:

* https://github.com/pulumi/pulumi/pull/3851
* https://github.com/pulumi/pulumi-kubernetes/pull/974
* https://github.com/pulumi/pulumi/pull/3860

Given that - I'm going to close this one out for now.  If folks see any performance issues after upgrading to lates

[2020-02-07 21:02] #3257 closed

[2020-02-07 23:28] CyrusNajmabadi commented on #3833
Yes.  This seems worth it.  Previously it wasn't expected that users would ever need this.  But that's not the case anymore with Stacks.

[2020-02-08 09:01] dokuboyejo commented on #3891
issue resolved.
it was something to do with the subscription mismatch

[2020-02-08 09:01] #3891 closed

[2020-02-08 22:27] mastoj commented on #3480
I get this in a devcontainer in vscode that I configured. The files used to set up the devcontainers are:

Dockerfile:

[code]

devcontainer.json:

[code]

[2020-02-09 13:00] jasminen opened #3897 "Differentiated exit codes on pulumi CLI"
We need a way to distinguish between different pulumi failures. Currently we need to grep on stderr.
It's a good practice (and a well adopted one) to have different exit codes to different errors in any CLI tool for the use of automation.

Examples of use:
- Self healing automation in the deployment flow in case pulumi failed with a 'pending resources' failure (fix stack and continue with deployme

[2020-02-09 18:50] danny-waite opened #3899 "setting redrivePolicy on aws.sqs.Queue causes resource to constantly update"
`aws:sqs:Queue     sqs-1      updated     [diff: ~redrivePolicy]`

[2020-02-09 19:42] lukehoban commented on #3899
What is the detailed diff you see?  (If you select “details”).

[2020-02-09 20:30] nwmqpa opened #3900 "Every S3 Object is at 0 bytes"
* Language: Typescript
* Pulumi version: v1.10.1
* @pulumi/aws: 1.21.0
* @pulumi/pulumi: 1.9.1

Recently, I've been unable to upload any S3 object. Each one of them is sized 0 bytes in AWS S3.
Here is the sending code:

[code]

All files are present, but none of them is sized greater than 0

Where dit I made it wrong ?

Also, this code works well, althought it's basically the same:
[code]

[2020-02-09 20:42] danny-waite commented on #3899
[code]
thanks for coming back quickly Luke

[2020-02-09 21:30] lukehoban commented on #3899
There’s no more details?  Very odd that a diff in `redrivePolicy` would be in the short diff but not the detailed diff.

[2020-02-10 00:23] EvanBoyle commented on #3897
@jasminen would you mind telling me a little more about your use case? How are you executing pulumi (running a program that shells out via exec), and what are you trying to accomplish? It sounds like this is in the context of CI or deployment automation?

Adding exit codes is something we've heard before and would like to add, but I'm wondering if there is something additional we could do through

[2020-02-10 00:52] lukehoban commented on #3900
I tried for a few minutes to reproduce with your code above - but looks like it depends on some non-trivial external context.

Can you log out what `filePath` is right before calling `new aws.s3.BucketObject`?

I can't from inspection tell exactly what the salient difference is between the two code examples above - what to you know/intend to be different about these?

[2020-02-10 01:36] EvanBoyle opened #3901 "Pulumi Automation API"
**Update:** _we have shipped the preview of the Automation API! Read more [here](https://www.pulumi.com/blog/automation-api/). This issue will be used to track completion of this feature._

Every language should have runtime APIs that allows for pulumi program execution.

Executing a program today looks like:

[code]

Users should be able to achieve the same outcome from something as simple as:

[

[2020-02-10 03:24] EvanBoyle commented on #3897
I'm going to fix exit codes in our upcoming milestone. I'll use the two use cases you listed as starting points, but please provide anything else you'd like to be able to catch as well.

In addition, we've opened this issue to track the runtime use case longer-term, feel free to include more context in there as well if you think it would be useful to you: https://github.com/pulumi/pulumi/issues/39

[2020-02-10 08:12] nwmqpa commented on #3900
The second code is from me, while the first is from a co-worker who wanted to modularize my codebase to make some helper functions.

Here's the pulumi output
[code]

And here is a snapshot of my filesystem

[code]

[2020-02-10 11:08] CrystalMethod commented on #3592
Any progress?

[2020-02-10 12:08] danny-waite commented on #3899
I've created a simplified example of the problem here just to rule out anything on my side
https://github.com/danny-waite/pulumi-sqs-dlq

[2020-02-10 12:20] jasminen commented on #3897
@EvanBoyle Thanks for the quick response on this issue.
We do use pulumi in our deployment process. In our Jenkins pipeline we use sh method (exec shell commands) to run `pulumi up`.
The scenarios i've mentioned are the most common ones we've seen and would like to catch and act upon.
Another example would be 'deletion of protected resources' failures.

BTW, another solution (or in addition to) co

[2020-02-10 15:17] JoseAlban opened #3903 "`pulumi logs` panic"
Pulumi Version:   v1.9.1
Go Version:       go1.13.6
Go Compiler:      gc
Architecture:     amd64
Operating System: darwin
Panic:            fatal: An assertion has failed

goroutine 1 [running]:
runtime/debug.Stack(0xc000ad94c8, 0x4fdfa00, 0xc000af2840)
	/usr/local/Cellar/go/1.13.6/libexec/src/runtime/debug/stack.go:24 +0x9d
main.panicHandler()
	/private/tmp/pulumi-20200128-77277-6j7tta/src/github

[2020-02-10 17:56] clstokes commented on #3878
@dustinfarris could you share which version of Pulumi CLI (`pulumi version`) and dependencies (`npm ls` or `yarn list`) you're using?

[2020-02-10 18:08] dustinfarris commented on #3878
pulumi version
v1.10.0

npm ls
https://pastebin.com/bp6d2XbY

[2020-02-10 18:09] SwitchedToGitlab opened #3904 "Pulumi plugin install $AWS_PLUGIN requires project file - does it have to?"
Very minor "issue", more of a request really, or "does it *have* to do that though?" kind of thing...

- Issue: `Pulumi.yaml` is required for a user to install the Pulumi AWS plugin, which makes it harder to build project-ambiguous Docker container images. I can see other potential issues, but this one is mine :)

[code]

- Proposed solution: Don't check for a project file before installing the AW

[2020-02-10 18:12] squarebracket opened #3905 "runtime.listResourceOutputs broken in node.js SDK"
With the latest packages, `runtime.listResourceOutputs` fails with a protobuf deserialization error:

[code]

pulumi version v1.10.1

[code]

[2020-02-10 21:56] Igorbek opened #3907 "Official bridge to GitHub Terraform Provider"
It would be great to have an official provider for GitHub. Terraform has it: https://github.com/terraform-providers/terraform-provider-github

Also, there's a project based on pulumi terraform boilerplate: https://github.com/ibrasho/pulumi-github but it seems to be not maintained at all, and moreover the packages don't work.
There's a blog post about using github https://www.pulumi.com/blog/managi

[2020-02-10 23:33] leezen commented on #3866
For now, I'm addressing the test failure with https://github.com/pulumi/pulumi/pull/3909 which doesn't remove the need for the external backend, but at least removes the statefulness of the test (and fixes the test). In the future, we should look into removing the need for the remote backend to complete this test. However, at the moment, local backends don't support the x/y/z fully-qualified stack

[2020-02-11 02:33] valdecircarvalho commented on #3591
Support for Oracle Cloud (OCI) is a must.
OCI is getting traction more and more in the Enterprise market.
Pulumi should support it!

[2020-02-11 02:45] llibicpep commented on #3742
With other issues being closed, would that issue cover for looking up AWS resources by tags and/or other criteria? Or should I open a new ticket?

[2020-02-11 10:40] #3833 closed

[2020-02-11 10:42] mikhailshilkov opened #3910 "Remove obsolete .NET serialization attributes"
Remove this file https://github.com/pulumi/pulumi/blob/master/sdk/dotnet/Pulumi/Serialization/Attributes.Legacy.cs introduced in #3902 and all related logic after the providers are updated but before the 2.0 release

[2020-02-11 10:43] mikhailshilkov commented on #3833
Opened #3910 to track the removal of the obsolete attributes

[2020-02-11 13:49] robertvanhoesel opened #3911 "Structured Config Secrets behaviour"
A few weeks back I added some structured secrets to our project as described below, this worked wonderfully and all is fine. When I ran Pulumi again today I got several warnings including that the secrets where missing (in an unhandled exception). After re-adding the secrets again like I did a few weeks back, it still didn't work. When I rewrote the implementation to not used structure config with

[2020-02-11 13:52] robertvanhoesel commented on #3780
Is there anything I can do to fix or help you fix this unhandled exception? It's coming up 3 out of 4 times and blocks us from using Pulumi in CI and turns development more into gambling hoping for no exceptions.

[2020-02-11 16:22] joeduffy commented on #3671
Another data point, I was able to shave off 5 seconds of runtime off [this project](https://github.com/pulumi/customer-engineering/tree/master/demos/aws-ts-webserver) by pre-compiling a project (using `tsc`) and commenting out [these lines](https://github.com/pulumi/pulumi/blob/master/sdk/nodejs/cmd/run/run.ts#L154-L163), which run auto-compilation using `node-ts`.

This is a surprising amount of

[2020-02-11 16:29] joeduffy commented on #3671
Also note that on very slow networks, https://github.com/pulumi/pulumi-aws/issues/873 seems to be a significant contributing factor to the performance issues.

[2020-02-11 19:55] CyrusNajmabadi opened #3914 "Need to rationalize and document rules about invokes with parent/provider/version."

[2020-02-11 22:33] tberman commented on #3301
@joeduffy any update here? This prevents us from running pulumi properly inside one of our most important stacks and causes a lot of headache any time we attempt to use it.

[2020-02-11 22:34] tberman commented on #3301
This is definitely possible, this is an old stack.

[2020-02-12 00:20] pgavlin commented on #2287
Pushing this to M33 in favor of finishing off the .NET SDK work--feel free to move back into M32 if that feels better.

[2020-02-12 00:25] pgavlin commented on #3665
Removing the P1 label for now as we do have a workaround. @lukehoban I wonder if this was fixed with the `Output<>` changes--can you try your repro?

[2020-02-12 00:28] lukehoban commented on #3665
I don’t have any repro myself - but I’m 99% sure this was fixed by the output changes - so closing out for now. If anyone still sees sever slowness related to invokes or stack references though, please do open a new issue.

[2020-02-12 00:28] #3665 closed

[2020-02-12 00:47] pgavlin commented on #2918
Note that the exported statefile should retain information about which values are secret s.t. those values can be re-encrypted upon import.

[2020-02-12 02:07] lukehoban commented on #3911
@robertvanhoesel Thanks for the very detailed report and repro!

I think there may be at least two, possibly three, separate issues here related to secrets in nested config.  @justinvp - could you take a look and break down into separate tracking issues if there are in fact multiple independent issues here?

[2020-02-12 10:42] slayer commented on #132
Any news?

[2020-02-12 12:56] justinvp commented on #3911
Thanks for the report, @robertvanhoesel!

Hmm, I wouldn’t expect the following code to have ever worked correctly with  `pulumi config set --path --secret MyNamespace:MyKey.some.secretkey '...secret...'`...

[code]

The first issue is with `new Config('MyNamespace:MyKey')`. The `Config` constructor accepts a namespace, not a namespace & key.

Second, when using nested config structures, they must

[2020-02-12 18:10] sean1588 opened #3916 "Stack export being called many times from CLI"
We are seeing many stack export events in our audit logs, which make them overly "messy"  for lack of a better term. This may be due to the endpoint being invoked many times during certain commands being invoked from the CLI. The endpoint where these are being recorded is `/stacks/{orgName}/{projectName}/{stackName}/export`. Maybe we can figure a way around this. We do of course want to log whenev

[2020-02-12 19:18] clstokes opened #3917 "Allow policy enable without org and pack name"
`pulumi policy publish` uses the user's default organization  and the pack name from the local directory without needing any arguments, but `pulumi policy enable org/pack-name ...` requires the org and pack name (e.g. `clstokes/ec2`).

#### Suggestion

Allow `pulumi policy enable` to run without the org/pack name being required to provide a consistent and simpler user experience.

[2020-02-12 20:59] CyrusNajmabadi commented on #3780
@robertvanhoesel can you use requireOutput instead of requireOutputSync?

[2020-02-12 21:02] CyrusNajmabadi commented on #3780
@lukehoban Pulumi 2.0 adds the following APIs:

[code]

https://github.com/pulumi/pulumi/blob/feature-2.0/sdk/nodejs/stackReference.ts#L104

There should be no problem with backporting these helpers to the Pulumi 1.x line.  Do you have any issues with that?  I'll create a PR asap to help out here.

[2020-02-12 21:52] rawkode opened #3919 "GOOGLE_CREDENTIALS environment var doesn't work"
Weirdly, the `pulumi login` works - but the `pulumi update` fails.

[code]

[2020-02-13 00:34] smena opened #3921 "Assertion failure on stack import when pending_operations list contains an empty object"
Pulumi CLI stack traces with `fatal: An assertion has failed: type was empty` when importing state that has been modified with "pending_operations" set to a list containing an empty object.

**Expected result**
Stack imports successfully

**Steps to reproduce**
1. Create a resource and kill the CLI before the operation completes.
2. Export the state with `pulumi stack export` and modify "pending_o

[2020-02-13 06:16] RichiCoder1 commented on #2996
Stack as a stored per-stack setting, that you can specify with `stack init` like with secrets provider would be fantastic and alleviate some concertation currently when using with multiple backends/environments

[2020-02-13 07:40] ringods commented on #2996
Storing the backend URL in the stack configuration file improves the user experience of working against the correct state backend for the project at hand. But as @lukehoban mentions above, it has an impact on `pulumi stack ls` because that command is linked to a backend.

But how do `StackReference`s work then? From the docs, I read:

This seems to imply that the hosted Pulumi service is used. Sho

[2020-02-13 08:16] Place1 commented on #2996
Today something exciting happened. A developer opened a terminal in an older project to debug a staging environment and, without realizing, was actually logged into a state backend from another project. The individual didn't notice and ran a `pulumi up --yes --skip-preview` thinking he'd be making a simple risk free change but instead it nuked a bunch of k8s deployments belonging to the other proj

[2020-02-13 12:36] justinvp commented on #2820
Will this include adding `Secret` variants on https://github.com/pulumi/pulumi/blob/master/sdk/go/pulumi/config/config.go?

[2020-02-13 17:17] nwmqpa commented on #3900
After doing a
[code]
The output is conform to what is in my disk. Every hashes of BucketObject are the same hashes that the files on my disk

You can found the complete export [here](https://pastebin.com/759zAtc4)

[2020-02-13 17:24] EvanBoyle commented on #2820
Yes this will include get/try/requireSecret variants

[2020-02-13 17:45] robertvanhoesel commented on #3780
@CyrusNajmabadi thanks for looking into this!

We considered and tried switching to requireOutput, however in most cases we are not passing them as resources to Pulumi code that can work with Output<T> but rather as strings used to generate new resource names i.e.:

[code]

New resources only accept strings as as the name parameter, not an Output<string>. Suggested workarounds by the cli such as o

[2020-02-13 18:05] robertvanhoesel commented on #3911
Thanks @justinvp for the explanation, that makes a lot more sense!

I rewrote this piece to the suggested approach and it works perfect.

[2020-02-13 18:07] lukehoban commented on #3900
Thanks!  I just cloned that and things seem to work as expected for me:

[code]

Are you able to repro with that repo from scratch?

[2020-02-13 18:13] justinvp commented on #3911
Sure thing! Glad things are working for you now!

I've also opened a PR to improve our docs around this, to hopefully make it more clear for others in the future: https://github.com/pulumi/docs/pull/2434

[2020-02-13 18:13] #3911 closed

[2020-02-13 19:07] CyrusNajmabadi commented on #3780
Unfortunately yes.  This work is fundamentally asynchronous (and actually needs to talk to different processes and whatnot).  We tried making it synchronous, but it put us in a very bad state as the library we were using to accomplish this was actually very hacky and led to some extremely bad issues (i.e. crashes, instability, corruption, etc.).  It's a problem i caused, and i've been spending at

[2020-02-13 20:25] #1910 closed

[2020-02-13 23:16] #2872 closed

[2020-02-14 00:09] jkisk opened #3924 "Fix incorrect grouping of policy violations in console."
@ekrengel commented in another issue:

The service appears to group PP violations, maybe based on the PP name (actual name). Which means that if I aws-pack locally and enforced by the service. The violations are grouped together. The non-local PP was actually v9 so my guess is we're using some sort of map here incorrectly.

[code]

[2020-02-14 17:13] nwmqpa commented on #3900
Yes, I gave you the bare minimum on how to reproduce the error
However, since today, builds passes perfectly, so I can't reproduce the error anymore

[2020-02-14 17:58] lukehoban commented on #3900
Huh - that is very surprising - but glad to hear it is working now!

[2020-02-14 18:44] lukehoban commented on #3900
I'll close this out - but if anyone is able to repro this going forward - please to drop a note here and we can re-open to continue investigating whether there is still some underlying issue here.

[2020-02-15 00:32] leezen commented on #3815
#3920 fixes this issue. @clstokes can you please confirm the fix works for you and close if so? Thanks!

[2020-02-16 16:55] #3715 closed

[2020-02-16 22:41] lukehoban commented on #1614
The updated support for Go has landed in the core SDK and across the main cloud packages.  Some more work is planned on the path to GA of Go support in 2.0, which is now tracked in specific issues marked with the [language/go](https://github.com/issues?utf8=%E2%9C%93&q=org%3Apulumi+is%3Aopen+label%3Alanguage%2Fgo) label.

[2020-02-16 22:41] #1614 closed

[2020-02-16 22:56] lukehoban commented on #1962
Confirmed that this works.  There's an example now in the examples repo that does this:

https://github.com/pulumi/examples/blob/1e1720ff87f0cb85dbf12e0840c577953aa35e4a/aws-go-lambda/main.go#L46-L63

[2020-02-16 22:56] #1962 closed

[2020-02-17 11:40] robertvanhoesel commented on #3780
@CyrusNajmabadi thanks & understood. We appreciate the work you and the team put in!

In the meantime, any suggested approach on how to use Output<string> as part of a resource name?

[2020-02-17 12:14] vorotech opened #3926 "Pulumi and local development with Kubernetes"
Hello and thank you for a great product!

I'd like to share the feedback on how do we do the local development and which role is taken by Pulumi. And ask you a few questions about whether we are doing it right or other conceptual ways to achieve the same things are designed.

The target environment is a Kubernetes cluster running in Docker Desktop (Windows/Mac) for developers and GKE cluster in Go

[2020-02-17 16:32] dokuboyejo opened #3927 "Missing required configuration variable even when config is set"
I am using pulumi sdk 1.10.1 with pulumi-azure   1.13.0
Config value was set in jenkins ci like so
[code]

In code, when trying to retrieve secret it fails
[code]

[code]

[2020-02-17 19:32] Incisive opened #3928 "Lambda Serialization Problems"
I'm having an issue creating a lambda that requires other files at runtime.

Here is a redacted example repo with the basic structure I'm trying to use: https://github.com/Incisive/pulumi-lambda-example/blob/master/infra/prod/domain.com/api.js

That is the entry point to where the lambda is created.

ultimately the lambda gets packaged up correctly however it's missing the `example_handlers.js` fi

[2020-02-17 19:33] Incisive commented on #3928
Slack thread for reference: https://pulumi-community.slack.com/archives/C84L4E3N1/p1581702949284500

[2020-02-17 19:42] dokuboyejo commented on #3927
Issue resolved...needed to add --config-file to point to the config path

[2020-02-17 19:42] #3927 closed

[2020-02-17 19:55] lukehoban commented on #3928
I'm trying to use the repro linked above - but running into quite a few things that seem to be missing - the `role` - the reference to `expressWinston`.  I'm not sure exactly which of these are critical to the repro here.  I can keep trying to get this working - but if you happen to know how to make this a self-contained reprro - that might help.

[2020-02-17 20:03] Incisive commented on #3928
@lukehoban Sorry about that, I added more of the original implementation back (I had to rip this from a larger project and redact a bit, so hopefully this makes it work)

[2020-02-17 20:09] lukehoban commented on #3928
I'm still struggling a little - there's a reference to `'./handlers/test'`, but that doesn't exist - was it renamed `example_handler.js`?

I *think* I know what the issue is though and can likely create a simpler repo.

[2020-02-17 20:10] Incisive commented on #3928
Yep you're right, sorry about the confusion.

[2020-02-17 20:47] lukehoban commented on #3928
Okay - the problem is that serialized functions are always treated as though they were in the root of the project - regardless of where they appeared in the source tree.

This leads to relative path references from files not in the root folder to be "wrong".

There are two possible directions for a fix:
1. Always place serialized functions into the same folder as they originally appeared in - in t

[2020-02-17 22:19] philippbussche opened #3929 "Azure FunctionApp Python Dependencies"
Hi,
I have started using Pulumi in order to deploy a few Python functions zu Azure.
I am able to compose a azure.appservice.ArchiveFunctionApp with the archive pointing to my python directory. For very simple functions, which don't require any additional libraries this is working fine but not for functions which require additional libraries which in Python you would normally install using pip and

[2020-02-18 00:40] joeduffy opened #3930 "Consider more efficient checkpoint patch protocol"
At the moment, we upload the entire checkpoint file before and after performing any mutating resource operation. This is theoretically quite wasteful given that the delta implied by any single operation is normally quite small -- as seen below, typically just modifying the checkpoint's update time, the pending operations list, and the resource state for that single resource being modified. The net

[2020-02-18 02:51] dokuboyejo opened #3931 "Error building AzureRM Client: Authenticating using the Azure CLI is only supported as a User (not a Service Principal)"
The following have been set, and the error still comes through
Any ideas what else needs to be done?

[code]
ARM_CLIENT_ID
ARM_SUBSCRIPTION_ID
ARM_CLIENT_SECRET
ARM_TENANT_ID
[code]

[2020-02-18 13:09] theneva opened #3932 "Resource to replace gets rendered twice in tree view"
Hi! :wave:

I use the @pulumi/kubernetes provider to create a Deployment.

When migrating it from kubernetes.apps.v1beta1.Deployment to kubernetes.apps.v1.Deployment, I ended up with this diff:

![image](https://user-images.githubusercontent.com/1404650/74738819-030ced80-5258-11ea-84f1-af2559561244.png)

`$ pulumi up` shows the resource twice with the same name and plan, but different diff (`p` is

[2020-02-18 14:17] sfmskywalker opened #3942 "How to get the actual output value from StackReference.GetOutput? C#"
Hi! I just started experimenting with Pulumi, and so far I love it!

Currently I'm in the process of setting up a CI/CD process where I have one "infra" stack setting up a K8S cluster, and "vertical" services that deploy docker containers. These services have their own Pulumi C# project that read the output from the "infra" stack.

For example:

[code]

Now, it's unclear to me how to go about actu

[2020-02-18 16:09] ringods commented on #3747
@lukehoban will this be tackled shortly?

The user-level login scope prevents me of provisioning infrastructure for different customers at once. And since infra provisioning usually takes a while, this is a major blocker to my productivity. 😢

[2020-02-18 18:08] clstokes opened #3934 "Panic from 'transport is closing' error"
Pulumi panicked when a `transport is closing` error occurred during an `up`.

#### Output
[code]

[2020-02-18 23:05] tasiah commented on #3490
I'm not very familiar with Go transformations. Just to make sure I'm working on the right thing, is this the API you're referring to: https://godoc.org/golang.org/x/text/transform? A super simple example of what we would want to do with this API would also be hugely appreciated.

[2020-02-18 23:16] ekrengel commented on #3490
I believe this is a Pulumi concept not a go concept. You should set up some time with @EvanBoyle  or @pgavlin to explain more!

[2020-02-18 23:16] clstokes commented on #3815
@leezen What do I need to test this? A specific `pulumi` Python package or do I need an updated CLI too? If just the Python package, which specific one from https://pypi.org/project/pulumi/#history should I use?

[2020-02-18 23:19] tasiah commented on #3490
I'm glad I asked then! For reference: https://www.pulumi.com/docs/intro/concepts/programming-model/#transformations. There's examples for how other languages use it too, so that helps a lot. I'll reach out again when I inevitably need more help, thanks!

[2020-02-18 23:52] EvanBoyle commented on #3490
@tasiah Here's a reference PR for transformations in python: https://github.com/pulumi/pulumi/pull/3319

[2020-02-19 05:08] lukehoban opened #3935 "Panic in display logic when interactive mode is (incorrectly?) inferred in CI"
A user reported that they are seeing the panic below when they run in CI unless they explicitly pass `--non-interactive`.  We should in this case be detecting we are in a non-interactive environment and disabling the progress display by default - but it appears this detection is not working correctly.

[code]

[2020-02-19 05:43] lukehoban commented on #3490
In case it helps - the actual "logic" of this feature is just the 20 lines here:

https://github.com/pulumi/pulumi/pull/3319/files#diff-e40a55916cf826f23928c81468e845cdR613-R634

The rest of that PR is the data structures needed to enable that (and lots of test coverage).

[2020-02-19 06:02] lukehoban commented on #3935
I believe the issue here is that the code below is inferring a terminal width of `0`, but is also inferring that the terminal *is* interactive.  Ideally we would detect that this is not truly interactive, but we have [many heuristics already for that](https://github.com/pulumi/pulumi/blob/f6402882c2c1b6ef691d41aca7d06503ca7cfffa/pkg/util/cmdutil/console.go#L46-L51), and without knowing more about

[2020-02-19 10:08] mikhailshilkov commented on #3480
After person has hit this during the workshop, we should fix it, adding to M33

[2020-02-19 12:58] TechWatching opened #3937 "Error message is truncated and update is pending when error in pulumi up."
Often when I do a `pulumi up` and there is an error in my infrastructure , the error message is truncated and the process seems stuck. I have to do a `Ctr+C` to finish the porcess.

Moreover the update on pulumi.com seems to be pending for a while instead of being failed. However I have the complete error message and all the logs that were truncated in my terminal.
![image](https://user-images.git

[2020-02-19 14:37] leezen commented on #3301
We synced up offline and to summarize, there were two issues:

1. There was an actual delete of a bucket. This was an incomplete operation from a previous update that never finished. At the same time, there was an actual create as there were ACLs specified in the Pulumi program that never made their way to the new bucket.
2. The cluster looked like it was getting replaced due to missing the `conta

[2020-02-19 14:37] #3301 closed

[2020-02-19 14:53] leezen commented on #3937
Would you be willing to post the logs and messages to this issue with any sensitive information redacted?

[2020-02-19 15:50] nwmqpa commented on #3900
Hello, so it's seems that on the minimal repository that I sent you, I can now reproduce the error.
I only tried the us-east-1 and eu-west-2 regions yet.

[2020-02-19 15:56] clstokes commented on #3364
Updated to include _"and data sources"_ in the suggestion.

[2020-02-19 17:21] #3935 closed

[2020-02-19 20:29] dokuboyejo commented on #3931
Anyone with some guidance on this?

[2020-02-19 20:46] stack72 opened #3939 "Run dep ensure as part of Go tests in integration framework"
When we are running our Go integration tests, none of our code actually installs the code that is required to actually install the go dependencies

We need to make `dep ensure` run as part of the prepareGoProject

This means there is now a dependency on dep as part of our setup - this needs to be added to our common tool chain

[2020-02-19 20:55] lukehoban opened #3940 "1.11 release"
- [x] language SDKs and CLI
- [x] homebrew
- [x] dockerhub
- [x] docs and marked as latest-version
- [x] Chocolatey

[2020-02-19 20:59] lukehoban commented on #3939
Note that we'll most likely have to run `pulumi plugin install` manually as well for now.

[2020-02-19 20:59] stack72 commented on #3939
@lukehoban do we need the plugins if we have the sdks installed?

[2020-02-19 21:00] logicbomb421 opened #3941 "gRPC module version issue (node.js)"
Hello,

I have been working on a Pulumi pilot project for a few days now and all has been working well locally on my mac, however when trying to build a CI flow for it (Codefresh), I am running into an intermittent error regarding the gRPC version node (I think) is installing. I have run a build several times now, back-to-back, where the first few succeed, and eventually one will have this error:

[2020-02-19 21:02] lukehoban commented on #3941
This error means you did `npm install` with a different version of Node/NPM installed than what was available when you did `pulumi up`.  And in particular, that those two versions are not platform version compatible (`node-v67-linux-x64-glibc` vs. `node-v64-linux-x64-glibc`).  You may need to make sure your CI is configured to use the same Node+NPM versions across stages?

Note that 67 is Node 11

[2020-02-19 21:15] logicbomb421 commented on #3941
This is helpful, thanks! Looking a bit closer, I realize I reported the CF debugger's node version in the original issue. Printing the versions shows `11.15.0` and `6.7.0` respectively. This is the case for both the first 'init' step and the second preview step (where the error occurs). Both of them are pulling `pulumi/pulumi:1.10.1` from docker (`sha256:6aab2e7424d75ca613c9c0025bfe74a6dfb33fe5f02

[2020-02-19 21:35] logicbomb421 commented on #3941
More info: added a version check to each step in the build that uses Pulumi, now I'm seeing the node/npm version when the step fails, and it seems to be what's expected: `NODE@v11.15.0, NPM@6.7.0`.

[2020-02-19 22:31] lukehoban commented on #3939
Yes - as of now we don't automatically acquire plugins as part of SDK installation.  We hope to enable this in the (near) future with https://github.com/pulumi/pulumi/issues/1549.

[2020-02-19 22:34] lukehoban commented on #3941
Are you committing your `node_modules` to source control?  Where is the `npm install` happening?

Note that Pulumi doesn't really do anything itself here - it's just purely up to what versions of `npm` and `node` you are using.

[2020-02-19 23:24] lukehoban commented on #1895
Old issue with no more feedback - going to close out for now.

[2020-02-19 23:24] #1895 closed

[2020-02-19 23:26] lukehoban commented on #2218
This is done in the `2.0` branch.

[2020-02-19 23:26] #2218 closed

[2020-02-19 23:27] lukehoban commented on #1074
We've landed in a reasonable place for existing libraries.  We may continue to explore other options as part of new libraries.

[2020-02-19 23:27] #1074 closed

[2020-02-19 23:29] lukehoban commented on #592
This has been open for more than 2 years and we haven't heard any feedback on it.  Closing it until we get feedback.

[2020-02-19 23:29] #592 closed

[2020-02-20 00:28] johnnyhuy commented on #1372
@lukehoban yep, can confirm it works with .NET debugging via attaching to the *application* process.

Just had to either wait for a debugger or create a debugger process.

[code]

[Reference](https://stackoverflow.com/questions/361077/how-to-wait-until-remote-net-debugger-attached)

[2020-02-20 00:29] EvanBoyle commented on #3819
https://github.com/pulumi/templates/issues/88 will add template testing

[2020-02-20 00:31] logicbomb421 commented on #3941
Just double checked and I am not committing `node_modules`. The build is happening inside a docker container running `pulumi/pulumi:1.10.1` with `/bin/sh` as the entrypoint (this comes from a feature from our CI provider).

Yeah I'm going through my build setup and have a request out to my CI provider to see if there is additional info on their side. Thanks for the help!

[2020-02-20 00:31] #3941 closed

[2020-02-20 04:45] EvanBoyle commented on #1549
Let's make sure we update the getting started docs to remove plugin installation once we ship this. AWS example here, but we need to do this for each cloud's getting started guide:

https://github.com/pulumi/docs/pull/2480#discussion_r381648889

[2020-02-20 07:43] mikhailshilkov commented on #3942
Hi @sfmskywalker I'm happy you are enjoying Pulumi! I moved the issue to the main repo.

Outputs are a core concept in Pulumi, so it's worth spending time to understand how they work. You would typically use them by:
a) Assigning to input properties of resources
b) Producing new outputs by using `Apply`, `Tuple`, `All`.
Outputs may also contain secret values, and they handle the secrets transparen

[2020-02-20 10:14] TechWatching commented on #3937
Yes sure, where can I retreive the logs ? What would be needed exactly ?

[2020-02-20 11:13] rawkode commented on #3919
@Place1 Are you seeing this behaviour too, when using gcpkms secrets provider?

[2020-02-20 16:25] lallea opened #3944 "Permission denied creating secrets in GCP secret manager"
When attempting to manage secrets with pulumi_gcp.secretmanager.Secret (python), i get 403 when pulumi attempts to create the secret. I can successfully create other GCP resources in the same stack, including the project where I attempt to create the secret, so I am authenticated. Service secretmanager.googleapis.com is enabled on project. I am able to create a secret using gcloud command line or

[2020-02-20 17:11] clstokes commented on #3919
Unfortunately this seems to be a case where Pulumi is inconsistent in the environment variables that are being used. Using `GOOGLE_CREDENTIALS` _does_ work for the Pulumi application itself, but does _not_ work for the `gpckms` encryption provider (I was able to reproduce this).

I was able to use the `gcpkms` provider using the `GOOGLE_APPLICATION_CREDENTIALS` environment variable (per https://cl

[2020-02-20 18:26] joeduffy commented on #3873
@spara It looks like [this code](https://github.com/pulumi/pulumi/blob/259b2d314adcbb5aa47ecc60c30051e271edf02d/sdk/python/cmd/pulumi-language-python-exec#L22-L23) also tells you to use `pip` instead of `pip3`. Should we be updating this too?

[code]

[2020-02-20 18:49] chrsmith opened #3945 "Bad error message if policy pack isn't found"
If you try to run a policy pack, sometimes you get a pretty awful error message "failed to load plugin ... fork/exec ... no such file or directory"

[code]

The relevant information is in there, but it's hard to tease out. For example, in my case, I needed to set the `--policy-pack` flag to `../policy-pack`.

Ultimately we should detect this specific error and provide a more use-friendly message,

[2020-02-20 20:01] clstokes opened #3947 "Error with `pulumi logs -f` in Go Pulumi app"
`pulumi logs -f` fails with the error `no AWS region found` for each resource in my Pulumi application when my Pulumi application is a **_Go_** application. I've reproduced this across two distinct (but similar) Go Pulumi applications.

Pulumi version is `v1.10.1`.

#### Steps to reproduce

1. `pulumi up` on the [aws-go-lambda](https://github.com/pulumi/examples/tree/master/aws-go-lambda) example

[2020-02-20 20:36] chrsmith opened #3950 "Policy Packs are not sent resources created via `read`"
It appears that Pulumi resources created via `read` operations are never sent to a Policy Pack, and therefore you cannot refer to them via a `StackResourcePolicy`.

I found this while building a custom version of `@pulumi/policy` with a bunch of extra logging. But essentially the repro is:

[code]

[code]

[2020-02-20 21:00] lukehoban opened #3951 "[Go] Should ResourceOptions be in their own sub-package?"
Currently it is hard to discover what ResourceOptions are available in Go - in part because they are all intermixed at top level in the `pulumi` package.  Should we instead have a `pulumi/options` or `pulumi/resource` sub-package?

[code]

<img width="854" alt="Screen Shot 2020-02-20 at 12 27 19 PM" src="https://user-images.githubusercontent.com/223467/74978051-b86aad00-53e0-11ea-872d-7adac02a9eaf

[2020-02-20 21:13] elsesiy commented on #3951
@lukehoban I'd support this as I stumbled upon the same difficulty.

[2020-02-20 21:31] joeduffy commented on #3950
I'm pretty sure this is the correct default behavior. Typically you only want policy validation of resources you're actually provisioning and managing. I think it would be surprising if we validated reads.

That said, it's very interesting to be able to do this. I created a prototype [here](https://github.com/pulumi/pulumi/pull/3952) that enables this when you pass `--policy-on-reads`. Using this,

[2020-02-20 21:48] chrsmith opened #3953 "Unexpected panic when updating a resource"
I have a stack using Azure Container Instances that's more or less working as expected.

If I make a change to a resource's definition and then run `pulumi up --skip-preview`, `pulumi` will panic with "Expected diff to not require deletion or replacement during update".

This could be specific to the Azure resource provider, but I am guessing it has something do with how we are computing a diff an

[2020-02-20 22:22] clstokes commented on #3945
Duplicate of https://github.com/pulumi/pulumi-policy/issues/198.

[2020-02-20 22:59] lukehoban opened #3954 "[Go] ResourceOptions that take arrays should probably be varargs"
Currently you have to write code like this:

[code]

This is quite heavy weight.  We could improve this and many other cases by accepting varargs instead of arrays - which would fit the common usage (passing literals) well:

[code]

Same should be applied to `AdditionalSecretOutputs` and other options that take arrays.

[2020-02-20 23:05] chrsmith commented on #3950
I'm sure we could convince ourselves that "read" resources shouldn't be included with [some kinds](https://www.pulumi.com/blog/enforcing-different-kinds-of-policies-for-cloud-resources/) of policy rules. But it definitely doesn't sound right that Policy Packs can only be used for resources _created_ by a stack. (Especially given the "awesomeness" of scenarios like you mentioned Joe.)

I'll start a

[2020-02-21 00:16] lukehoban commented on #3954
There are apparently a slightly weird mix today.  Most are arrays, but some like `Providers` are varargs already.

[2020-02-21 03:28] spara opened #3955 "`no go files listed` error in linux"
**pulumi version:** v1.10.1

**plugins:**
NAME    KIND      VERSION  SIZE    INSTALLED  LAST USED
aws     resource  1.22.0   218 MB  n/a        5 hours ago
docker  resource  0.17.4   44 MB   n/a        5 hours ago

**OS:** ubuntu 18.04.3

**Go version:** go version go1.10.4 linux/amd64

**dep:**
 version     : v0.5.4
 build date  : 2019-07-01
 git hash    : 1f7c19e
 go version  : go1.12.6
 go comp

[2020-02-21 11:12] sfmskywalker commented on #3942
Hi @mikhailshilkov ,

That all makes perfect sense! I followed your instructions and went through the documentation, and it all worked beautifully!.

In case anyone else comes across this, here's what I did:

1. As mentioned, my "infra" project outputs a bunch of details, such as Azure Container Registry connection details (server URL + admin username + password).
2. My "service" project needs the

[2020-02-21 11:17] #3942 closed

[2020-02-21 16:30] chrsmith commented on #3945
Sorry for filing the dupe! Thanks for linking to it @clstokes , I recall you seeing this error but didn't find it (when I looked in this repo). While you did beat me to the punch in filing it, I closed out the `pulumi-policy` issue just because the code fix needs to be done in the `pulumi` repo. Sorry for the noise.

[2020-02-21 19:06] clstokes commented on #3947
If needed, checkpoint file is here - https://gist.github.com/clstokes/700426f4bbbe88f5c04450e7a5b41d3b.

[2020-02-21 19:21] JonCanning commented on #3641
Further to Slack chat, I was trying to export a ResourceGroup but it was only the `id` that was exported

[2020-02-21 19:54] sfmskywalker opened #3956 "How to pull an image from a private registry using C#?"
Scenario:

* My Pulumi project creates an AKS cluster + Azure Container Registry resource.
* It then builds a Docker image from a DockerFile and pushes it to the private ACR.
* It creates a k8s Deployment with a Pod template referencing the image.

When doing `pulumi up` however, the process hangs at the step when creating the deployment and the pod. The pod is created, but when inspecting its sta

[2020-02-21 19:58] sfmskywalker commented on #3956
I also considered using the `Docker.DotNet` package and its `DockerClient` API to generate the secret. However, it seems like the `Output<T>` type doesn't have the convenient `RequireValueAsync` method like the `StackReference` type does. Otherwise I could leverage DockerClient and pass the necessary details (server URL, admin username + password for basic auth).

[2020-02-21 20:00] mikhailshilkov commented on #3956
Have a look at [this example](https://github.com/pulumi/examples/blob/master/azure-ts-aks-keda/keda.ts#L129) -- it's TypeScript, but sounds like what you are asking for?

[2020-02-21 20:29] dokuboyejo commented on #3931
Preview failed: Error building AzureRM Client: Authenticating using the Azure CLI is only supported as a User (not a Service Principal).",
        "    ",
        "    To authenticate to Azure using a Service Principal, you can use the separate 'Authenticate using a Service Principal'",
        "    auth method - instructions for which can be found here: https://www.terraform.io/docs/providers/azu

[2020-02-21 21:52] #3873 closed

[2020-02-21 22:25] ekrengel opened #3958 "Caching of Policy Packs to be org scoped"
The local caching of Policy Packs needs to be scoped by organization.

[2020-02-21 22:28] ekrengel opened #3959 "Permalink for PP uses default org"
The Permalink for the published PP includes the users organization, instead of the organization where the pack was published.

e.g for me the PP is published to `another-org` but the permalink linked `ekrengel`

[2020-02-21 22:30] sfmskywalker commented on #3956
That indeed looks like exactly what I need. Will try it out tomorrow. Thanks!

[2020-02-22 00:27] #3940 closed

[2020-02-22 03:45] rhyek commented on #2522
Any workarounds for this? I was planning to use multiple pulumi projects and during local development (using local pulumi state) I hit this road-block.

[2020-02-22 03:59] JakeGinnivan commented on #2522
We fully qualify our stack names, ie project.env as the stack name. Bit clunky but works fine
________________________________
From: Carlos González <notifications@github.com>
Sent: Saturday, February 22, 2020 11:45:14 AM
To: pulumi/pulumi <pulumi@noreply.github.com>
Cc: Jake Ginnivan <jake@ginnivan.net>; Manual <manual@noreply.github.com>
Subject: Re: [pulumi/pulumi] Project name in stack identit

[2020-02-22 05:56] leezen commented on #3962
You could write a program that executes some code that is conditional on some environment variables or configuration you pass. This would ensure that that is only executed when you want. Be aware that if that code is going to affect the state of resources in your stack, the next time your program runs and it doesn't enter that condition, it will want to delete those resources since they're no long

[2020-02-22 05:56] #3962 closed

[2020-02-22 06:45] leezen commented on #3903
Could you please provide details on what you were trying to do i your pulumi program? Also, does this bug reproduce in the latest version of pulumi?

[2020-02-22 07:10] lukehoban commented on #3903
@JoseAlban Is it possible this happened when you ran `pulumi logs` on a stack that had never been deployed?

[2020-02-22 07:30] lucasproclc opened #3963 "tf2pulumi' is not recognized as an internal or external command"
I am trying out the terraform to pulumi and I am stuck with this.
$ tf2pulumi >my-stack/index.ts  ## I am having problems here - do I go to the "my stack site" to create this index.ts?
I cannot seem to run this.

Usage
In order to use tf2pulumi to convert a Terraform project to Pulumi TypeScript and then deploy it, you'll first need to install the Pulumi CLI. Once the Pulumi CLI has been installed

[2020-02-22 07:34] lukehoban commented on #3963
The command `tf2pulumi >my-stack/index.ts` will generate the contents of the `.ts` file for you (it will pipe stdout of the `tf2pulumi` program to the `./my-stack/index.ts` file).

Feel free to run just `tf2pulumi` first to see the output in your terminal.

[2020-02-22 08:36] leezen commented on #3905
Do you mind providing a small repro program? I wasn't able to reproduce this behavior with a simple program that creates one bucket and then calls listResourceOutputs.

[2020-02-22 13:59] sfmskywalker commented on #3956
I tried it out and it worked a charm! Here's my C# version that creates an Azure Container registry and then a k8s secret that can be used to pull images from said registry:

[code]

I then exported the secret name like so:

[code]

Then from my other Pulumi project, I can simply reference the exported secret name as a Docker pull secret:

[code]

[2020-02-22 13:59] #3956 closed

[2020-02-22 20:29] mikhailshilkov commented on #3956
If you feel it's useful, we always accept donations in terms of PRs to the examples repo

[2020-02-22 21:10] sfmskywalker commented on #3956
That’s a great idea. I think this is mighty useful and will work on a PR.

[2020-02-23 00:00] action opened #3965 "Some log output may be missing when using logtostderr option"
When using the `--logtostderr` option, the stdout and stderr streams are intertwined. It seems as though there is a chance for some messages to get lost when using this option. We can observe this behavior by separating the streams.

Let's take a closer look at how I observed this issue by considering some test code and the results it produces (Note: I truncated the output to what I considered rel

[2020-02-23 16:39] sfmskywalker commented on #3956
Here you go: https://github.com/pulumi/examples/pull/574. Do let me know if there's anything you would like see changed.

[2020-02-23 18:48] remorses opened #3966 "Add backend argument to pulumi cli"
I want to use the pulumi cli in a server, where a request can trigger a deploy, I will keep the pulumi state in different folders in a s3 bucket based on request

The problem is that the state backend (the s3 bucket path) is configured globally with `pulumi login` but I need to specify the bucket for every command invocation because requests can be concurrent

It would be cool to add a `--backend`

[2020-02-23 22:43] joeduffy commented on #2412
Unless I'm mistaken, `pulumi history` doesn't show version numbers. That's a bit unfortunate since, now that `pulumi stack export` can export a specific version's checkpoint (https://github.com/pulumi/pulumi/pull/3906), these two commands should work well in tandem with one another. As it stands, I'm not sure how I'm supposed to get the version number I'm trying to export? /cc @chrsmith

[2020-02-24 16:31] chrsmith commented on #3950
I'll park this PR with me for the time being. This capability is a distraction from the current 2.0 roadmap and feature work, and if we were to wire it through the SDK we'd probably want to think about it for more than ~minutes.

I'll dust off Joe's draft PR and get it checked-in, so we can at least unblock experimenting with this capability using a flag and perhaps `PULUMI_DEBUG` or `PULUMI_EXPER

[2020-02-24 17:46] rawkode commented on #3919
@clstokes  Argh, so frustrating. What about this PR? There was a lot of effort and back n' forth to make this work

https://github.com/pulumi/pulumi/pull/2906

[2020-02-24 19:13] #3857 closed

[2020-02-24 23:16] elsesiy commented on #2820
I'm wondering whether this change will also support the following use case:
1. Generate ssh key pair if there's non in the config already
2. Store key pair in the state encrypted using the stack encryption
3. Upon next run retrieve the config secret, hence don't generate a new key pair

I tried implementing this but it doesn't seem to be very straight-forward at this point. I could always make a d

[2020-02-25 00:09] EvanBoyle commented on #2820
Have you taken a look at our documentation for secrets and config? https://www.pulumi.com/docs/intro/concepts/config/#secrets

Secrets are encrypted and stored in the pulumi.<stack>.yaml file. As far as I'm aware there isn't a runtime api equivalent for the CLI `pulumi config set --secret` so you'd need to shell out to update the stack's config during a run.

I believe that the other option that y

[2020-02-25 00:18] elsesiy commented on #2820
@EvanBoyle Yes I did and it mentions the following:
[code]
This is in fact not true then but why is there no runtime API?
Sure shelling out would work too but I was looking for a pulumi native way of dealing with this if possible :)

[2020-02-25 00:32] EvanBoyle commented on #2820
Definitely agree with you here.

Have you looked into using the TLS provider? https://www.pulumi.com/docs/intro/cloud-providers/tls/

You'd need to make sure you use `additionalSecretOutputs` to ensure that the results are properly wrapped in secrets.

[2020-02-25 00:38] elsesiy commented on #2820
Thanks for being so responsive, very helpful!
Doesn't seem to fit my SSH key pair use case, am I mistaken?
For `additionalSecretOutputs` I need to wait for #3938.

[2020-02-25 00:47] EvanBoyle commented on #2820
Yes you do need to wait for #3938

That provider is a wrapper over https://www.terraform.io/docs/providers/tls/r/private_key.html

You should be able to use it to create an ssh key pair: https://stackoverflow.com/questions/49743220/how-do-i-create-an-ssh-key-in-terraform/49792833

[2020-02-25 00:51] elsesiy commented on #2820
I'll look into it, thanks!

[2020-02-25 12:57] Panaetius commented on #2852
Something along the lines of `pulumi.export(output, print=False)` or `pulumi.export(output, truncated=100)` in the python sdk would be great, I'm not familiar enough with the other SDKs to know how well that'd map to those, though.

[2020-02-25 14:14] Panaetius opened #3972 "Permit dependsOn on Outputs (In Python)"
https://github.com/pulumi/pulumi/issues/991 fixed this in the typescript sdk, but https://github.com/pulumi/pulumi/blob/master/sdk/python/lib/pulumi/resource.py#L438 in the python sdk only accepts type `Resource`.

[2020-02-25 16:05] lukehoban opened #3973 "1.11.1 release"
- [x] language SDKs and CLI
- [x] homebrew
- [x] dockerhub
- [x] docs and marked as latest-version
- [x] Chocolatey

[2020-02-25 17:38] #3958 closed

[2020-02-25 19:02] lukehoban commented on #3693
This is done now in the `2.0` branches.

[2020-02-25 19:02] #3693 closed

[2020-02-25 19:07] lukehoban commented on #3279
I believe this is likely fixed with  #3850.  If anyone still sees issues like this - please do open a new issue.

[2020-02-25 19:07] #3279 closed

[2020-02-25 20:16] lblackstone opened #3976 "Read doesn't seem to honor additionalSecretOutputs"
I tried setting the `additionalSecretOutputs` option on a `get` method, but it does not seem to be marking the selected output as secret.

To reproduce, run the following on a Kubernetes cluster:
[code]

Then, run the following program:
[code]

The exported variable is not marked secret/encrypted.
[code]
---

This works as expected for resource creation:
[code]
[code]

[2020-02-26 00:03] jen20 commented on #3817
Discussion of this in chat: https://pulumi.slack.com/archives/CSXMWB5GD/p1582672663009200

[2020-02-26 00:14] leezen commented on #2535
I'm going to close this for now. Please re-open if you're still seeing this type of behavior.

[2020-02-26 00:14] #2535 closed

[2020-02-26 00:44] leezen commented on #2660
You'll want to use StackReferences: https://www.pulumi.com/docs/intro/concepts/organizing-stacks-projects/#inter-stack-dependencies

Please re-open if that doesn't help you get you where you need.

[2020-02-26 00:44] #2660 closed

[2020-02-26 01:05] leezen commented on #2740
I'm not able to reproduce this issue. Please re-open if you're still having trouble. Thanks!

[2020-02-26 01:05] #2740 closed

[2020-02-26 01:11] lukehoban commented on #3671
A few more observations looking at some detailed logs of the initialization sequence:
- On first ever update of a stack, we `Configure` the AWS provider once for preview and once for update. On every future update, we `Configure` the AWS provider twice for preview and once for update (!).
- During the `Configure` for AWS we hit the EC2 metadata endpoint twice (once due to our own `PreConfigureCall

[2020-02-26 01:24] pgavlin commented on #3671
Do you have a trace for this?

[2020-02-26 01:45] #2820 closed

[2020-02-26 16:15] ringods commented on #3586
A first stable version of Yarn 2 has been announced on 24 January 2020:

https://dev.to/arcanis/introducing-yarn-2-4eh1

One of the biggest changes is that [Plug'n'Play](https://yarnpkg.com/features/pnp) is enabled by default. You can expect that more and more people will start using it. I just tried it too, only to see it failing and eventually find this GH issue.

Looking at the [Migration Guide

[2020-02-26 17:04] lukehoban opened #13520 "Improve GoDocs"
Our GoDocs have a few issues:
- [x] Lots of `nolint: lll`
- [x] Markdown formatting not rendered looks a little awkward
- [ ] Sub-packages don't have any package level comments at all
- [ ] Most types/functions have no doc comments at all

See for example https://godoc.org/github.com/pulumi/pulumi-aws/sdk/go/aws.

[2020-02-26 17:06] ringods commented on #3586
Looking at the NodeJS shim, I see some functionality assuming there is a `node_modules` folder.

https://github.com/pulumi/pulumi/blob/930adc05047dfe5c3412799fa05c00cd6acd0183/sdk/nodejs/cmd/pulumi-language-nodejs/main.go

This will make it a bit harder to get Yarn 2 support in I guess. 😕

[2020-02-26 17:18] ringods commented on #3586
For the people who already want to use the other nice features of Yarn 2, but don't be locked out due to PnP, you can still disable it. I found how to disable it in [this StackOverflow answer](https://stackoverflow.com/a/60043794):

`.yarnrc.yml`:
[code]

[2020-02-26 17:45] #3959 closed

[2020-02-26 18:28] clstokes opened #3979 "Provider aliases aren't working"
If I use an explicit provider (e.g. `aws.Provder()`) and then change its name it leads to all resources that use it being replaced. I tried to use `aliases` to prevent this, but aliasing the provider seems to have no effect and all resources still get replaced.

I've reproduced this across TypeScript and Go with Pulumi.

#### Version Info

[code]

#### Steps to Reproduce

1. `up` the code below
1.

[2020-02-26 19:23] lukehoban opened #3981 "No module named 'google.protobuf.pyext._message'"
It looks like https://github.com/pulumi/pulumi/pull/3895 may have introduced a regression in `1.11.0` for some Python use cases.

A user reports seeing this:
![01782FF1-D292-460A-9ACD-4455C2591AE1](https://user-images.githubusercontent.com/223467/75379501-57345500-588a-11ea-8ffc-2d11f076b064.png)

With this:

![image (11)](https://user-images.githubusercontent.com/223467/75379504-57cceb80-588a-11e

[2020-02-26 19:59] clstokes opened #3982 "Last Go Printf output missing if no newline"
#### Problem

It seems that if the last `fmt.Printf("")` in my Go pulumi application does not end with a newline, it's output never gets printed/flushed to the user's terminal.

#### Suggestion

Print all console output.

#### Steps to reproduce

1. `preview` the code below

#### Code to reproduce

[code]

#### Output from the code above

[code]

[2020-02-26 20:43] remorses commented on #3966
I will place everything on the same project

[2020-02-26 20:43] #3966 closed

[2020-02-26 21:01] lblackstone commented on #3981
I was able to reproduce the error on a Windows VM, but not on Mac.

[2020-02-26 21:23] lblackstone commented on #3981
It appears that https://github.com/pulumi/pulumi-kubernetes/issues/984 does not affect Windows, so I should be able to conditionally include this import only on other OS's.

Confirmed that things were working as expected with `pulumi-kubernetes==1.5.4` (which uses `pulumi==1.10.0`)

[2020-02-26 21:57] joeduffy opened #3985 "Don't mark policy and watch commands as experimental"
We decided to stop guarding `policy` and `watch` commands using the experimental flag (see [here](https://github.com/pulumi/pulumi/blob/8a0987c892e86706bd3affb6eb934aa084a85c09/cmd/pulumi.go#L200)). Instead, we should show them and just clearly mark them in the UI as "experimental."

For example:

[code]

The rationale here is to drive usage and solicit more feedback, rather than hiding them.

I a

[2020-02-26 22:00] justinvp commented on #3985
I plan to take care of this for PaC this milestone: https://github.com/pulumi/pulumi-policy/issues/196

[2020-02-26 22:17] joeduffy commented on #3985
Ah great, feel free to dupe. Didn't think to look in that repo as this is a CLI thing, not the pulumi-policy package. Can you do it for `watch` while you're there?

[2020-02-26 23:08] #3981 closed

[2020-02-27 02:02] lukehoban commented on #3966
Just a note that this is very related to what’s tracked in https://github.com/pulumi/pulumi/issues/3747, and we definitely plan to improve support for this - effectively moving the backend to be tracked as part of the stack.

[2020-02-27 06:03] leezen commented on #3233
I think there's probably some ways to get stdin to work with a Pulumi program, but in general, I would not recommend trying to do so. The CLI is already running in an environment where a lot of the i/o is being managed in various ways and trying to inject more into that environment seems awkward. If the goal is to get user input into the program while running the program, it probably makes more se

[2020-02-27 06:49] leezen commented on #3262
Are you still running into this issue?

[2020-02-27 07:01] leezen commented on #3540
I can see why you might want to catch an exception for not being able to instantiate the StackReference, but I also don't think this is how you actually want to go about what you're trying to do. Can you please explain why you need to get a previous output as part of doing your deployment? I'd like to better understand your use-case.

[2020-02-27 07:02] leezen commented on #3626
Are you still seeing this and if so, could you please provide a repro?

[2020-02-27 07:04] leezen commented on #3634
This looks like a client error on your end as you said, so closing.

[2020-02-27 07:04] #3634 closed

[2020-02-27 07:14] leezen commented on #3669
You don't need to have the entire application in index.ts. Could you please describe your setup more? In general, we should be packaging up the dependencies as part of the lambda function as described at https://www.pulumi.com/docs/tutorials/aws/serializing-functions/#determining-the-appropriate-node-modules-packages-to-include-with-a-lambda

[2020-02-27 07:16] leezen commented on #3697
Not currently. I'm going to close this as a dupe of the issue you mentioned.

[2020-02-27 07:16] #3697 closed

[2020-02-27 07:23] leezen commented on #3709
You can certainly tag your resources using Pulumi (usually by specifying the `tags` attribute in the resource) and then use AWS's [cost allocation tags](https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html) to see where your costs are coming from.

[2020-02-27 07:23] #3709 closed

[2020-02-27 07:26] leezen commented on #3929
Related: https://github.com/pulumi/pulumi/issues/1064

[2020-02-27 15:32] justinvp commented on #3985
I'll keep this issue and dupe the other. I'll take care of `watch` as well.

[2020-02-27 15:49] Panaetius opened #3987 "Pulumi CPU/Memory issue."
Working on this PR to migrate to pulumi https://github.com/SwissDataScienceCenter/renku/pull/733 I noticed that sometimes, if deployment of some resource fails or pulumi has to wait a while for resources to come up, at some point CPU and memory usage will suddenly spike to 100% for around 2-3 minutes (locking up my computer), recovering after that and showing the failure message as expected, e.g.

[2020-02-27 16:03] astronouth7303 commented on #3262
I haven't touched this code in a while.

[2020-02-27 17:21] #3262 closed

[2020-02-27 17:49] SpainTrain opened #3989 "[CLI] Configure to use organization by default"
## Problem

Currently, running a command like `pulumi new` creates the project and stack in one's personal Pulumi account.  All of my projects and stacks are in our Pulumi organization, so this creates some overhead moving stacks into the organization manually.

**EDIT**

[code]

is possible, and solves the problem.  However, this does still require remembering to add the flag every time, even if

[2020-02-27 18:17] elsesiy commented on #2820
@EvanBoyle I'm able to use `additionalSecretOutputs` for all resources but custom `ComponentResource`s. Specifiying the resource option on the individual resource within the custom resource or when instantiating the custom resource both doesn't work. Any idea how to get this to work?

Example:
[code]

What am I doing wrong?

[2020-02-27 18:32] leezen opened #3991 ".NET programs do not wait for un-awaited async work (including applies) to complete"
Minimal repro:
[code]

## Languages

- [x] python - https://github.com/pulumi/pulumi/pull/6606
- [ ] dotnet
- [x] go

[2020-02-27 20:56] clstokes opened #3993 "Resources summary is omitted if Pulumi app produces console output"
#### Problem

If my Pulumi application produces console output (e.g. `console.log()`), the `Resources` summary doesn't get output as well.

#### Suggestion

Always print the `Resources` summary.

#### Steps to reproduce

1. `preview` the code below
1. uncomment the `console.log` line
1. `preview` again - observe `Resources` is missing.

#### Code to reproduce

[code]

#### Output

[code]

[2020-02-27 22:14] lukehoban commented on #3780
Today, there is no way to do this.   The resource name must be known immediately to be sure that resource identity lines up.

Note that in your example above, you can keep `name: ...` as is - you just need to change `new pg.Role(<name>)`.  The latter is just the logical resource name within this stack - and so shouldn't *need* to be dependent on any output.

I'm going to close this issue out since

[2020-02-27 22:14] #3780 closed

[2020-02-27 22:25] leezen commented on #3991
Even more minimal:
[code]

I chatted with @lukehoban about this and I guess this is due to the way we decide when we can exit in Python. Right now, it seems like we're just waiting on the RPC calls and waiting for `len(RPC_MANAGER.rpcs) == 0` -- so we don't track anything that doesn't generate an RPC call. One thing I think we could do is at least track all futures that _we_ create. For example, i

[2020-02-27 22:52] joeduffy commented on #3993
Wow, I've noticed this strange behavior while demoing, and it seemed vaguely inconsistent to me, but I never realized it was console logging that was the difference... Good find! 🕵

[2020-02-27 23:10] justinvp commented on #3989
It is possible to do this today with:

[code]

[2020-02-27 23:14] clstokes opened #3994 "Ambiguous error from Pulumi application when module is missing"
If I import a new module to my Go Pulumi application and then `pulumi preview` without first running `dep ensure`, I get an ambiguous error message that doesn't indicate that my missing module is the actual error.

#### Steps to reproduce

1. `dep ensure` then `pulumi preview` the code below
1. uncomment the S3 bucket lines
1. `pulumi preview` - observe error

#### Code to reproduce

[code]

####

[2020-02-27 23:38] praneetloke opened #4269 "Generate Kuberenetes docs based on the schema-based docs generation process"
(Previous notes from Justin)
  * My understanding is we will be able to generate a Pulumi schema for the Kubernetes provider (https://github.com/pulumi/pulumi-kubernetes/issues/70), so we should be able to generate docs from that.
  * Will need to spend a little time enabling this and hooking it up into the doc gen scripts, etc.

----
- [x] Normalize the module names
- [x] Merge multiple versions

[2020-02-27 23:49] praneetloke opened #4003 "Add enum support to the schema and code generators"
This issue tracks enum support in the schema, codegen, sdk and docs.

* [x] Support enums in the pulumi schema.
* [x] [codegen/nodejs] Add typescript support for enums. #5433
* [x] [codegen/nodejs] Translate enum output properties. #5598
* [x] [sdk/nodejs] Add support for enums.  #5600
* [x] [codegen/dotnet] Add C# support for enums. #5434
* [x] [sdk/dotnet] Add support for enums. #5601
* [x] [cod

[2020-02-28 00:10] praneetloke opened #3995 "Complete implementation of new schema-based docs generator"
Related to #2664.

The work done so far supports generating docs for the NodeJS SDK for any given provider. We need to fix-up the implementation to do the generation for all language SDKs.

Some of the remaining work entails the following tasks:
* [ ] Use Go's templating package instead of inline markdown
* [ ] Declarations in each language
	* Call into individual language generators to generate t

[2020-02-28 01:03] clstokes opened #3997 "config.Get silently converts object to string"
#### Problem

If I mistakenly use `config.Get()` to get a configuration value that's actually a list, the value is returned as a string without a warning or error to the user.

~~TypeScript handles this better by throwing an error, but the error message could likely be improved to mention the type issue. See https://gist.github.com/clstokes/e90c0ebf77a89663f934726f3209e09e for code and output.~~

[2020-02-28 01:05] logicbomb421 opened #3998 "Expected diff to not require deletion or replacement during Update"
I am attempting to import a GKE cluster. Importing the cluster and node pools succeeds, however, when I remove the import IDs and rerun `up`, the following error is thrown:

[code]

Oddly this is something I have done before without issue. I even force removed the stack and re-imported, as well as trying a state refresh. Both were unsuccessful.

Please let me know if more information is needed.

-

[2020-02-28 02:03] lukehoban commented on #3997
I don’t think that’s true. All languages should behave the same way here - and that behavior is, at least until a significant overhaul of and breaking change to, config - by design.

The error you are seeing in the linked TS example seems to be about missing required config entirely. Note that the error is coming from the `requireObject` not the `require`.

[2020-02-28 04:29] #3973 closed

[2020-02-28 05:16] leezen commented on #3998
Was there a diff details provided as well when you ran this? If so, could you please provide it?

[2020-02-28 14:01] likexian opened #4000 "Request of adding TencentCloud to cloud providers list"
Hello, would Pulumi add TencentCloud to the cloud providers list?

TencentCloud website: https://intl.cloud.tencent.com/
Terraform plugin: https://github.com/terraform-providers/terraform-provider-tencentcloud

Any other informations I am glad to make addition.

[2020-02-28 14:44] Offtree commented on #2619
Running into issues with this while trying to work with a monorepo maintained using [@nrwm/nx](https://github.com/nrwl/nx).

App Structure
[code]

Running `pulumi up -C ./apps/api/foo-bar-svc` returns an error when using inline functions for lambdas.

Example:
[code]
Ouput:
[code]

I can work around this by not using inline lambdas for now though, but that means missing out on a lot of the goodnes

[2020-02-28 16:17] clstokes commented on #3997
You're right, the config was missing. 🤦‍♂

Closing this as "by design".

[2020-02-28 16:17] #3997 closed

[2020-02-28 16:20] boillodmanuel commented on #3540
Hello,

My use case is :
- create a VM (azure)
   - with a new disk if this is the first deployment
   - reusing the previous disk for next deployments

My idea was to save the disk id in the pulumi stack outputs and retrieve it dynamically afterwards.
But I encounter several issues (as far as I remember):
- the stack reference fails if the stack has not been deployed (my workaround was to use a c

[2020-02-28 16:21] boillodmanuel commented on #3540
Feel free to close this issue if you want

[2020-02-28 16:57] leezen commented on #3540
I think I might be missing something. What you're describing should just happen automatically without having to use stack references to the stack itself. For example, if you have a VM ("my-vm") and a volume ("my-vol") attached to it, which are created as part of the first deployment. And your second deployment has a new VM ("new-vm") but still uses "my-vol" -- pulumi shouldn't attempt to create a

[2020-02-28 17:13] boillodmanuel commented on #3540
Indeed, I omit some parts to simplify ;)

After first deployment, I have :
- `vm1` attached to `disk1`

I (Azure) can't create a second `vm2` attached to the same disk while the first `vm1` exists.
So, the idea was to create a new `vm2` attached to a new `disk2` which is copied from `disk1`

In the pulumi project, only the `vm2` and `disk2` resources are present because previous resources should b

[2020-02-28 17:36] chrsmith opened #4002 "Pulumi hangs when given bogus --cwd argument"
Passing the `--cwd` argument to a relative folder that does not exist appears to just hang. (At least on v1.11.1 on macOS.)

[code]

[2020-02-28 17:48] logicbomb421 commented on #3998
@leezen there was indeed:

[code]

The actual program provides these args based on whether or not we're importing the resource (I ran into issues when not setting these to `undefined` during imports):
[code]
I have previously imported several clusters successfully in this way. I was testing something in isolation before performing the import on our production cluster, and this issue popped up.

[2020-02-28 18:00] solidDoWant commented on #2877
FWIW I'm running into the exact same issue on a number of AWS resources. Take VPC endpoints for example. If I make a change the forces a delete/create (not a replace), such as changing the resource name, if I don't destroy the resource via code and then add the 'new' resource, the deployment will fail due to a private DNS zone name collision.
This isn't the only place it shows up, just the first o

[2020-02-28 18:10] logicbomb421 commented on #3998
More info: Just created a second test cluster, imported it into a new Pulumi stack, and then attempted `up` again after removing the import IDs and got the same issue.

[2020-02-28 18:19] leezen commented on #3998
Interesting. This would suggest that somehow as part of import, we're not pulling in those two values. As a temporary workaround, you could try doing a `pulumi refresh --target <urn>` for the imported cluster resource. Then, your statefile will now include those two missing attributes. Hopefully that lets you make forward progress. I'll keep this issue open as a bug.

[2020-02-28 18:27] leezen commented on #3540
I think one option could be to use dynamic provisioners for this. I'm not as familiar with Azure, but assuming the process would be similar to AWS, you could have the dynamic provisioner unmount the disk upon instance deletion and re-attach it as part of instance creation with a provisioner depending on the instance resource. Here's the documentation for using dynamic provisioners: https://www.pul

[2020-02-28 18:56] logicbomb421 commented on #3998
@leezen thank you for the suggestion, however it does not appear to have gotten me past this issue.

I ran the following:
[code]

which resulted in:
[code]

Then once complete, I re-ran `pulumi up` with the same error message.

I also tried the same steps inside a docker container running `pulumi/pulumi:latest` in order to rule out something local to my machine, however the same issue persisted.

[2020-02-28 19:10] logicbomb421 commented on #3998
More info: Just had a colleague check out my branch and reinitialize everything from scratch on his laptop (all versions are the same) and he is also receiving this error.

[2020-02-28 19:49] lukehoban commented on #2820
@elsesiy Here's what I did - and it worked - not sure exactly what you had tried that hadn't worked?

[code]

[code]

[code]

Resulting stack output (note that the generated password is encrypted in the state file in both places it appears - as an output of RandomPassword and as a stack export):

[code]

[2020-02-28 19:51] leezen commented on #3998
Ah... I just realized I read the diff in the wrong direction. Those are new values it's trying to apply to the cluster (not the other way around). Does it crash if you do a targeted up for just the cluster?

[2020-02-28 20:48] #3945 closed

[2020-02-28 20:57] logicbomb421 commented on #3998
Unfortunately it does still crash when targeting just the cluster:

[code]
The above produces the same diff:
[code]

[2020-02-29 01:54] lukehoban commented on #3671
When this issue was opened - performance was *significantly* better than it is currently.  Today - even in the most trivial Pulumi Typescript program - about 4.5s of startup time is reliably spent compiling the user program.

It turns out that's due to https://github.com/pulumi/pulumi/pull/3627 which upgraded our `ts-node` version (coincidentally - merged the day after this issue was opened).  The

[2020-02-29 20:40] sfmskywalker opened #4006 "Pulumi.ResourceException: The system cannot find the file specified - Helm Chart - .NET SDK"
When I try to apply a Helm chart like so:

[code]
, I get the following error:

[code]

My fork of the samples repo contains a repro:

https://github.com/sfmskywalker/examples/commit/63b5af0d29baa219eb067ed57a872845879dcc23

[2020-02-29 20:52] sfmskywalker commented on #4006
Interestingly enough, I get a different error when I start a brand new Pulumi project and add a Chart:

[code]

Project with repro: https://github.com/sfmskywalker/pulumi-helm-issue-repro

[2020-03-01 11:59] nguyenxndaidev commented on #2522
For local development with local pulumi state, I organize my projects follow [Inter-Stack Dependencies](https://www.pulumi.com/docs/intro/concepts/organizing-stacks-projects/#inter-stack-dependencies).

For all related projects, I configure `Pulumi.yaml` to point to the same `.pulumi` directory.

For example:
[code]
This will use the `.pulumi` directory in the parent directory.

Then for each stac

[2020-03-01 22:05] lukehoban commented on #3765
@LouisAmon I have tried several things - but have not been able to reproduce this.  Do you have a self-contained repro - even just a project folder you could zip up along with its` venv`?  I'm going to close as no-repro for now - but if you or anyone else does still see this - please do let us know and we'll reopen.

[2020-03-02 03:44] leezen commented on #3944
I was able to create a secret via the call you provided above. Are you logged in via `gcloud auth application-default login` per https://www.pulumi.com/docs/intro/cloud-providers/gcp/setup/ or are you using some other method? Is `gcp:project` set in your stack config?

[2020-03-02 04:16] #3866 closed

[2020-03-02 04:21] leezen commented on #3815
@clstokes Sorry for the super delayed reply -- not sure how this slipped my filters. This went out with 1.11.0. Though, I actually introduced a regression that prevents using the workaround you have above, which is fixed in 1.11.1.

[2020-03-02 04:21] #3815 closed

[2020-03-02 09:55] LouisAmon commented on #3765
Fair enough.

I don't have time to come up with a nice example right now but just FYI : the issue is still here.

[code]

Then I obtain the output:
[code]

(Visual Studio Code does it natively too)

My solution is to put `zone_id=zone` instead of `zone_id=zone.id`, but that'd still a hack

[2020-03-02 13:54] solidDoWant opened #4009 "Python log.debug always outputs regardless of log level when inside a resource"
Whenever `log.debug` is used inside a child of Resource (i.e. dynamic provider resources or component resources) it will output regardless of log level. This is not true for statements outside of Resources.

Example code:
[code]

And output:
[code]

[2020-03-02 15:24] solidDoWant commented on #4009
I've tested this with both 1.9.1 and 1.11.1.

[2020-03-02 16:29] squarebracket commented on #3905
What versions were you using?

[2020-03-02 17:08] chrsmith commented on #2412
Yes. We should add it to the `pulumi history` command, and probably print it on `pulumi stack` too, with the other Pulumi Console-specific metadata.

[2020-03-02 19:03] lukehoban commented on #3671
The changes in #4004 and #4007 have reduced the time for a `pulumi up --yes` in steady state (no changes) on a the default AWS template (single S3 bucket) by >50%.

Run | Before | After
-- | -- | --
1 | 18.715 | 8.13
2 | 21.911 | 8.901
3 | 17.836 | 7.791
4 | 19.405 | 7.549
5 | 17.19 | 9.158
6 | 18.355 | 8.991
7 | 17.071 | 8.839
8 | 16.028 | 9.261
9 | 17.205 | 7.247
10 | 17.699 | 8.949
Average | 18

[2020-03-02 21:59] #3490 closed

[2020-03-02 22:23] #3985 closed

[2020-03-03 00:14] jkisk commented on #3924
This has been resolved with updates to pulumi-policy.

[2020-03-03 00:14] #3924 closed

[2020-03-03 08:30] geekflyer opened #4012 "Expose stack tags to pulumi runtime"
Pulumi collects a bunch of tags and stores them in snapshots. It would be nice if the pulumi runtime would expose these tags so that we can reuse the metadata use it for things such as docker tags or kubernetes annotations. One such example is the gitSha1 which is generally useful for a variety of purposes.

A solution could look like this:
`pulumi.runtime.getTag('git.sha1')` .

It seems like ther

[2020-03-03 12:38] andreasnauta opened #4013 "Creating an Azure C# project with the name "Pulumi" causes a Cycle Error"
Steps to reproduce:

1. Type `pulumi new`
2. Select `azure-csharp`
3. Type `Pulumi` as the project name.
4. Select default values.

Then you get  "error NU1108: Cycle detected."

![Pulumi](https://user-images.githubusercontent.com/8932820/75776292-02924d80-5d54-11ea-927c-8773e21fe99c.jpg)

[2020-03-03 13:18] mikhailshilkov commented on #4013
Thanks for reporting this. We should probably prevent people from using project names `Pulumi` and `Pulumi.<Something>`.

[2020-03-03 16:11] clstokes opened #4014 "--latest flag for `pulumi policy enable` doesn't work"
If I try to use the `--latest` flag for `pulumi policy enable` added in https://github.com/pulumi/pulumi/pull/3784, I get the error `An error occurred: unknown flag: --latest`.

#### Output

[code]

[2020-03-03 16:59] squarebracket commented on #3905
You're right -- it seems that small programs don't suffer from this problem. But at some point, it starts happening.

I just hit the problem on another program. I've had it there since I started programming to see when it would happen. Unfortunately, it seems to only happen when trying to create an actual resource; I never hit the error when previewing the resources. I can give you the stack/updat

[2020-03-03 18:55] leezen commented on #3905
I'd be happy to take a look at the stack/program. Can you find me on the [community Slack](https://slack.pulumi.com) and we can exchange files that way?

Regarding the line correspondence -- I don't think I've run into that before, so not sure what that's about.

[2020-03-03 19:16] yohanb commented on #3061
Bump!  This is a great feature to clean up imports.

[2020-03-03 20:28] kevink commented on #3989
Would it make any sense to put the target org and stackname in the pulumi.yml like the way we can config the default aws region?

[2020-03-04 04:32] #3084 closed

[2020-03-04 06:36] leezen commented on #3905
This appears to be an issue with synchronous invokes, which has been problematic in the past (see https://github.com/pulumi/pulumi/issues/3528). You can try running this with async invokes, which worked for me (`pulumi config set pulumi:noSyncCalls true`)

[2020-03-04 07:49] ringods commented on #3989
I raised #3747 a while back regarding working against multiple backends. Maybe add this ticket to the `Related Issues` in the description of this issue.

[2020-03-04 17:04] leezen commented on #3998
As an update, still looking into this.

Some notes -- I was able to reproduce this by:

1. Creating a GKE cluster in GCP with all default settings.
1. Importing that cluster via:
[code]
1. I'm not able to reproduce removing just the imports and having `pulumi up` fail.
1. However, changing the cluster, e.g. adding `nodeVersion` arg to the cluster config in the above program and attempt `pulumi up`

[2020-03-04 22:40] joeduffy opened #4017 "Exporting a default function doesn't run in Node.js"
In https://github.com/pulumi/pulumi/pull/3321, we added the ability to export a top-level function and have Pulumi run it, helping to make the lack of top-level awaits a little less painful.

Based on [that discussion](https://github.com/pulumi/pulumi/pull/3321#issuecomment-540828258), and my own expectations around how ES6 modules work, I expected to be able to use `default` exports. But that doe

[2020-03-05 01:03] leezen commented on #3998
It turns out that on import, we import both `clusterIpv4Cidr` and `ipAllocationPolicy` but the provider only expects one of these properties. There's a bug where the underlying diff doesn't show the fact that  `ipAllocationPolicy` is going to be changed (due to the conflict), which results in the desire to replace the resource. We're still digging into the bug, but as an immediate workaround, you

[2020-03-05 01:10] damianh commented on #3901
Thanks for creating this issue! I wrote the below in slack; I think we are on the same page!

There was also a couple of other comments

Anyway,  just thought it would be interesting to share

[2020-03-05 01:22] leezen opened #4019 "Investigate import bug where conflicting attributes are imported"
It turns out that on import, we import both `clusterIpv4Cidr` and `ipAllocationPolicy` but the provider only expects one of these properties. There's a bug where the underlying diff doesn't show the fact that  `ipAllocationPolicy` is going to be changed (due to the conflict), which results in the desire to replace the resource. We're still digging into the bug, but as an immediate workaround, you

[2020-03-05 01:24] leezen opened #4020 "Investigate bug where the diff did not display replacements"
See https://github.com/pulumi/pulumi/issues/3998

[2020-03-05 01:29] lukehoban opened #4021 "1.12 release"
- [x] language SDKs and CLI
- [x] homebrew
- [x] dockerhub
- [x] docs and marked as latest-version (https://github.com/pulumi/docs/pull/2594)
- [x] Chocolatey

[2020-03-05 01:54] lukehoban commented on #4017
What JavaScript gets generated for the latter?

[2020-03-05 10:57] stack72 commented on #3816
This is closed via #4005

[2020-03-05 10:57] #3816 closed

[2020-03-05 13:14] boillodmanuel commented on #3540
Thanks for pointing dynamic provider out. It's very interesting.
I'll close this issue as I don't need that feature anymore.

[2020-03-05 13:14] #3540 closed

[2020-03-05 14:52] mikhailshilkov commented on #4006
@sfmskywalker Thanks for reporting this and the repro! I was able to reproduce your second error and fix it, so I got that Helm chart working locally

[code]

Watch for a release after #4023 is merged.

[2020-03-05 15:41] #4006 closed

[2020-03-05 15:54] sfmskywalker commented on #4006
Sweet! :)

[2020-03-05 16:15] #4021 closed

[2020-03-05 16:22] #4013 closed

[2020-03-05 16:53] clstokes commented on #3901
Related to https://github.com/pulumi/pulumi/issues/2506.

[2020-03-05 17:49] stack72 commented on #3944
Folks, this 100% works - I have just tested this (due to writing a blog post about it) and followed the following steps:

1. create new project (pulumi new gcp-python)

2. gcloud auth login

3. wrote the code below

[code]

4. `pulumi config set my-secret Password1234!`

5. `pulumi up`

[code]

[2020-03-05 18:55] leezen commented on #3944
Thanks double-checking @stack72
Closing this for now since we haven't heard back from the issue creator

[2020-03-05 18:55] #3944 closed

[2020-03-05 20:00] praneetloke opened #4024 "Complete the docs generator for Functions"
Related to https://github.com/pulumi/docs/issues/2264.

These were previously known as "Data Sources". In the previous milestone, a new codegen for "docs" was implemented under `pkg/codegen/docs`, which uses the Pulumi schema to generate the markdown files used by our docs site. The "Functions" part was left as a TODO.

[2020-03-05 20:05] praneetloke opened #4025 "Update the docs codegen to inject correct examples"
* [x] Inject the correct examples instead of the hard-coded ones used in the prototype (blocked by https://github.com/pulumi/pulumi-terraform-bridge/issues/122)
* [ ] How do we handle rendering of Comment for each language?
    i.e. if the “comment” for a resource’s property contains symbols, how do we “fix-up” the symbol to have the correct casing for the specified language?

Blocked by https://g

[2020-03-05 21:09] lallea commented on #3944
Thanks for looking at it. It failed for me in a stack where other GCP operations succeeded, so something was weird.

I haven't had time to make a smaller reproduction yet. I'll reopen if I manage to reproduce.

[2020-03-05 21:39] stack72 commented on #3944
Thanks @lallea for sure ping me here if it continues to be a problem

[2020-03-05 21:54] EvanBoyle opened #4026 "panic: reflect: Elem of invalid type"
Panic in the marshaling code in the go SDK.

[code]
    panic: reflect: Elem of invalid type
    goroutine 14 [running]:
    reflect.(*rtype).Elem(0x1b41760, 0xc00018d420, 0x199)
    	/usr/local/Cellar/go/1.13.8/libexec/src/reflect/type.go:920 +0x143
    github.com/pulumi/pulumi/sdk/go/pulumi.marshalInputAndDetermineSecret(0x1ae4080, 0xc00018d420, 0x1d4c3a0, 0x1b41760, 0xc00011b501, 0x10903f2, 0x1

[2020-03-05 23:55] leezen opened #4028 "Users report seeing odd error messages about "Method handler getSchema for /pulumirpc.ResourceProvider/GetSchema expected but not provided""
Example: https://travis-ci.com/pulumi/examples/jobs/294066108#L3613

[2020-03-06 00:11] justinvp commented on #4028
Pretty sure this happens when the method is missing from dynamic providers.

[2020-03-06 00:27] leezen commented on #3998
@logicbomb421 Please re-open if the above workaround doesn't help. I have separate tracking issues for the actual bug encountered.

[2020-03-06 00:27] #3998 closed

[2020-03-06 06:07] geekflyer opened #4029 "skip signed url creation"
This request may be somewhat specific to using GCS as state backend.

Currently when running any pulumi command locally with normal user / gcloud credentials, every operation starts and ends with this message:
[code]

This is an inherent limitation in GCS due to GCP only being able to create signed urls using a service account, but not using personal credentials.
However using a service account lo

[2020-03-06 18:34] chrsmith commented on #4012
This is a great suggestion @geekflyer , we definitely should add something like this. But there are two ways the git SHA is passed around, and perhaps both would make sense to access at runtime. (Perhaps via a "Pulumi Console Provider" type of abstraction or something?)

The first is Stack _tags_. These are key/value pairs that can be attached to a Stack that are _independent_ of the current updat

[2020-03-06 18:37] geekflyer commented on #4012
Actually on that note: Is it possible to augment `update metadata` in code or some other means? I'd like to add some metadata about the environment from which pulumi was invoked and by whom.

[2020-03-06 19:01] #4026 closed

[2020-03-06 20:09] clstokes opened #4031 "Allow concurrent policy pack execution on same machine"
If multiple `pulumi previews` happen in parallel on the same machine, and have policy packs enabled from the Pulumi Console, then a race condition can occur with the `npm install` that occurs in the pack and cause some of the previews to fail with `Cannot find module '@pulumi/pulumi/cmd/run-policy-pack'`.

We should ensure that multiple `pulumi previews` can occur in parallel on the same machine w

[2020-03-06 23:00] timmyers opened #4032 "Failure previewing a subset of stack's tree."
Attempting to `preview` (and then `apply`) a subset of a stacks tree is resulting in an error.

For a stack that looks something like:
[code]

Trying `pulumi preview -t urn:pulumi:istio-operator::infrastructure::infrastructure:k8s-istio-operator::web-dev` results in this error
[code]
Adding `--target-dependents` results in the same error.

[code]