[2022-03-01 02:13] iwahbe commented on #9071
The dependency relationship looks like this. I'm concerned that we special case both `provider` relationships and `parent` relationships. If we block on `provider` resolving, maybe we prevent `cluster` from resolving.
[code]

[2022-03-01 02:25] AaronFriel commented on #9055
We're still testing the 3.25.1 release to make sure it makes our quality standards, aka: making sure all integration tests are green. We're seeing a possible flake on Windows tests and bisecting. Keeping this ticket open as #9067 is merged but not yet released.

[2022-03-01 03:26] ghostsquad commented on #5958
I'm also having a similar issue:

Before trying to import

[code]

[code]

[code]

@raphaelauv can you spot the problem?

[2022-03-01 03:57] ghostsquad commented on #5958
I had to `create` the component, which also ended up wanting to create the components sub resources as well.

[code]

I'm kind of confused why it even _tried_ creating the `teamMembers` resource, as that depends on the `team` being created:

[code]

It seems as though a component must initialized in state before sub resources can be imported "within" it.

Creating _just_ the component though appea

[2022-03-01 16:01] Dysproz opened #9077 "strongDM provider"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

Could we get a [strongDM provider](https://registry.terraform.io/providers/strongdm/sdm)?

[2022-03-01 16:38] liamawhite opened #9078 "Inline Program fails with Pulumi engine unavailable"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details

Running the automation API results in:

[code]

### Steps to reproduce

I've narrowed it down to the following line, which is imported from another package:

[code]

The function definition:
[code]

Both packag

[2022-03-01 17:17] liamawhite commented on #9078
When I comment out this line the stack select works, when I comment it out it works.

Ths only `PULUMI_` env vars set are my access token and `PULUMI_NODEJS_SXS_FLAG: '0.48217873268474487'`.

Here is the wider code:

[code]

[2022-03-01 19:19] cnunciato commented on #9063
We've cleared the cache on both `/releases/sdk/pulumi-3.25*` and `/releases/sdk/pulumi-v3.25.*`, so I believe this is fixed. Let us know if you're still seeing otherwise, though.

[2022-03-01 20:12] caseyyh opened #9082 "[#7794 follow up] Rename stack deletion methods to better describe functionality"

[2022-03-01 20:13] #9082 closed

[2022-03-01 20:34] liamawhite commented on #9078
Ah, worked out what I was doing wrong. In a different file in the package I had `export const foo = `pulumi-automation-${pulumi.getProject()}-${pulumi.getStack()}` that was not being called inside of a function.

[2022-03-01 21:00] maksatbek710 commented on #8973
Hello, I'm sorry, I was on vacation. We are using cloudlflare `4.0.0` and pulumi `3.21.0`

[2022-03-01 21:02] maksatbek710 commented on #8973
We have project that deploy aws  resource which is held by CI/CD pipeline. And Other projects using it as template. We randomly see that error in any projects. I tested and made sure there is only single pipeline running but it still show pulumi state lock error.

[2022-03-02 00:25] inhumantsar opened #9425 "ECR Python SDK did not generate valid syntax"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details

[code]

There are significant syntax errors in the named module:

* https://github.com/pulumi/pulumi-aws-native/blob/master/sdk/python/pulumi_aws_native/ecr/get_pull_through_cache_rule.py#L19-L21
* https://gith

[2022-03-02 02:16] #9078 closed

[2022-03-02 03:48] #9019 closed

[2022-03-02 09:06] SimonAdameit commented on #9063
Thanks, it works now for me.

[2022-03-02 09:19] howardburgess opened #9085 "Refresh fails after Pulumi upgrade if dynamic provider exists"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details

After upgrading the Pulumi library, we find that `pulumi refresh` fails because TypeScript code in a cached provider holds a reference to the previous version that is no longer available on the filesystem.

###

[2022-03-02 09:48] henriiik opened #9086 "Inputs are not passed to `pulumi.dynamic.ResourceProvider.delete`"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details

[The type of the `delete` method on `ResourceProvider` in the docs implies that it should be passed the old inputs.](https://www.pulumi.com/docs/intro/concepts/resources/dynamic-providers/#example-github-labels

[2022-03-02 09:49] Svmurvj opened #9087 "pagerduty.ServiceEventRule timezone is not taken to consideration"
## Hello!
I'm creating event rules for service directory using that [API](https://www.pulumi.com/registry/packages/pagerduty/api-docs/serviceeventrule/) Inside that rule i'm using

[code]

where defintion of `scheduler` looks like:

[code]
startTime is set to midnight, definition of startTime: `
Time when the schedule will start. Unix timestamp in milliseconds. For example, if you have a rule with

[2022-03-02 10:39] Frassle commented on #9086
Sorry about that, the example is slightly wrong there. If you read further in the post it explains what the properties passed to delete are:

I'll leave this issue open that we should update that example code.

[2022-03-02 11:08] henriiik commented on #9086
I see, thanks for the quick reply!

The type for the DynamicResource provider could be improved to make this more clear, from:

[code]

to

[code]

the default values of the types should make it backwards compatible, the result types could be generic as well to make it even easier to make sure all methods are returning the right thing.

Would something like this be interesting?

[2022-03-02 11:15] ederst commented on #9056
We also see an error message after we updated pulumi and some dependencies today:

[code]
 We do not have "protected" resources and the error seems to be not fatal, because pulumi still does its thing and quits happily with "exitcode == 0".

However, what we did for now as a workaround is to pin the `grpcio==1.43.0` like suggested here: #9011 (and in [slack](https://pulumi-community.slack.com/arch

[2022-03-02 11:31] Frassle commented on #9086
I think that's reasonable. I'm not sure we could make that change before 4.0 as it might break current usages, but it's a good change to make in a major release at the very least.

[2022-03-02 11:53] MichaelSp commented on #6768
I also saw this issue in my build system. Preview took >20mins. After bumping the resource limits from `CPU: 750, memory: 1Gi` to `CPU:2, memory: 4Gi` the `preview` finished in <1min.

[2022-03-02 14:53] DSTAlan opened #9089 "Stack size issues with parented resources and aliases"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details

When trying to update the names of rules and subscriptions for an existing Azure Native stack I am experiencing issues where the pulumi up is taking hours and the stack is growing to a huge size.  I have a stac

[2022-03-02 19:50] DSTAlan commented on #9089
I set this off again and let it run to completion.  The changes it needed to make were to delete 4 items (2 topic subscriptions each with a single rule) and create 4 new items (two different subscriptions, each with a single rule).  The pulumi up took 3 hours and 35 minutes to run and the stack file climbed from 1.3 MB to 471.7 MB.

[2022-03-02 19:56] iwahbe commented on #9055
This should be fixed in pulumi `2.25.1`.

[2022-03-02 19:56] #9055 closed

[2022-03-02 21:34] elanw opened #9094 "awsx.ec2.Vpc.fromExistingIds() not returning the VPC for specific AWS account"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details

I am looking for some help with unexpected behavior from the awsx.ec2.Vpc.fromExistingIds() method:

`const vpc = awsx.ec2.Vpc.fromExistingIds("vpcFromId", {
        vpcId: vpcId,
  },{provider: provider})`

Wh

[2022-03-03 01:00] cakoose opened #9096 "State is updated even if the API call fails with an HTTP 400 (gcp.cloudscheduler.Job)"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details

1. In my Pulumi config, I set a Cloud Scheduler Job's `attemptDeadline: '1m'`.
2. When I ran Pulumi, the step to update GCP failed with an HTTP 400 because `'1m'` is the wrong syntax. The correct syntax is `'60

[2022-03-03 03:27] jitbasemartin commented on #9065
Fix suggestion
[code]

[2022-03-03 14:33] mitchellmaler opened #9103 "Gracefully Stop/Cancel Automation API calls in Python"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

Currently when running an Automation API call in Python it will spawn a subprocess to run the actual command as shown here:
https://github.com/pulumi/pulumi/blob/master/sdk/python/lib/pulumi/automation/_cmd.py#L5

[2022-03-03 19:56] jaxxstorm opened #9107 "Handling of short term configuration tokens"
Some providers take configuration values that can be embedded into the stack checkpoint which are short lived.

A great example of this is the `AWS_SESSION_TOKEN`, which can be set as a [token](https://www.pulumi.com/registry/packages/aws/api-docs/provider/#token_python) and is retrieved from the AWS STS service.

This token expires and becomes unusable.

Unfortunately, due to https://github.com/p

[2022-03-03 19:59] ahummel25 commented on #7160
@marcindulak Having the same issue. the `--properties location` worked great, but like you said, the resource is managed by the classic `pulumi azure` and not native. Did you find any solution for this?

[2022-03-03 20:59] lukehoban commented on #7160
If you import into the type `azure:core/resourceGroup:ResourceGroup`, that will use the `azure` provider, which is the Azure Classic provider.  You can use `azure-native:resources:ResourceGroup` to import into the `azure-native` provider.

[2022-03-03 21:19] VNGSNZ opened #9108 "Exception: invoke of azure-native:authorization:getClientConfig failed"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details

When running pulumi up i receive the following error:

Exception: invoke of azure-native:authorization:getClientConfig failed: invocation of azure-native:authorization:getClientConfig returned an error: getting

[2022-03-03 21:20] #9108 closed

[2022-03-03 21:23] Mejato opened #9109 "Exception: invoke of azure-native:authorization:getClientConfig failed:"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details

When running pulumi up i receive the following error:

Exception: invoke of azure-native:authorization:getClientConfig failed: invocation of azure-native:authorization:getClientConfig returned an error: getting

[2022-03-03 22:11] Mejato commented on #9109
I noticed my Azure CLI version was updated yesterday and rolling it back to version 2.33.1 resolves the above error.

[2022-03-03 22:46] Mejato commented on #9109
Isolated the issue to the following code in my automation project:

`def _construct_management_group_permissions(self):
        # Define local method variables

        # Get current client config
        _current_client_config = azure_native.authorization.get_client_config()

        # Get top level management group name
        _top_level_management_group_name = self.topologically_ordered_manage

[2022-03-03 23:15] austinbyers opened #9110 "Python dynamic provider with boto3: Other threads are currently calling into gRPC, skipping fork() handlers"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details

We use Python dynamic providers that rely on `boto3`, the AWS SDK, to perform various operations. `pulumi up` works as expected, but always with a diagnostic error message:

[code]

### Steps to reproduce

[cod

[2022-03-04 08:20] henriiik opened #9111 "`MockMonitor.readResource` crashes when calling non-existent `getCustom` method on `resproto.ReadResourceRequest`"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details

When writing and running unit tests with pulumi using mocks, all calls to `MockMonitor.readResource` fail.

### Steps to reproduce

A small reproduction can be found here: https://github.com/henriiik/missing-ge

[2022-03-04 11:10] ethernet-zero opened #9112 "Referencing outputs from one stack in another stack's configuration"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

My team and I manage a few projects in the cloud, and we use Pulumi to provision the cloud infrastructure. The way we organize our IaC code is by breaking it down in several repos, each one taking care of one par

[2022-03-04 11:18] wrbbz commented on #3364
Same issue here with an attempt to create k8s namespace.

Is there any progress on this one?

[2022-03-04 13:21] elanw opened #9114 "Typescript error for pulumi.interpolate within aws.iam.getPolicyDocument"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details

When using`pulumi.interpolate` in  `aws.iam.getPolicyDocument`, I get a typescript error that `Type output is not assignable to type string`. This prevents pulumi up from running successfully due to a TS compil

[2022-03-04 13:30] danielrbradley opened #9115 "Allow aliasing when a property which requires replacement changes name"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

We're currently unable to alias to a new version of a resource if a property which requires replacement has also been renamed. This happened recently during Azure's migration of the Container Apps namespace (migr

[2022-03-04 14:07] Frassle commented on #5416
Just tested with v3.26.0 using AWS S3. Can't repro, the stack files seems correctly deleted although a ".bak" file is left behind but that's intended and doesn't show up on `stack ls`.

If people hit this issues again can you please include logs from running pulumi with `--logtostderr -v9`.

[2022-03-04 14:08] #5416 closed

[2022-03-04 15:29] denniswebb opened #9116 "Bulk import fails exits non-zero if 2 resources have the same name"
- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details

We are migrating from CloudFormation to Pulumi. This requires importing a lot of resources. While using the bulk import feature of Pulumi, we are getting errors about resources having the same name, even though Pulumi sup

[2022-03-04 15:54] silasdavis commented on #9033
I'm not sure what conclusions to draw from this but it feels like I need to rethink using this in production. Experiencing this locally. Is there a recovery?

[2022-03-04 16:06] Frassle commented on #9033
Reading the issue the recovery sounds like wait for the `up` to finish. I'm working on the local backend at the moment and I
 think our lock code needs a look at anyway so I'll keep this mind while looking at that. See if I can figure out how this could report as just missing, as @jsravn said at the least this should pick up the lock file.

[2022-03-04 16:20] Frassle commented on #9116
Duplicate of https://github.com/pulumi/pulumi/issues/6032.

[2022-03-04 17:11] lukehoban commented on #6032
Just an additional note - this happens because the `name` provided in the import specification is used for two purposes:
1. The logical resource name
2. The language-level variable name bound to the resource

While the name in (1) doesn't need to be unique (for resources of different types), (2) does need to be unique because all these variables will be code-generated to live in the same scope.

W

[2022-03-04 17:12] lukehoban commented on #9116
Closing out as duplicate - and added an update on #6032.

[2022-03-04 17:12] #9116 closed

[2022-03-04 17:24] DSTAlan commented on #9089
After a bit more digging, the issue seems to be with the aliases sections for each item in the stack.  As an example, a Service Bus Rule that had 44 aliases before the last pulumi up command now has 60 000 aliases!

[2022-03-04 17:51] denniswebb commented on #6032
Can we get a flag that disables the language generation? We don't need that part. It's useful for somebody learning Pulumi and IaC, but not for all of us.

[2022-03-04 19:01] andreujuanc opened #9117 "Project with service provider of type "service" and cli asking for passphrase after updating > 3.1.0"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details
I've got a project in which we migrated from v2.x to v3 today. It was all good except that after moving to v3 we noticed that the cli is requiring a passphrase which we don't use.
This is the section of the stat

[2022-03-04 19:31] Frassle commented on #9033
OK I think what's happening here is two fold. Firstly when an update is running we repeatedly save out the snapshot file but that's done in three steps:
1. Copy "<stack>.json" to "<stack>.json.bak" overwriting if it already exists
2. Delete "<stack>.json"
3. Write a new "<stack>.json"

Secondly we always check for a "<stack>.json" before looking for a lock file. So if your trying to lookup stack o

[2022-03-04 19:34] byteSamurai opened #9118 "Using an existing config yaml file with automation API"
Maybe I missed this in the documentation: I have my secrets in a config file, encrypted by setting `PULUMI_CONFIG_PASSPHRASE`. How can I load this file using the automation API?

[2022-03-04 20:30] alex-unikorny commented on #1539
Any roadmap for this? Kotlin needs this :P thanks!

[2022-03-04 21:23] bjaworski3 commented on #9047
Althought previews don't take locks now, they will fail if there is an apply currently in progress but you attempt to run a preview

[2022-03-04 21:52] mikhailshilkov commented on #9066
I don't think that exporting resources as outputs works as you expect. Could you remove both `SharedPlan` and `ResourceGroup` outputs from the first stack, re-deploy, and then try it again?

[2022-03-04 21:54] mikhailshilkov commented on #9085
Hi @howardburgess  Is it possible to share the code of your dynamic provider?

[2022-03-04 21:56] mikhailshilkov commented on #9089
@DSTAlan thank you for reporting this. Do you have a small-ish program that I could run to reproduce this behavior?

[2022-03-04 21:58] mikhailshilkov commented on #9061
@piotr-bzdyl-vertexinc apologies for a slow response. Which operation gives you this error?

[2022-03-04 22:24] MitchellGerdisch opened #9120 "Support self-signed certs for `pulumi login`"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

When deploying a self-hosted Pulumi Service for testing, I may want to just use a self-signed cert.
But, `pulumi login https://MY_API_ENDPOINT` does not work.
It throws:
[code]

### Affected area/feature

[2022-03-04 22:28] nimbinatus opened #9121 "[Docker] `must_run` flag is not running a stopped container as expected."
It seems that the `must_run` flag for `docker.Container` is not starting a container if it finds it stopped as expected.

Original discussion below. There are more details in the linked discussion.

### Discussed in https://github.com/pulumi/pulumi/discussions/7905

<div type='discussions-op-text'>

<sup>Originally posted by **kimausloos** September  4, 2021</sup>
Hi,

I wanted to test pulumi a bi

[2022-03-04 23:50] Frassle commented on #9120
Figured this would be a good test case for https://github.com/pulumi/pulumi/issues/4665.

Considering adding something like the below to Pulumi.yaml.
[code]

Of course that would depend on you having a project file in your working directory. I wonder if we need some other way of passing config that lives above projects for setting backend settings?

[2022-03-05 00:26] lukehoban commented on #9120
I'm not sure we want to put this in the project file.  This is configuration about the backend itself - which we generally want to set machine-scoped.  To the extent we want to support backend configuration explicitly, I think we actually want to support it at the stack level, vs. the project level (since it's really stacks that live in backends, not projects).

I'd be inclined to support this as

[2022-03-05 00:36] Frassle commented on #9120
Project files already have a backend.URL configuration. Is the problems that's trying to solve also solved by making backends machine-wide? Or is this just that configuring a given backend URL is machine-wide but then it makes sense for individual projects to opt-in to which configured backend they use?

We'd have to load stack.json files before building a backend to parse the stack reference in t

[2022-03-05 00:47] lukehoban commented on #9120
The primary way that backend is configured today is via system wide value that is set via a `pulumi login` and stored in `~/.pulumi/credentials.json`.  I believe we should focus on addressing this first and foremost as part of this standard workflow.  The vast majority of usage of backends is not configured in the project or stack, but is just configured via `pulumi login` once on a machine, and t

[2022-03-05 10:40] DSTAlan commented on #9089
Hi @mikhailshilkov. We use a lot of wrapper files around Pulumi to simplify mapping YAML config files to Pulumi modules so I don't have anything simple to share.  I can share sections from log files though and am happy to have a screen sharing session with someone to show what I am seeing.

What seems to be happening is that a single alias in the stack like the following

"urn:pulumi:<stackname>::

[2022-03-05 11:05] DSTAlan commented on #9089
@mikhailshilkov I have sent an email to your GitHub listed email address containing a simple program that demonstrates the issue.

[2022-03-05 14:18] marcindulak opened #9123 "Databricks provider"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

https://github.com/databrickslabs/terraform-provider-databricks.

There were attempts to create a databricks provider before: https://github.com/XBeg9/pulumi-databricks or https://github.com/ingenii-solutions/pul

[2022-03-06 05:56] Sachin-Krish opened #9124 "Attempting to create an Azure Pipeline fails with error "Organization Name is empty""
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details

It is currently not possible to actually create an azure devops pipeline via pulumi as we are unable to (or if we are, this is not clear how to) specify which AzureDevops organization the pipeline should belong

[2022-03-06 13:49] susanev commented on #9070
@pquerna thank you for opening an issue!

it sounds like we will be able to add this feature sometime soon. i was wondering though, could you speak to the problem this is solving for you? is this so you don't operate on the wrong stack in the future? or for other reasons?

[2022-03-06 15:10] PriyaBasker23 commented on #9024
@iwahbe - any lucky with the suggestion ? . I have raised two issues above

[2022-03-06 22:37] teto opened #9128 "packaging pulumi python sdk for nixos: failed to discover plugin requirements"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details

I am packaging the pulumi python SDK for nixos and I have an environment where I can import pulumi and pulumi_aws fine.
Yet when running pulumi up

[code]

Interesting is the n/a in:
[code]
works but if I add `

[2022-03-07 03:25] JakeGinnivan opened #9129 "read-package-tree depreciated"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details

As part of good dependency hygine I try to remove deprecation notices when they appear. NPM has deprecated read-package-tree@5.3.1 which is replaced with [arborist](https://www.npmjs.com/package/@npmcli/arboris

[2022-03-07 05:30] sammck commented on #2823
A slight refinement to this: Even if a stack does export secrets, I would like to be able to read the nonsecret exports without a passphrase--e.g., I'd like to be able to run
```pulumi stack output -j```

Even if I cannot run
```pulumi stack output -j --show-secrets```

[2022-03-07 05:56] sammck commented on #2823
@eropple  I have been able to work around this problem by using an S3 backend and directly reading the unencrypted stack outputs from S3, with something like:

[code]

No passphrase is needed (just AWS access to the backend). secret outputs will appear as json dicts with an encrypted "ciphertext" property.

[2022-03-07 10:03] mikhailshilkov commented on #9114
@elanw This is expected. The original implementation of functions didn't allow passing outputs into input values. Please try using `getPolicyDocumentOutput` instead of `getPolicyDocument` which should accept output values.

[2022-03-07 14:52] susanev opened #9131 "message error when folks use --stack without fully qualified name"
## overview
in https://github.com/pulumi/pulumi/pull/9051 i removed the `If you're using the --stack flag, make sure to pass the fully qualified name (org/project/stack)` error message as folks either rarely hit that or never hit that in that situation. we should detect when folks are using that flag and not using a fully qualified name and display this error message then.

there's a bit more conv

[2022-03-07 15:32] Frassle commented on #9131
I commented elsewhere but I think `httpstate.Backend.ParseStackReference` might be the right place to add this message.

[2022-03-07 16:13] mikhailshilkov commented on #9131
@Zaid-Ajaj sounds like a good issue to take a look at, adding to the upcoming iteration

[2022-03-07 16:22] DusanDimitric commented on #2800
@slavafomin I also see it as useful for referencing other stacks within your organization.

I am currently hardcoding the `ORGANIZATION` in a constant variable.

[2022-03-07 16:44] Frassle commented on #2800
The filestate backend doesn't support organisations. What should it return from getOrg?

Little worried of we just return "" people won't check that and will make strings that look like "/proj/stack" which is invalid.

[2022-03-07 18:16] austinbyers opened #9133 "Pulumi Python: Fork support is only compatible with the epoll1 and poll polling strategies"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details

We recently started seeing a bunch of errors in our automated Pulumi builds:

The builds are still ultimately successful, but the error message is noisy and concerning. #9110 is almost certainly related if not

[2022-03-07 18:25] jaxxstorm commented on #9011
see also #9133 9133

[2022-03-07 18:37] jaxxstorm commented on #9011
Backstory:

https://github.com/grpc/grpc/blob/master/doc/fork_support.md#111

[2022-03-07 18:41] jaxxstorm commented on #9133
I've opened https://github.com/grpc/grpc/issues/29044 to see what the upstream maintainers have to say

[2022-03-07 19:55] jaxxstorm opened #9134 "Add a flag to disable code generation to pulumi import"
Getting Pulumi into the state is easy with `pulumi import` and we rather handily generate the code you need to add to your stack.

As per this comment: https://github.com/pulumi/pulumi/issues/6032#issuecomment-1059386589

It would be useful to have the mechanism to not generate the code when running `pulumi import` in some situations

[2022-03-07 20:29] pquerna commented on #9070
for our environment, we use environment variables to control AWS Profiles to select what Secrets Engine (AWS KMS) is used.

the default stack selection is almost always an error - we want to either explicitly pass in `--stack` as an arg or to pick one from the stack list.

[2022-03-07 20:54] pgavlin opened #9135 "[diffs] Pretty-print JSON diffs"
During a preview or an update, the Pulumi CLI should pretty-print diffs for properties that accept JSON data. This would aid in the readability of diffs between large JSON documents (e.g. IAM policies, network firewall rules, etc.).

[2022-03-07 20:55] lukehoban commented on #9135
I believe this is also tracked in https://github.com/pulumi/pulumi/issues/5831?

[2022-03-07 20:57] pgavlin opened #9136 "[diffs] Improve diff rendering for long strings"
Displaying diffs between long strings in the style of  `"old" => "new"` is not terribly helpful if only a small portion of the string has changed. We should consider displaying these changes as textual diffs (n.b. I think that we already do this for e.g. the body of serialized closures).

[2022-03-07 20:58] Frassle commented on #9134
I think we should solve the problem in #6032 in a better way as well, but this is a really easy flag to just add.

[2022-03-07 20:58] pgavlin commented on #9135
Hah, I think you're right. I had searched for "preview json" and that didn't come up.

[2022-03-07 20:59] #9135 closed

[2022-03-08 00:48] iwahbe commented on #7346
Improve TS compilation:
- https://github.com/pulumi/pulumi/pull/9049
- https://github.com/pulumi/pulumi/pull/8199

[2022-03-08 01:34] iwahbe commented on #9024
@PriyaBasker23 I'm assuming that `Provider` is `aws.Provider`. Is `TestPipeline` a component resource? If you pass `TestPipeline(name="test", providers=[provider])` does that still fail the unit test?

We did change how the `provider` and `providers` field reacted in https://github.com/pulumi/pulumi/pull/8770. If you call `Foo("name", provider=pkgProvider)`, we assume that the package of `Foo` is

[2022-03-08 02:11] joeduffy commented on #2800
I wonder if it could be based on the underlying provider. For instance, the S3 one could use the bucket name as the org by default, and if you wanted to change it, we could support a `.pulumi` settings file in the bucket or something.

[2022-03-08 02:43] #9011 closed

[2022-03-08 07:56] danilomo commented on #1539
Is anyone actively working on this issue? I can provide help later in this year (after May) as a Java programmer.

[2022-03-08 10:17] mikhailshilkov commented on #9134
What's the downside of code generation that users need to disable it?

[2022-03-08 10:27] Frassle commented on #9134
In #6032 its that they wanted to use the same name for resources of different types, but our PCL binder didn't like that because it also uses the given name for variable names which need to be unique. @pgavlin had some thoughts on how to best allow that situation properly.

So we should fix that properly, but the user also requested if they could just turn the code generation off because they don'

[2022-03-08 11:21] #9033 closed, assigned to Frassle

[2022-03-08 12:10] mikhailshilkov opened #9143 "[go] Support Go Generics"
With Go 1.18, generics are now [a part of the Go language](https://tip.golang.org/doc/go1.18#generics). Generics bring a lot of potential to simplify our Pulumi Go SDK, make it more type-safe, and dramatically reduce the amount of generated code in providers.

[2022-03-08 12:10] DSTAlan commented on #9089
Hi @mikhailshilkov, did you get the example that I sent through OK?
Cheers
Alan

[2022-03-08 12:13] mikhailshilkov commented on #9089
@DSTAlan Yes I did, thank you. I've just returned from PTO - will take a look shortly.

[2022-03-08 12:27] #7160 closed

[2022-03-08 12:55] thecodetinker opened #9144 "Support pulumi stack graph in Automation API"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details
As a developer
I would like the ability to output the stack graph (as in `pulumi stack graph`) using the Automation API
So that I can provide a visualisation of the graph from our automated pipelines

Many stack c

[2022-03-08 13:31] 2fifty6 commented on #9123
This would be fantastic!

[2022-03-08 14:24] Frassle commented on #9107
Also see https://github.com/pulumi/pulumi-vault/issues/118

[2022-03-08 14:55] AMKamel commented on #9107
@dmattia I confirm that deleting provider configuration from stack resolved it for me, following were used
[code]
https://github.com/pulumi/pulumi-vault/issues/118

[2022-03-08 20:20] jaxxstorm opened #9146 "Allow ability to import resources into a component"
## Issue details

Currently, when importing a component, you can specify the `--parent` flag like so:

[code]

This unfortunately fails if you try to import into a component, because the parent doesn't exist.

You can see another example of this here: https://github.com/pulumi/pulumi/issues/5958#issuecomment-1054962897

It would be great if we could allow importing into a component without having

[2022-03-08 21:07] #9134 closed

[2022-03-08 21:51] Frassle commented on #9146
Isn't this that we need to have a way to "import" components. I don't think we could synthesize component state without any user input, we'd need the user to tell us the name and type at least but nothing else is actually needed? Then once the component is imported you could import the other resources with it as a parent.

[2022-03-08 23:12] maksatbek710 opened #9148 "Pulumi keeps locking stack"
## Hello!

## Issue details

Hello, we use pulumi to bring up k8s resources. But in last month we started seeing pulumi lock error .
 error: the stack is currently locked by 1 lock(s). Either wait for the other process(es) to end or manually delete the lock file(s).
This is usually caused by two pipelines running at the same time, but once stack is locked and even if I run a single pipeline stack

[2022-03-09 05:42] pnathan commented on #7296
I'm also trying to hack around this as well; the example https://github.com/pulumi/pulumi-eks/blob/master/examples/oidc-iam-sa/index.ts simply doesn't port appropriately to go, because there is no nested availability for the Arn and Url outputs from the OidcProvider output.

[2022-03-09 10:02] #9148 closed

[2022-03-09 12:23] piotr-bzdyl-vertexinc commented on #9061
Hi @mikhailshilkov. It was during `pulumi preview`.

[2022-03-09 12:34] markodjukic commented on #8964
@stack72 maybe you thinking of this: #8747 ?

[2022-03-09 12:46] silasdavis commented on #7728
Why is this closed? It makes very little sense to have non-pulumi backends to have different namespacing rules with project.

That is stack names should only need to be unique within projects, like with the hosted service.

[2022-03-09 12:54] silasdavis commented on #2522
Are you open to contributions on this?

If so could you provide any pointers/constraints on implementation?

[2022-03-09 13:01] Frassle commented on #7728
This is a duplicate of https://github.com/pulumi/pulumi/issues/2522

[2022-03-09 13:04] Frassle commented on #2522
We are actively working on it! If you check the project history you'll see I've made a number of commits in this area in preparation for adding project support to the filestate backend and unifying other differences between the backends (e.g. `pulumi cancel` can now unlock filestate locks).

[2022-03-09 13:35] rawkode opened #9153 "ts-node top level await fails with code in subdirectory"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details

Trying to use `ts-node` with the loader for top level async-await seems to fail if the Pulumi code is inside a `src` directory, a rather common pattern for Pulumi users.

### Steps to reproduce

1. Move code to

[2022-03-09 13:37] Frassle commented on #8964
Yeh this is duplicate of https://github.com/pulumi/pulumi/issues/8747.

[2022-03-09 14:53] stack72 commented on #8591
Closing this out as we've not heard back from the original poster. Please let us know if this is still an issue

[2022-03-09 14:53] #8591 closed

[2022-03-09 16:45] #8747 closed

[2022-03-09 17:30] viveklak opened #9158 "Schema should support replaceOnChanges on the resource instead/in addition to property scope"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details
In https://github.com/pulumi/pulumi/pull/7874 we added support for adding `replaceOnChanges` flag on properties. While this works well for flat schemas, some providers, e.g. Kubernetes have a highly nested structu

[2022-03-09 17:46] Frassle commented on #9120
Had a quick look at what it takes to pass an extra option through `login` in https://github.com/pulumi/pulumi/pull/9159. Doesn't try to take config from the project file or envvars currently but would be possible to add.

[2022-03-09 18:04] Frassle commented on #9096
I think the relevant code here is that we unconditionally set the value of "Outputs" in the state to whatever the provider Update function returns even if that Update also returns errors. (https://github.com/pulumi/pulumi/blob/master/pkg/resource/deploy/step.go#L485)

So one fix here would be to not save the result of Update if it errors.
Another fix is that the provider shouldn't return _changed_

[2022-03-09 18:09] viveklak commented on #9158
On a related note, I am also curious what our semantics on "unsetting" or overriding the replacement logic specified in the schema for a resource should be. i.e. in https://github.com/pulumi/pulumi/pull/7226 we added a means to specify the replaceOnChanges resource option to specify replacement, but how do we nullify the replacement? Case in point is https://github.com/pulumi/pulumi-kubernetes/iss

[2022-03-09 18:48] lblackstone commented on #9158
My initial thought was that the default settings would show up in the SDK, similarly to the aliases resource option. For aliases, the user can explicitly nullify the default by setting the map value to `undefined`. I think the same approach would work for `replaceOnChanges`.

https://github.com/pulumi/pulumi-kubernetes/blob/v3.16.0/sdk/nodejs/apps/v1/deployment.ts
https://github.com/pulumi/pulumi/

[2022-03-09 18:51] lblackstone commented on #9158
Actually, it looks like the alias options may be backward in that mergeOptions call. I would expect the user-provided opt would override the default one.

[2022-03-09 21:19] sammck commented on #2823
The following script will get all of the outputs for a stack on an https backend, including Pulumi's own backend, without a passphrase or secret provider configured. Secret outputs will be in encrypted form.

[code]

[2022-03-09 22:02] TechWatching commented on #5708
@joeduffy is it something on the roadmap? I have just used the import command and though it was very nice to have the generated code, so when I used the refresh command I was a bit surprised not to have this capability as well. I see that you opened this issue quite a long time ago, are there some problems to implement that, or is it just not a priority?

[2022-03-09 23:30] breathe opened #9165 "pulumi version is 0.0.0 after upgrading to latest homebrew pulumi"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details

After upgrading to latest pulumi via homebrew -- pulumi thinks its on version 0.0.0

### Steps to reproduce

1. brew update; brew upgrade
2. pulumi version

Expected:
Version should be 3.26.0

Actual:
I see thi

[2022-03-09 23:42] caseyyh opened #9166 "Update console output for `pulumi stack rm`"
Stack deletion does not actually delete resources and requires the user to execute a `pulumi destroy` first.

However, attempting to delete a stack with resources still attached to it yields this message:

[code]

Which reads to me (as a person who tries first and regrets later), meant that I should force delete the stack... before I realized the sins of my ways. Suggestion to update wording to en

[2022-03-09 23:45] #8964 closed

[2022-03-10 00:24] cnunciato opened #9168 "Node.js closure serialization doesn't capture method bodies"
Our closure serialization doesn't seem to be capturing method bodies that call other instance methods. In the following  program, for example, `handler` gets called, but the call fails as shown below:

[code]

[code]

This, however, _does_ work:

[code]

[code]

Is this expected? If so, should we add something to the docs that better explains it? (Seems possible this runs afoul of something mentio

[2022-03-10 03:49] breathe commented on #9165
This appears to be fixed in `v3.26.1`

[2022-03-10 03:49] #9165 closed

[2022-03-10 04:29] aureq opened #9172 "Forcefully prevent stacks from deletion"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

Currently, stacks can be deleted if the user has sufficient permissions, even if some resources remain in the stack using `--force` flag and even if some protected resources are still present.  This is a potentia

[2022-03-10 06:39] AMKamel commented on #6587
I am having the same issue here

[2022-03-10 08:25] AMKamel commented on #3012
I have also encountered the same issue when using `pulumi.secert(outputValue)` inside `create` method and the only workaround was @fitzoh way

`{...opts, additionalSecretOutputs: ['applicationKey']}`

[2022-03-10 16:23] danielrbradley commented on #8969
According to the [parent docs](https://www.pulumi.com/docs/intro/concepts/resources/options/parent/) the `provider`, `aliases`, `protect` and `transformations` are all automatically inherited by child resources. However, there's no way to set `ignoreChanges`, `import`, `retainOnDelete`, `replaceOnChanges` and possibly others.

It would appear that `ignoreChanges` and `replaceOnChanges` which refer

[2022-03-10 17:14] opyate opened #9174 "Better CLI UX"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

Following [this example](https://www.pulumi.com/learn/pulumi-fundamentals/create-docker-images/), it shows that for this Python code to work:

[code]

...you have to first run:

[code]

A few months ago, you also

[2022-03-10 18:52] jancespivo opened #9175 "Error message is shown during the first command when main and virtualenv is set in Pulumi.yaml"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details
When `main` and `virtualenv` is set in Pulumi.yaml then during the first command virtualenv is created and the following message is shown.

`Failed to resolve python version command: fork/exec <path to the proje

[2022-03-10 21:05] dixler commented on #9168
Not that it adds much, but I checked that v3.24.1 before #8710 also has this issue.

[2022-03-10 21:53] dixler commented on #9168
@cnunciato I see that changing
[code]
throws this error
[code]
I followed this
[code]
It then serialized pulumi requires into the lambda object since it seems the serialization captures the constructor that has the bucket constructor.

[2022-03-11 09:50] Frassle commented on #5726
Duplicate of https://github.com/pulumi/pulumi/issues/9001

[2022-03-11 09:50] #5726 closed

[2022-03-11 11:15] mikhailshilkov commented on #9089
@DSTAlan Yes, I was able to repro it, now trying to figure out the culprit.

`pulumi stack delete` should help.

[2022-03-11 11:20] mikhailshilkov commented on #9089
@DSTAlan Another thing I noticed is that if I don't set the `Parent` option, my state is normal again. Could this be a workaround for you?

[2022-03-11 11:29] mikhailshilkov commented on #9089
The broad picture is the following. Let's say we have

- resource type A with aliases A1, A2, A3,
- resource type B with aliases B1, B2, B3
- resource type C with aliases C1, C2, C3

Now, the following Pulumi program (in pseudolanguage):

[code]

will cause an exponential growth of aliases in the state file, because

- a has aliases for types A1, A2, A3 (3)
- b has aliases for all types A1:a/B1, A

[2022-03-11 12:38] DSTAlan commented on #9089
Thanks for the response @mikhailshilkov.  That matches exactly what I am seeing, 58K aliases for a rule which will presumably jump every time a new version is added by Microsoft.  Historically I never had this issue so I am wondering what has changed to balloon this out so much in the last couple of months?

I will give the parent option a shot and see if that fixes things for me.

[2022-03-11 13:10] #9065 closed

[2022-03-11 13:16] mikhailshilkov commented on #9089
Thank you for this. I tried it with multiple versions and figured that it works fine for versions 1.52.0 and before, but starts going crazy with 1.53.0 of azure-native. Which is very puzzling, as 1.53.0 doesn't seem to have any relevant changes...

[2022-03-11 13:52] Dysproz opened #9178 "Pulumi fails to generate YAML for external-dns Helm chart"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details
I'm trying to deploy helm chart using pulumi to a EKS cluster.
I successfully wrote code for a few charts now, but I have a problem with external-dns chart.
Apparently, when I try to deploy it, it fails on rende

[2022-03-11 14:53] DSTAlan commented on #9089
@mikhailshilkov.  I have tried the parent option and the file did shrink right down which is great.  The problem I have is that I couldn't work out how to change the parent without deleting the resources and recreating them which would be problematic with the live bus.  Is there a way to do this?

[2022-03-11 15:20] mikhailshilkov commented on #9089
You could use aliases for this, see https://www.pulumi.com/blog/cumundi-guest-post/

[2022-03-11 15:35] mikhailshilkov commented on #9096
Meaning to TF bridge, right?

[2022-03-11 16:23] mikhailshilkov commented on #9089
So, this is "by design" done in https://github.com/pulumi/pulumi/pull/8627. We'll have to see if we have ways to limit the impact though.

[2022-03-11 16:35] DSTAlan commented on #9089
I might try rolling back to 3.20.0 then as a temporary solution.

[2022-03-11 16:59] Frassle commented on #8949
We merged https://github.com/pulumi/pulumi/pull/9157 to fix this, but quickly backed it out again when it turned out that there are already numerous examples of resource names that do not match our `tokens.Name` schema. Because we haven't been validating names in any way as long as the name didn't confuse another part of the system it was fine.

We need to consider what to do here. We probably can

[2022-03-11 17:54] Zaid-Ajaj commented on #8476
Resolved as of #9149

[2022-03-11 17:54] #8476 closed

[2022-03-11 19:19] stack72 commented on #7594
We do have an artifactory provider now https://www.pulumi.com/registry/packages/artifactory/

[2022-03-11 19:19] #7594 closed

[2022-03-11 19:43] justinvp opened #9180 "[codegen/go] Add support for specifying Go dependencies"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

There are situations where an MLC provider may make use of other resource providers inside its implementation (e.g. `pulumi-random`, `pulumi-docker`, etc.), but not exposed publicly. Such dependencies _aren't_ li

[2022-03-11 19:46] mikhailshilkov commented on #9089
That won't help - it's the provider that causes trouble. 1.52.0 is the last version without this issue.

[2022-03-11 19:56] jaxxstorm opened #9181 "Allow whoami to show orgs available"
Pulumi whoami will show how you've logged in as. It'd be great to show what orgs you actually have access to.

[code]

[2022-03-11 20:06] damour opened #9182 "Speed up show stack name command (useful in cmd prompt)"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

Currently `pulumi stack --show-name` command execution may take a long time (10-30sec).

It would be nice to display the current stack name in cmd prompt (like git branch etc) but with such delay it's unusable.
<

[2022-03-11 21:12] IsaacLeeWebDev commented on #9041
Oh yeah, I totally agree. Automatic error handling that makes sense is way better than requiring error handling in every circumstance.

I would just prefer to have the ability to add some sensible error-handling capabilities when the provider lacks them and/or override the error handling that comes with the provider when the error handling doesn't work for my use-case.

[2022-03-11 21:31] Sijoma commented on #3152
I'm amazed about this issue. I was baffled just now as I wanted to try out Pulumi and spin up a GKE cluster locally just for trying it out. I don't want to login.

[2022-03-12 04:56] mrjackdavis commented on #3583
Hey, I've run into this on multiple occasions, especially in relation to SNS topics and subscriptions. They return `status code: 404` errors.

I would expect `refresh` to detect if an item, or one of it's parents is deleted.

My current, onerous, workaround is to remove these items from state. But it's frustrating especially if there's a lot.

Are there any better workarounds?

[2022-03-12 10:16] DSTAlan commented on #9108
Hi @VNGSNZ , I am seeing this issue, is there a fix/workaround?

[2022-03-12 10:38] andreujuanc commented on #9117
UPDATE: `pulumi destroy` runs without issues. It does not require the PULUMI_CONFIG_PASSPHRASE

[2022-03-12 12:02] andreujuanc commented on #9117
The actual problem is that I read the state of another project which in 1 environment uses passphrase.
Just running `new pulumi.StackReference(`<Project Path that uses passphrase>`)` will trigger the passphrase prompt.
The weird part is that this was not the case before, but only after v3. And also not even reading secrets (which I get should be protected) but these are "open".
When I go to the pu

[2022-03-12 16:44] DSTAlan commented on #9089
Just FYI, I've used aliasing to re-parent everything as you suggested.  I've re-parented on to the service bus rather than the stack or resource group so the file hasn't shrunk as much as possible but it is a lot better.  The file has shrunk from 470mb to 14mb and deployment for a rule add has dropped rom 3.5 hours to 45 seconds. So thanks for the tips.  Hopefully there will be a solution soon tha

[2022-03-13 08:35] aureq commented on #9108
@DSTAlan Have you tried to upgrade to the latest Pulumi version ?

[2022-03-13 08:50] aureq opened #9186 "Pulumi fails to parse json result from the Azure CLI"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details

As reported by one of our [customers](https://pulumi.slack.com/archives/C02RTMK0F3N/p1647154219884899), the Pulumi CLI is having issues parsing the output of the Azure CLI 2.34.1. However, reverting to the Azur

[2022-03-13 19:18] Mejato commented on #9108
@DSTAlan see - (https://github.com/pulumi/pulumi-azure-native/discussions/1565)

[2022-03-13 21:12] aureq commented on #9186
This is related to pulumi/pulumi-azure-native#1549 and a workaround is provided in this comment https://github.com/pulumi/pulumi-azure-native/discussions/1565#discussioncomment-2341171

[2022-03-14 06:31] henriiik commented on #9111
I created a work around this by subclassing MockMonitor:

[code]

[2022-03-14 07:36] lghinet opened #9187 "glog and klog"
Hello,
I have an issue using klog in my go app, following the automation API  sample app https://github.com/pulumi/automation-api-examples/blob/main/go/inline_program/main.go

when i try to start my app I get the following error
[code]
if I remove ```klog.InitFlags(nil)``` from my main.go ..  klog will not work ok

i think is related to https://github.com/pulumi/pulumi/issues/4121

thanks

[2022-03-14 08:07] mikhailshilkov opened #9188 "Build failing at Lint Language SDKs"
Post Set Up Python job is now constantly failing in the master worklflow with

[code]

[2022-03-14 08:22] mikhailshilkov commented on #9186
@aureq should we move this to the azure-native repo?

[2022-03-14 08:36] aureq commented on #9186
@mikhailshilkov yes, happy to if you think this is better.

[2022-03-14 08:36] #9188 closed

[2022-03-14 10:50] raphaelauv opened #9190 "pulumi up , high upload network needs (remote backend -> GCS)"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details

with pulumi v3.26.1

pulumi-gcp 6.15.1

gcs backend

I want create a new resource , but after waiting 10 minutes I hit CTRL+C , wait 1 minute then hit a second time CTRL+C

[code]

### Steps to reproduce

Expec

[2022-03-14 15:53] lukehoban opened #9192 "[sdk/go] Panic using StringPtr as input to pulumi.All"
The following program panics.

[code]

[code]

[2022-03-14 15:53] lukehoban commented on #9192
This might be the same root cause as https://github.com/pulumi/pulumi/issues/7706?

[2022-03-14 18:32] SimonAdameit opened #9195 "[GitHub App] Provide an alternative to the .git folder for integration"

[2022-03-14 23:40] rafaelabdalla opened #9260 "Error establishing RPC connection to the EKS cluster"
## Issue details

- Go version:  1.17.6
- Pulumi version: v.3.26.1
- kubernetes provider: 3.16.0
- aws provider: 4.38.1

When executing `pulumi up` on a kubernetes stack the following error message is being displayed
[code]

A snippet of the code executed is below.
[code]
The execution debug log is attached.
[debug.txt](https://github.com/pulumi/pulumi-kubernetes/files/8249090/debug.txt)

Expected

[2022-03-15 08:03] mikhailshilkov commented on #9190
@raphaelauv Does it happen every time, or just happened once? On one particular stack, or all updates? Any program that I could run to reproduce?

[2022-03-15 09:02] raphaelauv commented on #9190
Okay I got it , my UPLOAD internet speed was very low ( less than 256 KIB/s ) , but why pulumi need so much bandwidth for a so small change ?

[2022-03-15 09:40] TechWatching commented on #3937
@leezen I still have the issue. Could you tell me where I can find the logs that you need for that?

[2022-03-15 09:43] Frassle commented on #9190
Pulumi currently writes the entire stack state across the network for every change, so bandwidth is proportional to total resources in the stack, not changes made. This is simple but highly inefficient!

We have other issues such as https://github.com/pulumi/pulumi/issues/6074 and https://github.com/pulumi/pulumi/issues/5469 tracking this.

[2022-03-15 09:44] Frassle commented on #3937
Logs can be printed by adding `--logtostderr -v9` to your pulumi command.

[2022-03-15 10:02] raphaelauv commented on #9190
okay , so I can close that issue, thanks for your answer

[2022-03-15 10:27] Frassle commented on #7706
Might be fixed by https://github.com/pulumi/pulumi/pull/9197, need to confirm.

[2022-03-15 10:49] antstanley opened #9201 "Pulumi not respecting engines property and npmrc file"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details

Pulumi doesn't appear to respect the `engines` setting in `package.json` or the `engine-strict` config option in `.npmrc`

I've built a Custom Resource in Pulumi with a pre-deploy step that copies files from on

[2022-03-15 11:16] #9190 closed

[2022-03-15 11:43] mikhailshilkov commented on #1539
JVM support is on our [public roadmap](https://github.com/orgs/pulumi/projects/44). I'll take you on your offer to provide help after May 👍

[2022-03-15 11:57] mikhailshilkov commented on #4019
Import functionality has been significantly refactored in #8922 to substantially reduce the number of failures during `pulumi import` and make the generated code more truthful and complete. We haven't tested this exact issue, but we believe it's addressed by the refactoring.

I'll go ahead and close the issue - feel free if you still get issues with it after upgrading to the Pulumi CLI version 3.2

[2022-03-15 11:58] #4019 closed

[2022-03-15 11:59] mikhailshilkov commented on #8976
Import functionality has been significantly refactored in #8922 to substantially reduce the number of failures during `pulumi import` and make the generated code more truthful and complete. We haven't tested this exact issue, but we believe it's addressed by the refactoring.

I'll go ahead and close the issue - feel free if you still get issues with it after upgrading to the Pulumi CLI version 3.2

[2022-03-15 11:59] #8976 closed

[2022-03-15 12:00] mikhailshilkov commented on #8300
Import functionality has been significantly refactored in #8922 to substantially reduce the number of failures during `pulumi import` and make the generated code more truthful and complete. We haven't tested this exact issue, but we believe it's addressed by the refactoring.

I'll go ahead and close the issue - feel free if you still get issues with it after upgrading to the Pulumi CLI version 3.2

[2022-03-15 12:01] #8300 closed

[2022-03-15 12:01] mikhailshilkov commented on #6547
Import functionality has been significantly refactored in #8922 to substantially reduce the number of failures during `pulumi import` and make the generated code more truthful and complete. We haven't tested this exact issue, but we believe it's addressed by the refactoring.

I'll go ahead and close the issue - feel free if you still get issues with it after upgrading to the Pulumi CLI version 3.2

[2022-03-15 12:02] #6547 closed

[2022-03-15 12:04] mikhailshilkov commented on #6131
Import functionality has been significantly refactored in #8922 to substantially reduce the number of failures during `pulumi import` and make the generated code more truthful and complete. We haven't tested this exact issue, but we believe it's addressed by the refactoring.

I'll go ahead and close the issue - feel free if you still get issues with it after upgrading to the Pulumi CLI version 3.2

[2022-03-15 12:04] #6131 closed

[2022-03-15 12:05] mikhailshilkov commented on #7366
Import functionality has been significantly refactored in #8922 to substantially reduce the number of failures during `pulumi import` and make the generated code more truthful and complete. We haven't tested this exact issue, but we believe it's addressed by the refactoring.

I'll go ahead and close the issue - feel free if you still get issues with it after upgrading to the Pulumi CLI version 3.2

[2022-03-15 12:05] #7366 closed

[2022-03-15 12:09] mikhailshilkov commented on #7697
There seem to be several issues in one here, but I'll treat it as a purely import issue for clarity.

Import functionality has been significantly refactored in #8922 to substantially reduce the number of failures during `pulumi import` and make the generated code more truthful and complete. We haven't tested this exact issue, but we believe it's addressed by the refactoring.

I'll go ahead and clo

[2022-03-15 12:09] #7697 closed

[2022-03-15 12:11] #5828 closed

[2022-03-15 12:14] mikhailshilkov commented on #4333
We've introduced the `import` command since this issue was created and it's not clear what it's currently tracking. I'll go ahead and close it for now, let me know if there's a follow-up to be done here

[2022-03-15 12:14] #4333 closed

[2022-03-15 12:15] mikhailshilkov commented on #6690
Import functionality has been significantly refactored in #8922 to substantially reduce the number of failures during `pulumi import` and make the generated code more truthful and complete. We haven't tested this exact issue, but we believe it's addressed by the refactoring.

I'll go ahead and close the issue - feel free if you still get issues with it after upgrading to the Pulumi CLI version 3.2

[2022-03-15 12:15] #6690 closed

[2022-03-15 12:27] mikhailshilkov commented on #5934
This is very close to #8836 so we'll use that issue to track this improvement

[2022-03-15 12:27] #5934 closed

[2022-03-15 12:27] mikhailshilkov commented on #6653
This is very close to https://github.com/pulumi/pulumi/issues/8836 so we'll use that issue to track this improvement

[2022-03-15 12:27] #6653 closed

[2022-03-15 12:49] Frassle commented on #9181
I'm not sure the service returns us this information? `/api/user` just returns the username.
@pulumi/service is there an endpoint we can hit to get this data?

[2022-03-15 13:03] Frassle opened #9202 "Document and see about testing and improving the homebrew build"
Homebrew does a third party build of pulumi at https://github.com/Homebrew/homebrew-core/blob/master/Formula/pulumi.rb

When we changed "make brew" we broke that build.
We should document in the Makefile that "make brew" is used in that third party location.
We should see about removing the need for get-version from "make brew"
We should see if we can test the third party build as part of our CI.

[2022-03-15 13:21] yarinm opened #9255 "SDK can use more recent protobuffer properties than the engine understands"
## Issue details

We are creating AKS cluster with system agent pool, per your recommedation we added `ignoreChanges` to the AKS's `agentPoolProfiles` and added a new state for importing the system pool as a different resources.

Creation and updates are working well but if we want to destroy the stack we encounter this error:
[code]

I tried adding `pulumi.RetainOnDelete` to the control1 agent po

[2022-03-15 13:23] EvanBoyle commented on #9181
`/user` returns a full user including a list of org summaries:

https://github.com/pulumi/pulumi-service/blob/2a639a4444d3b6234cf704c307544813c849f42a/pkg/apitype/users.go#L20-L34

https://github.com/pulumi/pulumi-service/blob/b0608554fe29d14d95c96113c0f5243dffea6fd6/cmd/service/routing_api.go#L224

I believe that the `pulumi whoami` command does not call this endpoint, and instead reads this info

[2022-03-15 13:32] Frassle commented on #9181
Ah ok we do call that but looks like we only pull GithubUser off the response, I'll test if we can pull of the other entries and feed them back.

[2022-03-15 14:02] susanev commented on #9195
@mikhailshilkov theres more context in this [community slack convo](https://pulumi-community.slack.com/archives/C84L4E3N1/p1647255666366349) and this [internal slack convo](https://pulumi.slack.com/archives/C033RTYKYJF/p1647271384751079)

[2022-03-15 14:15] mikhailshilkov commented on #8917
@secustor Sorry for a very slow response. Am I reading this correctly that you get this error during the initial preview, even before any resources started to be created?

I did a quick test with another provider and the provider resource did wait for a dependent resource to be created. But maybe preview misbehaves?

Same question to you @rafalkrupinski

[2022-03-15 14:46] SimonAdameit commented on #9195
I have looked a bit into the code and this seem to be some relevant places:
- [`gitutil.GetGitRepositor`](https://github.com/pulumi/pulumi/blob/6e9e248f2c152bfdbac25a14059227f402d3dd0b/sdk/go/common/util/gitutil/git.go#L72) finds the repository by walking up the tree
- [`main.addGitMetadata`](https://github.com/pulumi/pulumi/blob/6e9e248f2c152bfdbac25a14059227f402d3dd0b/pkg/cmd/pulumi/util.go#L583

[2022-03-15 19:58] #9131 closed

[2022-03-15 21:33] AMKamel commented on #6229
I have this error using dynamic provider with `true-myth` library
[code]

The code works normally if it was not used directly without pulumi.

[code]

[2022-03-15 22:11] Frassle opened #9210 "Imported tfbridge resource no longer treat names as defaults"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details

Before Pulumi 3.26 an import of a tfbridge resource would populate the reserved `__defaults` key with every property that _could_ have a default. After 3.26 `__defaults` is now empty for imported resources. An

[2022-03-15 22:44] Frassle commented on #9210
Note that this behavior differs in the native providers. They don't have __defaults so their logic for names is simply:
 1. Is it in the new input set, use that.
 2. Is it in the old checked set, use that.
 3. Neither, generate a new one.

I wonder if we could simply just change tfbridge to always treat autoname properties as being in __defaults and never bother explicitly adding them there. tfbri

[2022-03-15 23:15] TechWatching commented on #3937
Thanks. Here are the logs @leezen . The process does not end, so I had to Ctrl +C.
[logs_pulumi.txt](https://github.com/pulumi/pulumi/files/8257804/logs_pulumi.txt)

[2022-03-15 23:53] Frassle commented on #9172
Feel like maybe this should be a service feature?

[2022-03-16 00:02] aureq commented on #9172
Yes, partly.

In case of 1, then this could simply be enforced within the CLI regardless of the backend used. Maybe by checking any resources with the protected flag in the stack state file.

 As for 2, this would definitely be a pulumi service feature.

[2022-03-16 00:02] phillipedwards opened #9212 "StackReference Cannot be Mocked from a Unit Test"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details

As a developer, I want to be able to mock `StackReferences` in my code, so that I can detach external data sources and solely test my local code without external dependencies. Currently, instead of invoking the

[2022-03-16 01:03] mohitreddy1996 opened #9213 "Amazon Managed Grafana support in Pulumi"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

Amazon GA'd Managed Grafana in the second half of 2021 - https://aws.amazon.com/grafana/

It would be great to add support for creating Managed Grafana workspaces with setup (e.g. option to add data sources, crea

[2022-03-16 08:56] Frassle commented on #9172
OK so part 1 is adding an extra option so that --force alone will only delete the stack if it's got non-protected resources in it.
So we get:
1) No options, can't delete a stack with resources in it
2) --force, can't delete a stack with protected resources in it, but can if they're just un-protected resources
3) --XYZ, can delete a stack regardless of what's in it

Any suggestions for that flag na

[2022-03-16 13:22] lblackstone opened #12510 "String literal value with multiple `*` characters not rendering properly"
File: [themes/default/content/registry/packages/google-native/api-docs/cloudkms/v1/keyring/_index.md](https://www.pulumi.com/registry/packages/google-native/api-docs/cloudkms/v1/keyring/)

The [name property](https://www.pulumi.com/registry/packages/google-native/api-docs/cloudkms/v1/keyring/#name_go) includes a string literal that contains several `*` characters. It appears that the markdown rend

[2022-03-16 13:55] nmelche opened #9214 "Unexpected Input of Type GetPolicyResult when using GetPolicy on an AWS Permissions Boundary"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details

When attempting to retrieve an AWS permissions boundary, via the [GetPolicy](https://www.pulumi.com/registry/packages/aws/api-docs/iam/getpolicy/) function, the following error occurs:
`ValueError: unexpected i

[2022-03-16 14:57] Zaid-Ajaj commented on #4676
Currently blocked by [winget-cli: Support installing .zip files #140](https://github.com/microsoft/winget-cli/issues/140)

[2022-03-16 16:06] mckinnsb opened #9218 "Testing pulumi with Jest (using Babel or ts-jest) produces incorrect output on test failure"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details

Calling `pulumi.runtime.setMocks` when using `ts-jest` or `babel-typescript` with jest produces incorrect stack trace output when a test fails.

Example output:

[code]

### Steps to reproduce

1. Create a pulu

[2022-03-16 18:07] mckinnsb commented on #9218
Actually, this appears even to be the case when importing `pulumi` into test files.

[2022-03-16 18:56] #9192 closed

[2022-03-16 21:01] AaronFriel opened #9224 "Ensure builds respect split-DNS configurations on MacOS"
See:
- https://github.com/golang/go/issues/12524

And this helpful comment: https://github.com/golang/go/issues/12524#issuecomment-1006174901

We may want to build our MacOS binaries on Intel (x86-64) and then cross-compile with a flag (CGO_ENABLED=1) to ensure that DNS resolution uses the host/libc DNS.

For our other platforms, building natively or cross-compiling from Linux with CGO_ENABLED=0 s

[2022-03-16 21:19] alexelent-carta opened #9264 "Panic When Creating Elastic IP using Golang"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details

When using `ec2.NewEip()` receiving the following error:

[code]

### Steps to reproduce

Here is the sample code to reproduce:
[code]

Here is my config file:
[code]

[code]

Note: For what it is worth, I was

[2022-03-16 21:59] aureq commented on #9172
Yes you're right @Frassle 👍 Though, the `--force` wouldn't work if the stack is connected to the Pulumi service and stack termination is enable for that stack.

A possible flag name could be `--delete-protected` ?

Also, would you like me to open a separate issue in the Pulumi service repo to cover the 2nd point ?

[2022-03-16 22:40] Frassle commented on #9172
Hmm delete protected suggests its actually doing deletes, and we've already got an issue about this command having confusing wording https://github.com/pulumi/pulumi/issues/9166

https://github.com/pulumi/service-requests/issues please 😄

[2022-03-17 01:10] Zaid-Ajaj commented on #4676
OK, this _was_ blocked because `winget` doesn't know how to install zip files which is what pulumi publishes to the releases. However, I was able to programmatically generate an [MSI installer](https://github.com/pulumi/pulumi-winget/releases/tag/v3.26.1) from the corresponding zip files (retrieved from pulumi releases).

After releasing the MSI, a winget manifest is generated from it and sent as

[2022-03-17 02:18] jedieaston commented on #4676
Thanks for setting this up!

Looks like @pulumi-bot needs to sign the Microsoft CLA for the PR to pass CI. [Once that's fixed](https://github.com/microsoft/winget-pkgs/pull/54644#issuecomment-1069781619), this should be good to go.

[2022-03-17 02:41] susanev opened #9228 "consider prompting for region with pick list"
## overview
when the region is not yet set in the config can we prompt for it with a picklist?
e.g, when following this tutorial https://www.pulumi.com/registry/packages/aws/how-to-guides/s3-website/ they have to use the config command and know the appropriate values that are possible, can we make this better?

### questions
when should we detect that this is not yet set?

[2022-03-17 02:45] susanev opened #9229 "detect when an _empty_ update is being run"
## overview
can we detect when someone is running an update with nothing being deployed beyond the stack itself and warn the user about this?

folks may hit this when they forget to save the file.

more than likely, folks don't mean to do this, but a lot of new users may do this by accident; if we can message them ahead of time, it may help them better understand what is happening and adjust ahead

[2022-03-17 02:47] susanev opened #9230 "consider suppressing stacktraces in situations where we know it is not helpful"
## overview
we display stacktraces in situations where it is not helpful to the user. can we detect when it will not provide any help to the user and hide it? or force the user to take a separate action to view it?

[2022-03-17 02:49] susanev opened #9231 "order error messages by most likely to solve the problem"
## overview
in situations where we present multiple errors from multiple components is there any way to order them by their likelihood to solve the problem for the user?

[2022-03-17 02:51] susanev opened #9232 "consider making it clear what component error messages come from"
## overview
our error messages require users to understand how the components are related and work together. for new users, this can be pretty frustrating. can we display the component the error message is coming from along with the error message? this will help users better understand how things work together and give them a better chance of being able to address the error.

[2022-03-17 05:15] sunilvijaychordia opened #9233 "Error: Resource parent is not a valid Resource"
Using Pulumi:

I am trying to add secrets to my key vault (a clientId, client secret, and tenantId) to mount my Databricks app to my storage account. The app registration for Databricks is done in "Databricks.ts". I am passing this Databricks app object to the "Keyvault.ts" to add the secret to key vault. Here's the code that is adding the secret. The error I get is as below. How do I convert the

[2022-03-17 08:16] Frassle commented on #9228
@AaronFriel this would be a good use case for typed provider configs

[2022-03-17 08:19] Frassle commented on #9229
I don't think we can do it ahead of time, we need to run the program to see what it does. But we could warn at the end of up that nothing but a stack was deployed and that's probably a mistake. Would we also want to warn if a user runs an up that causes all resources but the stack to be deleted?

[2022-03-17 08:46] aureq commented on #9172
🤔... yes you have an excellent point ! finding a good flag it tricky 🤨

How about `--ignore-protected-resources` or maybe `--ignore-stack-protected-resources`. Then the command would be `pulumi stack rm <stack_name> --force --ignore-protected-resources` ?

It feels we should be explicitly using `resources` in the flag name so it's clear enough. Other than `ignore`, we could also use `bypass` or `o

[2022-03-17 10:21] mikhailshilkov commented on #9233
What are you trying to achieve by setting a parent here? The `parent` option allows you to build a hierachy of resources in terms of Pulumi state and console, e.g. you would see one resource under the other in the preview. For that to work, you need to pass an actual resource to the option value (e.g. `keyVault` to make the vault be the parent of the secret).

Or do you want something else?

[2022-03-17 11:23] Frassle commented on #3219
Closing as duplicate of https://github.com/pulumi/pulumi/issues/8949

[2022-03-17 11:23] #3219 closed

[2022-03-17 12:28] susanev opened #9235 "customize do you want to perform this update message"
## overview
on every update we ask the question _Do you want to perform this update?_. is it possible to customize this text based on the situation, and especially for destructive actions? possibly something like _Do you want to perform this update that deletes n resources?_ or _Do you want to perform this update that deletes all resources?_. If length is a concern we could shorten these to _Perfo

[2022-03-17 12:59] Frassle commented on #9172
Had a look at the code needed for this. We'd need a service change for the first part as well, currently the CLI just sends a DELETE request to the service with a "force" flag and then the service checks if there's any resources in the stack. So we need the service to support "force" and "something about protect" on the stack DELETE handler before we add it to the CLI.

[2022-03-17 13:09] susanev commented on #9228
notes from Zaid:
- consider a default value, then ask folks if they want to change it
- this could be extended to other config options with restricted options to select from (will need to figure out which ones)

[2022-03-17 13:14] Frassle commented on #9166
[code]
?

[2022-03-17 13:16] susanev commented on #9230
notes from Zaid
- case-by-case basis and how much effort we want to put effort into it
- not an easy thing to do

[2022-03-17 13:20] susanev commented on #9231
Notes from Zaid:
- can we hide the stacktrace in an accordion?
- can we display the type, then the message, then the stack trace (if needed)

[2022-03-17 13:22] susanev commented on #9232
Zaid
- worry about verbosity, would want a way to suppress if they wanted to
- does not feel that this would help beginners

[2022-03-17 13:25] #8973 closed

[2022-03-17 13:25] susanev commented on #9235
Zaid
- consider only for high impact destructive actions, such as one that deletes all resources

[2022-03-17 13:39] susanev opened #9237 "deduplicate runtime error messages"
## overview
we sandwhich error messages with..

[code]

and...

[code]

are these useful to users? if not, should we consider removing them to reduce the wall of error text that many users hit?

[2022-03-17 22:11] ColeSiegelTR commented on #1556
Hi @joeduffy

I have the same use case as @darnmason , I am looking to output values from a different stack, but I need to select the stack first before running `pulumi stack output OutputName`

Since I am not doing any Pulumi deployment here I don't think I should need the yaml file, I guess I need to make a dummy one as a work-around in the mean time.

[2022-03-17 22:39] Frassle commented on #1556
I don't think rm, or output do need the yaml file? You just need to fully quailfy the stack name you pass to `--stack`,
e.g. the following works for me:
[code]

[2022-03-17 22:42] secustor commented on #8917
Yes that is correct

[2022-03-17 22:47] lukehoban commented on #1556
@Frassle sounds like we might want to improve the error message in these cases to be more clear that there are two options to fix:
1. Fully qualify the stack name
2. Work within a folder that has a project name inferred from a Pulumi.yaml

[2022-03-17 22:48] Frassle commented on #1556
[code]

@Zaid-Ajaj just updated that 😄

[2022-03-17 23:12] caseyyh commented on #9166
It would also be great to maybe include verbage like `Use pulumi destroy to tear down resources first` or something!

[2022-03-17 23:38] susanev opened #9242 "update access token to user token in the cli"
we will soon be renaming access token to user token so we will need to update uses of it in the cli. we will be doing the service changes in https://github.com/pulumi/pulumi-service/issues/8389 and the docs changes in https://github.com/pulumi/pulumi-hugo/issues/1224.

[2022-03-18 00:49] lukehoban commented on #9242
Hmm - I'm not sure that's a good change.  These are access tokens.  Let me take a look at the decisions we made leading to this before we make disruptive name changes here.

[2022-03-18 00:52] #9242 closed

[2022-03-18 10:54] Frassle commented on #9166
[code]

@susanev any thoughts? Probably want to keep in mind that this error message is going to have to cover https://github.com/pulumi/pulumi/issues/9172 at some point as well.

[2022-03-18 11:13] Zaid-Ajaj commented on #9201
Hi @antstanley thanks a lot for filing the issue. Indeed, pulumi should take node project config into account. I will see what I can do about and will keep you posted 😄

[2022-03-18 12:31] mikhailshilkov commented on #3937
@TechWatching As far as I can see, these logs only span 15 seconds and end with an error `'vaultName' does not match expression '^[a-z` - are you sure this is the result you described above?

[2022-03-18 12:36] TechWatching commented on #3937
That's not the same stack (I don't think I still have the one from the original description) but that's the same problem. Every time my stack has an error when being deployed, it truncates the logs and sometimes like this one stays sucked until I Ctrl + C the process.

[2022-03-18 12:38] mikhailshilkov commented on #3937
Do you have a repro program that I could run myself to see this? It sounds really odd.

[2022-03-18 14:13] TechWatching commented on #3937
Yes. You can find the branch [here](https://github.com/TechWatching/AzureFunctionSQLBindings/tree/issue-3937) (folder eng/infra for the IaC program).
I have just re-executed, this time the process was not stuck but the error message was truncated like previously:
![issue3937](https://user-images.githubusercontent.com/15186176/159018798-44e692b1-df36-48cd-8c12-1b3bfc9ad247.png)

[2022-03-18 15:35] susanev commented on #9166
i can take a look on monday!

[2022-03-18 17:52] Frassle opened #9246 "Add support for authentication helpers"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

See https://github.com/pulumi/pulumi/pull/6379 for some background.

Add some way to use authentication helpers, small programs that we exec to get back credentials (Like what git supports https://git-scm.com/doc

[2022-03-18 18:10] tedchang77 opened #9247 "Experimental Update plans fails with "panic: fatal: An assertion has failed" when using StackReference"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details

using a plan to do an pulumi up that has a pulumi stackreference fails with a panic message.

### Steps to reproduce

1. pulumi preview --save-plan plan.json
2. pulumi up --plan=plan.json --logtostderr -v9

pul

[2022-03-18 21:41] scrottty commented on #8674
@ggeer8 - Iv tried all of the answers on https://github.com/grpc/grpc/issues/25082, in a bunch of different configurations (condo, venv, py3.8, py3.9, etc.) to no avail.

Do you have a specific solution that worked for you? Thanks in advance for any help!

[2022-03-18 21:55] farcaller commented on #9246
I can work on implementing this feature if the consensus settles on pulumi wanting support for it.

[2022-03-18 22:01] ggeer8 commented on #8674
Hit me up on the Pulumi Slack, will be happy to try to help out!

[2022-03-18 22:51] tedchang77 commented on #9247
@Frassle we are currently using stack references to create our k8s provider that we pass to our k8s resources:
`const provider = new k8s.Provider("k8s", { kubeconfig: gkeStack.getOutput("kubeConfig"), namespace: config.namespace });`
do you have an idea of how long it will be before there is a fix? depending on timelines we have a workaround where we can use the ambient provider - understand that

[2022-03-18 23:06] Frassle commented on #9247
I'll work on this on Monday, hopefully it's a simple fix.

[2022-03-18 23:17] scrottty commented on #8674
Ok I got this working. Putting what I did up here for any future stuck people!

The issue seems to be if you use conda. It gets in the way of the installations. So I did the following:
1. Uninstalled pulumi - `brew uninstall pulumi`
2. Made sure my console was outside of any conda env including the base env, so typing `conda deactivate` a bunch of times
3. installed the version of python I wanted

[2022-03-19 00:02] #9180 closed

[2022-03-19 15:36] mikhailshilkov commented on #766
I'm slowly going through older issues... This one isn't user-facing and has been open for 4 years without any action - so I'll go ahead and close it thinking it has no real value anymore.

[2022-03-19 15:36] #766 closed

[2022-03-19 15:42] mikhailshilkov commented on #909
I'm slowly going through older issues... This one has been open for 4 years without any action and I don't feel like we want to do exactly what it describes. Let's track with other items in #4603.

[2022-03-19 15:42] #909 closed

[2022-03-19 15:51] mikhailshilkov commented on #1186
This issue is not user-facing and has been open for 4 years without any activity. I'll go ahead and close it to reduce clutter.

[2022-03-19 15:52] #1186 closed

[2022-03-19 16:00] mikhailshilkov commented on #1466
This seems to be working for me now

[2022-03-19 16:00] #1466 closed

[2022-03-19 16:14] #1765 closed

[2022-03-19 17:45] prom3theu5 commented on #8402
I actually put something together for a basic hierarchy with Stack config.
Forgive me if there is a better way - nly been using pulumi a few days, and mainly spend most of my time working in C#

Perhaps it can help someone

requires:
[code]

Static Config Helper:
[code]

Config Provider:
[code]

Using the above you can then have a static stack file, which you can "augment" with pulumi stack inform

[2022-03-19 22:03] Zaid-Ajaj commented on #4676
@rodrigoscna, @adriantorrie Pulumi is now available through `winget` as of version v3.26.1
[code]
Will install the latest version of pulumi and subsequent versions will be made available as soon as they are released.

Please give it a try and let us know if you encounter any issues. In case of any, please consider reopening this issue.

Thanks @jedieaston for reviewing the PR for adding pulumi to

[2022-03-19 22:03] #4676 closed

[2022-03-19 23:42] krishnan-mani commented on #1539
@mikhailshilkov
I want to begin on this right now, and perhaps you can help me get started (emailing the address on your profile, so you can choose a time to speak)

[2022-03-20 07:01] Yu-Jack commented on #3061
I share how I use `tsconfig` `paths` with multiple services in one repo and different folders. Here is a simple demo repo https://github.com/Yu-Jack/pulumi-arc.

Because you need to run the `pulumi` command with `index.ts`, so you should put the `tsconfig` with it.

[code]

Then if you have shared libs,  you should define it in `tsconfig` like this.

[code]

[2022-03-20 13:20] #9066 closed

[2022-03-20 21:51] lukehoban commented on #6146
AFAICT - this is now just a duplicate of #5878 and #6145 which are a bit clearer on what is being tracked.  Closing this out as a duplicate.

[2022-03-20 21:51] #6146 closed

[2022-03-20 22:03] KaoruDev commented on #4625
I got around this by passing the `name` as the `type`. I.E:

[code]

Not sure if this will cause issues, but it does allow me to avoid prefixing the children with the name of the parent.

https://github.com/pulumi/pulumi/discussions/9250

[2022-03-21 02:30] Mejato opened #9251 "azure_native.network.Subnet [Documentation Update - Create subnet with a delegation]"
The "Create subnet with delegation" example does not reflect the actual code example.

Please update the documentation.

[2022-03-21 03:28] susanev commented on #9251
hi @Mejato thx for the report! is this the example you are referring to?
https://www.pulumi.com/registry/packages/azure-native/api-docs/network/subnet/#create-subnet-with-a-delegation

[2022-03-21 07:07] Mejato commented on #9251
Hi @susanev, yes thats the one.

[2022-03-21 08:52] zivyatziv commented on #9133
Hey there, there seems to be an issue with newer versions of grpcio.
You can run:
[code]
Or simply add `grpcio<=1.43.0` to your `requirements.txt`.

[2022-03-21 10:18] jmcrthrs opened #9252 "Export from Pulumi service and import to S3"
Is it possible to follow this guide and export from Pulumi Service to S3?

https://www.pulumi.com/docs/intro/concepts/state/#migrating-between-backends

I have exported my stack from Pulumi Service to a file:

[code]

and then logged in to S3 and attempted to import it:

[code]

I think it is referring to this section of my json:
[code]

I don't have any secrets in my project. Is it safe to remove

[2022-03-21 10:18] yarinm opened #9253 "Unable to disable self-managed state locking"
## Issue details
We recently upgraded to 3.26.1 and we're unable to disable self-managed state locking using the flag `PULUMI_SELF_MANAGED_STATE_LOCKING=0`

It seems that it was removed using this [PR](https://github.com/pulumi/pulumi/pull/8565/files)
We would like to disable this feature since we have our own locking mechanism that we trust and is easier for us to handle without manually deleting

[2022-03-21 10:31] Frassle commented on #9247
Tracked down that I think this is due to Check returning an error and us still trying to store the resource in the plan and check it against the plan.

[2022-03-21 10:59] Frassle commented on #9252
Before you export you can change the secret provider to the passphrase based secret provider (or any of the other non-pulumi-service options) with `pulumi stack change-secrets-provider passphrase`.

[2022-03-21 11:04] Frassle commented on #9253
OOI how is it different from ours? What issues have you seen with the built-in locking that yours avoids?

FYI `pulumi cancel` will now do this for you with the filestate backend.

[2022-03-21 11:17] Frassle commented on #9133
Looks like this is getting fixed in grpcio https://github.com/grpc/grpc/pull/29103

[2022-03-21 11:35] yarinm commented on #9253
Pulumi cancel isn't available in automation API so we can't use it.

@Frassle In our locking mechanism we have lease logic so if a process dies and doesn't renew the lease the lock is released after a few seconds.

[2022-03-21 11:37] yarinm commented on #9253
@Frassle will cancel work with s3 backend?

[2022-03-21 11:41] Frassle commented on #9253
Ah we should add that. No reason for it to be missing.

Yes, "filestate" is our catch all term for the non-service backend. So s3, gcs, plain files all count as filestate.

Interesting idea. I need to rethink our locking code anyway, might see if it makes sense to add that in as well with a disable option.

[2022-03-21 11:43] Frassle commented on #9247
I think the merged PR should fix this, will be included in the release this Wednesday. Try it out, if there's still issues re-open this ticket and let us know.

[2022-03-21 12:32] susanev commented on #9251
Okay, thx. Going to transfer this issue to the registry.

[2022-03-21 13:29] Frassle commented on #9252
There isn't any supported way to do that. You can just remove "secrets_provider" but I think it will cause the engine to panic if you add something that is a secret.

[2022-03-21 15:44] matanbaruch opened #9257 "Pulumi up/destroy on multiple stacks using CLI"
## Feature details

Pulumi up/destroy on multiple stacks using CLI

### Affected area/feature

Pulumi CLI

### Example
`pulumi up --target="**external-dns**" --stack "company-name/**"`

[2022-03-21 16:19] Frassle commented on #9257
Why?

You can do this pretty easily with a shell script. If your not worried about error handling you can do it in one line with jq and xargs:
`pulumi stack ls -j  | jq -r 'map(.name) | @sh' | xargs -n1 pulumi up --yes --stack`

[2022-03-21 16:46] matanbaruch commented on #9257
I do care about error handling, I'd like the ability to do or not to do parallel execution and use the Pulumi back-off mechanism and to not abuse AWS/GCP/K8s API.

[2022-03-21 17:27] jbrezina opened #9259 "[dotnet] Custom data type in Output"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details
I'm trying to output dictionary of custom data type but I'm getting an error.
The Output property and the custom data type are defined as follows
[code]
Expected: Custom data type is successfully serialized.
Act

[2022-03-21 17:29] jbrezina commented on #9259
[[dotnet] Support outputs of type object](https://github.com/pulumi/pulumi/issues/5446) may be somehow related?

[2022-03-21 22:14] Frassle commented on #9260
Quick look at this I think the problem is that the "ccmx/eks/dev" exports the provider resource (which is basically saved as a URN), when we read the stack outputs of that stack that urn is included in the property map. The node sdk then sees the resource urn and tries to read it by submitting a getResource call to the engine for the URN, but of course that can't find the resource because it's in

[2022-03-21 22:39] prom3theu5 opened #9261 "Fix CVE-2021-44906"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

Replace Minimise dependency in NodeJS with Minimise-lite.
See discussion here

https://github.com/substack/minimist/issues/164

and the advisory here:

https://github.com/advisories/GHSA-xvch-5gv4-984h

### Affec

[2022-03-21 23:09] justinvp opened #9263 "Provide a way to tell inside a MLC which language runtime the component was created from"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

Provide a way to tell inside a multi-language component which language runtime the component was created from. This would allow being able to case field names appropriately in error messages.

[2022-03-22 01:26] ghostsquad opened #9417 "Conform to golang standard generated code comment"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details

https://golang.org/s/generatedcode

[2022-03-22 08:12] mikhailshilkov commented on #9259
This is tracked in #3690

[2022-03-22 08:12] #9259 closed

[2022-03-22 08:14] mikhailshilkov commented on #9261
@Zaid-Ajaj could you please take a look?

[2022-03-22 10:20] prom3theu5 commented on #9261
It appears minimist has a new version released in last 6 house. 1.2.6.
maybe that can be upgraded? :)

[2022-03-22 10:26] Frassle commented on #9264
@iwahbe this might be due to yours or mine recent changes to awaitInputs, I can take a look tomorrow if you don't today

[2022-03-22 10:27] Zaid-Ajaj commented on #9261
@prom3theu5 Thanks for filing the issue, just made a PR #9265 for it 😄

[2022-03-22 10:46] #8994 closed

[2022-03-22 11:26] #9201 closed

[2022-03-22 11:33] Zaid-Ajaj commented on #9201
Hi @antstanley, the fix has been merged and will be available in the upcoming version of pulumi (tomorrow if everything goes to plan :rocket:)

[2022-03-22 11:35] #9261 closed

[2022-03-22 12:06] #9114 closed

[2022-03-22 12:45] ESipalis commented on #8447
Quick workaround for M1 Macs - add the following to your csproj:
[code]

This builds the program for x64 architecture, and then running `pulumi up` runs the build in x64 emulated mode.

No need for additional SDKs or anything, just have the latest .NET 6 Arm64 SDK.

[2022-03-22 12:59] Zaid-Ajaj commented on #8447
@ESipalis Tomorrow we will be releasing v3.7.0 of the Pulumi nuget packages. It should fix these issues and you won't need this type of workaround. Please consider taking it for a spin and let us know if you encounter any issues

[2022-03-22 13:04] mikhailshilkov commented on #2139
This hasn't got any traction in 3.5 years so I'll make a call to close it as won't fix

[2022-03-22 13:08] mikhailshilkov commented on #7576
I think this is a dupe of #2205 indeed

[2022-03-22 13:08] #7576 closed

[2022-03-22 14:29] praveenperera opened #9266 "Pulumi import with file errors out with 503 service unavailable"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details

I use pulumi cloud. The stack got into a bad state, I tried to remove the `pending_operations` from the stack.json and import with `pulumi stack import`. However, the CLI hangs for a while and returns a 503. I

[2022-03-22 14:31] praveenperera opened #9267 "Pulumi import refuses to proceed indicated a pending_operation"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details

After my issue with #9266 I manually deleted all my resources. And deleted everything from the `pending_operations` and `resources`. However when I do import I get an error:

[code]

We are using Pulumi cloud s

[2022-03-22 15:25] StevePotter opened #9268 "Output stack url and outputs to a file"
Hi, I'm looking to run Pulumi in a CI job and call another service to store the stack URL and outputs.  I can parse the output of `pulumi up`, but that's difficult and brittle.  CDK has an `--outputs-file` parameter that will generate a local JSON file with the outputs.  I'm looking for the same thing.  Ideally, one file that has the outputs in a JSON format and another file that has the URL to th

[2022-03-22 16:04] Frassle commented on #9268
https://www.pulumi.com/docs/reference/cli/pulumi_stack_output/ ?

[2022-03-22 16:20] Mikopet commented on #3622
This looks something very important for me.
I'd love to contribute, and make a `Pulumi`-`Rust` world.

Definitly would change from terraform for that.

[2022-03-22 17:08] lukehoban commented on #9266
How large is your state file?  (`pulumi stack export > stack.json`)

Just to make sure - do you mean `pulumi stack import`?

This is typically because your client machine was unable to upload the state file to the service within the limit the API expects (I believe 1 minute).  Hence why I asked about the size of the state file.  We may need to revisit this limit to allow for larger state file uplo

[2022-03-22 17:19] praveenperera commented on #9266
Hey, yes I meant `pulumi stack import`. The stack.json file is 13.1MB over 100,000 lines.

[2022-03-22 17:52] iwahbe commented on #9264
https://github.com/pulumi/pulumi/pull/9106 has not merged yet, so I don't think that's the problem. I'll take a look today

[2022-03-22 17:57] ghostsquad commented on #1372
Is it possible to use any of the `--config*` flags to dynamically set/merge these debugging properties? It's not clear how these flags should be used.

![image](https://user-images.githubusercontent.com/903488/159545209-b9f81a1f-19de-4ca8-8787-8a9ec77939cf.png)

[2022-03-22 18:01] pawelros opened #9269 "Automation API, SummaryEvent is not emitted randomly [python]"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details

SummaryEvent sometimes is not emitted for successful Pulumi stack executions. I believe it should be always generated. Otherwise we cannot rely fully on Pulumi Automation Engine events.

### Steps to reproduce

[2022-03-22 19:45] nimbinatus commented on #6717
When trying to run a `pulumi up` with version 3.10.3, I got this traceback in case it helps:

[code]

Details:
- Python 3.10.3 via pyenv and a shim.
- pipenv as a virtual environment (same thing happened with the built-in, though)
- Brand new project and stack

[2022-03-22 22:08] Frassle commented on #6717
This is due to a change in python 3.10 which has broken the grpc wheel package: https://github.com/grpc/grpc/issues/28387

[2022-03-22 22:08] dmattia commented on #9107
This does not seem to work when there are resources that still depend on the provider

[2022-03-23 08:20] mikhailshilkov commented on #9268
Is this flag what you are looking for @StevePotter ?

[code]

[2022-03-23 10:53] mikhailshilkov commented on #2514
This issue is very old and I haven't seen any recent reports of it. I'll take the liberty to close it as stale - anyone please feel free to open a new issue with a repro a memory problem if you ever face one.

[2022-03-23 10:53] #2514 closed

[2022-03-23 12:02] pawelros commented on #9269
Not sure if this is related, but when SummaryEvent is not emmitted I always see this error as well:
[code]

[2022-03-23 12:46] StevePotter commented on #9268
Heck yes, I can't believe I missed it!  It would be cool to have a full url in addition to the urn, but that's fine.  Thanks so much!

[2022-03-23 12:50] #9268 closed

[2022-03-23 12:52] mikhailshilkov commented on #2608
It's been a long time since the last activity on this issue. Also, I have a feeling that plugin version oddities are not exactly because of the `package.json` file (we shouldn't use it directly) but are more intricate. I'll take the liberty to close this issue and we'll address plugin versioning in other issues if they are raised.

[2022-03-23 13:03] #2635 closed

[2022-03-23 13:25] #2700 closed

[2022-03-23 13:33] mikhailshilkov commented on #8946
Related: https://github.com/pulumi/pulumi/issues/2717

[2022-03-23 13:36] mikhailshilkov commented on #2721
Let's track in #3599 which seems to be a more concise summary

[2022-03-23 13:36] #2721 closed

[2022-03-23 14:32] antstanley commented on #9201
Thank you for picking this up! Will test it in the morning!

[2022-03-23 19:58] siggimoo opened #9273 "Golang SDK exposes RPC mechanism in error handling"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details
In the Golang SDK [any error occurring during RPC is reported as such](https://github.com/pulumi/pulumi/blob/d7393a3c24af7b12ec8bcde7e8acdf9e60441a60/sdk/go/pulumi/context.go#L183), even errors from the called p

[2022-03-23 20:39] ghostsquad commented on #9273
`pulumi.Context` should be an interface, not a concrete value. The philosophy is "accept interfaces, return concrete values".

`pulumi.RunErr` shouldn't even _know_ that it's dealing with mocks, but it certainly does:
https://github.com/pulumi/pulumi/blob/d7393a3c24af7b12ec8bcde7e8acdf9e60441a60/sdk/go/pulumi/run.go#L71

https://github.com/pulumi/pulumi/blob/d7393a3c24af7b12ec8bcde7e8acdf9e60441a6

[2022-03-23 20:57] marcelloromani commented on #9175
Thank you for reporting this issue.

I am experiencing the exact same issue when running Pulumi on GitHub actions.

The error message I get is:

[code]

Since the GitHub runners are ephemeral (or should be), if it doesn't work on first run, it doesn't work at all.

[2022-03-23 21:18] marcelloromani commented on #9175
After removing these lines:
[code]
from Pulumi.yaml the job worked fine in GitHub actions.

[2022-03-23 22:22] iwahbe commented on #9264
It looks like https://github.com/pulumi/pulumi/pull/9197 may have fixed the issue. I can reproduce the issue easily (thanks for the great repro info by the way), but it goes away when I use the latest pulumi (built from master). We will cut a release tomorrow. I'll close this issue after we release. Let us know if the issue persists on the `v3.27.0`.

[2022-03-23 22:27] zvictor commented on #5161
There is a working (and tested!) example of **Top-level `await` in TS and Pulumi** at https://github.com/pulumi/pulumi/tree/6bc7b1cc67621e515c44d9dde99ab8deba4d1c08/tests/integration/nodejs/esm-ts !

If you are having issues to make your setup work, try to compare with that code 👆 instead of spending as many hours as I have spent on debugging and googling this 😆

[2022-03-23 22:53] siggimoo commented on #9273
That's a fair point, but I think it's a different issue. What I'm describing is more of an implementation forcing itself on an interface, making itself known where it should not. For instance, the inability to update a nonexistent customer record should just say something generic like "customer not found." It shouldn't include, "Hey, this is Postgres," or "Redis here." The issue being reported is

[2022-03-23 23:28] betamike commented on #8975
I hit this bug as well with the same stack trace. My code had `ConfigGroup` resource that was put in the `depends_on` block of another resource. As a test, I changed the `ConfigGroup` to `ConfigFile` and also experienced the bug.

Rough code (within a custom `ComponentResource`)
[code]

[code]

Python Library Versions:
pulumi                      3.26.1
pulumi-gcp              6.16.0
pulumi-kubern

[2022-03-24 08:30] lukemundy-vgw opened #9278 "Allow download of plugins and policy packs in advance of a `preview` or `up`"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

We package and run our Pulumi programs in a very similar way to our applications. We bundle them into Docker containers during our CI process and then run the relevant commands (typically just `pulumi preview` an

[2022-03-24 09:40] Frassle opened #9280 "Run golangci-lint with latest image (once we're building with go 1.18)"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

golangci-lint updated to run with go 1.18 which caused our linting for 1.17 code to start failing. We locked to a specific image version in https://github.com/pulumi/pulumi/pull/9279, but once we're on 1.18 we sh

[2022-03-24 11:00] mikhailshilkov commented on #9267
It sounds like pending operations are still in the state file? Could you show a sanitized extract from your state file?

Usually, you should be able to able to get rid of pending operations by exporting the state and then importing it again `pulumi stack export | pulumi stack import`.

[2022-03-24 11:03] mikhailshilkov commented on #9269
@iwahbe Could you take a look if you can repro or diagnose this somehow?

[2022-03-24 14:37] praveenperera commented on #9267
I deleted my stack and started over. But then `pending_operations` and `resources` was an empty array `[]`

[2022-03-24 16:47] justinvp commented on #9278
Note that `pulumi plugin install` w/ no additional arguments largely already does this today. It asks the language host for the current project for required plugins and installs them. What it doesn't currently do is also check for any plugins needed in the snapshot, but I don't see any reason why we couldn't make it do that as well.

[2022-03-24 19:13] iwahbe commented on #9269
What do you mean by it the thread finishes without errors and you also see this error? Can you clarify?

When you say sometimes, do you have any understanding what causes the problem. Do some stacks always fail, but others always succeed? Will the same stack succeed or fail at random? Does this fail 1/10 times, 1/10,000? The reason I'm asking is to get a sense if I should look for a concurrency bu

[2022-03-24 19:39] AaronFriel commented on #8975
@pasmon and @betamike thanks for your patience, getting back to this, it looks like there's an issue with our Kubernetes provider and using "depends_on" with resources that have children. You're likely to encounter this with ConfigFile, ConfigGroup, and Helm Charts/Releases.

A workaround is to use this in the resource options:

[code]

I also noticed that the Calico/Tigera operator sets a field w

[2022-03-24 21:57] thepabloaguilar opened #9289 "Go project architecture"
## Hello!
This is not a real feature request, it's a question. Sorry if here is not the right place!

I was using Pulumi with Python and it's very easy to reference a resource in other files since I can just import it.

Python Project Tree:
[code]

So, if I want to reference a VPC attribute in an EC2 resource I can just import:
[code]

But now I'm working with Pulumi Go, and it's being hard to me

[2022-03-25 01:42] lukemundy-vgw commented on #9278
yeah in most cases the `npm ci` part also installs the relevant plugins (removing the need to install plugins). I'll have to go back an identify where this didn't do what i expected, its possible the plugins part is no longer a problem.

The main inconvenience (for me at least) that motivated me to open this issue is the policy packs.

[2022-03-25 07:09] thepabloaguilar commented on #9289
As a workaround I've created a struct to encapsulate the creation function, so, I wrap every resource in a package. But the resource is just "created" once and the next calls to `Create` it just return the value from the first call.

[code]

S3 Bucket:
[code]

So I can import:
[code]

And run on the main loop:
[code]

[2022-03-25 11:22] Zaid-Ajaj commented on #4265
Reopening because #9293 needs to be merged before this is considered resolved

[2022-03-25 12:28] vedantmgoyal2009 commented on #4676
Hello,

Can you please update the automation to use a multi-manifest structure instead of a singleton manifest? I'm saying this because they will be soon deprecated by Windows Package Manager.

[2022-03-25 15:21] SimonAdameit commented on #9195
There seems to be more involved in getting the GitHub App integration to work than providing access to the `.git` folder. Pulumi also uses environment variables to figure out the build environment. The relevant code seems to be here: https://github.com/pulumi/pulumi/tree/master/sdk/go/common/util/ciutil

This is unfortunate for container based build systems as the detection will not work the way i

[2022-03-25 15:57] unludo opened #9296 "EKS control plane logging not working as expected and documentation issue"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details

I follow this to enable EKS control plane logging
https://www.pulumi.com/registry/packages/aws/api-docs/eks/cluster/#enabling-control-plane-logging

When applying this, 2 logs groups are created, the first one

[2022-03-25 16:29] #9264 closed

[2022-03-25 17:23] guineveresaenger commented on #9289
Hi @thepabloaguilar - we welcome questions, and I love the detail in yours!

A great place to get help is our [Pulumi Community Slack](https://slack.pulumi.com/). The GO SDK is definitely some of the more tricky packages to deal with resource dependencies in your Pulumi code so I encourage you to join the community slack!

At first glance at your question, you should be able to pass on the Pulumi

[2022-03-25 19:21] jedieaston commented on #4676
soon, as in 1-2 years, maybe, if someone can find a good reason to remove them. It's a breaking change to the format, and hasn't even been seriously discussed (that I've seen) outside of a couple Gitter messages.

(so don't worry about it).

[2022-03-25 22:25] mikhailshilkov opened #9300 "Add a slash command to run integration tests on a PR"
We don't run them by default but it would be great to run them on selected PRs when the price/value ratio is right

[2022-03-25 23:41] louislatreille opened #9302 "AWS API Gateway custom authorizer is duplicated on every route and eventually makes the deployment hang"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details

I am using the AWS API Gateway crosswalk module (@pulumi/aws with @pulumi/aws-apigateway). As suggested in the [docs](https://www.pulumi.com/docs/guides/crosswalk/aws/api-gateway/#lambda-authorizers), I am usin

[2022-03-26 00:02] louislatreille commented on #9302
After a bit more investigation, it seems like the issue is related to the API Gateway body length, and not the duplicate authorizers directly.

If I do a `pumuli stack export` and search for the gateway body, I can see that the body length is ~9900 characters with 10 routes. When I add a new route it tips over 10000 characters. It looks like the majority of the body is taken by the authorizer conf

[2022-03-27 03:46] tedchang77 commented on #9247
@Frassle i've updated to the latest pulumi and i'm still seeing the same error:
[code]

[2022-03-27 08:07] Frassle commented on #9247
Ah sorry about that! The first fix had fixed the problem that `Check` could return nil if it failed and we weren't handling that properly in planning. It seems `Check` can also return nil if it passes although I suspect that `StackReferences` are the only type it would actually do that for.

I'll see if we should either change the code to handle a nil result from Check.

[2022-03-27 09:39] #9247 closed

[2022-03-27 16:20] yarinm commented on #9253
@Frassle any ETA about the adding cancel to the automation API + introducing a way to disable backstate locks?

[2022-03-28 12:18] tzehaoo opened #9308 "s3 Backend stack reference takes forever"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details

The  ```pulumi up``` command takes forever to read a StackReference when the backend is in S3. This slow reaction happens only when a Stack is being referred to for the second time. For example, when a db stack

[2022-03-28 13:27] tedchang77 commented on #9247
@Frassle thanks for the quick fix! if i wanted to test this is there a build that i can download anywhere? or do i need to build from source?

[2022-03-28 13:37] Frassle commented on #9247
You download the builds from the last CI run on master: https://github.com/pulumi/pulumi/actions/runs/2047360090

[2022-03-28 13:39] pawelros commented on #9269
Hey @iwahbe, sorry for the confusion - I double checked random failures on my site and I can tell that for every random failure on my side I get `json.decoder.JSONDecodeError` error. My initial assessment probably was wrong because this exception was handled silently in my script and then the script was breaking on SummaryEvent that was not emitted because of `JSONDecodeError`. Do you want me to u

[2022-03-28 15:36] #9089 closed

[2022-03-28 17:24] litan1106 opened #9311 "Couldn't create azure.web.WebAppSiteExtension"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details

Install a site extension to existing WebApp in Azure using Azure Native provider.

### Steps to reproduce

1. Create a new web.AppServicePlan and web.WebApp
2. Create a new web.WebAppSiteExtension with the webA

[2022-03-28 20:28] davidNHK commented on #8090
workaround in #6997 didn't help

Here is code i copy from official example.

[code]

[2022-03-28 23:27] aureq opened #9313 "Allow `pulumi config` to have different backends for storing configurations"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

Currently, Pulumi has its own configuration management system using `pulumi.<stack-name>.yaml`. However, this current model is limiting as only yaml file is supported.
Additionally, customers may not want to comm

[2022-03-28 23:38] simwak commented on #3569
I also have trouble using it with a Helm Chart which changes it's certs each deployment. Or is it a completly different problem?

[code]

[2022-03-29 08:19] ESipalis commented on #3638
I'm looking for suggestions for generating some data for the initial creation of the resources, but not re-generating that data on every `pulumi up`. In other words, generate some values on the 1st `pulumi up` and then store them somewhere so they can be reused.

As an example, I need to generate an RSA key pair for CloudFront signed URLs. I use the public key in CloudFront public key's definition

[2022-03-29 08:22] ESipalis commented on #8447
@Zaid-Ajaj

- Removed the workaround on `3.26.1`.
- Running `pulumi up` fails with GRPC error.
- Upgrade to `3.27.0` Pulumi nuget package.
- Running `pulumi up` succeeds!

[2022-03-29 08:54] Zaid-Ajaj commented on #8447
Thanks a lot @ESipalis for confirming that is works 🎉

[2022-03-29 08:54] #8447 closed

[2022-03-29 10:03] UnoSD commented on #3638
you can use Pulumi.Tls for generating the data only once and instead of using config for the value, I would just use outputs and you can check the previous stack outputs using `StackReference(Deployment.Instance.StackName).Outputs`

[2022-03-29 10:17] RazcoDev commented on #9247
The ARM artifact had already expired, how can I download it anyway ?

[2022-03-29 10:47] RazcoDev opened #9314 "Update fails with "panic: fatal: An assertion has failed" when creating Helm release with Ouput."
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details

### Steps to reproduce

1. `pulumi preview ----logtostderr -v9` (tried with pulumi version 3.27.0 and 3.26.1)

Pulumi program that runs:

`import * as k8s from "@pulumi/kubernetes";
import * as pulumi from "@pu

[2022-03-29 11:10] yuft opened #9315 "AquaSec Provider"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

We are interested in this AquaSec TF provider(https://github.com/aquasecurity/terraform-provider-aquasec), can we bridge it to Pulumi?

Thank you.

[2022-03-29 16:20] iwahbe commented on #9269
You don't need to update the description as long as I know what's going on (and its recorded in the comments). Thanks for offering though.

[2022-03-29 16:44] ESipalis commented on #3638
@UnoSD I figured the `Pulumi.Tls` approach. Just wondering how would I go about it if instead of RSA I'd need a random GUID for example. How I could achieve what `Pulumi.Tls` is doing, but with my own generated values instead of RSA keys.

[2022-03-29 16:50] pgpx commented on #5035
Could StackReference values just be non-Output values (same as config values)?  That would greatly simplify their use.

[2022-03-29 17:58] UnoSD commented on #3638
Apologies to the others for going a little bit off topic here, but you can
use Pulumi.Random to generate reproducible pseudorandom guid

On Tue, 29 Mar 2022 at 18:45, ESipalis ***@***.***> wrote:

[2022-03-29 20:30] rbm-radius opened #9317 "pulumi state delete leaves URNs behind"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details

Even after `pulumi destroy`, `pulumi up` can fail with a Duplicate resource error. `pulumi state delete <URN>` doesn't find that resource and can't delete it. A subsequent `pulumi up` creating a resource named

[2022-03-29 20:51] dixler opened #9318 "Function seriailization fails to capture variable in closure"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details
Appears that nodejs function serialization fails to serialize a function that declares a variable without `var`/`let`/`const` keyword. Was running into an issue with capturing a closure in some code that I impor

[2022-03-29 21:27] iridian-ks opened #9319 "Every AWS data source call results in a panic after upgrading provider from v4.33 to v4.38"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details

Calls to what seems to be _any_ AWS data source results in a panic. This is happening after upgrading the provider from v4.33 to v4.38. Unsure how to proceed with upgrading.

### Steps to reproduce

1. Create A

[2022-03-29 21:33] iridian-ks commented on #9319
The stack trace is overlapping with the output so I can't tell which resource in particular is being problematic

[code]

Hard to see but note both the `replace` and `create replacement` lines. They are on the same lines as the stack trace.

[2022-03-29 21:40] iridian-ks commented on #9319
Here's an example piece of code:

[code]

Some Pulumi output

[code]

Followed by the same stacktrace as above.

I'm going to downgrade the provider and get the stack clean then try upgrading again and see if it helps.

[2022-03-30 09:56] mikhailshilkov commented on #9308
Thank you @tzehaoo
Could you share any stats about those stacks, e.g. the size of state files, the number of resources, outputs, etc?

[2022-03-30 09:58] mikhailshilkov commented on #9315
cc @pulumi/platform-providers

[2022-03-30 10:00] mikhailshilkov commented on #9317
@rbm-radius Could you please share the code to reproduce this? Based on the error, it looks like you have two resources with the same name in your Pulumi program.

[2022-03-30 10:28] mikhailshilkov commented on #9319
If you don't feel like sharing the logs publicly due to potentially sensitive data, you can also email them to mikhail@pulumi.com. (Or, feel free to mask any private data of course).

[2022-03-30 10:51] Frassle commented on #9317
That error has _nothing_ to do with the current state. It's driven by `new Resource` calls from the running pulumi program. As Mikhail said it looks like you have two resources in your program that have got the same name.
If you export your stack state with `pulumi stack export` you could confirm that the URN isn't currently there.

[2022-03-30 10:53] Frassle commented on #5035
They can be. The `StackReference` type has `getOutput` and `getOutputValue` methods, the later returns a promise not an output, but it will throw if the value is a secret.

[2022-03-30 12:35] cubikca opened #9320 "Cannot create ManagedCluster with UserManagedIdentity"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details

I would like to create a private AKS cluster. This requires that the cluster be created with either a service principal (which I don't have access to create - no direct modifications to AAD), or a user-managed

[2022-03-30 14:47] mikhailshilkov commented on #9267
Which backend are you using (Pulumi SaaS, S3, etc)? For the service, we should be able to see the history of you state.

[2022-03-30 16:25] alexhwoods commented on #4265
Agree this needs to be implemented — here's a script for it though
[code]

[2022-03-30 20:49] jitbasemartin commented on #8872
<img width="1650" alt="image" src="https://user-images.githubusercontent.com/23301195/160928100-8215bed4-f9bb-41cf-b1c3-83977f219780.png">

I confirm, Azure backend is very slow. I also saw a lot of requests. I don't know if it's normal ?

[2022-03-30 21:03] Frassle commented on #8872
Yes, this is just how the blob storage backend works. I would expect a lot of traffic for `ls` currently.

[2022-03-30 21:17] rbm-radius commented on #9317
I'm not at liberty to share the code I have :( That said, I'm sure I don't have two resources by the same name. I only have one log group.

[2022-03-30 21:32] Frassle commented on #9317
Can you get debug logs by adding `-v9 --logtostderr` and either post them here or email them to fraser@pulumi.com.

That error can only happen from duplicate URNs so something must be triggering two registrations of that log group.

[2022-03-30 22:20] guineveresaenger commented on #9315
Hi @yuft - we would love to collaborate with you on this!

While our documentation on how to help you get your provider all the way into the Pulumi registry is currently a bit lacking, we are actively working on improving that and will help you out as you go!

1. Get started by forking our boilerplate repo:
https://github.com/pulumi/pulumi-tf-provider-boilerplate

You should be able to follow all

[2022-03-31 08:11] #9181 closed

[2022-03-31 09:22] Frassle commented on #9253
I believe @pierskarsenbarg has spoke to you about this already, but just in case not. This week is our hackweek so we're all busy on experimental things. We planning on having a discussion next week about how to manage the development of the file state backend so should have some answers after that.

For now you could just grab the revert commit of https://github.com/pulumi/pulumi/commit/58b2cb02e

[2022-03-31 10:02] liubog2008 commented on #9153
I have same problem about this... any progress?

[2022-03-31 10:03] pgpx commented on #5035
Thanks, though I'm using the Go SDK and that doesn't seem to have those methods yet.

[2022-03-31 16:34] mitchellmaler opened #9355 "If VM is deleted a refresh does not Delete it from state and an apply throws error saying VM cannot be found"
## Issue details

If a VM is deleted either outside or in a failed run and you run a refresh it does not pick it up to be deleted from the state. The only way is to manually delete the resource from the state else the next apply will error saying the vm cannot be found.

### Steps to reproduce

1. Create VM in Apply
2. Delete VM outside of pulumi
3. Refresh VM target which doesn't yield any change

[2022-03-31 19:20] AaronFriel opened #9326 "Cross compiling from Windows/Linux to MacOS fails due to `notify` dependency"
Several Pulumi packages have had to update their build systems to use MacOS as the publish/builder OS to address cross-platform build issues with the https://github.com/rjeczalik/notify dependency. Example: pulumi/pulumi-aws-native#421

Solving this could take the form of an upstream change to that dependency to enable cross-compilation, or switching to an alternative filesystem watcher library.

[2022-04-01 08:35] samox73 opened #9328 "Map loaded from config is not iterable"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details

### Steps to reproduce

1. define a map in the config, e.g.
[code]
2. try to iterate over it:
[code]

**Expected:** pulumi prints the key/value pairs
**Actual:** pulumi fails with a `TypeError`:
[code]

Is this

[2022-04-01 09:36] samox73 commented on #9328
I (kind of) found the reason and a solution. `Config#requireObject` returns a POJO not the type that you specify with the `<T>`. Thus, the imported "map" has no iterator and this is why it throws the error. Constructing a map manually using
[code]
solves the issue. Unfortunately, if the nested values are again non-fundamental types, then they are again POJOs. Since converting POJOs to classes is a

[2022-04-01 09:36] #9328 closed

[2022-04-01 13:28] #9233 closed

[2022-04-01 14:34] tzehaoo commented on #9308
@mikhailshilkov , just resolved the issue. It is actually not due to the size or the backend. But it is due to the passphrase that is required to be entered when ```pulumi up``` is executed. This issue was mitigated when the passphrase is set in the environment variable and it could only be produced when the user chooses to input it manually every time. This could be a problem when there are users

[2022-04-01 14:50] bajtos opened #9330 "Hide old secret values in the logs"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

In my stack, I store an access token as a Pulumi secret config and then use that value in AWS Lambda environment variables.

Today, I needed to change the access token to a different one.

When reviewing the prev

[2022-04-01 15:03] jkodroff opened #9332 "Schema generation is non-deterministic?"
We have [a build for one of our providers](https://github.com/pulumi/pulumi-hcloud/runs/5788302282?check_suite_focus=true) which is failing with a dirty schema in a strange way:

* When running locally, no diff exists for any SDK.
* When running in GH Actions, there's a diff _only for the Node SDK_.
* This issue does has yet to present itself for any other providers - just pulumi-hcloud.

Pulumi v

[2022-04-01 15:07] mikhailshilkov commented on #2917
As this hasn't picked up any steam in 2.5 years, is somewhat node-specific, and the parent issue got closed, I'll go ahead and close it as won't do.

[2022-04-01 15:07] #2917 closed

[2022-04-01 15:20] jbrezina commented on #950
There is a [duplicate issue](https://github.com/pulumi/pulumi/issues/3052) where is also mentioned [workaround](https://github.com/pulumi/pulumi/issues/3052#issuecomment-865645728) without destroying all the resources

[2022-04-01 19:41] dixler commented on #9318
@mikhailshilkov for some context, I ran into this issue when closure serialization managed to serialize a method from the aws-sdk which had a declaration like that in a function body.

[2022-04-01 20:27] Frassle commented on #9153
Me and rawkode talked about this the other day, I've got a suspicion our handling of the Pwd and Program arguments in the node plugin aren't consistent.

[2022-04-01 21:18] jay13jay commented on #4727
is anyone still working on this?  I am trying to make the case to use pulumi on some of my projects but being able to use gitlab as a backend state manager would make my attempts a lot more successful...

[2022-04-02 10:33] simwak commented on #5619
I'm also quite confused how the plugin handling is done. I wanted to optimize the CI job and marked the path `node_modules` as cachable (GitLab CI), so `npm install` does not download everything each job. But that apparently broke every job which used this cache. `npm install` just said that everything is already installed, but it shows that the plugin is missing.

[2022-04-02 11:27] Frassle commented on #5619
The plugin binaries aren't installed in node_modules but in ~/.pulumi/plugins. pulumi just searches node_modules to see what plugins it needs to download and install to it's plugin cache.

[2022-04-02 11:46] simwak commented on #5619
@Frassle But shouldn't it check `~/.pulumi/plugins` for installed plugins and not `node_modules` and then download it? As even if `node_modules` is still cached, `~/.pulumi/plugins` is maybe not and then it fails like I described. Seems like a bit counterproductive to assume that when all packages from `package.json` are present in `node_modules` , that also all plugins are installed in `~/.pulumi

[2022-04-02 12:58] Frassle commented on #5619
How would it know what to download? There are hundreds of pulumi plugins, some not even published by pulumi we're not going to download them all. `node_modules` is looked at to tell us which plugins are wanted.

Yes that's what this issue is tracking. `pulumi up` should be finding and installing all the plugins it needs up front, but it seems that some are missed and then you get a fault that a pl

[2022-04-02 17:23] vavsab opened #9338 "Unprotected state values after import"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details
I see unprotected values in my state after I import postgres DB resource in Aiven.
Tried to use `additionalSecretOutputs` but [it does not support nested state values](https://github.com/pulumi/pulumi/issues/314

[2022-04-02 17:29] napalm684 commented on #8099
FWIW I would love to help out with this if someone can point me in the right direction.

[2022-04-02 18:01] Frohrer opened #9339 "aws.lb.Listener Port Variable Type Inconsistency"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details

aws.lb.Listener input variable "port" accepts only a number, not a string. However the documentation example lists this value as a string. See https://www.pulumi.com/registry/packages/aws/api-docs/applicationlo

[2022-04-04 07:03] hscholz opened #9341 "How to work with AWS S3 backend with Server Side Encryption enforced?"
Hello,

I'm trying to get Pulumi to work with an AWS S3 backend with Server Side Encryption enforced. This is done via a bucket policy like here: https://docs.aws.amazon.com/AmazonS3/latest/userguide/UsingServerSideEncryption.html

When doing:

[code]

I will get `AccessDenied: Access Denied status code: 403`, is there a configure this?

For reference: https://github.com/google/go-cloud/issues/280

[2022-04-04 07:25] mikhailshilkov commented on #9308
Thank you for getting back to me - I renamed the issue slightly. Related to #2823

[2022-04-04 08:53] Frassle commented on #9128
I'd guess this is failing to run `python -m pip list -v --format json` (it looks like that's the only command GetRequiredPlugins runs which could return an exit code error)

Could you try running that in your pulumi folder and see if it works, and if possible also run `pulumi up --logtostderr -v9 --logflow` to get the debug logs from the python plugin and post them here.

[2022-04-04 09:15] pierskarsenbarg commented on #9341
Hi Hans, how are you encrypting the bucket? Are you using a KMS key or an S3 managed key?

[2022-04-04 09:39] danielrbradley opened #9342 "Typescript deprecation message not escaped"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details

Adding a deprecation messge including quotation marks breaks compilation of the Typescript SDK.

### Steps to reproduce

1. Add a deprecation message such as `Deprecated in "v1"`
2. Generate and compile Typescr

[2022-04-04 11:23] felskrone opened #9358 "Python codegen generating invalid code"
I just tried the code generated by the Cloudformation converter (https://www.pulumi.com/cf2pulumi/) with pulumi-aws-native and always got

[code]
It looks like the file is https://github.com/pulumi/pulumi-aws-native/blob/master/sdk/python/pulumi_aws_native/servicecatalog/get_service_action_association.py missing code.

[2022-04-04 19:00] skyrpex opened #9344 "serializeFunction throws when serializing async generators"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details

Serializing a callback that uses an async generator crashes with the following error:

[code]

### Steps to reproduce

1. Create the following `index.js` file:

[code]

2. Run it:

[code]

Expected:  The functi

[2022-04-04 19:16] hscholz commented on #9341
Hi, sorry for the late reply:

we're using an S3 managed key.

Cheers,
Henning

[2022-04-05 00:53] johnpena opened #9346 "Support skipping a resource in `pulumi up`"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

`pulumi up` has a `--target` flag allowing for the user to select a single resource URN to update. It would be helpful to have a flag that does the opposite, allowing the user to select a single resource URN to s

[2022-04-05 07:21] mikhailshilkov commented on #9338
Hi @vavsab thank you for the detailed issue. Is there a reason why you would expect the `url` to be a secret automatically? I don't think anything in your code suggests that it should? Or is this issue effectively a duplicate of #3144?

[2022-04-05 07:57] pawelros commented on #9269
Hey @iwahbe did you manage to find the problem? I can help you with debugging if you can't reproduce it.

[2022-04-05 08:49] draconisNoctis opened #9348 "Very slow `pulumi up` leads to expired token error"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details

I have a pulumi project to setup our Buddy CI (via https://www.npmjs.com/package/pulumi-buddy).
As there are 981 resources in this project I expected a somehow slow execution, but it is so slow, that I get an `

[2022-04-05 08:50] Frassle commented on #9278
Looked into this and it's a bit awkward because unlike `pulumi plugin install` which can ask the Project what plugins are needed, policy packs are assigned by Stacks so `pulumi policy install` would have to install all policies in the organisation (which it looks like we can get from "/orgs/{orgName}/policypacks")

[2022-04-05 08:56] Frassle commented on #9348
Duplicate of #7094

[2022-04-05 08:56] #9348 closed

[2022-04-05 16:45] Kamaradeivanov opened #9350 "CLI Performance Issues when using stackReferences"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details

For several months I have been experiencing poor performance when using the `pulumi up` command. I suppose that the number of resources in several of my stack was in cause.

I already check the following closed

[2022-04-05 16:52] Kamaradeivanov commented on #9350
Sorry forgot to mention that :

pulumi version : v3.28.0

And typescript versions:

[code]

[2022-04-05 20:52] Zaid-Ajaj commented on #4265
@mitchellmaler This issue can finally be considered resolved in two ways:
 - `pulumi refresh` will now clear pending operations (except pending CREATE operations)
 - `pulumi up` will not error when there are pending operations, instead it will show a warning that they are there and how to resolve them.

This behaviour will be available in the upcoming release of pulumi (v3.29.0)

For pending CREAT

[2022-04-05 21:21] Eric-Swiftly commented on #5681
You can then wrap that REST API in a Dynamic Provider and end up with something [like this ](https://github.com/Eric-Swiftly/PulumiCodeSamples/blob/main/pulumi_api_provider.py)

[2022-04-05 23:43] uqgwil10 opened #9352 "Pulumi changes detected on the same file."
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details
Pulumi compare thinks there are changes when it is the same file.

We have a datadog cloud formation file that we are storing locally and everytime we "pulumi up" changes are detected.
![pulumi bug report](https

[2022-04-06 01:12] nesl247 commented on #4265
Given that there is still manual work to be done for create operations, shouldn't this remain open then @Zaid-Ajaj ?

[2022-04-06 01:27] lukemundy-vgw commented on #9278
would it work if we could pass some arguments to a hypothetical `pulumi policy install` command? either a list of stacks (and it would download the relevant policies for that stack) or a list of policy pack names?

In my use case the policies don't change often and generally the same policies are applied across all stacks in the org (with a few exceptions) so having to pass stacks or policy names

[2022-04-06 06:44] hcharley commented on #2318
Has this feature has made its way onto the roadmap of the automation API as a tracked ticket?

If not, no worries--just curious! Thank you everyone that worked on this btw!

cc: @tedchang77, @Frassle

[Slack thread I started on this question](https://pulumi-community.slack.com/archives/C019YSXN04B/p1649226983891299).

[2022-04-06 07:55] mikhailshilkov commented on #9338
Okay, now I see that the `uri` property is marked as sensitive in TF: https://github.com/aiven/terraform-provider-aiven/blob/395cb31b46b669e1accc95b1a410aca4ff77e41d/aiven/resource_pg.go#L43
@Frassle Could you check why this ends up not being respected during import?

[2022-04-06 08:47] Zaid-Ajaj commented on #4265
Hi @nesl247, the reason manual work is still required for pending CREATE operations is because we need the users to explicitly decide what to do with them. If pulumi just clears those, you might end up with live cloud resources that are not tracked by pulumi (orphaned resources) and it's better if the users see this and manually check these live resources before clearing them from the pulumi check

[2022-04-06 09:20] Frassle commented on #9338
I don't recall us checking additionalSeretOutputs during imports, I think it would make sense to fix that.
I'll see why this doesn't get auto-secret'd from the schema.

[2022-04-06 10:13] mikhailshilkov commented on #9350
Is it possible to remove some/all StackReferences temporarily just to confirm they are the culprit? Does the time grow linearly with the number of references?

[2022-04-06 10:18] mikhailshilkov commented on #9352
Thank you for reporting @uqgwil10

I think you lost those special characters in this quote that are likely causing the problem. (quotes around `no`?) Could you share the exact source text please?

[2022-04-06 10:49] aureq opened #9353 "`pulumi preview` shows changes when running on Azure DevOps but not local computer"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details

Following a customer discussion, it appears that `pulumi preview` shows changes on their Azure Native provider (`[diff: ~provider]`) while running the same code on a local environment doesn't show these changes

[2022-04-06 13:33] Frassle commented on #9338
Checked that import is respecting additionalSecretOutputs and it does, but as point 13 says it doesn't work for nested properties. This is also tracked by https://github.com/pulumi/pulumi/issues/3144.

I'll see why the provider didn't import this as a secret, but did create it as a secret.

[2022-04-06 13:48] iwahbe commented on #9269
@pawelros Sorry for the delayed response. I would love some help reproducing the problem.
I have been trying to reproduce the problem with the following program, and have been unsuccessful.
[code]

[2022-04-06 14:07] Insomniak47 opened #9354 "Go SDK fails to parse git repo urls correctly if repos can be nested"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details

The Go SDK (consumed by the kubernetes provider) fails to parse urls properly for gitlab projects. Specifically the ParseGitRepoUrl [here](https://github.com/pulumi/pulumi/blob/fdc77227b898a4300234d11caafc9e731

[2022-04-06 14:31] Frassle commented on #9338
Put together a test to show the main issue here is in tfbridge. Moving to that repo, and will open a PR to fix.

[2022-04-06 14:37] Insomniak47 opened #9364 "kustomize.Directory fails to create from gitlab subproject repos"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details

Kustomize resources in git directories that are in repos that are nested under projects in gitlab are unreachable by pulumi. This is partially due to the behaviour of RetrieveGitFolder though I would also expec

[2022-04-06 17:19] nesl247 commented on #4265
Understood, but it still requires more manual work than should be required, therefore this issue should remain open IMO. I would expect Pulumi to try to refresh to see if the resource was actually created, if it can't get an answer, then to ask the user if they want to remove it from the stack. There should not be any requirement to manually edit the stack.

[2022-04-06 18:20] Frassle commented on #4265
We can't. The big problem with pending Creates is that we don't have an ID to lookup because the Create call never returned to give us one, so we can't look up to see if it was created or not.

Having said that there is scope for us at least to provide easier to use commands to manually resolve pending creates as either "did not create" or "created with id <ID>", and maybe we can come up with some

[2022-04-06 19:39] gitfool commented on #8013
@mikhailshilkov considering the above, is there potentially a quick fix for this?

[2022-04-06 23:20] jaxxstorm opened #9357 "Importing a container cluster adds extra resource name property"
I created an AKS cluster, then went to import it.
[code]

It generated the following code:

[code]

When I went to rerun the program, I got the following error:

[code]

I removed the `resource_name` property and it looked fine. We probably need to omit the resource_name property?

[2022-04-07 01:39] guineveresaenger commented on #9315
Hi @yuft  - checking in to see if you had any other questions! 💟

[2022-04-07 02:15] mchaynes opened #9356 "Pulumi CLI doesn't respect PULUMI_CONSOLE_DOMAIN env var for stack updates"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details

When I have `PULUMI_CONSOLE_DOMAIN` environment variable set, the CLI still uses project setting's URL as the backend when running `pulumi up`

However, the "View Live:" link pretends like it is respecting the

[2022-04-07 02:26] yuft commented on #9315
@guineveresaenger thanks for the info.

I will have a give it a try in the next 1-2 weeks and get back here.

[2022-04-07 07:25] mikhailshilkov commented on #8013
@gitfool I think this issue is a sub-issue of https://github.com/pulumi/pulumi/issues/3690 There is one open design question that we never resolved - if we make a decision there, we could support both fairly easily.

[2022-04-07 08:09] iwahbe commented on #9357
@mikhailshilkov I can take a look. Thanks for pointing out the correct output (`resource_name_`). That saved me a bunch of time. I think the solution should be easy:
[code]

[2022-04-07 10:00] #9357 closed

[2022-04-07 10:34] Kamaradeivanov commented on #9350
I have simplify stacks used as reference to have only one secret at the top of each output. Now performance are far better.

[2022-04-07 12:06] #8980 closed

[2022-04-07 12:08] Kamaradeivanov commented on #9350
I've done modification to switch all stack to this principle : if there is more than one secret into an output, I apply the method pulumi.secret() on that output.

After doing that. When I apply the job that took 14min the first time (the one with 6 StackReference resources) it now took a little more than 4min.

![image](https://user-images.githubusercontent.com/1730415/162195096-c5b28564-b5cd-4e2

[2022-04-07 15:28] pgavlin opened #9362 "Incorrect diff rendering for compound secret values"
When the diff for a resource references nested properties of a compound secret value, the nested properties are not rendered properly. For example, in the diff below, the `service` and `apiVersions` properties should not be empty objects, and should instead be displayed as changes from `[secret] => [secret]` (as the values are, after all, secret).

[code]

[2022-04-07 17:31] #9362 closed

[2022-04-07 17:32] fingoldo commented on #8977
Hi all. Can you kindly provide a hint, where is the following attempted:

python.exe -m pip install --upgrade pip setuptools wheel

I have no problems installing any package in my Windows. But probably since you are doing it through venv, whatever actions I take in the main OS are useless to venv. There are suggestions to run pip with [additional flags ](https://stackoverflow.com/questions/2598170

[2022-04-07 18:15] lukehoban opened #9365 "Issues with previews of array values from StackReferences"
Notes from feedback from a user:

[2022-04-07 18:40] phillipedwards commented on #9365
Steps to reproduce:
1. Create 2 pulumi programs
2. program 1 creates a security group and exports the security group ID
3. program 2 imports the above SG ID using a stack reference, creates another SG, applies both to an EC2 instance
4. pulumi up on program 2 to stand up base resources
5. Uncomment all commented lines in program (importing SG id via stackref and applying SG id to EC2 instance.
6.

[2022-04-07 23:25] phillipedwards opened #9368 "Target Pulumi Destroy on Multiple Targets Results in Orphaned Physical Resource"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details
When using a targeted destroy of two related resources, such as listener and a target group, both resources are removed from Pulumi's state but only one resources is physically destroyed resulting in an orphaned

[2022-04-08 07:54] snikolakis opened #9370 "Error when setting VPC configuration in AWS Lambda Function"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details

There might be a bug when trying to associate a AWS Lambda Function with a VPC. The error is the following:

[code]

### Steps to reproduce

The code leading to the previous message is right below:

[code]
I ha

[2022-04-08 09:05] mikhailshilkov commented on #950
Thank you @jbrezina. Indeed, I tried the suggested workaround and it seems to work just fine for me. I'll go ahead and close both issues.

[2022-04-08 09:05] #950 closed

[2022-04-08 09:05] #3052 closed

[2022-04-08 09:07] mikhailshilkov commented on #3058
I feel like this issue is too old to be actionable, so I'll go ahead and close it

[2022-04-08 09:07] #3058 closed

[2022-04-08 09:13] #3090 closed

[2022-04-08 09:21] mikhailshilkov commented on #3096
This issue is a bit stale and isn't obviously actionable. I'll go ahead and close it - feel free to open a new issue with a refined suggestion.

[2022-04-08 09:21] #3096 closed

[2022-04-08 09:29] mikhailshilkov commented on #3158
This doesn't look actionable, so I'll go ahead and close

[2022-04-08 09:29] #3158 closed

[2022-04-08 09:42] mikhailshilkov commented on #3194
I think this has been fixed in its original form.

[code]

Not sure if the access token prompt is clear - but I guess it's related to self-hosted backends? I'll go ahead and close this issue, let's open another one if further improvements are needed.

[2022-04-08 09:42] #3194 closed

[2022-04-08 09:44] #3233 closed

[2022-04-08 09:50] mikhailshilkov commented on #3281
I think the faulty create part got fixed since then, and the rename confusion is described in https://github.com/pulumi/pulumi-aws/issues/1451#issuecomment-1089033469

[2022-04-08 09:50] #3281 closed

[2022-04-08 09:58] mikhailshilkov commented on #3305
I think this works now? I wasn't able to repro it, at least. I'll go ahead and close given the issue age and incativity.

[2022-04-08 09:58] #3305 closed

[2022-04-08 10:08] mikhailshilkov commented on #3333
I realize this is an old issue, but since then we've implemented a change to mark k8s secrets as Pulumi secrets automatically: https://github.com/pulumi/pulumi-kubernetes/pull/1577

I will go ahead and resolve this as by design.

[2022-04-08 10:08] #3333 closed

[2022-04-08 11:16] sam-cogan opened #9384 "Config Yaml path"

[2022-04-08 11:38] aterreno commented on #5619
I am experiencing this using pulumi actions, I've just raised this here https://github.com/pulumi/actions/issues/568

[2022-04-08 11:55] aterreno commented on #6256
this is closed but happens to me every time I update the pulumi aws provider

[2022-04-08 13:27] Frassle commented on #9350
So we added bulk decryption for when loading the state file for the stack being updated, but we don't do the same bulk decrypt when reading in stack references.

Should be a fairly easy addition.

[2022-04-08 13:47] Frassle commented on #3323
I think this is similar to issues I was running into when trying to work out default values for properties. I think the problem is we can't tell the difference between "this is using the default value" and "this has been unset".

Imagine you make a resource with a required field "a", and two optional fields with defaults "b" and "c", creating it as `{ a: 1, b: "explictlySet" }`. We'll fill in the

[2022-04-08 14:33] Frassle commented on #9350
Digging into this I think my comment above is wrong, it looks like StackReferences should be hitting the bulkDecrypt path.

[2022-04-08 15:40] #9342 closed

[2022-04-08 16:37] susanev commented on #9231
Notes from Pat:
- top most stack frame is important (shouldn't hide this)
- some stack trace could not be displayed, anything inside the pulumi runtime, or python library could hide

[2022-04-08 16:38] susanev commented on #9228
notes from Pat
- we do know that its not set
- harder to find out the values possible

[2022-04-08 16:39] pgavlin commented on #9228
+1 to what @Frassle said

[2022-04-08 16:44] susanev commented on #9230
notes from Pat
- should be careful about how much time we spend here
- should keep in mind that developers are familiar with reading stack traces
- will want to provide some way for folks to access the entire stack trace if they want to

[2022-04-08 16:48] susanev commented on #9232
notes from Pat:
- we can do this pretty easily
- pretty good support for attaching metadata about info we render to the user

[2022-04-08 16:53] susanev commented on #9237
Notes from Pat:
- `error: an unhandled error occurred: Program exited with a non-zero exit code: 1` is maybe useful if there was no other output at all, otherwise this is not helpful or useful to folks

[2022-04-08 17:53] dswartz-altana commented on #6542
This would be _super-helpful_ for us at the moment!

[2022-04-08 18:51] Frassle commented on #9350
So I think the problem is that BulkDecrypt is only used if the `Decrypter` implements the `BulkDecrypt` interface, and only the `serviceCrypter` does that. Problem is when we ask for the `Decrypter` from the `DefaultSecretsProvider` inside httpstack where we load the stack references it wraps that `serviceCrypter` in a `cachingCrypter` which _does not_ implement `BulkDecrypt`.

I'm inclined to cha

[2022-04-08 20:55] hcharley commented on #4265
Regarding pending creates, is it too much scope creep to use fuzzy name matching and create times when there is no ID?

I realize this probably involves listing and/or searching resources from their provider, but this functionality could also be useful for auto-importing in general if you ever wanted to slap a UI or CLI interactive prompt to let users marry their Pulumi resources with their actual

[2022-04-09 20:24] phillipedwards opened #9374 "Allow Deterministic Access to Auto-Generated Resource Names Prior to Resource Creation"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details
This is one but not the only use case applicable. Currently, AWS auto-creates cloudwatch log groups for EKS clusters with no finite retention period. The result of this is a cloudwatch control group, not under Pul

[2022-04-09 21:58] concentralukecollier opened #9375 "[Node] Make v8 debugger optional"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

When starting with a node binary that doesn't have the inspector, for example when packaging with a binary https://github.com/vercel/pkg I found this funky error on node 14:
[code]

If there isn't already would t

[2022-04-10 02:59] williamsbdev commented on #5007
@lukehoban, @leezen, @justinvp - I'd like to take a stab at adding the functionality for private repo support. However, prior to starting I'd like to get some guidance on what the team would like to see as far as how this should be implemented (to make the most effective use of everyone's time).

I'm curious if the Pulumi team has a preference on one or both of the following issues being implement

[2022-04-11 06:35] treykasada commented on #3373
A potential approach for this might be environment variable templating in the stack configuration:
[code]
(the above example assumes Go template syntax, but other syntaxes like Bash could also work)

[2022-04-11 07:59] #9350 closed

[2022-04-11 10:18] antstanley opened #9378 "Upgrade version of TypeScript bundled with Pulumi or allow override"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

The version of TypeScript currently bundled by Pulumi is v3.7.3, is old and doesn't support the latest Javascript features.  I'm trying to use the *ES2021* `.replaceAll` method to remove illegal characters from a

[2022-04-11 10:23] Frassle commented on #9356
Ah reading though this a bit more carefully I'm not sure if there's actually anything we can do here. `PULUMI_CONSOLE_DOMAIN` is an envvar just used just to override this logic that's kind of it's point, it doesn't set the backend in use that's done by either project settings or `PULUMI_BACKEND_URL`.

The problem `PULUMI_CONSOLE_DOMAIN` is trying to solve is that given a backend url we can't know

[2022-04-11 10:27] Frassle commented on #9378
There's a few issues open for this already* so I'm going to close this as a duplicate.

\* https://github.com/pulumi/pulumi/issues?q=is%3Aissue+is%3Aopen+peer+dependency

[2022-04-11 10:27] #9378 closed

[2022-04-11 12:39] mikhailshilkov commented on #9228
Related to https://github.com/pulumi/pulumi/issues/2307

[2022-04-11 12:42] mikhailshilkov commented on #9229
They would see an empty preview in this case, right? Or what is the scenario that we are talking about here?

[2022-04-11 12:44] mikhailshilkov commented on #9231
It would help to collect a few examples that would demonstrate the desired outcome. We could order than manually and then try finding a patterns.

[2022-04-11 12:46] lukehoban commented on #9228
And perhaps even moreso related to https://github.com/pulumi/pulumi/issues/1052 and specifically https://github.com/pulumi/pulumi/issues/1052#issuecomment-374255486.

[2022-04-11 12:50] mikhailshilkov commented on #9235
I worry that users may not read that question text on Nth update. Would it make sense to highlight it in some way when we think they should actually read it? E.g. make it red?

[2022-04-11 13:58] susanev commented on #9229
@mikhailshilkov yes, but if this is there very first time seeing a preview they may not know how to read it, or skip over it. the idea is, can we message them that this was probably not attended in clear language, along with some suggestions for what they should do next, e.g., save. happy to work with someone to figure out the details of how we want to solve the issue.

[2022-04-11 14:04] susanev commented on #9231
@mikhailshilkov this is the specific situation that inspired this...
![example](https://user-images.githubusercontent.com/5489125/162756570-a3334d01-c02b-4ab3-8111-4b281e671b45.png)

in this example the only 2 lines that are helpful to a user are near the bottom.
![helpful](https://user-images.githubusercontent.com/5489125/162756641-0899e916-b452-42da-bcca-43f45e4d1af8.png)

happy to work with som

[2022-04-11 14:30] susanev commented on #9235
having some other way to highlight it sounds good to me

[2022-04-11 16:12] #9136 closed

[2022-04-11 16:45] sammck opened #9381 "python dynamic resource providers suddenly stopped working"
### What happened?

it looks a little like a github repo pulumi/pulumi-pulumi-python disappeared?

(
[code]

### Steps to reproduce

From a clean machine:

[code]

### Expected Behavior

successful installation of plugin

### Actual Behavior

HTTP error accessing the pulumi github repo

### Versions used

v.3.28.0

### Additional context

This was working just a few days ago. no changes to my code

[2022-04-11 16:45] mitchellmaler opened #9382 "Allow passing multiple URNs to the state unprotect command"
## Issue details

Currently, the state unprotect command only takes a single URN. It would be useful to allow passing multiple urns to a single command rather than needing to run the command multiple times. This would reduce the need to pull back the state multiple times when you need to unprotect multiple resources.

### Affected area/feature

cli

[2022-04-11 16:48] Frassle commented on #9381
The pulumi-python resource plugin isn't actually a real plugin. It's a file that's packaged with the pulumi binary.

Can you check where you are running `pulumi` from and make sure that `pulumi-resource-pulumi-python` is also in that folder and that folder is on $PATH (N.B. This is arguably a bug, but dynamic providers only work if they're on PATH as opposed to every other provider and plugin)

[2022-04-11 17:05] sammck commented on #9381
If it's any help, it is also reproducible with:

[code]

[2022-04-11 17:22] sammck commented on #9381
Yes, this is the problem. I explicitly do not have pulumi bin dir in PATH because I have private installations per project and do not want to accidentally invoke the wrong one.  It stopped working because I finally deleted my global installation of pulumi, and unbeknownst to me, all this time it had been finding the dynamic resource providers in a different pulumi bin directory than I was using (a

[2022-04-11 17:22] mchaynes commented on #9356
I see. Because `PULUMI_BACKEND_URL` != `PULUMI_CONSOLE_DOMAIN` and has no strict relation to each other, we have to assume that if the env var is defined, its also correct.

[2022-04-12 00:39] EvanBoyle opened #9385 "Add update plan support to Automation API"
We should add support for update plans to Automation API. Ideally you should be able to:

1. use Automation API to run a preview and get a strongly typed update plan (make sure types are available in all SDKs) as the output
2. manipulate the plan programmatically
3. run an update using that plan

This request has come up from several users over the last year or so. Here's a note from the original

[2022-04-12 00:40] EvanBoyle commented on #2318
Issue for automation API support: https://github.com/pulumi/pulumi/issues/9385

[2022-04-12 09:21] bennettp123 opened #9386 "Pulumi bails with no error messages (exit code 255)"
### What happened?

When running `pulumi up` on our stack, it bails out during preview with no error message
<img width="1068" alt="image" src="https://user-images.githubusercontent.com/1610227/162922878-33fe27c1-108d-4b85-8c5c-b1be73f16707.png">

### Steps to reproduce

`pulumi up`

### Expected Behavior

pulumi generates a preview, then prompts to update the stack
OR pulumi returns an error mess

[2022-04-12 09:55] sevenam opened #9387 "Name validation problem on azure keyvault name (does not accept multiple dashes)"
### What happened?

When trying to create an azure keyvault with multiple dashes in the name pulumi preview and pulumi up throws an error:

[code]

This is a valid name for an Azure Keyvault.

### Steps to reproduce

Create a new Azure KeyVault with more than one dash (-) in the name.

### Expected Behavior

 +   └─ azure-native:keyvault:Vault  plm-abcdef-test-kv       create

### Actual Behavior

[2022-04-12 11:52] mikhailshilkov commented on #5447
I'm seeing `Updating (dev)` when running updates with the Pulumi backend. As this issue is 2 years old, I'll go ahead and close it as either fixed in these two years or not reproducible. If anyone has details about where this confusion still happens, please report back.

[2022-04-12 11:52] #5447 closed

[2022-04-12 11:57] mikhailshilkov commented on #9365
@phillipedwards The screenshot doesn't show the second part - namely the emtpy string - reported by the user. Do you know if this is also reproduced?

[2022-04-12 13:43] mikhailshilkov commented on #9017
Update on the above - we decided that we want to decouple `ReplaceOnChanges` from the flag that would be used in docs. We should create the latter - and this issue will be tracking this work.

[2022-04-12 13:46] mikhailshilkov commented on #7012
We need to make a decision very soon whether we are going to fix the relevant part of this issue or if not in the forseeable future, will need to remove this property from pulumi-eks (per https://github.com/pulumi/pulumi-eks/issues/602) since it's unusable.

[2022-04-12 14:14] mikhailshilkov commented on #5555
The last reply makes sense to me and the issue has been quiet for 1.4 years, so I'll take the liberty to close it as by-design. Let me know if you'd like to provide additional context and keep it open.

[2022-04-12 14:14] #5555 closed

[2022-04-12 14:18] mikhailshilkov commented on #5650
This issue has been stale for a year so I'll take the liberty to close it as by-design, as explained by Paul. Feel free to open a new issue with a feature request to improve secrets provider configuration and outline your ideas. Thank you!

[2022-04-12 14:18] #5650 closed

[2022-04-12 16:38] iwahbe opened #9388 "Programgen promises don't persist through variables"
### What happened?

Programgen looses type information when generating promises (or Outputs) through variables:

### Steps to reproduce

[code]

### Expected Behavior

[code]

### Actual Behavior

[code]

### Versions used

_No response_

### Additional context

_No response_

### Contributing

Vote on this issue by adding a 👍 reaction.
To contribute a fix for this issue, leave a comment (and link

[2022-04-12 21:15] phillipedwards commented on #9365
@mikhailshilkov I've not yet been able to repro that portion, nor been able to get one from the user in question.

[2022-04-13 09:46] Frassle commented on #9385
Not sure what's expected here? We don't currently define the format for an update plan so these are just opaque files to the user.

[2022-04-13 13:00] mikhailshilkov commented on #5846
I believe you need to implement this mock function to return "real" outputs of the function `get_subnet`:

[code]

Apologies for not coming back to you earlier. As this issue is 1.5 years old, I'll go ahead and close it.

[2022-04-13 13:00] #5846 closed

[2022-04-13 13:14] mikhailshilkov commented on #6394
I'm sorry we haven't responded earlier... I tried the example above locally and got the preview displayed correctly

<img width="1026" alt="image" src="https://user-images.githubusercontent.com/1454008/163187926-c72a52d0-231d-4523-b2b7-5147862e674a.png">

I suspect there's something else needed to reproduce the error. Since the issue is one year old, I expect there's no repro anymore, so I'll clos

[2022-04-13 13:14] #6394 closed

[2022-04-13 13:17] mikhailshilkov commented on #5859
With https://github.com/pulumi/pulumi/issues/4868 implemented, I'll go ahead and close this issue hoping that Rosetta translation isn't applicable anymore

[2022-04-13 14:20] Insomniak47 commented on #9364
@viveklak would you like to add a feature request for handling go-get style repo urls for the directory?

[2022-04-13 15:07] EvanBoyle commented on #9385
@Frassle as a user in an automated setting I may want to generate a plan, and then apply some business logic on the plan to either relax or expand the generated constraints. I may just want to read the generated plan and make some assertions on it.

I don't think transparent string is the right choice here. Not nearly as useful unless we add the types to the Automation API SDKs.

[2022-04-13 15:46] EvanBoyle opened #9397 "Support custom logic in the stack update/preview/destroy/refresh lifecycle"
Sometimes there is some machine-level state that needs to be established before a pulumi program can run, for instance standing up an SSH tunnel or running a tool like `teleport` to connect to a kubernetes cluster. In order for any resource operations to succeed, this tool needs to run in advance of the program and ideally have a cleanup step run at the end. For instance it would be great to codif

[2022-04-13 15:47] Frassle commented on #9385
I'm not sure we're ready to expose that level of detail as something user could take a dependency on. There's also the pain point that these types are easy to define for the go sdk (just reuse what's in sdk/go/common/apitype/plan.go) but I didn't think automation api duplicated this many types into other languages for anything else.

[2022-04-13 17:09] christophermaier opened #9398 "Official "build environment" image for building new Pulumi providers"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details
I'm currently in the process of converting a handful of Terraform providers to Pulumi providers, using the [pulumi-tf-provider-boilerplate](https://github.com/pulumi/pulumi-tf-provider-boilerplate) as a starting p

[2022-04-13 17:31] #5831 closed

[2022-04-13 22:15] niklasravnsborg commented on #7615
Hey there, is there anyone working on this currently? I might be able to invest some time to get this up and running since I need a Pulumi-Vercel integration.

[2022-04-14 03:30] hcharley commented on #9330
Could Pulumi just erase secrets at log write time?

It seems like based on your ticket that Pulumi is only erasing the secret at log read time... I could be misunderstanding.

[2022-04-14 10:23] nchanged commented on #5859
Still an issue, appears randomly:
Pulumi version : **v3.29.0**

[code]

[2022-04-14 11:35] #9381 closed

[2022-04-14 11:45] expelledboy commented on #4515
Where is this backlog? How do I even disable these comments in the service, my team is being drowned by these comments, its most unproductive.

[2022-04-14 11:50] Frassle commented on #4515
Its on an internal issue tracker, I think it could probably be moved to https://github.com/pulumi/service-requests/issues for public watching.

cc @EvanBoyle

[2022-04-14 14:40] allen-munsch commented on #2580
I have a discussion and question thread here about general usage and actionable items from this good message.

- https://github.com/pulumi/pulumi/discussions/9405

[2022-04-14 16:18] Frassle commented on #9356
Yup. I'm going to close this off as by-design.

[2022-04-14 16:18] #9356 closed

[2022-04-14 19:55] scratchmex commented on #5948
@stack72 @EladGabay bumping this as the repo seems updated. How is the process of adding this to the supported providers?

[2022-04-15 00:31] ghostsquad commented on #4834
I'd like to see something like `CreateOrUpdateOnChanges` which is similar to [ReplaceOnChanges](https://www.pulumi.com/docs/intro/concepts/resources/options/replaceonchanges/).

Allowing values to be passed in is a bit better, because you won't have to write the comparison logic yourself to resolve to a boolean value.

`CreateOrUpdateOnChanges` - This would be very similar to `count` in Terraform.

[2022-04-15 07:25] mikhailshilkov commented on #9386
I can't spot anything suspicious in the log, unfortunately... Any chance you could provide a program to reproduce this?

[2022-04-15 07:27] mikhailshilkov commented on #9398
cc @stack72

[2022-04-15 08:21] Frassle commented on #9386
Another thing to get some more info would be to run with `--logflow`. There error looks like the node language provider has returned a "bail" error, which means it thinks it has already reported the error to the user and the engine doesn't need to report it as well. Might be with `--logflow` we get some more logs from the node process to see what that error is.

[2022-04-15 11:44] dmytrokyrychuk commented on #7314
I had a similar problem today on Pulumi v3.29.1, but I am not sure if it's the same because this issue is fairly old, and I am working with an entirely new stack, and in my case the exit code was 1 instead of 2:

[code]

 My issue was due to the virtualenv not being activated. Both these solutions worked for me:

1. Activate virtualenv before runing `pulumi up`.
2. Do not activate virtualenv, but

[2022-04-15 14:41] jf opened #9409 "`pulumi config set` stumbles on "--*" values"
### What happened?

when attempting to set a secret value with `pulumi config set` and the provided value starts with `--`, pulumi will fail with
[code]

It would appear that somehow another command is called, and the arguments are not protected? Because if I were to try to "double quote protect" the secret value, `pulumi set config` does not error out:

`pulumi config set secret_value '"--secret

[2022-04-15 19:57] susanev opened #9410 "poor error message when using pulumi login app.pulumi.com"
_orginally reported through community slack_

## problem
a new user in community slack was using `pulumi login https://app.pulumi.com/<individual account-name>` instead of `pulumi login`
which first requests a token, and then results in the error `error: problem logging in: getting user info from https://app.pulumi.com/susanev: unmarshalling response object: invalid character '<' looking for begin

[2022-04-15 20:32] f11r opened #9411 "[python] Result cannot be exported under two different names"
### What happened?

As first reported/asked in https://github.com/pulumi/pulumi/discussions/9408 in python it does not seem to be possible to export the same result under two different names.

### Steps to reproduce

[code]

### Expected Behavior

Both `export1` and `export2` get exported

### Actual Behavior

Only `export1` gets exported

### Versions used

[code]

### Additional context

_No res

[2022-04-15 23:03] phillipedwards opened #9412 "Show URN Changes on `pre/up` when using Aliases to Retain the Existing Resource"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details
Currently, when changing the logical name of an existing resource and using the aliases resource option to migrate the existing resource to the new name, pulumi pre/up does not show any indication that the URN of

[2022-04-16 13:21] #9267 closed

[2022-04-16 18:47] bmyers427 opened #9414 "Error 412 while updating gcp.sql.DatabaseInstance"
### What happened?

I'm attempting to enable the High Availability setting for an existing GCP Postgres SQL instance. Adding the availability type parameter returns the following error

[code]

### Steps to reproduce

Create a DB instance

[code]

Add `availabilityType` to the instance settings

[code]

Run `pulumi up`

### Expected Behavior

The existing GCP SQL database instance availability is

[2022-04-17 13:36] amkartashov opened #9416 "Pulumi checksum files are different in github and pulumi.com"
### What happened?

Checksum file https://get.pulumi.com/releases/sdk/pulumi-3.29.1-checksums.txt is wrong and does not match https://github.com/pulumi/pulumi/releases/download/v3.29.1/pulumi-3.29.1-checksums.txt

### Steps to reproduce

[code]

### Expected Behavior

should be the same

### Actual Behavior

different

### Versions used

_No response_

### Additional context

similar issue for pre

[2022-04-17 16:23] pyoio commented on #9085
Code for one of our dynamic providers where the issue occurs:

[code]

[2022-04-18 08:34] skyrpex commented on #9168
I also find this issue when extending a class, ie:

[code]

Command's inherited `hi` method doesn't exist in runtime.

[2022-04-18 10:11] #6263 closed

[2022-04-18 10:48] ringods commented on #7346
Could you consider #9007 for 4.0? Releasing thirdparty providers via Github Releases would be a welcome addition for [Pulumiverse](https://github.com/pulumiverse).

[2022-04-18 11:03] smasala commented on #2877
Also very handy if you're reaching quota limits and you can't create new resources because it only deletes the olds ones after attempting to create new ones.

[2022-04-18 12:05] ringods commented on #9007
For [Pulumiverse](https://github.com/pulumiverse), we want to host the plugins also via Github releases, but on public repositories. The repositories are hosted in the `pulumiverse` Github organization, but the need isn't limited to our organization.

Let's get the discussion going on how to rework this.

# Current CLI

[code]
(ignored the global flags)

# Proposal

## Additional flags

To rework

[2022-04-18 19:32] imcvampire commented on #132
Hi,

Is there anyone working on this? If yes, I would like to join the team. If not, I can take the lead.

[2022-04-18 20:21] sammck opened #9421 "grpcio pinned <1.44 causes issues on ARM64 platforms"
https://github.com/pulumi/pulumi/blob/b31c5b136c6e6626c6b5bac8b2b8a777135586bb/sdk/python/requirements.txt#L4

I'm having trouble getting different packages to work together with Pulumi due to the upper bound on grpcio version. Ubuntu 20.04 ARM64 really wants 1.44, and the wheel for 1.43 can't seem to build from source. Looking online, there might have been a reason for the pin in the past, but ma

[2022-04-18 20:32] patriziobruno commented on #9007
@ringods thanks for looping me in. I definitely like the URL handlers proposal and I agree that using well established schemes is to be preferred, identifying the backend based on the host (or pattern matching), much like most Android apps do.

[2022-04-18 20:40] sammck commented on #9421
Hmm, I am able to get 1.43 installed into virtualenv by first upgrading pip and then explicitly using pip to install it.  But poetry immediately breaks reinstalling the same version...

[code]

May be a poetry issue, but may affect other users...

[2022-04-18 21:17] Frassle commented on #9007
Having not ever really done android development have you got some more info on that?

[2022-04-18 21:26] Frassle commented on #9007
So this isn't just needed for the `pulumi plugin install` command. When we query programs for what plugins they need they can also send back a url to download it from, and there is also the pluginDownloadUrl resource option that can be used to tell a resource to download and use a specific plugin as well (N.B. This option confuses me as I don't think we download plugins once running 😕).

I _like_

[2022-04-18 23:42] ghostsquad commented on #8005
any change this could be made a flag? We have use cases where we want to disable this "fail fast" functionality.

[2022-04-18 23:45] ghostsquad opened #9422 "Make a `--fail-fast` or `--do-your-best` flag 😆"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

This is a feature request to make the "feature" described in #8005 an cli-flag. In some scenarios, I would like pulumi to try to do as much as it can, even when an error occurs with a particular resource.

### Af

[2022-04-19 05:54] ringods commented on #9007
@Frassle Android, iOS but also desktop OS-es, have a way to open a specific app, even a specific resource within the app. For example, Slack uses it's own `slack://` URL scheme to let desktop or mobile apps open when clicked:

https://api.slack.com/reference/deep-linking#client

[2022-04-19 06:06] ringods commented on #9007
Good catch. Companies using the enterprise (self-hosted) versions of Github or Gitlab would be served as well this way. That makes the proposal be as follows now, starting mainly with the URL scheme to map it to a handler:

* `file://` for local files
* `github://<host>/<owner>/<repository>/` to support Github SaaS as well as self-hosted options via the [Releases](https://docs.github.com/en/rest/r

[2022-04-19 09:21] afa3fe commented on #6542
Is this issue going to be fixed? I have the same issue on my setup with pulumi kubernetes operator and azure devops

[2022-04-19 10:03] Frassle commented on #9422
Isn't this the opposite of #8005? That was asking for pulumi to exit faster as soon as it hit an error (which is unsafe because of pending operations). Sounds like this is asking for pulumi to keep going as much as it can when it hits an error? Which is more of a --no-fail-fast, or --persevere option?

[2022-04-19 10:21] niklasravnsborg commented on #7615
Hey @emiliza, I looked into `pulumi-tf-provider-boilerplate` and also into which terraform package I might be able to use as the base terraform provider.

Currently there are two Terraform providers for Vercel:

- https://github.com/chronark/terraform-provider-vercel (by chronark)
- https://github.com/vercel/terraform-provider-vercel (by Vercel)

The provider by chronark is based on the establishe

[2022-04-19 10:51] mikhailshilkov commented on #9416
@cnunciato What have we done to fix #9063? Do we know the reason?

[2022-04-19 10:53] mikhailshilkov commented on #9421
Pinned in https://github.com/pulumi/pulumi/pull/9139

@iwahbe The upstream issue seems to be closed. Can we unpin?

[2022-04-19 11:18] iwahbe commented on #9421
@mikhailshilkov It looks like we can unpin

[2022-04-19 11:53] yuft commented on #9315
@guineveresaenger I've pushed my changes here https://github.com/yuft/pulumi-AquaSec

I have only minimal examples.

I wonder what I can do next. doc/apis and a PR to https://github.com/pulumi/registry?

[2022-04-19 13:14] mikhailshilkov opened #9424 "[ci] Intermittent build failures with API rate limit exceeded"
Our tests keep failing intermittently with

[Example](https://github.com/pulumi/pulumi/runs/6077315980?check_suite_focus=true#step:19:1)

Let's figure out where the limit is and how to stop hitting it from our CI.

[2022-04-19 13:57] mussa572 commented on #8186
Any update on this , I am facing the similar issue

[2022-04-19 14:16] Frassle commented on #9425
This looks like a python codegen bug, moving to pulumi/pulumi.

[2022-04-19 16:18] danielrbradley opened #9427 "Plain type refs not compilable"
### What happened?

Plain type refs generate code which is not compilable. These are required for components which require plain inputs in order to plan the sub-components to be created without having to wrap in an apply to make accurate previews.

### Steps to reproduce

Given a plain ref property in the schema such as:

[code]

### Expected Behavior

It should generate:

[code]

### Actual Behav

[2022-04-19 16:39] #9417 closed

[2022-04-19 20:48] #9421 closed

[2022-04-20 07:13] followben commented on #7960
Any update on this folks?

[2022-04-20 08:44] Frassle commented on #9424
Raised https://github.com/jaxxstorm/action-install-gh-release/pull/16 to add throttling to action-install-gh-release

[2022-04-20 09:30] jaxxstorm commented on #3592
For those that end up on this issue because they're struggling with using a third party S3 compatible backend...

The AWS credentials you use for accessing the state are _different_ from the credentials you use for provisioning infrastructure.

Credentials for provisioning infrastructure are set at the provider level, so you can define any of the options specified here:
https://www.pulumi.com/regi

[2022-04-20 10:58] Frassle commented on #9424
Updated our CI to use a new version of action-install-gh-release. It _should_ backoff and retry rate limit errors. Will watch for a few days before closing this off as fixed.

[2022-04-20 14:26] 1oglop1 opened #9434 "Dynamic provider interface should support multiple resources"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

At the moment dynamic providers can implement only one resource which is against the principle of the provider.
Native providers support multiple resources, while dynamic providers can only implement one resource

[2022-04-20 14:42] mortaelth opened #9435 "Pulumi preview quits with "an unhandled error occurred: Program exited with non-zero exit code: 1""
### What happened?

Hello,

I am receiving error without any furter details when doing preview of deployment of the helm chart ["tempo-distributed" from grafana](https://github.com/grafana/helm-charts/tree/main/charts/tempo-distributed) (tried many versions of the chart, including very old ones, but the currently latest which does not work is .16.9 )

### Steps to reproduce

I have minimized input

[2022-04-20 14:46] Gwojda commented on #5377
Same problem here after a timeout on nodepool replacement.
Everytime i run `pulumi up` its try to fetch and update the nodepool status, which is OK on gcp, but timeout on pulumi after 30mins.
no pending_operations present on stack export.

[2022-04-20 15:42] Frassle commented on #9435
Can you run with `--logflow --logtostderr -v9` and attach the output from that to this ticket?

[2022-04-20 19:32] AaronFriel opened #9437 "`pulumi new` leaves orphan processes with open files"
This bug may cause Windows users to be unable to save/edit/delete templates until the orphan processes are stopped.

See this pull request in pulumi/templates:

- https://github.com/pulumi/templates/pull/263

The most recent run failed failed on cleaning up directories, even when taking every step to postpone cleanup until after all subtests have completed and mitigating an out of memory with Wind

[2022-04-20 19:42] stack72 commented on #9437
This feels like a regression right ?

[2022-04-20 19:44] AaronFriel commented on #9437
Yeah, definitely. Going to try `pulumi new` on my Windows machine in a moment.

[2022-04-20 19:59] Frassle commented on #9437
Wonder if new is just missing a call to Host shutdown?

[2022-04-20 20:17] AaronFriel commented on #9437
@stack72 I wouldn't consider this a P1, because the only file handle opened is that of the directory, none of the files in the dir are locked by the language plugin. Tested all aws-$lang and azure-$lang templates.

Screenshot of Sysinternals Process Explorer, showing an orphan "pulumi-language-nodejs.exe" process with an open file handle for the directory of the Pulumi project, no other file handl

[2022-04-20 20:19] dixler opened #9439 "SQL language support?"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details
I have _a modest proposal_.

When will we get SQL language support so I can deploy infrastructure via SQL inserts?

According to [Jetbrains](https://www.jetbrains.com/lp/devecosystem-2021/) `The State of Developer

[2022-04-20 21:40] #9437 closed

[2022-04-20 21:51] jkodroff opened #9441 "Python: Invalid docstring generated"
A pulumi-azuredevops build is failing with what appears to be an invalid docstring: https://github.com/pulumi/pulumi-azuredevops/pull/102

Per @nimbinatus:

[2022-04-21 07:48] lewisl9029 opened #9442 "aws-native.dynamodb.GlobalTable fails with InternalFailure"
### What happened?

I've been trying to create a dynamodb global table with the `@pulumi/aws-native` package, but haven't been able to get it to work.

### Steps to reproduce

Here's the code I used:

[code]

Had to find the actual values from https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-dynamodb-globaltable.html since the pulumi docs were rather incomplete. Not enti

[2022-04-21 09:05] mortaelth commented on #9435
sure, attaching output, thank you
[log.zip](https://github.com/pulumi/pulumi/files/8529468/log.zip)

[2022-04-21 09:29] #9427 closed

[2022-04-21 13:27] #9317 closed

[2022-04-21 13:40] iwahbe opened #9445 "Python generates applies with invalid names"
### What happened?

Invalid python was generated.

### Steps to reproduce

Try to turn the following pcl into python
[code]

### Expected Behavior

[code]

### Actual Behavior

I get the following snippet as part of defining `container`:
[code]

Note that we define the name `saName` in the lambda but we reference the name `sa_name` in the body.

### Versions used

3.30.0-alpha.1650021415+3d1269ab.

[2022-04-21 13:57] tomweston opened #9446 "error: installing dependencies failed; rerun manually to try again, then run 'pulumi up' to perform an initial deployment: determining go version: exit status 2"
### What happened?

[code]

### Steps to reproduce

[code]

### Expected Behavior

Dependencies Install correctly

### Actual Behavior

Dependencies fail Installation

### Versions used

Pulumi:  v3.30.0
Go: go1.18.1 darwin/amd64

### Additional context

Can only reproduce this behaviour on Mac

### Contributing

Vote on this issue by adding a 👍 reaction.
To contribute a fix for this issue, leave

[2022-04-21 14:41] #9446 closed

[2022-04-21 15:58] iwahbe opened #9447 "Typescript enum naming regression"
### What happened?

RDS resource in `pulumi-aws` is generating unexpected typescript constant names:
[code]

### Steps to reproduce

See above

### Expected Behavior

See above

### Actual Behavior

See above

### Versions used

v3.30.0

### Additional context

_No response_

### Contributing

Vote on this issue by adding a 👍 reaction.
To contribute a fix for this issue, leave a comment (and link

[2022-04-21 19:00] pgavlin commented on #9365
Reopening to track the issue around unknowns.

[2022-04-21 19:15] phillipedwards commented on #9365
@pgavlin re-running the same programs I provided above does seem to produce the empty string behavior the user is alluding to. I'm not sure if something has changed or my tests were ran incorrectly, but I can repeatedly produce the issue.

Reproducible by deploying program 2 when program 1 stack is created, but has not yet been deployed.

Pulumi version - 3.30.0

![image](https://user-images.githu

[2022-04-22 04:28] matoruru opened #9450 "It would be best to have "Successfully logged out" message when logged out"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

I'm using **v3.30.0**.

`pulumi logout` gives us no message that tells us if we are logged out or not.

Current behaviour:

[code]

Better behaviour that I hope:

[code]

### Affected area/feature

[2022-04-22 10:04] Frassle opened #9451 "fatal error: concurrent map writes in CI run"
### What happened?

https://github.com/pulumi/pulumi/runs/6126078928?check_suite_focus=true failed.

Looks like a number of tests failed due to race bugs:
[code]

### Steps to reproduce

N/A

### Expected Behavior

N/A

### Actual Behavior

N/A

### Versions used

_No response_

### Additional context

_No response_

### Contributing

_No response_

[2022-04-22 16:50] #9385 closed

[2022-04-22 17:54] AaronFriel opened #9454 "Complete Asset and Archive intrinsics for programgen"
Right now only a couple asset/archive types are supported in programgen, we need to support the six asset and archive variants.

[2022-04-22 21:34] stack72 commented on #9123
Hey all! Happy to say that we now have an official provider for Databricks :) I can close this out!

https://github.com/pulumi/pulumi-databricks
https://www.npmjs.com/package/@pulumi/databricks
https://www.nuget.org/packages/Pulumi.Databricks
https://pypi.org/project/pulumi-databricks/

[2022-04-22 21:34] #9123 closed

[2022-04-23 01:10] ghostsquad opened #9455 "Composite ResourceOption"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

Would be nice to have something like a `Composite` ResourceOption, where it fits the bill as a _single_ `ResourceOption` even if behind the scenes it were multiple. There are some use cases where this would save

[2022-04-23 11:36] algoflows opened #9456 "Support GCP Gen2/Version2 functions when developing cloudfunctions.HttpCallbackFunctions, with the same easy developer experience."
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

Currently we can develop and deploy GCP gen1/version1 functions easily with a lovely and simple api example below.

#### Current way
[code]

Issue/Problem, we can only deploy gen1 functions using the nice simple

[2022-04-23 12:36] Frassle commented on #9455
Is this a request for the Go SDK? The other languages already use `ResourceOptions` types (note the plurality). Have you got an example of some code you have that would benefit from this? Also how would you expect this to work if options clashed (e.g. combining `Protect(true)` and `Protect(false)`)?

[2022-04-23 14:12] phillipedwards opened #9457 "Multi-Language Component Cannot be a Parent of Another Resource - Causes Promise Leak"
### What happened?

Using a multi-language component as the `parent` property to another resource causes a fatal error (promise leak).

### Steps to reproduce

1. Install a Pulumi component, in  your Pulumi program, which is generated from a MLC. Eg- https://www.pulumi.com/registry/packages/aws-s3-replicated-bucket/.
2. Create another resource, such as a bucket object.
3. Set the bucket object's `

[2022-04-23 17:41] ghostsquad commented on #9455
Yes, this is for Go.

This would be a simple wrapper around how resource options already work. They are applied in order presented.

So you can default with everything protected, and pass in another option to turn off protect. The last option wins.

A composite is just a slice, and internally iterates over each item in it.

[2022-04-23 20:09] Frassle commented on #9455
Sounds reasonable. No objection to this being added in. If you feel you can make a Pull Request for this, I'd be happy to review. Else I'll see about getting round to it between things, shouldn't take too long to write up.

[2022-04-23 20:40] ghostsquad commented on #9455
I'll submit a PR tonight

[2022-04-23 23:23] algoflows commented on #3838
The waited has been so long that the thumbs have gone down from 40 to 7 🥲

[2022-04-24 02:49] chuegle commented on #9341
We have a similar issue with both storing S3 state and referencing existing terraform state.

Here's how we configure the terraform backend:
[code]

[2022-04-24 03:41] ghostsquad opened #9460 "Clearly show which providers are associated with Component or other Parent resources"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

You can associate a provider with a component resource, and thus that provider is "passed down" to each child. This relationship is unclear when looking at the preview though.

Additionally, it appears to not be

[2022-04-24 12:15] Frassle commented on #9460
It's not, you have to register the ComponentResource first to be able to create the provider parent'd to it, and you can't then change the components provider mappings. It's an interesting use case though, worth a think if there's a way we could support it.

[2022-04-24 12:25] #9455 closed

[2022-04-24 15:41] ghostsquad commented on #9460
Maybe just a method on a Component resource called `SetProviders`?

[2022-04-24 19:16] mvgijssel opened #9461 "pulumi up does not fail on error"
### What happened?

Running `pulumi up` without being logged in / without having a `PULUMI_ACCESS_TOKEN` set resulted in an error being **printed** but not in a non-zero exit code.

### Steps to reproduce

[code]

### Expected Behavior

I would expect a non-zero exit code when there is an error.

### Actual Behavior

Zero (0) exit code returned.

### Versions used

[code]

### Additional context

[2022-04-24 20:55] 06kellyjac commented on #3838
The original is at 42 👍

[2022-04-24 21:10] Frassle commented on #9461
pulumi does exit with a non-zero exit code. But your checking the exit code of the whole pipe operation with "$?" and because `tee` was successful the exit code is 0.

Check out [PIPESTATUS](https://unix.stackexchange.com/questions/14270/get-exit-status-of-process-thats-piped-to-another):
[code]

[2022-04-24 21:10] #9461 closed

[2022-04-24 21:27] Abukamel commented on #5993
I have got to encounter an issue similar to this today
[code]

[2022-04-24 21:38] Frassle commented on #5993
@Abukamel that stacktrace is from the command provider. I've opened https://github.com/pulumi/pulumi-command/issues/54 to track it.

[2022-04-25 02:15] ghostsquad commented on #9422
@Frassle yes I meant the original behavior before it was changed with #8005. Ok if the default remains the same, but if a flag allowed continued execution that would be great.

Maybe this is a bit of scope creep, but if there was a programmatic way to know that an error occurred, such that the program can be part of the decision making process of when to fail?

I believe the typical thing would be

[2022-04-25 03:05] mattfysh opened #9465 "Preserve symlinks in `FileArchive`"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

When producing an archive from a directory, symlinks are dereferenced and copied in-place - essentially duplicating the source file. This can result in archives magnitudes larger than the source directory. e.g. c

[2022-04-25 03:07] Frassle commented on #9422
We didn't change any behavior in #8005, it was just closed as answered.

We can give this a think. There might be some difficulties with correctly resolving output promises but the general idea of a `--persevere` option sounds fine.

[2022-04-25 04:31] ghostsquad commented on #9422
Oh sorry, your last question made me second guess what I previously read in #8005.

Basically, if you have a dependency graph, specific branches of the tree will not be able to be completed because of failures. But there may be other parts of the graph that are totally unaffected.

It would be nice to be able to essentially run as much as possible, being the branches that are siblings to the failu

[2022-04-25 05:09] Frassle commented on #9422
Yup understood, I've called this `--best-effort` or `--persevere` in previous tools.

[2022-04-25 08:32] mvgijssel commented on #9461
Thanks @Frassle for pointing that out! Sorry for the oversight 🤦 . Also noticed that I wasn't propagating the error code from a Python subprocess as well https://github.com/mvgijssel/setup/pull/85/commits/d732c213dec2e914038737f62b979234cd3927db 🙈

[2022-04-25 09:06] ringods commented on #9143
I notice that support for Go Generics is cut from the 4.0 changes tracking. Can someone from Pulumi explain why this was decided that way?