[2019-08-06 19:59] #2313 closed

[2019-08-06 20:07] CyrusNajmabadi commented on #3040
From talking to @pgavlin it feels like the fundamental problem is that hte engine isn't returning enough information, so the SDK has to do:

[code]

If the engine could return just a single-bit saying "this list was complete".  Then we could check for that, and replace the above with:

[code]

i.e. instead of having to assume the value wasn't known because of preview, we'd know the value was undef

[2019-08-06 23:32] #2836 closed

[2019-08-06 23:32] #3016 closed

[2019-08-07 01:11] joeduffy opened #3045 "Deprecate PULUMI_TEST_MODE"
We are going to leverage the techniques demonstrated in https://www.pulumi.com/blog/unit-testing-infrastructure-in-nodejs-and-mocha/ instead.

[2019-08-07 01:12] joeduffy commented on #2932
Closing out in favor of https://github.com/pulumi/pulumi/issues/3045.

[2019-08-07 01:12] #2932 closed

[2019-08-07 11:24] Dominik-K commented on #2607
@ellismg

You're right. It's not that important. I close this issue and we can reopen it when we see that other experience that strange error message, as well.

[2019-08-07 11:24] #2607 closed

[2019-08-07 14:45] igorshapiro commented on #3027
To record the info we gathered while debugging.
* It also fails with node 10
* It also fails with having `{ async: true }` in the `getXXX`
* It fails with rolling back to pulumi versions before the `async` chage

[2019-08-07 15:50] ericrudder commented on #3045
Can we annotate the "old" (4.19) blog entry with a link/note to the new one
as well, since it will still come up in searches?

On Tue, Aug 6, 2019 at 6:11 PM Joe Duffy <notifications@github.com> wrote:

[2019-08-07 19:58] lukehoban commented on #2717
Note that the new `random.RandomPassword` which will be available in the next release of the `random` provider actually addresses this by having an `id` of `"none"`.  In the nearterm, we may want to focus on adopting that in all use cases where `RandomString` was being used for secrets, and hold off on trying to deeply change the `id` encoding issue.

[2019-08-07 20:07] pgavlin commented on #2327
We could also approach this by re-parenting all of the children from the resource to be deleted to that resource's parent as part of the deletion. @lukehoban @ellismg what do you think? I'm considering that or making this an error for Q3.

[2019-08-07 20:42] pgavlin commented on #2908
I _think_ that this will still happen. I've been able to repro the original behavior, but I need to check again once a new version of `pulumi_aws` is released. In the meantime I'll see if I can verify with some hand-crafted code.

[2019-08-07 22:24] pgavlin commented on #2908
I've verified that this does not happen when using an up-to-date version of `pulumi_aws` with an up-to-date version of `pulumi`.

[2019-08-07 22:24] #2908 closed

[2019-08-07 22:28] pgavlin commented on #3038
Interestingly enough, that repro only appears to happen when using an older AWS SDK with a newer Pulumi SDK. The following code works as expected after manually editing the older AWS SDK to the newer, non-coroutine-style of code we now generate:

[code]

I imagine that the behavior reported in this issue is still possible if a user-written coroutine awaits the result of an invoke. Checking that no

[2019-08-07 22:30] pgavlin commented on #3038
Confirmed: the code below also produces the `pop from an empty deque` error.

[code]

[2019-08-08 10:37] redbaron commented on #2651
@ellismg , @lukehoban , We have exactly same problem, but with GCP resources. We running Pulumi in a docker container if it makes any difference

[2019-08-08 13:15] redbaron commented on #2651
I started pulumi with `NODE_OPTIONS=--inspect-brk` and attached debugger, there are definitely errors in vars, but they are not reported (nodejs langhost never exits with 1):

![Screenshot from 2019-08-08 14-12-06](https://user-images.githubusercontent.com/16624/62706178-e6f5dd00-b9e6-11e9-96f3-ac2d613dfe15.png)

[2019-08-08 13:30] redbaron commented on #2651
OMG, I think I tracked it down, it is a space in ` no_proxy` env var which throws it off.

Silently fails:

[code]

Works (no spaces in no_proxy):
[code]

FYO, `curl` is happy with either of them

It seems that errors connecting to engine & monitor are not reported to user by neither nodejs nor pulumi-language-nodejs

[2019-08-08 16:11] jen20 opened #3051 "Python runtime can peg CPU at 100% when using data sources"
Using the AWS provider from the `stack72/v2.23.0` branch of `pulumi_aws`, the following code pegs the CPU at 100% (in the Python interpreter):

[code]

Of note is that the branch of the AWS provider in question was the first to pull in the asynchronous to synchronous changes.

[2019-08-08 16:15] lukehoban commented on #2785
Closing this out as part of the planned deprecation of PULUMI_TEST_MODE in https://github.com/pulumi/pulumi/issues/3045.

[2019-08-08 16:15] #2785 closed

[2019-08-08 16:32] stack72 commented on #3051
FWIW, master branch will do the same

[2019-08-08 16:36] lukehoban commented on #2651
Fascinating.  Thanks for tracking that down @redbaron!  We'll look into this.

[2019-08-08 16:45] dustinfarris commented on #3045
Will the new method support unit testing libraries that are not necessarily part of a pulumi program?

[2019-08-08 16:51] chrsmith opened #3052 "Unable to rename a stack's project"
The "project name" is the `project` field found in `Pulumi.yaml`, and makes up part of a stack's identity. For example, if the `Pulumi.yaml` has `project: frontend` and another has `project: backend`, then I can have two stacks with the name `dev` since the project differs.

`chrsmith/frontend/dev`
`chrsmith/backend/dev`

I can rename one of those, e.g. to `dev-renamed` by running `pulumi stack re

[2019-08-08 16:55] lukehoban commented on #2651
This looks like it may be a bug in gRPC:

https://github.com/grpc/grpc/blob/master/src/core/ext/filters/client_channel/http_proxy.cc#L143

[2019-08-08 17:01] redbaron commented on #2651
I see 2 bugs here:

- first and most important one is that error was not reported to user except by the exit code. this is a bug somewhere in pulumi
- less important, is that values in comma separated `no_proxy` are not stripped  of spaces.

[2019-08-08 17:03] lukehoban commented on #2651
Yes - there is definitely a Pulumi bug that we are not reported this error correctly - we'll fix that.

But the root cause seems to be that gRPC is not trimming spaces in its `no_proxy` parsing.

FWIW - in contrast `go` HTTP(s) does this correctly https://github.com/golang/net/blob/master/http/httpproxy/proxy.go#L219

[2019-08-08 18:01] lukehoban opened #3053 "Proxy related gRPC failures lead to `pulumi up` failures with no output"
See https://github.com/pulumi/pulumi/issues/2651#issuecomment-519518682.

[2019-08-08 18:01] #3053 closed

[2019-08-08 18:01] ekrengel opened #3055 "Log when the renewal of the lease token fails"
An other issue has caused the CLI to stall and therefore not renew the lease token in time. We should log when the renewal of the lease token fails for better visibility in the CLI.

[2019-08-08 18:02] ekrengel commented on #3055
Assigning to @pgavlin for now. Feel free to re-assign if appropriate.

[2019-08-08 19:05] #3051 closed

[2019-08-08 19:51] lukehoban commented on #3027
@CyrusNajmabadi @igorshapiro Do we have any idea what might be the root cause here?  Is this definitely related to Pulumi - or is this some unrelated issue with `node` itself in this environment?

[2019-08-08 19:54] lukehoban commented on #2326
This will get fixed more fundamentally as part of https://github.com/pulumi/pulumi/issues/2948, so closing this one out.

[2019-08-08 19:54] #2326 closed

[2019-08-08 20:34] lukehoban commented on #2901
https://github.com/pulumi/pulumi-terraform/pull/447 is also now merged, so once provider packages pick this up the synchronous `getXYZ` will be avaiable.

[2019-08-08 22:13] CyrusNajmabadi commented on #3027
No idea at all currently.  @igorshapiro in the meantime, coudl you potentially capture a dump and put it in a place we could get at?

[2019-08-08 22:29] CyrusNajmabadi commented on #3027
Other dump lists:
[code]

[2019-08-08 22:48] CyrusNajmabadi opened #3058 "There should be a python ResourceOptions.merge that can be passed None and do the right thing."
Right now the API we have for python is on the painful side due to callers having to deal with None/Non-None paths.  We should have a static helper that lets them avoid all this pain to make consumption easier.

[2019-08-08 23:56] #1123 closed

[2019-08-09 00:02] CyrusNajmabadi commented on #3017
I don't see any particular reason why this wouldn't work.  Perhaps it was at a time when we handled this stuff earlier on in the pipeline and couldn't handle Outputs if we ran into it.

[2019-08-09 00:27] jesus-curiel commented on #2962
Im experiencing the same issue when trying to output a kubeconfig string.
I was able to reproduce it with a simpler scenario (If I combine an output with a secret in the `apply` call):

Im running: `v0.17.28`

[code]

[code]

This is the error:

[code]

[2019-08-09 02:51] #3038 closed

[2019-08-09 04:07] lukehoban commented on #2962
I see the same results as @jesus-curiel with that same example on latest packages.

This only happens on the initial preview though.  If I `pulumi up --skip-preview` I do not get the error, and after successfully deploying, a future `pulumi up` also succeeds.

The error is in `registerResourceOutputs`, and is triggered by an attempt to pass the following object to `google.protobuf.Struct.fromJavaS

[2019-08-09 13:21] lukehoban opened #12776 "serializeFunction is in wrong place in docs"
This API is listed at https://www.pulumi.com/docs/reference/pkg/nodejs/pulumi/pulumi/runtime/closure/#serializeFunction, even though it is actually available at https://www.pulumi.com/docs/reference/pkg/nodejs/pulumi/pulumi/runtime/.

[2019-08-09 14:19] justinvp commented on #2614
I'm going to close this. The scriptable scenario is already possible today (see https://github.com/pulumi/pulumi/issues/2614#issuecomment-483448617), it's just the experience is not as nice as it should be because it requires specifying the project name twice: once in the `-n` arg and also as part of the full stack identity with the `-s` arg (owner/project/stack). Improving this is tracked in #288

[2019-08-09 14:20] #2614 closed

[2019-08-09 14:52] justinvp commented on #2421
The ideal experience is to prompt for the owner like we do on https://app.pulumi.com/site/new-project, doing so only if the user is a member of at least one organization other than their user org where the user has permissions to create stacks (otherwise, don't prompt and the stack will go under the user org).

The CLI could make use of the following service APIs to accomplish this:
 - `/api/user`

[2019-08-09 15:03] justinvp commented on #2476
The fix involves making a `HEAD` request to `api/stacks/<organization>/<project>`. The API will return 200 if the project exists and 404 if it doesn't.

[2019-08-09 15:59] lukehoban opened #3059 "Assert deleting resource with empty resource ID"
A user reports hitting the following assert - and notes:

[code]

[2019-08-09 16:51] mikhailshilkov commented on #2999
It looks good so far! I'll close the issue until I see the problem again.

[2019-08-09 16:51] #2999 closed

[2019-08-09 17:34] hausdorff opened #21453 "Implement `pulumi policy install` (or something like it)"
A direct analog for `pulumi plugin install`. This would make it easy to pre-fetch policy packs during CI, and allow people to inspect policy packs on their local machine.

[2019-08-09 19:02] jonjitsu opened #3061 "Allow passing configuration/arguments to underlying backend engine"
I'm using  pulumi with typescript and mocha for testing. I added a paths configuration to my tsconfig.json like so:

[code]

in my mocha tests I access my code like so:
[code]

run my mocha tests with ts-mocha:
[code]

And everything works fine.

In my pulumi program if I try to access my code with the above namespaced import `import * as foo from '@jonjitsu/foo'` I get the `Error: Cannot find mod

[2019-08-09 19:54] praneetloke commented on #2106
Moving this out of M26. I just added Jenkins env var detection.

[2019-08-09 20:08] theomessin commented on #2791
Any update on this?

[2019-08-09 20:28] random-ua opened #3062 "aws.ecs.Cluster does not support Container Insights"
It's impossible to enable Container Insights when creating new ECS Cluster instance

https://docs.aws.amazon.com/AmazonECS/latest/developerguide/cloudwatch-container-insights.html

Also new clusters created with {CloudWatch monitoring: Default Monitoring} despite Container Insights enabled by default (with `aws ecs put-account-setting-default --name containerInsights --value enabled`)

[2019-08-09 20:57] lukehoban commented on #3062
This is being tracked in the upstream provider here: https://github.com/terraform-providers/terraform-provider-aws/issues/9294.  This will be available in Pulumi as soon as it's available in that upstream provider.

[2019-08-09 20:57] #3062 closed

[2019-08-09 21:40] jonjitsu opened #3063 "AWS ACM validation timing issue on create."
With the following pulumi program:
[code]

When I run `pulumi up -y`, the first invocation fails with the error:
[code]

the second invocation succeeds though. So if I effectively run pulumi with `pulumi up -y || pulumi up -y` I get a successful build.

There appears to be some kind of timing issue going on.

[2019-08-09 23:48] #2939 closed

[2019-08-11 22:29] joeduffy commented on #3045
Thanks for the questions Dustin. I know this is an important scenario for your team so I want to make sure whatever we do here will work for you. I also think the way you're testing is a close approximation for what I've heard other end users doing, so your feedback is super valuable.

Any libraries that don't depend on Pulumi runtime functions -- like allocating resources and reading their resolv

[2019-08-12 00:11] dustinfarris commented on #3045
Thanks for the reply, Joe.

We see the benefits of unit testing during preview and post-update when the entire shape of resources is known.  We are excited to play with this new feature which should be prioritized soon.

As I haven't had a chance to play with it myself yet, can you give me a sense of how long it will take to run a modest test suite on an average-size program?  The unit tests we ha

[2019-08-12 11:31] mikhailshilkov commented on #2421
@justinvp I implemented the hint in #3066

I like your other suggestion about the owner prompt. I guess we should implement it consistently in all places. Let's decide on APIs. I'm not familiar with the current API, but my gut-feel preference would be the "alternative" option where the logic sits in backend.

Maybe, close this issue as the hint is done, and open a new one with owner selector?

[2019-08-12 17:18] hausdorff commented on #1518
@nesl247 can you say more about why is the name mangling on kubernetes irritating?

[2019-08-12 18:03] nesl247 commented on #1518
@hausdorff Since that comment we've actually adopted the auto naming. It was originally irritating as we did everything with expecting pre-determined names.

We've learned a lot about pulumi since then, and why it's beneficial to have the auto naming.

[2019-08-12 18:33] #2888 closed

[2019-08-12 19:36] lblackstone opened #3068 "Panic on update - Should not have seen an older plugin"
[code]

[2019-08-12 19:47] lblackstone commented on #3068
Not sure if it's related, but I encountered this error right after I caused a panic in the k8s provider. I ended up destroying the resources in the stack and then recreating them, at which point it showed the panic in the k8s provider rather than the reported panic here.

[2019-08-12 19:49] lblackstone commented on #2073
It would be nice if we displayed a shortlink that resolved to https://www.pulumi.com/docs/reference/troubleshooting/#conflict here. Right now, all you get is the following message:

`error: [409] Conflict: Another update is currently in progress.`

[2019-08-12 23:00] #2962 closed

[2019-08-12 23:03] CyrusNajmabadi commented on #3002
Hrmm..  I may need more information from you @oliverholliday .  I've been unable to repro this locally.  The part that is missing is this bit:

Just so my repro code is as close to yours as possible, could you show me your code that interacts with these dynamic providers and which finally exports the ccv, gbx and thx values?  I just want to make sure i'm not doing something obviously different fro

[2019-08-12 23:26] pgavlin commented on #3059
@lukehoban do we have details on the particular type of resource? An empty ID is very strange.

[2019-08-12 23:41] lukehoban commented on #3059
See https://pulumi-community.slack.com/archives/C84L4E3N1/p1565342921145300.

[2019-08-13 00:37] pgavlin commented on #3059
That doesn't appear to contain any additional information beyond what's captured here.

[2019-08-13 08:35] mikhailshilkov commented on #2202
What would such validation include? A successful run of `pulumi new <template>`? What were the problems in the past that we might catch with this?

[2019-08-13 11:01] mikhailshilkov commented on #2907
The simplest repro for this bug:

[code]
causes
[code]

My understanding is the reg-ex can't support non-UTF8 symbols, so the workaround is to skip such a secret and do not include it into a regex. I will open a PR for this, let me know if you see better options.

[2019-08-13 13:39] mikhailshilkov opened #3075 "Old secret-y value is displayed in clear text"
I defined a secret value

[code]
and used it in my program with `require` (*not* `requireSecret`):
[code]
the output is still shown as a secret (which is good):
[code]
now I change the value and run `up` again
[code]
to get
[code]
so my old secret value is now in clear text.

I realize I should be using `requireSecret` but even `require` *seems* to work but gives this glitch on change. This probab

[2019-08-13 13:40] matkarasiewicz commented on #3059
@pgavlin Hey, I posted this issue on Slack. Basically it even happens on preview:
[code]
const azureResourceGroup = azure.core.ResourceGroup.get(
  `${config.stackName}-resource-group`,
  pulumi.interpolate`/subscriptions/${config.requireSecret(
    "subscriptionId"
  )}/resourceGroups/${config.require("resourceGroup")}`,
  {},
  { protect: true }
);
[code]
const azureResourceGroup = azure.core.Re

[2019-08-13 16:23] justinvp commented on #2202
I would pattern this off how we test examples in `pulumi/examples`. At a minimum a successful run of `pulumi new <template>`, but I think it'd also be worth verifying the templates can be successfully deployed with `pulumi up`.

At first I was thinking these tests could live in the `pulumi/templates` repo (perhaps under the existing `_tools` dir), but thinking about it more, it might be best for t

[2019-08-13 17:01] justinvp opened #3076 "Prompt for owner when creating stacks"
With #2421, we've added hints about the stack name format, to make it more obvious how to create stacks in an organization.

A more ideal experience would be to prompt for the owner, but only when the user is logged into the cloud backend and is a member of at least one organization with permissions to create stacks.

More details:
 - https://github.com/pulumi/pulumi/pull/2446#pullrequestreview-20

[2019-08-13 17:03] justinvp commented on #2421
Sounds good to me. I've opened #3076. Since it's essentially a new feature (or larger enhancement), I don't think it meets the bar for this milestone, so I've left the milestone unassigned for now.

[2019-08-13 17:15] pgavlin commented on #3059
@matkarasiewicz thank you for the extra information! I think I know what might be happening now.

[2019-08-13 17:58] justinvp opened #3077 "pulumi new prompts for a passphrase twice when logged into the local backend"
[code]

Since the passphrase was just entered after choosing a stack name, why prompt for it again before installing dependencies? It should just reuse the passphrase that was just entered.

Related: Why do we proactively prompt for a passphrase when creating the stack? Couldn't this be deferred until the first time config secrets are used? What if I never use any secrets with my stack?

[2019-08-13 18:03] justinvp opened #3078 "pulumi new fails when stack name is specified via --stack and logged into the local backend"
[code]

This is because it checks to see if the stack exists to support pulling down already created stacks from https://app.pulumi.com/site/new-project. But the `--stack` is still useful as a way of specifying the stack name to avoid being prompted for it. To avoid this error for the local case, `pulumi new` could just avoid doing the stack exists check when not logged into the cloud backend.

[2019-08-13 18:15] justinvp commented on #2880
Some cases to consider:

- `pulumi new typescript --name myproj --stack myorg/mystack`: Project determined by `--name`
- `pulumi new typescript --yes --stack myorg/mystack`: We could have this use the default value that would be used for the project name, but I'm leaning towards just not supporting this case as the behavior of using the default value is non-obvious.
- `pulumi new typescript --name

[2019-08-13 18:15] metral opened #3080 "Consider showing full diffs in dynamic providers when using --diff"
When passing in `--diff` for previews or updates,  dynamic providers don’t show the changes in totality in the CLI (pic1) versus the Console (pic2).

It's worth considering that the use of `--diff` output the full details of the proposed changes, even though it may clutter the output. Pic1 is what I expect when **not** passing `--diff`, and Pic2 is what I'd expect on both the CLI and Console when

[2019-08-13 18:40] ellismg commented on #2439
This does not appear to be an issue anymore:

[code]

Note that "production" is the current stack, we now use `-s` to do an update against another stack:

[code]

And we can confirm that `production` is still the current stack:

[code]

[2019-08-13 18:40] #2439 closed

[2019-08-13 18:42] stack72 opened #3082 "Omit empty CustomTimeouts from JSON"
Even when there are no CustomTimeouts, we include it in the JSON output

We should remove this

[code]

[2019-08-13 18:55] ellismg commented on #3077
We could defer asking this until you do your initial update or do `pulumi config set --secret`, but we will need to ask it before an initial update for the reasons outlined in https://github.com/pulumi/pulumi/issues/2728

[2019-08-13 18:59] ellismg commented on #3075
Correct.  Note that by not using requireSecret it also means that the plaintext value of your output is stored in the state file as well.  If you had used requireSecret, it would have ended up encrypted (but the tradeoff is you'd have to read this value in as an Output<T>, which a little worse to program against).

I do think it would be worthwhile at some point to start having `require` and frien

[2019-08-13 19:50] #2259 closed

[2019-08-13 21:50] lblackstone opened #3084 "Python SDK .concat type hint is wrong"
With something like
[code]

I'm getting the following lint warning for the `'/'`:

The type hint for concat args is currently defined as `List[Input[str]]`

[2019-08-13 22:48] lukehoban commented on #2432
Closing as dupe of https://github.com/pulumi/docs/issues/1529 (which also captures the need to do this for pulumi/actions).

[2019-08-13 22:48] #2432 closed

[2019-08-14 00:06] lukehoban commented on #3059
We believe this is indirectly caused by https://github.com/pulumi/pulumi-terraform/issues/262, which allows empty `id` to sneak in for `.get` calls.

[2019-08-14 03:43] lukehoban commented on #3075
Right - I think this is by design, and ultimately will be “fixed” by deprecating `require` on Secrets.

We should possibly open a separate issue to track doing that, which I expect we’ll want to do in 1.1. But I’ll close this one out as I don’t think there’s anything in particular we’ll change directly related to this.

[2019-08-14 03:43] #3075 closed

[2019-08-14 13:25] redbaron opened #3086 "stacks stopped working after organisation rename"
Our org was renamed per our requests, but now stacks don't work:

[code]

[2019-08-14 13:32] redbaron commented on #3086
`pulumi stack export`  , then  `sed`, then  `pulumi stack import` done the trick.

[2019-08-14 13:32] #3086 closed

[2019-08-14 17:38] stack72 commented on #3068
@lblackstone can you suggest some steps of what you did up until this happened?

[2019-08-14 17:54] #2744 closed

[2019-08-14 18:02] lblackstone commented on #3068
@stack72 I had accidentally introduced a panic in the await logic for one the resources in the k8s provider. The next time I ran an update, I saw the reported panic, and no mention of the underlying panic in the k8s provider.

[2019-08-14 19:01] jonjitsu commented on #3063
Switching node version from 11.3.0 to 8.11.4 fixed this issue.

[2019-08-14 21:53] chrsmith commented on #1910
Quick update here: the APIs necessary in the Pulumi Service have been deployed, so it's just a matter of updating the `pulumi` CLI to add the new verbs to call them.

[2019-08-14 22:47] CyrusNajmabadi opened #3090 "Investigate the viability of using 'peerDependencies' for our packages to mitigate sxs problems"
SxS continues to be a significant cost and difficulty for us. It's hard to get things right for SxS scenarios, and even it's very easy to make 'safe' changes that still cause SxS issues.

For example, in https://github.com/pulumi/pulumi-aws/commit/b2ab444e3698d98d0361fe3c128f7c349c14a183 we added string constants to a union type.  i.e. the equivalent of `type InstanceType = "A" | "B"` changed to `

[2019-08-14 22:47] CyrusNajmabadi commented on #3090
Tagging @lukehoban @ellismg

[2019-08-14 23:02] hausdorff opened #3091 "Initialization failure UX is misleading"
Kubernetes resources can be created, but fail to initialize. Pulumi renders handles this with a notion of "initialization errors."

Resources in this state need to be fixed by the user—we expect that when a failure occurs, a user will typically change it until it's fixed, continuously running `pulumi up`.

For this reason, when an initialization error is present, every subsequent run of `pulumi up

[2019-08-15 00:47] joeduffy opened #3092 "Beta tag didn't publish to Docker Hub"
It looks like the `pulumi/pulumi` image on Docker Hub  is still on v0.17.28: https://cloud.docker.com/u/joeduffy/repository/docker/pulumi/pulumi.

@ellismg thinks the new pre-release suffix could be confusing the Docker publishing logic.

[2019-08-15 16:36] chrsmith opened #3093 "Add support for pulling VCS data from Phabiractor and private GitLab"
Should just be a matter of adding checks for the specific forms that the `origin` remote might take when using these source code providers. Doing so will allow us to properly set the VCS data as part of the update, and use that to link to the repo and/or group by it in the Pulumi Service.

See:
https://github.com/pulumi/pulumi/blob/952b6d0d89f73c41bba57cf08f81847c0295c22d/cmd/util.go#L424
https://

[2019-08-15 16:55] justinvp opened #3094 "pulumi new should show a catered selection of templates"
Running `pulumi new` without specifying a template will prompt to choose a template:

[code]

Instead of prompting for this large list of templates, we should consider offering a more catered list. For example, just showing the language templates and templates for AWS, Azure, GCP, and Kubernetes, and an option to See All.

[2019-08-15 16:57] justinvp opened #3095 "Improve the login prompt"
The first CLI command that a new user runs (that requires a backend, such as `pulumi new`) will show the login prompt:

[code]

We could do a better job explaining what this is all about, the benefits of using the service, encourage opening the browser over manually entering an access token, etc.

[2019-08-15 16:57] lukehoban commented on #3094
Yes!  I keep meaning to make this change every time I use `pulumi new`.

[2019-08-15 16:59] justinvp commented on #2523
I've opened the concrete issues:

- Improve the login prompt https://github.com/pulumi/pulumi/issues/3095
- pulumi new should show a catered selection of templates https://github.com/pulumi/pulumi/issues/3094

[2019-08-15 17:04] redbaron opened #3096 "pulumi.Output<Resource> leaves it with just pulumi.OutputInstance<Resource> with no properties"
StackReference.getOutput() returns `pulumi.Output<any>` , which I'd like to refine to a more restricted type to have more typesafe goodness.

lets say output is produced as:
[code]

then when I use it , I'd like to do:

[code]

which makes TS compiler bark at me because result of such `as` casting is a mere `pulumi.OutputInstance<T>`  , with former `pulumi.Lifted<T>` part being completely lost.

I

[2019-08-15 17:09] lukehoban commented on #3096
A core thing here is that Resources are not fully roundtripped through `StackReference` - they are JSON serialized and so the values you retriev when you reference the outputs will not be true `Resource` instances but instead JSON objects.

As a result, most of the places you mentioned `gcp.organizations.Projects` above just won't work as you are hoping they will.

Instead, you should export the `

[2019-08-15 17:11] redbaron commented on #3096
I realised that it is just a JSON , all I want is define types of it's keys. If https://github.com/pulumi/pulumi/blob/8fd05fcd9fbd1480c01726b4fc7fcf158e611f99/sdk/nodejs/output.ts#L692 was exported I'd do:

[code]

as a workaround, but it is still not very ergonomic

[2019-08-15 17:31] Blitz2145 commented on #3093
So a Phabricator remote roughly looks like the following:
`ssh://git@phabricator.blah.com/diffusion/CF/projectreponame.git`

But technically you can expect to see different port numbers in there depending on how Phab is setup.

[2019-08-15 23:51] gpduck commented on #1635
Would it be possible for me to get an example of what a resource ID would look like for importing Azure resources?  Like an example of a resource group or something.  I've tried several permutations and can't seem to make it happy...

[2019-08-16 14:21] redbaron commented on #127
@lukehoban , @joeduffy , @hausdorff

Inserting arbitrary actions in between resource changes isn't enough. Take your own blog post an example https://www.pulumi.com/blog/day-2-kubernetes-migrating-eks-nodegroups-with-zero-downtime/,  poor state of current "immutable infrastructure" tooling forces us to fall back to bash.

Proposed solution of changing pulumi , running something outside pulumi, the

[2019-08-16 15:29] lblackstone commented on #3091
I agree that this is confusing. Maybe it would be helpful to add a `status` field in the CLI for resources that previously failed and have an empty diff?

[2019-08-16 18:02] #3092 closed

[2019-08-16 18:58] joeduffy opened #3102 "Don't push to upgrade to pre-release versions"
It feels odd to me that we suggest people upgrade from stable to unstable versions. E.g.

I propose we only suggest upgrading to the latest stable version. If people want to adopt and give us feedback on a release candidate, great, but that possibility should be communicated through other means (Slack, blog posts, etc).

[2019-08-16 19:38] lukehoban commented on #3091
@lblackstone @hausdorff Can you guys summarize the concrete plan for a change we should make in the near term to address this?

[2019-08-16 20:02] lblackstone commented on #3091
I'd propose adding a `retry` (or similar name) status field to the CLI for resources that failed to become ready in the previous update and have an empty diff.

This is a common case for k8s resources where the problem is actually in a dependent resource, or when it timed out waiting on ready.

https://github.com/pulumi/pulumi-kubernetes/issues/571 is an example where the Ingress failed to be read

[2019-08-16 20:12] pgavlin commented on #2948
We've decided that this is too risky a change to take at this point in Q3. We will fix this ASAP post-1.0.

[2019-08-16 20:39] #2654 closed

[2019-08-16 21:08] igorshapiro commented on #3027
Ok, running the same stack on a mac still failed with -1 code:

[code]

But:
- It failed consistently
- It showed another error:

[code]

I checked my code again for `xxx.getZZZ()` calls and found 3 more calls without `{async: true}`. Added `{async: true}` and the error went away.

Still not sure if that's the same error as in the CI environment. Will need a few days to confirm we're good.

/cc @C

[2019-08-16 21:46] igorshapiro commented on #3027
Ok, now I'm pretty confident this was the root cause (`async: true`)

[2019-08-18 13:50] igorshapiro commented on #3027
Nope, unfortunately the error still persists in the CI environment

[2019-08-19 06:28] #2907 closed

[2019-08-19 07:22] #2421 closed

[2019-08-19 09:34] redbaron opened #3103 "pulumi.Input<T> doesn't play nice with TS type inference"
I am not sure if it is a TS bug/works-as-expected, but thought it is worth reporting.

Following code doesn't compile:

[code]

With error:
[code]

so property is definitely there , but it got lost on somehow.

`Unwrap<T>` helps, but I am not sure/do not understand why it is necessary:

[code]

[2019-08-19 09:39] mikhailshilkov opened #3104 "Pulumi destroy is confusing about stack deletion"
When I run `pulumi destroy` I may get an impression that the stack is deleted too:

[code]

Shall it be more clear about the need to run `pulumi stack rm dev`?

[2019-08-19 11:02] redbaron opened #3105 "consider adding pulumi.Confg().getArray"
I'd like to be able to provide list of values in my stack configuration, `pulumi.Config().getArray()` can make it more ergonomic

[2019-08-19 13:10] redbaron opened #3106 "pulumi.Config().getObject<T>() fails to deserialize valid YAML"
It seems that somewhere in the Go code there is an implicit assumption that stack config values are strings only.

Pulumi.gke01-london.yaml:

[code]

index.ts:

[code]

Pulumi up output:

[code]

[2019-08-19 13:51] lukehoban commented on #3106
This is not supported (supporting it is tracked in https://github.com/pulumi/pulumi/issues/2306), but should provide a better error instead of panicing.

[2019-08-19 13:52] #3106 closed

[2019-08-19 13:53] redbaron commented on #3106
Panic is only when run with `-v=10`

[2019-08-19 13:54] redbaron commented on #2306
If it helps prioritise  , please register another [small] customer interest in this feature

[2019-08-19 13:55] redbaron commented on #3105
Duplicate of https://github.com/pulumi/pulumi/issues/2306

[2019-08-19 13:55] #3105 closed

[2019-08-19 15:58] lukehoban opened #3107 "Aliasing two resources to the same name can succeed during preview and fail part way through update"
A user noted this.  We should reproduce and fix if there is an issue here.

[2019-08-19 17:50] #2714 closed

[2019-08-19 23:41] lukehoban commented on #3063
@stack72 Can we reproduce this and understand whether there is a Pulumi issue, or an upstream issue here?

[2019-08-20 00:00] lukehoban commented on #3104
We could add a note at the end that suggests also running `pulumi stack rm`.

[2019-08-20 00:05] lukehoban commented on #3103
No - I don't think it is - an `Input<NodePoolNodeConfig>` does not have a `labels` property.  It *might* have one, but it is a union which includes some types that definitely do not (like `Promise<NodePoolNodeConfig>`).

There's no doubt unions and `Input<T>` in particular are challenging for type level meta-tasks,  but I think that's just part of the overall approach here.

I think the issues not

[2019-08-20 00:05] #3103 closed

[2019-08-20 00:13] lukehoban commented on #3096
I'm not sure there is any simple way to JSON-ify the type of a Pulumi-codegen'd `Resource` (or even in general of any TypeScript type).

I think the "right" thing here will be to provide a way to rehydrate Resource references from a `StackReference` to a stack output that is a `Resource`.

But the simpler thing for now is to just export the `id` and `.get` it.

[2019-08-20 00:18] joeduffy commented on #1518
@lukehoban I'm curious what your latest thinking on this one is.

I'm about to do https://github.com/pulumi/docs/issues/1591 which will at least explain the rationale and behavior here more completely.

For what it's worth, here's where my head is at these days

1. Print a message the first time a stack is stood up and has resources with auto-names in it. Or maybe just do it during `pulumi new`. I

[2019-08-20 00:37] lukehoban commented on #3061
Should we be including `tsconfig-paths/register` by default?  I'm not sure the implications of that.

[2019-08-20 00:42] lukehoban commented on #3033
Yes - we should give some indication about this plugin installation.  Perhaps more subtle - but some indication is important given this can take a long time on slow connections.

[2019-08-20 00:56] lukehoban commented on #3027
@igorshapiro Do you have any current best guess about what the problem is here?  I can't tell at this point if this is likely to be related to Pulumi or is just Node.js having issues in the particular environment where you run CI.

[2019-08-20 01:19] lukehoban commented on #1518
Re 1: what I was actually planning on looking at was a better “Welcome to Pulumi” experience on first login that had a little more helpful text generally, but also provided an opportunity for a “tip” style section at the end that could make a note of this.  I am hopeful that we can identify “first login” using existing service APIs such that this isn’t too annoying.

[2019-08-20 01:20] lukehoban commented on #1518
We are still planning on doing this for 1.0.

[2019-08-20 01:21] lukehoban commented on #1518
We had not planned to do this part for 1.0, but planned to consider it after we make the other set of changes here post-1.0.

[2019-08-20 04:17] lukehoban commented on #3063
I tried this several times, and with a few different configurations, and was not able to reproduce it.

I strongly suspect this was fixed a couple weeks ago with https://github.com/pulumi/pulumi/pull/3014.  One variant of the issue that that PR resolved was https://github.com/pulumi/pulumi/issues/2433, which happened to trigger the same `error: unexpected null property` as is seen here.  It's also

[2019-08-20 04:17] #3063 closed

[2019-08-20 04:48] lukehoban commented on #3063
Actually - there is another way to hit this which may be the more likely case for those seeing it.

If you ran a program that was slightly different than what's above - you could trigger this - specifically if you remove `subjectAlternativeNames: ['www.example.com'],`.  In that case, `cert.domainValidationOptions` will return only a single item (for `example.com`), and then `cert.domainValidationO

[2019-08-20 04:56] lukehoban opened #3111 "Lifted property lookups on `Output<undefined>` don't throw?"
Is it intentional that these print `undefined` instead of throwing?

[code]

[code]

The fact that these "succeed" and produce `Output<undefined>` is different than normal JavaScript behaviour where `undefined.a` would throw.

This partially leads to confusion like in https://github.com/pulumi/pulumi/issues/3063.

[2019-08-20 04:58] lukehoban commented on #3111
This appears to be done very on-purpose - but I cannot reason about why this is "right":

https://github.com/pulumi/pulumi/blob/b72e411c37234c0f25533bc3b8a18c795b4221c1/sdk/nodejs/output.ts#L303-L312

[2019-08-20 05:03] lukehoban commented on #3111
It looks like my [original prototype](https://github.com/pulumi/pulumi/commit/5f8b6f7c0e096cd65e0c2be69607bc3f5075720f#diff-60a0d91ede7b9f2ccd5436be151b9057R476-R478) of this did not have that special case - it just had:

[code]

[2019-08-20 11:11] redbaron commented on #3096
Really simple way of doing it would be to codegen and  plain old type too for every resource.

[2019-08-20 12:49] redbaron opened #3113 "Plan shows empty {} when values are `""`"
Here is resource from the stack output:

[code]

here is how `labels` property shows up in the plan:

[code]

looks like it doesn't like empty values

[2019-08-20 15:54] stack72 opened #3114 "Python Integration Tests"
Since we have added more python tests to our providers, we have started getting the following error after the first python test creates the virtual env

[code]

This is because, by default, pip creates a virtualenv that is at a shared location.

We need to be able to create a virtualenv per test to ensure that tests don't interfere with each other. This is causing a lot of our provider builds to f

[2019-08-20 16:07] lukehoban commented on #3114
This was in theory fixed in https://github.com/pypa/pipenv/issues/3257.

@stack72 Can you share more details?  Full stack trace, how frequently this occurs, etc?

[2019-08-20 16:09] stack72 commented on #3114
This occurs on every build now that we have multiple python tests in - we are starting to see it only because I increased the python test coverage in each project recently

[2019-08-20 16:21] lukehoban commented on #3114
Hmm - we have ~10 Python tests running in parallel in pulumi/pulumi - and I don't think we've ever hit this there.  What's different about the cases you have added recently?

https://github.com/pulumi/pulumi/blob/b72e411c37234c0f25533bc3b8a18c795b4221c1/tests/integration/integration_test.go

[2019-08-20 17:38] ellismg opened #3115 "Creating multiple `pipenv` virtualeven is racy in CI"
We've seen job failures like the following in CI:

[code]

The problem here, I believe, is that if two python tests are racing and `/home/travis/.local/share/virtualenvs` does not exist, they will both try to create it and one will lose the race with the above error, which pipenv is not hardened against.  In the meantime we may be able to work around by just creating `~/.local/share/virtualenvs` a

[2019-08-20 20:49] ellismg commented on #3114
This should now be fixed by https://github.com/pulumi/scripts/commit/6e8696e457bd60ee472e60a8ae70765abae166e7

[2019-08-20 20:49] #3114 closed

[2019-08-20 20:50] ellismg commented on #3115
should be fixed with https://github.com/pulumi/scripts/commit/6e8696e457bd60ee472e60a8ae70765abae166e7

[2019-08-20 20:50] #3115 closed

[2019-08-20 22:01] #3082 closed

[2019-08-20 22:30] jonjitsu commented on #3061
That would be useful but I'm not sure if that would break existing systems out there.

Maybe a good start would be to extend the Pulumi.yaml runtime configuration to allow passing arguments and even overriding these hardcoded values: https://github.com/pulumi/pulumi/blob/70bc0436ed165ec1fbebdda33e033e71e1ae5aa7/sdk/nodejs/cmd/run/run.ts#L154-L160

[2019-08-20 22:48] CyrusNajmabadi commented on #3111
i thnk it would be fine to just have that logic.  I think the concern i had at the time was that this could mean we'd null-ref in preview.  But since we're going through the standard `.apply` codepath, i think we should be insulated from that.

[2019-08-20 22:51] CyrusNajmabadi commented on #3096
I personally don't think that would be very desirable.  There would be "yet another" way of thinking about a Resource.  Right now one has to consider the shape of all its inputs, which is similar, but not equivalent to the shape of all its Outputs.  There would now be a new type similar to the POJO for that resource to have to know and think about.  Instead, just having the id and being able to ac

[2019-08-21 05:49] redbaron commented on #3096
Having 'id' is not universal solutions either, in multi-project setup, where pulumi's service account is restricted to bare minum like in our case there might be no permissions to do said fetch at all.

In addition to that, conceptually it might be a bit less safe as get by id gives back current state of the object in cloud, while it should be the same as what referred stack produced, that is not

[2019-08-21 05:57] redbaron commented on #3096
As for the type generation , that was just a suggestion how it can be achieved, having Lifted<POJO<T extends Resource>> which works is fine too, but I couldn't figure how to write one

[2019-08-21 09:20] mikhailshilkov commented on #2880
I'll be able to fix this with tests when #3065 is reviewed and merged

[2019-08-21 17:31] pgavlin commented on #3059
I believe this has been fixed by https://github.com/pulumi/pulumi/pull/3123.

[2019-08-21 17:31] #3059 closed

[2019-08-21 18:01] lukehoban commented on #3002
@oliverholliday Closing this out for now as we've been unable to repro.  But we'd love to look into it more if you can provide more details (or if anyone else sees a similar issue).  Let us know and we'll reopen.

[2019-08-21 18:01] #3002 closed

[2019-08-21 23:33] lukehoban commented on #3107
I tried this scenario by:
1. Deploying a resource with the name "my-bucket"
2. Updating the program to declare two buckets, and aliasing both of them to "my-bucket"

The results of the second update was a failure during the preview - as desired - with an very precise error message calling out what happened.

[code]

Given where we have that check in the code, I'm surprised that there is any way fo

[2019-08-21 23:33] #3107 closed

[2019-08-22 15:19] lukehoban commented on #2966
Another Codefresh user reported hitting the same issue.

It does feel like an env var to control where the `.pulumi` folder lives is likely the most direct thing here.  There are other things beyond even plugins that are stored in `~/.pulumi` currently that will probably cause other forms of confusion if they are not maintained across `pulumi` executions.

Note that we do now try to automatically

[2019-08-22 16:11] #280 closed

[2019-08-22 17:47] lukehoban opened #3127 "Need StackReference tests that use /older/ CLIs with /newer/ SDKs."
With `1.0.0-beta.3` many/most uses of StackReference throw.

[code]

See https://pulumi-community.slack.com/archives/C84L4E3N1/p1566434791458700.

This appears to be the issue https://github.com/pulumi/pulumi/compare/lukehoban/fixstackreference.  But we also need to add test coverage around this.

[2019-08-22 18:34] lukehoban opened #3771 "Improve Python tooling experience for complex input/output shapes"
~We should strongly consider emitting TypedDicts for all dictionaries we use for inputs and outputs: https://www.python.org/dev/peps/pep-0589/.~

~This would provide some chance of decent tooling experiences for complex input/output shapes which are prevalent in Kubernetes.~

~We should do the same in `tfgen` as well, though the issue is incrementally less critical there.~

We decided to generate

[2019-08-22 20:56] #2712 closed

[2019-08-22 20:56] #2769 closed

[2019-08-22 21:49] ellismg commented on #3127
`1.0.0-beta.4` has been released and has the fix for this.  The testing hole here was using the current SDK with an older CLI.  Lowering the priority as this now just tracks trying to get test coverage here.

[2019-08-22 23:34] jcity opened #3130 "Help requested: awsx.ec2.Vpc.getDefault() causes `no matching VPC found` error"
I was following this guide:
https://www.pulumi.com/blog/get-started-with-docker-on-aws-fargate-using-pulumi/

and started to the the `no matching VPC found` error

I slimmed the code down to the following:
[code]

And it still results in the following error:
[code]

Based on this article:
https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_VPC.FindDefaultVPC.html

It looks like I'm an `EC2

[2019-08-23 06:40] #3104 closed

[2019-08-23 07:09] #2476 closed

[2019-08-23 12:21] mikhailshilkov commented on #2880
Agreed. Same for `pulumi new typescript --name myproj --stack mystack`

Currently, it takes the default value of the folder name. I think this makes sense, at least I go forward with the suggested default most of the time. I suggest to keep it.

These are tricky:
1. Project name is a part of the stack name only for the pulumi backend. Therefore, it's a black box for the `pulumi new` command: curre

[2019-08-23 12:45] #3033 closed

[2019-08-24 00:43] hausdorff commented on #3091
From https://github.com/pulumi/pulumi/pull/3117#issuecomment-523594921:

After some thought, I'm somewhat sure we can't use ephemeral status for these messages. Thus, I favor doing something along the lines of that PR.

Unfortunately, I don't think adding a new kind of step fits into the 1.0 picture. So my recommendation is to do it the week after 1.0 launches.

[2019-08-25 20:29] stack72 commented on #2757
Going to close this out - this has helped us successfully find some problems in the Azure package as an example. I am going to close this as a V1 - we have a LOT more work to do in this area. But we need to discuss this and plan this appropriately

[2019-08-25 20:29] #2757 closed

[2019-08-25 21:33] lukehoban opened #3137 "Add test coverage of (old CLI, new pkgs) and (new CLI, old pkgs)"
We should add at least `examples` test coverage for the combination of ("old CLI" + "new pkgs") and ("new pkgs" + "old CLI"), where "old" means "1.0.0" for the nearterm, and "new" means "dev builds".

[2019-08-25 21:34] lukehoban commented on #3127
Closing this one out - as we addressed the original bug here.

I've opened https://github.com/pulumi/pulumi/issues/3137 on the test coverage for new+old CLI+pkgs more generally,

[2019-08-25 21:34] #3127 closed

[2019-08-25 21:35] lukehoban commented on #3137
From https://github.com/pulumi/pulumi/issues/3127, we should make sure to include tests which use `StackReference`.

[2019-08-25 22:07] lukehoban opened #3138 "Mask values of any program secrets in CLI output, not just config secrets"
We have code in the CLI to mask out the values of any config secrets that accidentally get displayed as part of CLI output - for example error messages from the target cloud provider.

Now that we have a first class notion of secret values though, there is a reasonable expectation that these values also are not ever displayed as plaintext.  In fact, config secrets are now really just one way of co

[2019-08-25 22:19] joeduffy opened #3139 "Warn when secret config read as a non-secret"
We currently let you silently read a secret configuration value -- that is, one set with `--secret` -- back as a non-secret -- that is, using plain old `Config.get` or `Config.require`. This is probably never what you actually wanted to do and makes it easy to accidentally leak a secret.

We actually need to explain this to people in our docs. For example:

![image](https://user-images.githubuserc

[2019-08-26 15:14] varon commented on #2430
Still waiting for any dotnet on this side. Preferably F# too.

[2019-08-26 17:23] Frassle commented on #2430
I'm still around to help with getting #2003 good if dotnet gets the go ahead. TypeScript isn't bad but we would still love to write k8s setups with F#.

[2019-08-26 19:38] stack72 commented on #2628
Just an FYI, I was able to verify that this is no longer the case:

[code]

Notice the fake assumeRole IAM ARN that doesn't exist and we get the following:

[code]

[2019-08-26 23:37] clstokes opened #3144 "Supported nested outputs in `additionalSecretOutputs`"
Currently [`additionalSecretOutputs` ](https://www.pulumi.com/docs/intro/concepts/programming-model/#additionalsecretoutputs) does not support specifying nested outputs (e.g. `additionalSecretOutputs: ["tldProperty.subProperty"]`), only top-level properties or objects are supported (e.g. `additionalSecretOutputs: ["tldProperty"]`). We should support specifying nested outputs to provide more granul

[2019-08-27 14:56] joeduffy opened #3148 "Figure out why ES7 is silently permitted in our code"
We explicitly set our Node.js SDK target to ES6 in our project:

https://github.com/pulumi/pulumi/blob/a687f815751a627d2fe605ab9b8da8de2bf25b0f/sdk/nodejs/tsconfig.json#L4

And yet, somehow, we are allowing the use of ES7-only functions, like [Array.includes](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/includes):

https://github.com/pulumi/pulumi/blob/a68

[2019-08-27 15:57] stang commented on #2327
Hi,

We ended up in this situation - is there currently any workaround to manually recover from it?

[2019-08-27 19:30] cowwoc opened #3150 "Is Pulumi Community Edition free for commercial use?"
I understand that the enterprise packages have nice features for businesses, but from a legal/licensing perspective, is it acceptable for businesses to use the Community Edition?

[2019-08-27 20:00] lukehoban opened #3151 "Issues with snake_casing in Python"
There are several intersecting issues with the current approach to automatic snake_casing for Python SDKs, which in total lead to:
1. Us not implementing what we're trying to do correctly
2. What we are trying to do being fundamentally "wrong"
3. Significant inconsistencies within and among providers

Our code for name translation in the Python SDK intends to implement the following: "For inputs,

[2019-08-27 20:34] #3150 closed, assigned to nobody

[2019-08-28 17:26] hausdorff opened #3153 "Partial leak of secrets during update"
Diffing behavior does not seem to be accurate when secrets are involved.

If you start with this program:

[code]

and update it to this:

[code]

then part of the secret "leaks" into the state file. Observe the field `bar` below should be part of the opaque secret object, yet it appears in the diff (additionally with the inaccurate `<null>` as a value).

[code]

Yet, it is correctly reported in t

[2019-08-28 17:57] joeduffy opened #3152 "Make it more obvious *why* you would log in"
At the moment, we just ask folks to login without much context about why. And we don't do a great job of listing [alternative self-managed options](https://www.pulumi.com/docs/intro/concepts/state/#self-managed-backend). We should fix this.

[2019-08-28 20:14] mikhailshilkov commented on #2874
@joeduffy I definitely still see it from time to time with the Azure provider. Do you want me to repro this with AWS? What should I log?

[2019-08-28 20:24] mikhailshilkov commented on #2874
Will do! Just in case - there is a link to one logfile in https://github.com/pulumi/pulumi/issues/2874#issuecomment-505315451

[2019-08-28 21:15] hausdorff opened #3158 "Inscrutable error message accessing member with `Output.py`"
This error happened to me once, and it subsequently went away—I'm sorry I don't have more details. From the stack trace, I'm gathering that somehow we subscripted an `Output` that happened to be `None` (_e.g._, `output_of_null["foo"]`) and it exploded.

The error message seems like it could have been more helpful here, perhaps telling me what `v` was, at least.

[code]

[2019-08-29 10:28] mikhailshilkov commented on #2874
So, I can reliably reproduce this the first time I do `yarn link @pulumi/azure` and then `pulumi up`. Here is a snippet from the log with a 3 minutes gap:
[code]

What's next?

[2019-08-29 17:14] pgavlin commented on #2874
@mikhailshilkov do you see anything in that log that mentions `GetRequiredPlugins`?

[2019-08-29 18:26] mikhailshilkov commented on #2874
@pgavlin  Yes:
[code]
but that's 7 seconds before the pause.

[2019-08-29 20:44] pgavlin commented on #2874
Interesting. We've seen that functionality cause hangs like this before; I was kind of hoping it'd be easy to point to that as the cause here.

[2019-08-29 20:48] mikhailshilkov commented on #2874
Another run.

GetRequiredPlugins:
[code]

Hang:
[code]

[2019-08-29 21:34] metral opened #3161 "When RunUpdateTest is true, yarn link does not run in prepare project step"
When RunUpdateTest is true, `yarn link` does not run in the language `prepare<Runtime>Project()` step, as `RunUpdateTest` does not currently work with `peerDependencies` - see [PR comment](https://github.com/pulumi/pulumi/pull/3110/files#r315398952).

**Proposed Solution:**

Removing the `if-check` around each of the following code blocks should allow for existing tests that depend on `peerDepende

[2019-08-29 21:56] lukehoban opened #3162 "Possible for Python execution to silently fail - forgetting to register resources"
A Python program can raise an exception but still complete successfully with no warning given to the user, leading to resources not being registered.  This is both exceedingly confusing, but can also lead to accidentally deleting resources (if the program exits before they are registered, they will be marked for deletion).

This appears to be due to a bug in the tracking of RPCs in the core Python

[2019-08-29 21:58] lukehoban commented on #3162
As a note, the repro program we got for this reports `All RPC completed, signalling completion` in verbose logs twice, once very early in execution and once again after the user-caused exception is raised.

[2019-08-29 22:29] metral commented on #3161
It'd also be great to log to stdout that `RunUpdateTest` is running to know when this step is occurring.

[2019-08-29 22:35] igorshapiro commented on #2317
Sometimes resource deletion times out, but the resource eventually being deleted even though the state thinks it is not.
It would be very useful to refresh a specific resource.

[2019-08-30 19:21] clstokes opened #3165 "Automatically enable Terraform logging at a certain log level"
When troubleshooting provider or resource behavior, it's helpful to see the underlying provider logs. Various log messages can be seen with `--debug` and `-v=X`. With Terraform providers it can be helpful to see the output of the Terraform provider logs too via the [`TF_LOG`](https://www.terraform.io/docs/internals/debugging.html) env variable.

It would be helpful if `TF_LOG=DEBUG` were automatic

[2019-08-31 00:11] anaisbetts opened #3166 "PostgreSQL provider connects too early despite being a dependency"
Given this code sample to create a PostgreSQL instance in Docker then create an initial database:

[code]

Running `pulumi destroy && pulumi up` will fail with:

[code]

However, immediately running `pulumi up` again succeeds - I suspect that the `pg.Database` update is just not giving enough time for PostgreSQL to start up

[2019-08-31 06:14] ncsibra opened #3167 "Create a release for every new version"
Based on this slack thread: [https://pulumi-community.slack.com/archives/C84L4E3N1/p1567144445103700](https://pulumi-community.slack.com/archives/C84L4E3N1/p1567144445103700)
Please create a new github release (not just tag) for every new version in every pulumi repo so we can more easily follow the changes, watch them etc.
You can do this as part of the publishing process, github has a release ap

[2019-09-01 18:26] stack72 commented on #3161
@metral this isn't quite true - the order should be that, if we run an UpdateTest, then we should be installing latest on the first run and then overriding with the dev dependency on the second run. This is because the dev dependency is, more than likely, building on top of / different to what is in latest

Therefore, I don't believe the solution you have proposed in #3168 is correct... I am tryin

[2019-09-01 19:07] metral commented on #3161
@stack72 Yes you are correct that the order works, but AFAICT the current solution only works when the package is in `dependency`, and generally on our packages we list the package in question as a `peerDependency` to force a local build being installed, rather than putting it as latest in `dependency` as that won't test the local build.

The goal of the test is to deploy a stack on latest updates

[2019-09-01 19:30] stack72 commented on #3161
@metral So I have followed the code through so many times here. The yarn links are actually done against the code as specified in the examples_test.go

e.g.

[code]

So regardless of `peerDependencies` in the package.json for a test, it will link based on that set of specific deps

This is why I added the code in the current way - I am going through all of the options now to see where it fails tho

[2019-09-01 19:38] metral commented on #3161
The initial update only installs and uses the `dependencies`, not the `peerDependency` which doesn't get installed and run until after the initial update, as your changes set up. The initial updates needs the packaged being tested  / defined in `peerDependency` to be manually installed since it's **not** defined in the `dependency`, if not tests will error out about the package missing

[2019-09-01 19:42] stack72 commented on #3161
Correct - so I'm still failing to see the issue - I mean, pulumi-* is a dependency of our tests so it feels like it should be there. If the dep isn't installed then the code won't work

So even if it's installed, we will link over the top on 1 of 2 scenarios:

1. If it's NOT an update test then we will link over the top immediately
2. If it IS an update test then we will link over the top on the s

[2019-09-01 20:20] metral commented on #3161
This is the scenario that will fail, as the initial run won't run correctly to get passed this step when`RunLatestUpdateTest` is enabled.

Example: the pulumi-eks pkg in the examples and tests is listed as a `peerDependency` so the initial update run can't execute giving the missing eks package, which does not get installed **until after** the initial update run completes when `RunLatestUpdate` is

[2019-09-01 20:22] stack72 commented on #3161
Oh I see what you are saying now - yes that will fail because `pulumi-kuberenetes` isn't actually a peerDependency - it's a fullblown dependency.

I think we (as a team) generally are liberal with how we use peerDependencies vs dependencies

Ok, lets chat when you get online in the morning 👍

[2019-09-03 14:06] stack72 commented on #3137
I think this looks like @ellismg is picking it up in https://github.com/pulumi/examples/pull/374

[2019-09-03 19:06] NinoFloris commented on #2059
Same, but has there been any progress since januari?

[2019-09-03 19:15] pgavlin commented on #3167
cc @ellismg

[2019-09-03 19:16] NinoFloris opened #3171 "Config should export StringConfigOptions and NumberConfigOptions"
While doing some work to abstract over differences between get and require based on some state (during production we require a config value, during dev we'll fallback to a default) I tried to create a function with the equivalent type signature but I couldn't actually import the following interfaces, yet they are used in the public api.

- `StringConfigOptions`
- `NumberConfigOptions`

I don't min

[2019-09-03 19:20] lukehoban commented on #3171
Sounds reasonable to me. PR definitely welcome!

[2019-09-03 19:28] pgavlin commented on #3166
Thanks for the report! This is a bug in the underlying TF provider: https://github.com/terraform-providers/terraform-provider-postgresql/issues/2

We'll pick up the fix for that bug when it is checked in to https://github.com/terraform-providers/terraform-provider-postgresql. In the meantime, we'll use that issue for tracking.

[2019-09-03 19:28] #3166 closed

[2019-09-03 19:30] NinoFloris opened #3172 "Strange behavior during child resource changes"
Strange behavior during child resource changes

`parent` behavior when a child changes a property (here `minPortsPerVm`) should result in a `replace` action yet it results in a `create` and `delete` (of more than is being created as well).

<img width="485" alt="Screenshot 2019-09-03 at 19 43 36" src="https://user-images.githubusercontent.com/4218809/64202399-54cfe000-ce91-11e9-8f7b-d822b798a2eb.p

[2019-09-03 19:40] pgavlin commented on #3172
@NinoFloris I can't reproduce this issue: when I deploy the code above, then change `minPortsPerVm` from `128` to `64`, I see the expected replacement:

[code]

What versions of the Pulumi CLI and packages are you using?

[2019-09-03 19:42] NinoFloris commented on #3172
v1.0.0-rc.1 of packages  and cli

[2019-09-03 19:43] pgavlin commented on #3172
FWIW, it appears from your first screen shot that `europe-west4-router` was originally a child of `gcp-infra-dev`. If that changed at the same time as the change to `minPortsPerVm`, you would see the behavior you described originally: the parent of a resource is a part of that resource's identity, so changing its parent will cause the CLI to see the creation of a new resource and the deletion of t

[2019-09-03 20:01] pgavlin opened #3173 "Provider builds failing due to a transitive dependency on an unreachable repo"
This is essentially https://github.com/hashicorp/terraform/issues/22664. We have seen this in at least these repos:
- [x] https://github.com/pulumi-aws
- [x] https://github.com/pulumi-gcp
- [x] https://github.com/pulumi-azure
- [x] https://github.com/pulumi-azuread
- [x] https://github.com/pulumi-awsx

It is likely that this affects anything that is downstream of https://github.com/pulumi-terrafor

[2019-09-03 20:04] pgavlin commented on #3172
Indeed, if I take the actions I described--deploy the stack with the `Router` parented to the `Network`, then remove that parent-child relationship and re-deploy--I see the behavior originally described:

[code]

This is expected behavior due to the change in resource identities. The best documentation I can find for this is [here](https://www.pulumi.com/docs/intro/concepts/programming-model/#urns

[2019-09-03 20:04] #3172 closed

[2019-09-03 20:06] stack72 commented on #3173
https://github.com/pulumi/pulumi-azuread/pull/24
https://github.com/pulumi/pulumi-azure/pull/350
https://github.com/pulumi/pulumi-gcp/pull/210
https://github.com/pulumi/pulumi-aws/pull/731

[2019-09-03 20:32] stack72 commented on #3173
All are passing now except pulumi-awsx which has a legit issue

[2019-09-03 20:33] pgavlin commented on #3173
Let's leave this open until we're sure all repos are clean. I'll remove the P1 label now that the core providers are fixed.

[2019-09-03 20:39] NinoFloris commented on #3172
Thanks for the quick replies!

Right, yes I just looked at my last commits and I see I indeed removed another parent as well.

[2019-09-03 21:55] pgavlin commented on #3173
@stack72 can you add the other repos you've fixed/opened PRs for to this list?

[2019-09-03 22:01] stack72 commented on #3173
https://github.com/pulumi/pulumi-datadog/pull/21
https://github.com/pulumi/pulumi-docker/pull/101
https://github.com/pulumi/pulumi-gitlab/pull/14
https://github.com/pulumi/pulumi-linode/pull/24
https://github.com/pulumi/pulumi-cloudflare/pull/34
https://github.com/pulumi/pulumi-tls/pull/8
https://github.com/pulumi/pulumi-dnsimple/pull/11
https://github.com/pulumi/pulumi-f5bigip/pull/28
https://git

[2019-09-03 22:20] ellismg commented on #3161
I do not believe we are wed to our use of `peerDependencies` for the packages under test in our test projects.

In the very early days of the project, we used this because we were not yet publishing the SDK to NPM at all, instead our SDK installer would lay copies of all our packages into something like `~/.pulumi/node_modules` and run `yarn link` inside each package folder in there, so consumers

[2019-09-03 22:28] metral commented on #3161
@ellismg @stack72 Related discussion [doc](https://docs.google.com/document/d/1gO1Ss9ZasstwSIEt9mhv_3BQuQwg7yn1RXzEwr4h5AE/edit#).

What does this change buy us though? By listing `pulumi/eks: latest` in `dependency` we're testing that the *already released* package of eks runs fine across the examples and tests - a set of checks that will / should have already been done before we released it, no?

[2019-09-03 22:37] metral commented on #3161
Alright, I'll change to all `dependency` listings, and close out https://github.com/pulumi/pulumi/pull/3168.

Thanks everyone

[2019-09-03 22:43] #3161 closed

[2019-09-03 22:56] stack72 commented on #3173
https://github.com/pulumi/pulumi-cloud/pull/745

[2019-09-04 05:44] stack72 commented on #3173
All repos are now clear of this issue as far as I can tell

[2019-09-04 05:44] #3173 closed

[2019-09-04 09:28] ajaegle commented on #2059
I started some conversation on a pretty similar topic (accidentally falling back to a default provider and using some azure login / kube config from the current session) in the Slack channel: https://pulumi-community.slack.com/archives/C84L4E3N1/p1567452303172900

[2019-09-04 11:49] redbaron opened #3178 "very slow `pulumi up`, possibly due to slow snapshot-related operations"
our organization stacks are taking unbearable amount of time to run even on a simple no change `pulumi up`.  Stack with 165 resources takes ~11 minutes to complete with no changes made and no refresh option used.

`--logtostderr -v1` option generates ~15M log file with a steady stream of events with no obvious gaps, except for a single entry:

[code]

each `Marked old state snapshot as done` seems

[2019-09-04 14:24] clstokes commented on #1926
I've just run into this as well. `pulumi logs -f` gives the impression all is well when in fact all it's operations are failing silently with `Error getting logs: /aws/lambda/loggerFn-04a26f5 NoCredentialProviders: no valid providers in chain.`.

[code]

[2019-09-04 15:50] joeduffy opened #3179 "Defaulting to a blank project name is confusing"
If you already have a stack with a project name that matches the current directory, `pulumi new` will default to a blank project name. And in fact it won't even let you manually enter that project name.

This seems confusing. It's the stack name that needs to be distinct (or, more specifically, the combination of project plus stack name). I'd have expected us to error out at the stack name selecti

[2019-09-04 18:29] clstokes opened #3180 "Don't strip newlines or spaces from log output"
First reported at https://stackoverflow.com/questions/57790489/how-to-prevent-pulumi-from-stripping-newlines-from-output.

If a user adds their own log messages to print newlines or spaces, these get stripped from Pulumi's output. These messages can be helpful for users to troubleshoot their applications. Pulumi shouldn't strip these.

#### Code
[code]

##### Output
[code]

[2019-09-04 20:54] mikhailshilkov commented on #3180
Just for information, this happens [here](https://github.com/pulumi/pulumi/blob/master/pkg/backend/display/progress.go#L726) and [here](https://github.com/pulumi/pulumi/blob/master/pkg/backend/display/progress.go#L795). It looks intentional but I'm not sure what the target use case was.

[2019-09-04 22:04] lukehoban commented on #3178
We investigated the logs from both @redbaron's CLI and the Pulumi Service backend.

It appears this is related to the CLI client making 13 calls to `POST /encrypt` per 1 call to `PATCH /checkpoint` for this stack update.  These calls to  `/encrypt` are related to  encrypting values in the checkpoint file (see for example https://www.pulumi.com/blog/managing-secrets-with-pulumi/).

The `encrypt` ca

[2019-09-04 23:46] chrsmith opened #3182 "403 expired token"
During an update the lease token expired. This "shouldn't happen", but does from time to time. (Problem to address 1.) As a result, the update failed to be marked as completed because the request returned a 403. This in-turn lead to a panic (Problem to address 2.)

Travis CI log of the failure:
https://api.travis-ci.com/v3/job/231227810/log.txt

Stack trace:
[code]

Request ID for one of the 403s

[2019-09-05 06:07] redbaron commented on #3178
@lukehoban , is it possible to attach it from a different angle and see why resources get touched in a stack at all? When plan come back with no changes, why there is any activity to checkpoint? Current explanation implies that `pulumi up` run time is linear with number of resources in a stack, not with a  number of changes in a plan, which looks strange.

[2019-09-05 06:19] mikhailshilkov commented on #3178
@lukehoban  How about

4. Make the backend globally distributed with low read/write latencies for people around the world? I've heard Pulumi makes it easier ;-)

[2019-09-05 10:14] redbaron opened #3184 "app.pulumi.com shows "website slows down your browser" warning"
![Screenshot from 2019-09-05 11-01-54](https://user-images.githubusercontent.com/16624/64333412-5a7f1000-cfce-11e9-8624-631668be6784.png)

[2019-09-05 10:25] redbaron commented on #3184
Firefox performance recorder shows that it was "layout" and "function calls" during that period before I click "stop it".

Sadly it can't load JS callstack, hangs indefinitely :(

![Screenshot from 2019-09-05 11-24-22](https://user-images.githubusercontent.com/16624/64334093-c150f900-cfcf-11e9-9e44-cc9709f4babb.png)

[2019-09-05 13:22] redbaron commented on #3178
it's gone worse, same stack, 3 more resources (167 in total), all latest versions, no-op pulumi up, : **31 minutes and keeps going.**

It reaches the point where Pulumi stops helps helping to manage infrastructure and be more of a obstacle.

we consider switching to a local stack backend, but then having a subscription for pulumi.com gets us zero value, other than showing a support for  this other

[2019-09-05 14:10] lukehoban commented on #3178
Yes - I am very interested in why you are seeing 165 checkpoint writes given you say you are making no changes.

Can you share the CLI output from the preview or update?

[2019-09-05 14:11] lukehoban commented on #3178
Note that we’re also looking into a fix which should address (1) above - which I believe is the core of the issue here at https://github.com/pulumi/pulumi/pull/3183.

[2019-09-05 14:24] redbaron commented on #3178
@lukehoban , debug.log I've sent over email *is* CLI output:

[code]

[2019-09-05 14:51] lukehoban commented on #3184
What was the full url you were visiting?  Did you see the same on many pages or just one?

[2019-09-05 15:23] redbaron commented on #3184
@lukehoban, full URL is in the screenshot

[2019-09-05 16:42] metral commented on #3182
Did you mean to link to a different issue? This is the current issue here 😃

[2019-09-05 17:23] chrsmith opened #3185 "Pulumi Service doesn't get update failure if Complete endpoint fails"
Consider the following update. One of our test jobs failed, but looking at the logs display in the Pulumi Console doesn't show the reason.

https://app.pulumi.com/moolumi/example-tags/p-it-travis-job-tags-dc52f686/updates/1
![image](https://user-images.githubusercontent.com/4029847/64364025-eb51ed80-cfc6-11e9-88f2-31a09cb057e9.png)

This happens because of the following code in `httpstate/backend.

[2019-09-05 19:54] mikhailshilkov opened #3186 "CLI upgrade on Windows could be easier"
I installed a new Pulumi CLI version several dozens of times, but I still don't know how to do so *easily*. I basically google "pulumi install windows", then copy-paste the long unreadable command.

The command wouldn't work in Powershell that I already have open, so I have to open a `cmd` window which will run another Powershell window. If I want to run in Powershell directly, I need to cut out t

[2019-09-05 22:29] stack72 commented on #2934
@lukehoban we actually changed this yesterday e.g. https://github.com/pulumi/templates/blob/master/aws-typescript/package.json

I think this can be closed?

[2019-09-05 22:41] lukehoban commented on #2934
Indeed - we now use `^1.0.0` for all packages that have hit 1.0.

[2019-09-05 22:41] #2934 closed

[2019-09-06 08:38] redbaron commented on #3178
@lukehoban ,

how can I help debugging this issue?

[2019-09-06 08:54] redbaron commented on #3178
I just ran same build in a Googles Cloud Build , it ran build in a VM with public IP address in Michigan , so it must be slashing latencies significantly, but build continues to timeout.

[2019-09-06 09:54] redbaron commented on #3178
another unscientific datapoint: if plan has updated resources, it completes in 10 minutes, if plan is clean it doesn't finish even in one hour.

[2019-09-06 16:46] rawkode opened #3189 "Secret providers only work with Pulumi backend"
When using a cloud backend, such as GCS/S3 with `pulumi login` - creating stacks with a secret backend fails and continues to be configured as passphrase backend.

[code]

[2019-09-06 17:20] nesl247 opened #3190 "Previews do not reflect the resulting update"
When running `up`, the preview is vastly different than the resulting update. For example, making a change to an annotation in a namespace is causing all resources that use that namespace to be previewed as needing a replacement.

In my particular example here we're using the Kubernetes provider, but I've experienced this with GCP's Cloud SQL and other resources as well.

[2019-09-06 17:29] pgavlin commented on #3190
The preview is a conservative estimate of the changes that will be performed as part of the update. Without additional information, the engine must assume that all outputs of a resource may change if any update or replacement is required, and therefore treats all outputs of such a resource as unknown during the preview. These unknowns then flow downstream, causing further differences that will onl

[2019-09-06 17:34] nesl247 commented on #3190
I understand that it is conservative, but it also is rendering the preview 100% useless. How will we ever know if it will actually do a real replacement or not? Some resources cannot be replaced without downtime or data loss. This is a critical issue in my opinion.

[2019-09-06 17:47] 4c74356b41 opened #3192 "Exceptions in Windows are not propagated to stdout"
Code with exception on windows:
[code]
same code with exception on linux:

[code]

this happens with any code I've tried. windows 10, python 3.6.8, pulumi 1.0 (but the same happened with 0.16.x and 0.17.x)

[2019-09-06 17:49] pgavlin commented on #3190
For what it's worth, we did recently make a fix here that did affect the preview experience. Earlier versions of Pulumi incorrectly assumed that any input property that was present during a preview would contain the actual value of the corresponding output property (if any). The SDK would then resolve any missing output properties to the value of the corresponding input. This behavior is not corre

[2019-09-06 18:19] clstokes opened #3193 "`pulumi new --yes` doesn't use all defaults"
Given the `--help` output on `pulumi new --help` I expect `pulumi new ... --yes` to use the default values for all project setup, but it fails on the project name. When I `pulumi new ...` (without `--yes`) it prompts me for the project name, but accepts the default of the current working directory name by hitting `<enter>` on the prompt. `pulumi new ... --yes` should do this too for the project na

[2019-09-06 18:28] praneetloke opened #3194 "Specifying an incorrect API service backend for pulumi login results in a confusing error message"
Running `pulumi login` with an invalid managed backend URL results in this error message, which doesn't help identifying the problem.

For example running `pulumi login https://someurl.com`. In most cases, the URL is probably not completely different, but perhaps with a subtle typo, for example, instead of `pulumi login https://api.pulumi.com` (which is valid), if I were to mistype it as `pulumi l

[2019-09-06 18:40] danfhernandez commented on #3194
I don't know if this fits within the scope of this ticket but would be good to also update the documentation in pulumi login --help. This is what is there now:

of the Pulumi service, such as Pulumi Enterprise, specify a URL. For example, run

[2019-09-06 19:37] nesl247 commented on #3190
Thanks for the information. I'll keep an eye here to see when we should start to not use the legacy apply then as we'll definitely have to for now.

[2019-09-06 19:50] pgavlin commented on #3190
Looking at the code, you'll need to set this variable to `true`, not `1`.

[2019-09-06 20:49] #1353 closed

[2019-09-06 20:53] #3162 closed

[2019-09-06 21:17] lukehoban commented on #2611
We merged all of the above so closing this out.

[2019-09-06 21:17] #2611 closed

[2019-09-06 21:55] lukehoban commented on #3190
Just to include a few more details here - here's a short repro:

[code]

If the above is deployed, and then the annotation is commented out, a `pulumi preview --diff` will show:

[code]

This is clearly very bad.  It's conservative, but makes the preview something you can't trust anymore.  The formatting of the diff on the `Pod` is also confusing (it says the namespace is being removed - which it

[2019-09-06 22:13] lukehoban opened #3196 "Tests hang on Go 1.13"
When building and running tests with Go 1.13, the following test step hangs (130% CPU for last 35 minutes):

[code]

[2019-09-06 23:48] pgavlin commented on #2901
I'm going to close this out; we can file distinct issues for follow-up as necessary.

[2019-09-06 23:48] #2901 closed

[2019-09-06 23:49] pgavlin commented on #3068
Closing this out as we haven't been able to reproduce this. We did add additional logging to make the issue clearer if we ever see this again.

[2019-09-06 23:49] #3068 closed

[2019-09-07 00:07] lukehoban commented on #1743
We ended up backing out the change that "fixed" this - so reopening to track the desire to support this better in the future.

[2019-09-07 00:44] nesl247 commented on #2800
To chime in here, I would prefer not having `getStack()` be changed as all of our automation currently depends upon this as it is today. We have for example `Pulumi.development.yaml`, and thus when we run with `-s Org/development`, we depend upon `development` being returned in `getStack()` for automated updates.

[2019-09-07 00:47] lukehoban commented on #2815
I believe we now run this test in CI, and I don't think we see this failure.  @stack72 could you confirm?

[2019-09-08 09:08] zhangyoufu opened #3199 "`pulumi version` panic SIGSEGV"
`pulumi version` crash for fresh installation on macOS

[code]

<details><summary>click for full stack trace</summary>

[code]
</details>

This panic persists until cached version information is available.

[code]

[2019-09-08 09:27] zhangyoufu commented on #3199
This issue is resolved at https://github.com/golang/go/issues/28092#issuecomment-494501224.
And backported to golang 1.12.6. @pulumi Please upgrade your CI toolchain.

[2019-09-09 02:49] kll commented on #3130
I get the exact same error, even if I create and specify a new VPC. It only happens when trying out FargateService. I did something similar with an EKS cluster and it did not throw the error.

[2019-09-09 09:41] stack72 commented on #2815
@lukehoban we do not run this test in CI - I just opened a PR that tests it though - https://github.com/pulumi/examples/pull/382

Depending on the time, it *may* get moved to be a nightly test via LongTest options

[2019-09-09 10:20] redbaron commented on #3190
If there is a way to generate/infer or crowdsource functions `<T>(arg: pulumi.Input<T>) => [keyof ResourceType]` , to know which properties of a resource each arg changes, then predictions could be much more accurate

[2019-09-09 15:34] rawkode opened #3202 "NonInteractive Warning when Using Cloud Backend"
Logging in
[code]

Followed by a stack select

[code]

Fails because using `--no-interactive` forces a check for `PULUMI_ACCESS_TOKEN`

[2019-09-09 15:50] rawkode commented on #3202
Nevermind. This was due to GitHub Actions running a little strangely.

In-case anyone else hits this:

GitHub Actions run as `root`, which the Linux system reports the home directory of `/root`

GitHub Actions scripting overrides `HOME` within each container / step to `/github/home`

So you need to use the Pulumi CI hack/env to get this working correctly:

[code]

[2019-09-09 15:50] #3202 closed

[2019-09-09 17:00] rawkode commented on #2791
Yep. This is broken :(

[2019-09-09 17:03] stack72 commented on #2815
@lukehoban / @clstokes as of this minute, we can't run this test in pulumi/examples testing :(

[code]

[2019-09-09 18:31] #2319 closed

[2019-09-09 19:54] #3199 closed

[2019-09-09 20:26] clstokes opened #3203 "When cluster object is output, kubeconfig string is omitted"
In the code below, when `cluster` (the object) and `cluster.kubeconfig` (the string) are exported as outputs then only the `cluster` object is output. If the `cluster` export is removed, then the `kubeconfig` export is output as expected.

[code]

[2019-09-09 20:58] clstokes commented on #3203
The order of exports changes this behavior. If `kubeconfig` is exported before `clusterObject`, both are output as expected.

This works:
[code]

[2019-09-09 21:12] CyrusNajmabadi commented on #3035
What should we be doing instead? :)

[2019-09-09 21:15] CyrusNajmabadi commented on #1743
When did that happen?  I still see the logic here:

[code]

And so on.

[2019-09-09 21:44] CyrusNajmabadi commented on #3203
Yeah, i know what the issue is here.  We have code to prevent infinite loops when emitting stack outputs.  That code should apply *per* output, but is currently applied across *all* outputs.  So, since we see `kubeconfig` when producing the output for `cluster` we ignore it the second time around.

Should not be too difficult to fix.

[2019-09-09 22:09] #3189 closed

[2019-09-09 22:25] mikhailshilkov commented on #2073
@pgavlin So, what is the plan for this sprint? Just improve the message to point to the docs, do so during the preview, or do something more to match the original description?

[2019-09-09 22:29] pgavlin commented on #2073
I think we should just point to the docs. We should open a separate issue to track retrying, which we might even want to put under a separate flag.

[2019-09-10 16:27] pgavlin commented on #3190
We have a latent approach to this that uses information about whether or not a change to a particular resource property forces replacement of that resource: if a resource does not require replacement, then no such property may have changed, and must have its current value (otherwise the resource would require replacement).

[2019-09-10 16:57] pgavlin commented on #3190
In principle, this approach should work without issue. In practice, I am worried that we are going to run into problems representing partially-stable values in the SDK. Consider an amended version of the original example with the call to `apply` made explicit:

[code]

If this program is deployed, a change is subsequently made to `metadata.annotations` s.t. some piece of the value is not known dur

[2019-09-10 17:29] CyrusNajmabadi commented on #3190
'2' has come up quite a bit as being something that would be useful in many cases.  By default, it makes sense that we would have to eb conservative and not run `.apply`s during preview.  but i don't see any harm with allowing the caller to opt-into having them run, with the knowledge that some data they read may not be available.

[2019-09-10 17:52] CyrusNajmabadi commented on #3111
In terms of hte "why", i think in my head i was treating this vaguely similarly to 'nullable' in that i lifted operations on a null value to just keep returning null.  It was also nice in case there was code that effectively wanted to do a `?.blah` type lookup.  But i can def see why this woudl not be desirable and that we should just keep standard property semantics here.

@lukehoban I'm fine wit

[2019-09-10 18:06] mcascone opened #3209 "Support vmWare VRA7 provider"
This doesn't seem to have been logged before, so I'm requesting it here.

Please add native support for the VMware vRA 7 provider.

Thank you!

[2019-09-10 18:16] lukehoban commented on #3190
This is an interesting point - that the lifted property accesses are always "safe" to run in this mode.  That is quite compelling.  And I agree with @CyrusNajmabadi that the idea of offering this mode of `apply` makes sense in the first place.  But even nicer if it can make the lifted property semantics automatically better.

Are there any obvious "downsides" to (2)?

[2019-09-10 18:32] pgavlin commented on #3190
None that I can see beyond extra complication in the public API (including some way to represent a nested unknown value and the typing mismatches that may bring).

[2019-09-10 19:10] cowwoc opened #3211 "ebs availabilityZone should be optional"
`aws.ec2.InstanceArgs` has an optional `availabilityZone` but `aws.ebs.VolumeArgs` has a mandatory `availabilityZone`. I am expecting the latter to be optional as well.

[2019-09-10 19:14] rawkode commented on #3211
You should use your created instance and fetch it's availabilityZone.

There's no "default"

AWS picks one at random.

By not specifying one in your EBS volume, you'd end up with them in different zones

[2019-09-10 19:20] CyrusNajmabadi commented on #3148
Have opened https://github.com/microsoft/TypeScript/issues/33355 to get insight here.

[2019-09-10 19:29] #3203 closed

[2019-09-10 19:46] cowwoc commented on #3211
I wanted to change the default size of the instance disk so I didn't expect to create the disk after the server. But digging into this further, I don't need to create a `aws.ebs.Volume` at all. The following worked for me:

[code]

Meaning, I just had to customize `ebsBlockDevices` on instance initialization.

[2019-09-10 19:46] #3211 closed

[2019-09-10 19:58] CyrusNajmabadi commented on #3148
From ryancavanaugh

So, realistically, since we are targeting node, we are targeting a minimum of es2016.  We should just upgrade everything to htat so we can use these features and not be in the weird state where the compiler occasionally gets unhappy

[2019-09-10 20:25] #2758 closed

[2019-09-10 20:28] #2472 closed

[2019-09-10 20:47] ellismg commented on #3035
Not 100% sure.  It's possible that we should just be stripping all ASNI escape sequences from the string we "read"?

[2019-09-10 21:24] mikhailshilkov commented on #2073
The point-to-docs PR is merged so I'll remove the current milestone until we have an exact plan for more advanced scenarios

[2019-09-10 22:21] ellismg commented on #3148
FWIW - I do suspect that our strategy of using `"@types/node": "latest"` in our package.json is also buying us a no favors.  I suspect this means we are seeing types and method for the latest version of node, but our "minimum node version" is "8.10.X", and so we should be doing something like `"@types/node": "^8.0.0"` ?

[2019-09-10 23:14] cnunciato commented on #1820
I hit this today with `v1.0.0` and a `ComponentResource`. Here's a program program that repros:

[code]

[code]

[2019-09-10 23:19] #3148 closed

[2019-09-10 23:48] CyrusNajmabadi commented on #3148
Yes, that's a reasonable thing to do as well.  I will update.

[2019-09-11 07:05] redbaron commented on #3190
Yes, but update case is not covered. When input  property A changes, all outputs are considered to be changing too , but that is too conservative and is at the root of the problem

Initial version of this change tracking framework can surface that  mapping function explicitly , as in for every input ...Args field input return all properties of a Resource. Then it would be possible for interested p

[2019-09-11 14:57] #1794 closed

[2019-09-11 16:26] stack72 commented on #2815
Ok, I have fixed up this example to work like other AKS examples do and it works much better now! @clstokes can you try the updated example to make sure it works well for you?

[2019-09-11 16:40] #2880 closed

[2019-09-11 19:53] pgavlin commented on #3190
Not sure what you mean--the approach I describe would allow certain properties to be considered as unchanging even during updates. To start with, we would implement this in the TF-based providers by considering any "requires replacement" property to be unchanged if the resource does not require replacement.

[2019-09-11 19:57] pgavlin commented on #3190
(we could then extend the capabilities of the TF/Pulumi bridge to allow arbitrary logic to indicate additional stable properties)

[2019-09-11 20:26] pgavlin commented on #3190
The other approach we could take is to add a flag to each CRUD operation that indicates that the provider should dry-run the operation. This would give the provider the opportunity to provide real property values for the operation, including values that did not exist in the old state (which is not possible with the "stable properties" approach outlined above). Though it is a larger, more disruptiv

[2019-09-11 20:44] nesl247 commented on #3190
@pgavlin That would be my preference. I would expect preview to be a dry run, thus returning exactly the values that it would create. In fact, my personal opinion would be that the update should execute exactly what is done via the preview. Thus it shouldn't recalculate twice. It already knows what it needs to do, and should execute those changes. But that's just my opinion as a user.

[2019-09-11 21:58] nesl247 commented on #2317
Right now this would be really useful. We have a stack that has several hundred resources. Running update on it takes a while as it has to check the status of each. (GCP Pub/Sub subscriptions)

[2019-09-11 22:55] reilly3000 commented on #3035
I'm having a similar issue, except I'm getting a rouge newline for some reason.

echo $PULUMI_ACCESS_TOKEN
mytokenhere
pulumi login
Logging in using access token from PULUMI_ACCESS_TOKEN
error: problem logging in: getting user info from https://api.pulumi.com: performing HTTP request: Get https://api.pulumi.com/api/user: net/http: invalid header field value "token mytokenhere\n"
for key Authorizat

[2019-09-12 03:30] NinoFloris opened #3219 "Pulumi doesn't sanitize URNs"
Pulumi doesn't sanitize URNs
Somehow I got an encoded backspace in my urn leading to the following name in stack export
`
 "urn": "urn:pulumi:dev::gcp-services::gcp:sql/sslCert:SslCert::name-a3e1c8c-services-\u0008clientcert",
`
This obviously breaks tooling that informs you of the actual URN and trying to delete it via state delete would be futile as well.

[2019-09-12 05:10] lukehoban commented on #3219
Do you have any idea how?  This looks like it came from user code - but unless you exploratory inserted this character in the name, I’m not sure how Pulumi would have ended up with it there.

That said, we should definitely constrain resource names to a reasonable grammar.

[2019-09-12 18:38] lemaral opened #3221 "brew version not updated to 1.1.0"
pulumi up
warning: A new version of Pulumi is available. To upgrade from version '1.0.0' to '1.1.0', run
   $ brew upgrade pulumi
brew upgrade pulumi
Error: pulumi 1.0.0_1 already installed
Confusing...

[2019-09-13 13:01] redbaron opened #3222 "catch future checkpoint errors at `pulumi stack import` time"
we imported  manually edited stack without errors, then run `pulumi plan`. neither showed any errors, but at update time we've got:

[code]

it would be really nice if import have caught it

[2019-09-13 13:21] rawkode opened #3223 "Config Doesn't Work: Expects Project Name and Namespace"
Using Pulumi `1.1.0`

Created a stack with `pulumi stack init production --secrets-provider="gcpkms: ...`
Selected stack with `pulumi stack select production`
Set some config with `pulumi config set telegraf:version "1.12"`

`Pulumi.production.yaml` looks like:

[code]

Inside my code, I have:

[code]

Running a `pulumi up` responds with:

[code]

[2019-09-13 13:23] rawkode commented on #3223
NB: I did try the config set command with the project name too:

[code]

[2019-09-13 13:38] redbaron commented on #3178
we are still affected by it :(  given that very same `pulumi up` can take drastically different times to complete  it also might be a data race in one of your Go components. I'd be happy to run debug versions with race detector enabled if you have them.

Plugins we use in this stack:

- @pulumi/pulumi
- @pulumi/gcp
- @pulumi/kubernetes
- @pulumi/cloudflare

[2019-09-13 16:08] snowsky commented on #3193
I don't run into the issue with v1.1.0.

[2019-09-13 16:18] clstokes commented on #3193
@snowsky You're right! I just tried with `v1.1.0` and it works as expected. Closing this.

[2019-09-13 16:18] #3193 closed

[2019-09-13 16:21] snowsky commented on #3193
It may be related with the other ticket #3078. I tried with an existing project and got the exact error message "Created project ''".

[2019-09-13 17:10] ellismg commented on #3223
I'm guessing that `config` here is a local which you have assigned to the result of `new pulumi.Config()`.  The way the config system works is that values set as `<namespace>:<name>`.  If you set a value on the command line that does not have a colon in it, then we assume it is in the namespace for your project (here that's `devrel-metrics`).  Since there is a colon, we assume this value is in the

[2019-09-13 17:18] nesl247 commented on #3223
I think he forgot to close this out. It was already resolved in Slack.

[2019-09-13 17:21] rawkode commented on #3223
Yeah. It wasn't clear to me that the namespace was the project name by default. Closing.

Thanks for your help

[2019-09-13 17:26] justinvp commented on #3095
Closing this as a dupe of #3152

[2019-09-13 17:26] #3095 closed

[2019-09-13 17:33] justinvp commented on #3152
Related: the current prompt around the access token or hitting enter to login with the browser could be improved. Perhaps similar to Alternative 1, once the "Pulumi Service" option is chosen, there could be a subsequent prompt for how to login, something like:

[code]

Only after choosing the "enter access token manually" would the https://app.pulumi.com/account/tokens URL be shown.

[2019-09-13 18:18] snowsky commented on #3078
@justinvp I think you are right and I linked the other issue. Will take a look during the weekend.

[2019-09-13 18:29] justinvp commented on #3078
@snowsky, I believe this was actually already fixed with #3131, so I'm going to close this issue. Though, the experience today isn't as good as it could be due to #3077.

[2019-09-13 18:29] #3078 closed

[2019-09-13 18:30] pgavlin commented on #3222
Thanks for the report. I do think that this is a good idea--if we really need the ability to import invalid checkpoints (stranger things have happened)--we can add a flag that allows that.

[2019-09-13 19:08] lblackstone opened #3224 "Panic on mismatched provider"
A user reported a panic after they passed a Kubernetes provider into a GCP resource's opts. This shouldn't panic, and should print an informative error message instead.

[code]

[2019-09-13 21:19] hausdorff opened #3226 "up/preview should be able to explain why replacements occur"
When Pulumi decides to replace something, it is opaque and can be confusing, especially for users who are new to the relevant cloud provider. It would be nice if the `preview` reported which field changes cause a replacement, which would eliminate this whole class of user questions.

[2019-09-14 17:13] joeduffy opened #3230 "Latest version number should come from brew"
Anytime I run a Pulumi command, I get this warning right now:

[code]

Yet running the command as suggested just issues an error:

[code]

I assume this is because the latest version hasn't been merged into Brew yet: https://github.com/pulumi/pulumi/issues/3221.

This is quite annoying as an end user. Is there any reason we can't take the latest version from Brew itself for purposes of checking if

[2019-09-14 17:58] joeduffy commented on #2430
Apologies for the delay on this, folks. Needless to say, this is a tricky -- but important -- area for us. Now that 1.0 is out the door, we're focused on coming up with a 2.0 roadmap and as part of that, we will have a definitive answer on next steps here. We appreciate the patience 🙏

[2019-09-14 21:08] lukehoban commented on #3230
Yes - we either need to pull this version from brew, or else hold off on pushing to a new minimum version until we are sure brew (and any other package managers we support in the future) have the latest.

[2019-09-15 21:42] igorshapiro opened #3231 "Panic on almost every pulumi operation after upgrading to 1.1.0"
The following is the error:

[code]

[2019-09-16 04:13] zanhsieh opened #3232 "Example on setting / getting / passing non-primitive type to config?"
Hi,

Just wonder if I could pass nested type into config. If so, what is the cli syntax and how should I call them from the code.

What I intend to do is:

[code]

And we should see in Pulumi.dev.yaml similar to this:
[code]

And get it should like this:
[code]

Is this even possible? How to call it in the code?

[2019-09-16 06:20] AndresPineros commented on #1473
Hello, I'm just learning Pulumi and I'd like to understand the purpose of removing the Pulumi.yaml variables.

As I understand, a stack is associated with an environment. But not all Pulumi Components should asociated directly with an environment. If My Pulumi component was "Application X deployment" it would make sense to force a stack, because applications are deployed on a per-environment basis

[2019-09-16 07:38] Place1 opened #3233 "unable to use inquirerjs in pulumi program"
Sorry for the lack of details but i'm not familiar enough with pulumi's internals for this issue.

Today I thought it'd be fun to write a pulumi program that prompts the user for it's own configuration using [InquirerJS](https://github.com/SBoudrias/Inquirer.js/)

Here's what my program looks like:

[code]

When the program runs I get the following output:

[code]

If I run the same program with t

[2019-09-16 14:38] lukehoban commented on #1473
Components are instantiated within a given stack, and are parameterized via passing arguments to the component class constructor in whatever form the component would like to receive them.

Pulumi config is a concept that is only associated with a stack, and is the external configuration for that stack. The stack can decide if/how to pass any stack level configuration into components it instantiate

[2019-09-16 14:41] lukehoban commented on #3232
This is being tracked in https://github.com/pulumi/pulumi/issues/2306.

The workaround for now is to JSON encode the config values and then use `.getObject` to deserialize inside your Pulumi program.

[2019-09-16 14:41] #3232 closed

[2019-09-16 14:56] lukehoban commented on #3137
Fixed with pulumi/examples#374.

[2019-09-16 14:56] #3137 closed

[2019-09-16 15:26] mikhailshilkov commented on #2761
This has been fixed in #3066 and then further improved in #3205

[2019-09-16 15:26] #2761 closed

[2019-09-16 15:28] ut0mt8 opened #3234 "Problem with export ressource with prefix (python problem)"
Dumb question but what I wanted is something really simple, just prefixing the name of a ressource with 'http://'.

I've tried  :
[code]
with elb an ElasticLoadBalancer ressource.

But I have an type error that I cannot concat string with Output.
TypeError: can only concatenate str (not "Output") to str

I cannot find the way to convert elb.dns_name to str. str() is not working btw.
How to do this

[2019-09-16 15:35] jeffmace opened #3235 "Python `TypeError: unsupported operand type(s) for +: 'dict_values' and 'list'` when using ResourceOptions.providers"
I get an `TypeError: unsupported operand type(s) for +: 'dict_values' and 'list'` error when attempting to merge two instances of the class and one of them uses `ResourceOptions.providers`.

This happens because https://github.com/pulumi/pulumi/blob/master/sdk/python/lib/pulumi/resource.py#L427 returns a `dict_values` object and not a `list`. The issue can be fixed by replacing that line with `opt

[2019-09-16 17:06] CyrusNajmabadi commented on #3035
I'm actually really curious if we need to solve this.  I tried a couple of different unix commands (like `sudo`) and hit arrow keys (like `down`) when typing in this sort of data.  The commands ended up failing.  So it feels like most systems just suck this in as part of the string they're reading.  It feels fine to me that we do the same.

[2019-09-16 17:06] #3035 closed

[2019-09-16 17:07] CyrusNajmabadi commented on #3035
@lukehoban for check here.  i don't feel like this needs to be fixed.  And i certainly don't think it's a priority for 0.27.  i think in general there isn't an expectation from users that hitting arrow keys will have no impact when typing in secret info.

[2019-09-16 17:52] pgavlin commented on #2306
I'd love to better understand the concrete work we're planning for M27. Is this as simple as "support maps and lists in Pulumi.*.yaml"?

[2019-09-16 18:43] pgavlin commented on #3234
You can do this with `Output.apply`:

[code]

[2019-09-16 18:43] #3234 closed

[2019-09-16 18:44] pgavlin commented on #3235
Thanks for the report!

[2019-09-16 18:48] justinvp commented on #2306
Perhaps, but do we want to encourage manual editing of the `Pulumi.*.yaml`? I think we should at least consider the CLI experience here. For example, do we need some special way of indicating list/map values from the CLI or can we make existing ways of doing it (e.g. comma separated string) work? I'll think about it and come up with a proposal we can review in the next day or two.

[2019-09-16 18:49] pgavlin commented on #2306
Sounds good to me.

[2019-09-16 18:56] ut0mt8 commented on #3234
Thanks you.

[2019-09-16 19:00] lukehoban commented on #3231
From offline discussions with @igorshapiro, it looks like this resource exists in the checkpoint, which we believe is what is triggering the assertion:

[code]

[2019-09-16 19:00] pgavlin commented on #3231
Looking into this. The assertion that is firing is intended to validate that all non-component resources have a non-empty ID, as we treat an empty ID as indicating that a physical resource does not exist.

[2019-09-16 19:01] pgavlin commented on #3231
@igorshapiro can you share any additional details about your stack and Pulumi program? It looks like this resource is being read by a `.get`--is that the case?

[2019-09-16 19:05] lukehoban commented on #3231
@igorshapiro noted in Community Slack:

---
Seems I found the issue. It was:

[code]

The stack outputs didn’t have workerSecurityGroupId set.

I think there should be an easier way to debug these. Panic and crash seems like inadequate here

[2019-09-16 19:06] lukehoban commented on #3231
Definitely a bug that it is possible to hit these asserts.  This should fail much earlier.

Also, these asserts (and honestly all others), should include more info to make any future debugging related to these invariants easier.

[2019-09-16 19:08] pgavlin commented on #3231
We made the following change in August that was intended to fail read steps that return missing resources: https://github.com/pulumi/pulumi/pull/3123

Notably, it does not ensure that the ID is non-empty. I'll have to look at the specific results we get from the provider when a security group is missing.

[2019-09-16 20:32] justinvp commented on #2306
For CLI experience, consider how helm supports this: https://github.com/kubernetes/helm/blob/master/docs/using_helm.md#the-format-and-limitations-of---set

[2019-09-16 20:45] gitfool commented on #2306
Nice to have CLI support, but if it gets complicated, I'm probably just going to edit the yaml directly, unless there are reasons not to do that?

[2019-09-16 21:18] pgavlin commented on #3178
Hopefully the changes in https://github.com/pulumi/pulumi/pull/3238 will help us track this down. I'll ping this thread once a dev build with those changes has been published (should be later today). We can then try collecting some traces for analysis.

[2019-09-16 23:42] pgavlin commented on #3178
Okay, build `1.2.0-alpha.1568668603` has support for emitting tracing data to a file. You can either build from source (just build at `HEAD` in `master`), or install this version like so: `curl -sSL https://get.pulumi.com | sh -s -- --version 1.2.0-alpha.1568668603`. Once installation has finished, you can collect a local execution trace by passing a `file:` URL to `--tracing`:

[code]

You can th

[2019-09-17 13:43] NinoFloris commented on #3178
We're in the same boat (less resources) running a trace as we speak.

[2019-09-17 14:02] NinoFloris commented on #3178
@pgavlin sent you the trace in a slack DM :)

[2019-09-17 17:04] justinvp commented on #1859
@pgavlin, it seems we should tackle this as part of #2005. Otherwise, I'm not sure what the design is in the meantime.

[2019-09-17 17:32] justinvp commented on #2800
I'm inclined to only add `getFullStackName` for now. If we find there is an actual need to parse out the organization, we could consider adding an API that returns only that, but until then, I'd prefer to hold off since it doesn't make sense for other backends. (There's also a question about the naming, e.g. is it `getOrganizationName` or `getOwnerName`)?

One question about `getFullStackName`: Fo

[2019-09-17 18:33] justinvp commented on #2800
Let's consider this as part of any `query` work (where we'd likely make use of it).

[2019-09-17 18:42] lukehoban commented on #3027
@igorshapiro Have you continued to see this issue?  We spent a fair bit of time trying to reproduce this on our side but have not yet been able to.  My best guess is that this is a Node.js issue in your CI environment, but hard to guess where to look to uncover more details.  Since there's nothing we can think of to continue to investigate here without more data - I'm going to close this out.  If

[2019-09-17 18:42] #3027 closed

[2019-09-17 19:08] lukehoban commented on #3196
@stack72 Is this fixed as part of your work on Go 1.13?

[2019-09-17 19:51] lukehoban commented on #3178
@pgavlin and I just looked at @NinoFloris's trace.  It is a 5m trace with 24s preview and a 4m5s update.

A few observations:
1. It appears that 3m12s of the overall 4m5s of the update are related to encrypt calls - very similar to https://github.com/pulumi/pulumi/issues/3178#issuecomment-528108790.  This seems to be the main issue.
2. There appear to be 57 resources changing during this update -s

[2019-09-17 19:53] lukehoban commented on #3178
@redbaron Any chance you would be able to collect the same trace as noted in https://github.com/pulumi/pulumi/issues/3178#issuecomment-531999313 and share with us so we can correlate the data from your update with the above.  It seems clear that (1) is an issue in both cases, but we want to make sure there aren't any additional issues that are surfaced from looking at your case.

[2019-09-17 20:03] NinoFloris commented on #3178
@lukehoban great analysis! Nice work.

There were actually only 4 leaf resources that actually change according to preview

[2019-09-17 20:04] lukehoban commented on #3178
Can you share what the preview and/or update output looked like? (redacted as needed)

[2019-09-17 20:15] stack72 commented on #3196
@lukehoban yessir - no test hangs now it seems. Got an issue to deal with on a stale go.mod entry but that will take care of it

[2019-09-18 16:49] #2817 closed

[2019-09-18 20:15] redbaron commented on #3178
Yes, I meant to do it today, but could fine time to do this experiment, I ll provide traces tomorrow

-------- Original Message --------
On 17 Sep 2019, 20:53, Luke Hoban wrote:

[2019-09-18 22:58] #3235 closed

[2019-09-19 14:47] NinoFloris opened #3248 "Panic on crafted pulumi stack init"
[code]

can be triggered with minimal repro
`pulumi stack init -s "org/" --secrets-provider="gcpkms://"`

Seems to be missing some extra validation on stack names to make sure that with org namespaced stacks there's actually a stack name supplied, not just checking for emptyness.

[2019-09-19 16:37] redbaron commented on #3178
@lukehoban , I collected traces and it runs for a less than a minute. I also checked with latest pulumi 1.1.0 and it again runs for less than a minute.

So it is clearly something on our side which changed.  We recently caught a bug where resources were  unintentionally reparented and I think that is what might was causing problems. In short , we were updating same `opts` object in multiple constr

[2019-09-19 22:53] fernandocarletti commented on #2966
I'm getting the same issue here. For now, we added a workaround, removing the `node_modules/` folder and running `yarn install` again in the same container the preview runs. Adds some more time to the build though.

[2019-09-19 22:55] fernandocarletti commented on #2966
This is odd. Is this unassign expected? I did not do it O.o

[2019-09-19 23:01] clstokes opened #3249 "Spurious diff when elements in an array change"
If I define a resource that takes inputs in an array, and then add a new element to that array, `preview --diff` shows updates to all elements of the array, not just adding the new element. I see seemingly related behavior across two different scenarios both related to arrays.

#### Scenario 1
In one scenario using `azure.keyvault.KeyVault`, adding an element to the array results in the diff showi

[2019-09-20 01:12] pgavlin commented on #3249
These are both cases where the corresponding property in the underlying Terraform resource's schema is a `Set`. Moving this to `pulumi-terraform`.

[2019-09-20 08:00] mikhailshilkov commented on #2874
I ran the trace ([compressed trace file](https://drive.google.com/file/d/1r5w3TKxRDtoMtvBePdQ6ZbawNa7WlVBy/view?usp=sharing)) and the single biggest item is "/pulumirpc.LanguageRuntime/Run" which took exactly 3 minutes and has no sub-items. Do I need to build a plugin in some special way to get the inner traces?

[2019-09-20 14:03] jen20 opened #13433 "Map variables should call `config.getObject` instead of `config.get`"
Given the following example in Terraform:

[code]

We produce the following typescript:

[code]

It seems like generating `config.getObject("test") || { ...}` would be more appropriate here?

[2019-09-20 14:18] mikhailshilkov opened #3250 "'Stack not found' random test failures"
Different tests have occasionally failed recently with `stack not found` errors. The output suggests everything goes fine:

[code]
until a sudden 404 while trying to delete the stack:
[code]

Failures:

- [TestCreatingProjectWithDefaultName](https://travis-ci.com/pulumi/pulumi/jobs/237507813#L2784)
- [TestCreatingProjectWithArgsSpecifiedName](https://travis-ci.com/pulumi/pulumi/jobs/237507815#L281

[2019-09-20 16:58] pgavlin commented on #2874
You may need to right-click on the trace in the Appdash UI and choose "show children". I do see children for that trace, but not many--most of the time is unaccounted for by traces.

[2019-09-20 20:50] chrsmith commented on #3250
I'll take a look at our request logs. Obviously something is wrong here.

[2019-09-20 20:56] chrsmith commented on #3182
Spent some time reproing this and looking into the issue, and the root cause is that we setup a timer to be called back so we can refresh the lease token that isn't actually getting called in a timely fashion. (Such as our "sleep for 2.5m" not resuming for 5m+.)

Since it ultimately has to do with the OS scheduler and the overall CPU-resources available on the system, there isn't a whole lot we ca

[2019-09-21 00:39] lukehoban commented on #2874
Indeed - I see:
* `/pulumirpc.ResourceProvider/Configure` completes at 09:32:40
* The next thing to start is `api/renewLease` at 9:35:02 (2m22s later)
* After that completes (745ms) the next thing to start (a `/pulumirpc.Engine/Log`) isn't until 09:35:28 (26s later)

Is it possible that this is somehow related to the lease renewal check timer?

[2019-09-21 06:56] mikhailshilkov commented on #2874
I provoke this by switching to `yarn link @pulumi/azure` - then it's slow the first time and fast(-er) during the subsequent runs. I would expect the slowness to do something with that.

[2019-09-21 18:27] CyrusNajmabadi commented on #3250
@chrsmith another case: https://travis-ci.com/pulumi/pulumi/builds/128589167

Note this hit a mainline test of TestCreatingProjectWithArgsSpecifiedName.  This feels like some sort of race condition in the service.  It successfully makes the stack, but then responds with 404 if queried too quickly for it immediately after creation.

[2019-09-22 00:21] gitfool commented on #2068
I keep coming across reasons that this is a must have; the latest being using this to re-parent Kubernetes resources generated by [yaml.ConfigFile](https://github.com/pulumi/pulumi-kubernetes/blob/master/sdk/nodejs/yaml/yaml.ts#L2375). (The existing "text templating" transform doesn't really help here.)

For that use case, and maybe for others, a transform callback that only sees a single object a

[2019-09-22 02:03] lukehoban commented on #2068
Unfortunately, with the current execution model Pulumi uses, this is not possible - resources are dispatched to the engine for create/update/replace as they become ready.

That said, I do expect there are ways we can still address the uses case (though possibly requiring slightly more bookkeeping by users). I’ll keep this scenario in mind as we flesh out the design in #3174.

[2019-09-23 16:06] lukehoban commented on #3250
Marking P0 - this has caused most  test runs in  `pulumi/pulumi` to fail for the better part of the last week.

If we need to disable these tests while we investigate - let's do that.

[2019-09-23 16:35] chrsmith commented on #3250
Looking at the test case and associated request logs, it appears that the Pulumi Service is behaving as it should. Though obviously something unexpected is happening during the test's execution.

It's unlikely there is a race condition in the service, since the reads are done from a SQL database with strong consistency. (We don't use a cache or anything when looking up stacks.) It appears that we

[2019-09-23 17:13] chrsmith opened #3255 "Bad error if running pulumi new but stack name already exists"
Run the following command twice. `pulumi new` will use the empty string the second time, leading to an odd error message.

[code]

[2019-09-23 18:38] chrsmith commented on #3250
OK, I figured out the problem here. It's complicated, but kinda sorta boils down to an existing work item in the Pulumi Service (https://github.com/pulumi/pulumi-service/issues/2810).

The problem (and why it is intermittent) is related to the way we support the older stack identity model (just stack name). Since `pulumi-bot` has thousands of stacks named `dev`, there is a ... ::sigh:: data race r

[2019-09-23 18:41] mikhailshilkov commented on #3250
@chrsmith Nice find! Should I change the tests to use the fully qualified name? Two parts or three parts?

[2019-09-24 16:04] lukehoban opened #3257 "CLI Performance Issues"
Collecting several of the issues we've observed in CLI performance traces that are not yet addressed, and which we should look into individually:

Issues from trace from @NinoFloris in https://github.com/pulumi/pulumi/issues/3178#issuecomment-532375183:
- [ ] There appear to be 57 resources changing during this update -so there is indeed churn here - though it should not result in this long of an

[2019-09-24 16:06] lukehoban commented on #3257
For others seeing CLI performance issues - please collect a trace as in the steps below and share it here or in DM on the Pulumi Community Slack:

-----

Build 1.2.0-alpha.1568668603 has support for emitting tracing data to a file. You can either build from source (just build at HEAD in master), or install this version like so: `curl -sSL https://get.pulumi.com | sh -s -- --version 1.2.0-alpha.156

[2019-09-24 16:06] lukehoban commented on #3178
The most significant contributing factor in the three cases we've gotten traces for was fixed in https://github.com/pulumi/pulumi/pull/3183, which will be released this week.

I'm going to close this out - and have opened https://github.com/pulumi/pulumi/issues/3257 to track the remaining issues.

If others see performance issues - please share traces on #3257 so we can confirm whether there are a

[2019-09-24 16:06] #3178 closed

[2019-09-24 16:10] lukehoban commented on #1718
Closing this out - as @pgavlin indicated there is not required work on the remaining two items.  @pgavlin Feel free to open a new issue with details if there is indeed anything remaining you'd like to track.

[2019-09-24 16:10] #1718 closed

[2019-09-24 17:44] chrsmith opened #3258 "Pulumi CLI not honoring "generic" env vars for CICD detection"
Setting CI/CD specific env vars should add the right metadata to an update so it works with the Pulumi GitHub App. However, that doesn't seem to be the case. Perhaps the logic in our CI/CD detection bits needs to be poked?

[code]

[2019-09-24 19:07] clstokes opened #3260 "Crash with low-level `Assertion failed` Node error"
A customer is getting a crash with the following output:
[code]

This happens across Node 10.x and 12.x versions.

Will provide the repro code privately.

Seems related to #3027.

[2019-09-24 23:19] lukehoban commented on #2874
cc @chrsmith on this point from https://github.com/pulumi/pulumi/issues/2874#issuecomment-533752704:

[2019-09-25 00:15] #1227 closed

[2019-09-25 01:57] astronouth7303 opened #3262 "get_zone() failing to raise error?"
ok, this is weird.

I'm getting the log:

[code]

This sounds a lot like #2908 except it's working.

The only place I call `get_zone` is https://github.com/dingbots/putils/blob/master/putils/aws.py#L115-L130 and `print()` additions show it to be working correctly and returning stuff. (ie, exception stuff is working

I'm actually not sure what's calling it with the unknown name?

This particular is

[2019-09-25 02:10] astronouth7303 commented on #3262
Like, I copy/pasted `__main__.py` into a new pulumi project (using the same virtual environment) and it works:

[code]

The only thing I know that's different between the projects is:
* The name
* Some additional secrets in the config
* Files that are currently unused (because `__main__.py` is stripped down)

Oh, and the zone ID gets printed. A value is returned, and it's functional, and the `prin

[2019-09-25 11:48] mikhailshilkov commented on #2874
Another unfortunate side effect of this is that I can barely run provider tests on my laptop. Since we use `yarn link` in every `ProgramTest`, every run (a single test, not the whole suite) takes between 10 and 20 minutes for me :(

[2019-09-25 12:42] lukehoban commented on #2874
For the integration tests - is it possible to capture both the test stats via https://github.com/pulumi/pulumi/blob/0ea50f458e633441f16850f03b9021751dd889e9/pkg/testing/integration/program.go#L498 (which will report how long each command took), as well as the detailed traces for each of the update/preview operations?

[2019-09-25 14:11] mikhailshilkov commented on #2874
@lukehoban  I logged this to file but I only see commands so far: https://gist.github.com/mikhailshilkov/01dfdc2c29cbd97ff8287a9f8da554d4

[2019-09-25 16:06] joeduffy opened #3263 "Compilation errors should go to stderr"
If I have errors in my TypeScript, I expected that running

[code]

would allow me to isolate them from the standard console output. Unfortunately, it appears compilation errors are written to stdout. It would be nicer to write to stderr instead.

[2019-09-25 18:35] praneetloke opened #3266 "`up` command accepts a --config-file flag but does not appear to use it as per the code"
It seems that the `preview` command also accepts the file, but seems to not do anything with the value.

[2019-09-25 18:35] praneetloke opened #3267 "`preview` command does not have the flag to specify a config array `-c`"

[2019-09-25 19:21] chrsmith opened #3268 "Able to create stack with mismatched project names"
The project name (`name` field in `Pulumi.yaml`) is part of a stack's identity, so it is important that you cannot change it willy nilly. For example, if you edit the `Pulumi.yaml` file and then run `pulumi up`, you will get an error. (Because that would change the stack's identity, etc.)

However, it's possible to provide two different values to the Pulumi Service for the stack's project name. Yo

[2019-09-25 19:21] CyrusNajmabadi commented on #3263
This would be a little odd given that tsc itself doesn't emit this stuff to stderr.  Other tools that launch tsc (like yarn) don't seem to do this either.  Is this how the ecosystem generally treats chained tools?

[2019-09-25 19:25] CyrusNajmabadi commented on #3263
Could you give an example of how this would matter?  If tsc fails, we're not going to proceed and do anything else right?

[2019-09-25 19:28] CyrusNajmabadi commented on #3263
Here's what i see locally, which actually seems like a great, consistent experience to me IMO:

![image](https://user-images.githubusercontent.com/4564579/65632947-c7fbdc00-df8f-11e9-91c2-0acd7549942d.png)

We've got the normal pulumi experience, and we report errors we encounter in our normal fashion to the "Diagnostics" portion of the output.

[2019-09-25 19:54] CyrusNajmabadi commented on #3263
I looked into this and i don't believe there's anythin we can do here.  The way pulumi works here is that we just call into the normal node `require(user-program-code)` and we report back any errors reported by node as it tries to load/run the program.

In the case of typescript, we are not actually invoking the typescript compiler itself, or getting the diagnostics in any way.  Instead, we're jus

[2019-09-25 21:03] #3258 closed

[2019-09-25 22:17] praneetloke commented on #3266
In `up.go#upWorkingDirectory()` I see `cfg, err := getStackConfiguration(s, sm)`, which does use `stackConfigFile` to load the configuration and if not falls-back to detecting the config file based on the stack name. I can confirm that it does indeed work as expected when passing in a file using `--config-file`. I tested it with the `up` command, and looking at the `preview` command, I see that it

[2019-09-25 22:17] #3266 closed

[2019-09-26 00:45] #3267 closed

[2019-09-26 04:39] chrsmith commented on #3250
This won't get fixed in M27, but I've started working on the prerequisites to fixing this in the Pulumi Service.

[2019-09-26 18:10] mikhailshilkov commented on #2874
@lukehoban I shared the full dump in slack (yesterday)

[2019-09-26 19:27] #3268 closed

[2019-09-26 20:40] joeduffy commented on #1518
A member of our community suggested an idea to me yesterday, and I think it might be a winner!

The idea is to expose fine-grained control over auto-naming by way of an interpolated string. For example, our current auto-naming scheme might be represented as `"${name}-${hex(5)}"`. That is to say, the underlying `name`, followed by a `-`, followed by a random hex of 5 digits in length.

This approac

[2019-09-27 10:30] pasmon opened #3274 "Pulumi not able to connect to Kubernetes cluster"
Pulumi is not able to connect to a bare-metal Kubernetes cluster, kubectl, helm, k9s and ktail all work just fine.
Check attached file for traceback.

[pulumi_kubernetes_connect_issue_traceback.txt](https://github.com/pulumi/pulumi/files/3662276/pulumi_kubernetes_connect_issue_traceback.txt)

Company uses a proxy, but this proxy should not be used for internal communications - after I "unset http_

[2019-09-27 14:22] stack72 commented on #3196
I am going to push this to 0.28 - we are still not in a situation where we can have builds of go1.12.9 and go1.13 in the same repo

We need to make a decision on this - so if we are going to support go1.13 then we need to go for it

[2019-09-27 15:11] mbergal-idx opened #3275 "`pulumi up' does not terminate on Windows in case error happened"
Works fine on Linux.

Sample log:

[code]

[code]

And hangs after this

[2019-09-27 17:21] clstokes opened #3276 "Skip update check during automated plugin install"
When doing an `npm i` when a new version of Pulumi is available, several upgrade warnings are in the output.

When installing plugins via `npm i` the update check should be skipped.

#### Example Output (with 4 upgrade warnings)
[code]

[2019-09-27 17:40] pgavlin commented on #3274
It looks like this is a failure to communicate between the Pulumi CLI and the plugins it launches to manage resources rather than a failure to talk to the k8s server. I know we've had problems with proxies in the past... It sounds like yours are configured using the `http_proxy` and `https_proxy` envvars--is that right?

[2019-09-27 18:47] lukehoban commented on #3275
Looks like the user running this may not have some required permission to cleanly shutdown?

[2019-09-27 20:08] hausdorff opened #3277 "`pulumi.secret` seems to cause exception in `resource.ts`"
I have this code:

[code]

Running `pulumi up` results in the following:

[code]

This code does not seem obviously wrong to me, so I'm guessing this is an issue? I'm not an expert on Pulumi's secrets model.

[2019-09-27 23:32] hausdorff commented on #3277
This is happening in `registerResourceOutputs`:

[code]

I don't know how this code works, but I can look into it if we need to.

[2019-09-28 00:38] lukehoban commented on #3277
I cannot repro this.

Are you using recent versions of everything involved?

[2019-09-28 01:22] mikemonaco opened #3279 "FATAL ERROR: JavaScript heap out of memory"
_@lukehoban (from slack)_

We are running into a strange issue when using pulumi.StackReference. We are using two stacks, one for infrastructure and one for services as recommended by the docs. The infrastructure stack deploys without any issues. In the services stack, we are creating a StackReference and calling getOutput to get/use variables that were exported from the infrastructure stack.

**i

[2019-09-28 01:33] lukehoban commented on #3279
It is vaguely possible this is related to https://github.com/pulumi/pulumi/pull/3071?

[2019-09-28 15:48] nesl247 commented on #2317
All that is missing now is update correct?

[2019-09-28 16:29] nesl247 commented on #3221
I think this can be closed as it is available now.

[2019-09-29 03:53] syl20bnr commented on #1539
Having Groovy support would be so powerful as it is very easy to create DSL using this language and it would fit nicely with Jenkins pipeline stack.

[2019-09-29 03:56] syl20bnr commented on #1539
Not sure how I did unassign @ellismg ...

[2019-09-29 08:41] adir-intsights opened #3280 "High CPU usage"
When executing `pulumi up` the process takes more than 100% CPU usage on my machine.

[2019-09-29 11:09] mikhailshilkov opened #3281 "Wrong outcome of resource group rename"
I got this with Azure resources, but my guess is that something is wrong with the engine, so I'm creating the issue here.

Steps to reproduce:

1. Create the following program and run `pulumi up`:

[code]

Note the explicit `name` of the resource group.

2. Rename the resource group resource but not the `name`:

[code]

3. Run `pulumi up`. The preview wants to delete the old RG, create a new RG, r

[2019-09-29 14:43] lukehoban commented on #3280
Do you have any details on a repro for this?  What OS?  What program are you running?  Did it just start, or do you see it consistently?  Does the deployment complete, or does it hang indefinitely?

[2019-09-29 17:12] lukehoban opened #3282 "Dependencies not tracked correctly with nested `apply`s"
We appear to lose correct tracking of dependencies when an `Output` is returned from inside an `apply`.

[code]

Deployed as above, the state file includes information about a dependency of bucket2 on bucket1.

[code]

However, deployed as below, it does not include this dependency information in the state file.  The dependency is in practice observed during deployment, but this could lead to dele

[2019-09-29 17:39] lukehoban opened #3283 "Add transformations to Python"
A new `transformations` resource option was added to JavaScript in https://github.com/pulumi/pulumi/pull/3174.  We will add the same to Python as well.

[2019-09-29 18:27] #2068 closed

[2019-09-29 18:50] CyrusNajmabadi commented on #3282
This is documented explicitly in our API:

[code]

The primary reason this doesn't work is that 'dependent resources' are eagerly provided at Output construction time.   We could consider trying to make these asynchronously computed as well.  In that case, it might be possible to support this (though terrifying) :)

[2019-09-29 19:02] lukehoban commented on #3282
Got it. I assumed as much. But I do think this can lead to a really subtle hole in our dependency tracking. And I hit a real world use case where this was unavoidable in the transformations PR tests.

It also seems we should be able to be correct here - we don’t actually use the dependency information until the output is fully resolved.

[2019-09-29 20:01] lemaral commented on #3221
Indeed it is thanks

[2019-09-29 20:01] #3221 closed

[2019-09-30 07:58] mikhailshilkov commented on #3275
That's weird: if one starts a process, they get permission to kill it by default.

Also, why would an error in shutting down the language worker halt the parent process? The log shows that there are other activities for three seconds after that.

@mbergal-idx Do you see this behavior consistently? Have you tried with another user / admin account / another PC? I'd love to be able to repro this...

[2019-09-30 15:41] lukehoban opened #3285 "Frequent failures in templates tests"
The last 9 days of nightly `cron` builds have failed with:

[code]

[2019-09-30 16:00] mikemonaco commented on #3279
we are not using secrets, so it seems unlikely.

[2019-09-30 17:00] justinvp commented on #2306
PR is almost ready to be sent out, but not blocking this milestone.

[2019-09-30 18:03] #3190 closed

[2019-09-30 19:24] lukehoban commented on #2643
We added targetted update/refresh/delete in M27.   This ability to force replacement is the other key tool to allow for CLI driven workflows that work at the level of individual resource (in cases where the program itself cannot be cleanly deployed, or to limit blast radius).

[2019-09-30 19:26] lukehoban commented on #2643
Note that in the meantime - making a change to the program that triggers the replacement is a workaround here - and is almost always possible in some way that doesn't otherwise seriously impact the resource.  Changing the logical name is another similar option.

[2019-09-30 22:50] CyrusNajmabadi commented on #3282
Well, i just hit this myself.  Which makes me 10x more amenable to wanting to fix this as well :D

It's definitely a subtle hole.  @pgavlin indicates he may already have a PR here.  Both he and I agree that this likely isn't too hard to actually fixup at the pulumi/pulumi levle.  One niggle is that we believe we may have downstream internal consumers (i.e. pulumi/eks) that might be poking into the

[2019-09-30 22:57] pgavlin commented on #3282
https://github.com/pulumi/pulumi/pull/2288 was intended to solve this.

[2019-10-01 06:43] CyrusNajmabadi commented on #2317
Hi all, this has been done.  In the next version of Pulumi, you will be able to use the `-target` option with `pulumi update/refresh/destroy`.  For more details see:

Refresh: https://github.com/pulumi/pulumi/pull/3225
Destroy: https://github.com/pulumi/pulumi/pull/3244
Update: https://github.com/pulumi/pulumi/pull/3251

Thanks!

[2019-10-01 06:43] #2317 closed

[2019-10-01 11:01] pasmon commented on #3274
I guess so, since I have HTTP_PROXY, HTTPS_PROXY, FTP_PROXY and NO_PROXY (and their lowercase variants) set and unsetting the http* ones got Pulumi connection working.

[2019-10-01 16:10] pgavlin commented on #3274
What do your `NO_PROXY` envvars look like? We've seen issues with the gRPC library failing to parse `NO_PROXY` if it contains whitespace: https://github.com/pulumi/pulumi/issues/2651

[2019-10-01 18:37] lukehoban commented on #533
Given where we are today - it's not clear this proposal still makes sense in the form it's phrased - I'll close this out for now.

[2019-10-01 18:37] #533 closed

[2019-10-01 20:34] #3230 closed

[2019-10-01 21:33] CyrusNajmabadi commented on #3263
Closing out as by-design for now.

[2019-10-01 21:33] #3263 closed

[2019-10-02 13:51] adir-intsights commented on #3280
Arch Linux x64.

Pulumi v1.2.0 (Python).

Consistently.

Complete.

The `__main__.py` file contains basic kubernetes objects, nothing special.

[2019-10-02 15:54] gorilych commented on #2814
same thing with gcs backend. It makes sense to use project in paths in s3/gcs buckets and this will allow use project name in a reference.

[2019-10-02 19:49] justinvp opened #3293 "Provide nicer errors when tools expected to be on path (e.g npm) are not found"
For example, right now, if npm isn't on path:

[code]

This could be as simple as `exec.LookPath` and providing a better error message (including installation instructions, etc.).

[2019-10-02 20:50] ekrengel commented on #2872
Not sure if we need a new issue for this, but I noticed that when a mandatory Policy fails we do not print the console URL to the update/preview.

[2019-10-03 12:31] nesl247 commented on #2966
@lukehoban See https://pulumi-community.slack.com/archives/C84L4E3N1/p1570105675260600 for an issue with the automatic fetching of plugins.

[2019-10-03 13:09] boillodmanuel commented on #2966
Controlling where `.pulumi` folder lives is usefull also for using CI/CD caching (which often forbid to cache ~/.pulumi but allow current directory)

[2019-10-03 16:53] mikhailshilkov commented on #3285
Regarding the duration:
- #3288 added `-v` option to avoid timeouts
- #3296 makes all tests run in parallel, a test run took 9m 20sec
- tests with `pulumi new` without `pulumi up` take just a few seconds for Go/Python
- tests with `pulumi new` without `pulumi up` take ~30-80 seconds for node (I guess package restore?)
- tests with `pulumi up-destroy` take 130-300 seconds, Azure being the slowest

[2019-10-03 21:11] pbn4 commented on #3130
Did you figure it out?

[2019-10-03 21:15] fernandocarletti opened #3297 "Make providers more "contribution friendly" adding a central hub"
Hello!

I've been wondering how the contribution for providers could be more friendly. Today the option for non-official providers get a bit shady, where you should point to a custom place (#2789), which is not very practical, since it does not work the same way as the official plugins, being downloaded automatically when installing the dependencies.

A good solution for this could be a central hu

[2019-10-03 22:40] chrsmith opened #3298 "Optimize SnapshotManager by eliding unnecessary writes or just persisting diffs"
We talked about this a while back, but I don't believe I actually opened a bug to track the specific improvements. Since perf is coming up a lot these days, wanted to brain dump some of the ideas we explored a while ago but decided not to pursue at that time. Perhaps we might want to revisit some of these eventually?

---

Today we spent a lot of time in `backend.SnapshotManager` as that's the thi

[2019-10-03 22:59] CyrusNajmabadi opened #3299 "Minimize usages of deasync library in pulumi."
We're seeing a lot of crashes with Mac customers with the following assert: https://github.com/pulumi/pulumi/issues/3260

This is due to https://github.com/abbr/deasync/issues/55, a scary issue which seems very unlikely to be resolved in any sort of reasonable timeframe.

Because of this, and because we do not want to break people who have code sitting on top of our synchronous libs, we need a way

[2019-10-03 23:12] CyrusNajmabadi commented on #3299
Tagging @lukehoban @pgavlin .  The above is non-insignificant amount of work (esp. around testing).  Conceptually I think it is sensible.  But I wanted to get everyone on board on this approach before starting anything.

Note: my total preference would be:

1. We do things consistently across all platforms.  So this means getting a file-IO based RPC mechanism working for windows/linux/osx.  I woul

[2019-10-04 10:06] gorilych commented on #2306
W/A with implementing `getDict`

Allows to translate keys like `authorizedIPs.andrey: 1.2.3.4`, `authorizedIPs.slava: 5.6.7.8`, ... into dictionary `authorizedIPs: { andrey: '1.2.3.4', slava: '5.6.7.8', ...}`.

[code]

[2019-10-04 18:00] lukehoban commented on #3257
We got another trace that showed an even more extreme version of this.  It had 106 resources (almost all Kubernetes?).  The traces shows serially calling `Diff` and then `Check` on each of these resources.  Each call takes 2-5s (significantly worse than expected).  There are no actual updates being done at all here.  Just the work to check and diff is taking up ~10m of wall clock time.

[2019-10-04 18:37] mbergal-idx commented on #3275
Thanks! Will check my AV settings.

[2019-10-04 19:57] kdreibel opened #3301 "pulumi preview shows differences when nothing has changed"
I was doing some refactoring in our `infrastructure` stack, and was using `pulumi preview` to ensure that the changes I make wouldn't change anything (yet).  However, I was getting a lot of changes showing up.  Eventually, I went back to `master` to make sure I had backed everything out, but `pulumi preview` was still showing that things would change.  This goes against my understanding of how `pu

[2019-10-04 21:36] lukehoban opened #3302 "Allow `Diff` and `Check` work to be done in parallel"
Today, calls to `Diff` and `Check` are done serially across all registered resources.  These two calls frequently involve both gRPC I/O to a provider as well as potentially network I/O to the cloud provider.
This puts a hard O(n)-with-a-non-trivial-constant lower bound on the amount of work we have to do as part of an update even if no actual changes need to be made.  We have seen cases where this

[2019-10-04 21:37] lukehoban commented on #3257
Opened https://github.com/pulumi/pulumi/issues/3302 to track this specifically.

[2019-10-04 22:44] chrsmith commented on #3182
Closing this out for the time being.

There isn't actually a panic in the CLI, we just return an error when at the tail end of an update the API request to "complete" the update fails. This will happen, for example, if the machine is under heavy load and the current update's lease token has expired.

PR #3265 included some notes on what we could do to mitigate the likelihood of a lease token expir

[2019-10-07 18:24] lukehoban opened #3304 "Allow a destroy to proceed even if there are failures"
There are many cases where a user wants to do as much cleanup as possible, even if some resources can't succesfully be deleted.  We should offer a `--force` or similar flag on `pulumi destroy` to proceed with destroy operations even in the face of errors.  This may not be able to destroy dependent resources, but could destroy all unrelated resources.  It's possible this should even try to delete r

[2019-10-07 20:39] lukehoban commented on #3257
https://github.com/pulumi/pulumi-kubernetes/issues/827 is tracking this one.

[2019-10-07 21:51] mikemonaco commented on #3279
@lukehoban could this be related to #3257?

[2019-10-08 09:54] mikhailshilkov commented on #3285
The original issue has been mitigated, so the templates tests look stable now. In addition, they complete under 500 s, so I'm going to close this issue.

[2019-10-08 09:54] #3285 closed

[2019-10-08 20:10] pgavlin commented on #3298
I think I'd phrase this as "ensure that all mutations to resources are captured by the `SnapshotManager` interface". We can still share pointers and update the state they refer to; we just need to make sure that those mutations are captured by whatever delta-based encoder we use.

[2019-10-08 20:47] pgavlin commented on #3299
Is there some way to determine whether or not a promise is resolved in JS? Seems like that's all we'd need, right?

[2019-10-08 21:02] pgavlin commented on #3299
What worries me about this is that it feels relatively common to create k8s providers in Pulumi using the outputs of another resource as inputs. In practice this may not be much of an issue, as k8s providers aren't typically used with invokes (indeed, I think the provider only has one invoke, if any). I wonder if there's any way for us to get data on this.

[2019-10-08 21:04] pgavlin commented on #3299
I do think that this plan seems reasonable overall. From an SDK usability perspective, the thing that I find most worrisome is the difficulty of accommodating necessarily-async calls inside `ComponentResource` constructors--what approach would you take there?

[2019-10-08 21:39] chrsmith opened #3305 "Improve error message when PAC policy isn't available"
I presume I need to build the policy pack or something. But from the error message, there is no indication of that.

[code]

[2019-10-08 22:01] #2966 closed

[2019-10-08 22:06] chrsmith commented on #2968
This bit me again, a second time 😬 . Probably worth improving the error diagnostic for this.

The specific way to fix this is to update the Pulumi SDK referenced **in the stack's `package.json`**.

[2019-10-08 22:28] CyrusNajmabadi commented on #3299
There is not :(

[2019-10-08 22:30] CyrusNajmabadi commented on #3299
Right.  So as a *mitigation* strategy, I have more confidence about what is outlined here.  For the common case of an *async* Provider (i.e. k8s) there is less chance of running into an issue since invokes will not be involved.  For cases where we have invokes, we likely have synchronous Providers.

So, overall, the likelihood that we hit `deasync` is greatly diminished.

[2019-10-08 22:52] CyrusNajmabadi commented on #3299
In the short term, the approach we're taking here greatly mitigates this issue.  Components can still just call the synchronous invokes and callers will either:

1. not being using providers. in which case things will work since we will just use the new sRPC invoke.
2. be using synchronously registered providers.  in which case, things will work since we can use the new sRPC invoke.
3. be using as

[2019-10-08 23:19] pgavlin commented on #3301
@kdreibel are you using `yarn` or `npm` to install packages?

[2019-10-08 23:31] clstokes opened #3309 "Data sources hang with Node >=12.11.0"
After upgrading to macOS Catalina my Pulumi applications that use data sources (e.g. `aws.getAmi()`) hang on these data sources call and never complete.

Downgrading to Node 10 (LTS) resolves this.

#### Output
[code]

#### Repro code
[code]

[2019-10-09 00:08] CyrusNajmabadi opened #3310 "Closure serialization cannot capture references to `sequelize.UUID`."
Reported by customer.  They have a function they are serializing where they want to use `sequelize.UUID`.  This ends up failing closure serialization with the message: `"the function form was not understood."`

Unfortunately, `sequelize` ends up doing two things in their library that I believe makes it so that we can *never* support this scenario.  Specifically:

1. `sequelize` returns classes tha

[2019-10-09 02:03] zanhsieh opened #3311 "[Python] How to get ec2 instance public_ip / private_ip for string format use?"
Hello guys, what is the proper way to retrieve the public / private IP address after an EC2 instance created?

I have following code:

[code]

Whereas sshLogin in the end of code always render as
**ssh -i ~/.ssh/id_rsa centos@<pulumi.output.Output object at 0x10a8ed450>**
Same as the master **private IP** address in minion_user_data.

Please advice. Thank you guys.

[2019-10-09 02:25] lukehoban commented on #3311
You can use `Output.concat(...)` to concatenate Pulumi “Inputs” (str or Ouput[str]).

See https://www.pulumi.com/docs/intro/concepts/programming-model/#outputs-and-strings.

If that does not work, let us know!

[2019-10-09 02:25] #3311 closed

[2019-10-09 16:03] boillodmanuel commented on #2966
Hello,
It's awesome to have tackle this so quickly! 👍

But I don't see any documentation update. Do not forget to maintain documentation up-to-date 💪

[2019-10-09 16:07] boillodmanuel commented on #2317
Hello,

I saw this feature in changelog 1.2.0 (2019-09-26)

But I can't find it in documentation : https://www.pulumi.com/docs/reference/cli/pulumi_refresh/

Please do not forget to maintain documentation up-to-date, this is so important ;)

[2019-10-09 16:07] pgavlin commented on #2966
Opened https://github.com/pulumi/docs/issues/1838 to track updating the docs.

[2019-10-09 16:13] pgavlin commented on #2317
That's surprising: I've verified that the flag exists in the CLI, so the automatic documentation regeneration we do as part of each release should have updated this. Thanks for the report!

[2019-10-09 16:16] pgavlin commented on #2317
It looks like the documentation for the CLI was unintentionally regenerated using the wrong version after it was updated for 1.2.0 in https://github.com/pulumi/docs/pull/1793.

[2019-10-09 16:17] boillodmanuel commented on #2317
Your welcome :)

By the way, I just used this feature, and it was not obvious how to get the urn.
I do a `pulumi stack export` to figure it out, but if we can use the name (as shown by `pulumi preview`) would be definitively easier.

[2019-10-09 16:52] boillodmanuel opened #3313 "Unexpected resource replacement (may be due to use of `output` value)"
Hi,

In the following example, the subnet is recreated when it shouldn't. I guess this is due to the use of the vnet output property `name` in the subnet resource, which seems correct for me (and the good way to declare dependency between resources).
So but I believe this is a bug.

# Context

I use pulumi 1.2.0

# Step to reproduce

1. Create a simple project on azure with following `index.ts` (I

[2019-10-09 17:01] lukehoban opened #3314 "Unknowns in stack outputs should be omitted from diffs"
If a stack output includes a `Resource`, we will as of a recent change always show the output diff, but this diff will potentially include unknowns, leading to spurious output like:

[code]

This is technically "harmless", but looks like there is a known diff which in fact there shouldn't be.  We should suppress these unknowns from output diffs.

[2019-10-09 17:15] pgavlin commented on #3313
This specific issue should be fixed as part of the next release due to https://github.com/pulumi/pulumi/pull/3245, which is the fix for https://github.com/pulumi/pulumi/issues/3190. In this case, if you run the update, the subnet should not be replaced, as the vnet name is not actually changing.

For what it's worth, the output of a `pulumi preview` will always be conservative out of necessity. Du

[2019-10-09 20:51] #2968 closed

[2019-10-09 21:15] CyrusNajmabadi commented on #3299
Talked to @lukehoban today and came up with an `option 3` in the main post.  @pgavlin the gist of this is that we will:

1. Have a global opt-out switch for synchronous invokes.  Users can set this and all invokes will be async.
2. We will update our components to always use async invokes.  In the one place we can't (a couple of VPC static factory methods), we will provide an async entrypoint as w

[2019-10-09 21:20] kdreibel commented on #3301
`npm`

[2019-10-09 21:36] lblackstone commented on #3301
The k8s provider will force a replacement of resources if certain fields in the kubeconfig change. In this case, it looks like the kubeconfig is a computed value (pulumi.Output), which means we can’t tell during preview what’s going to change in the kubeconfig.

We take the conservative choice to preview a replace of resources using that provider anytime the kubeconfig is a computed value since we

[2019-10-09 22:51] pgavlin commented on #3301
@lblackstone is correct w.r.t. the replacement behavior. It's surprising, though, that you're seeing any changes at all after attempting to roll back to the original Pulumi version. Can you share the contents of your package-lock.json?

[2019-10-09 23:14] kdreibel commented on #3301
Added a .txt extension so github would allow upload

[package-lock.json.txt](https://github.com/pulumi/pulumi/files/3709763/package-lock.json.txt)

[2019-10-09 23:39] CyrusNajmabadi opened #3318 "Minimize usages of deasync library in pulumi"
Followup to https://github.com/pulumi/pulumi/issues/3299 with the conclusions of our discussions:

Here are the steps we will take to mitigate/resolve the deasync issue people are hitting.  There are two critical issues, both affecting OSX users:

1. A crash that occurs intermittently on all versions of node and all versions of OSX: https://github.com/pulumi/pulumi/issues/3260
2. A hang that seems

[2019-10-09 23:41] CyrusNajmabadi commented on #3299
Now that we've made decisions, i'm closing this out so we can instead track things in: https://github.com/pulumi/pulumi/issues/3318

[2019-10-09 23:41] #3299 closed

[2019-10-10 03:21] CyrusNajmabadi commented on #3310
Note: one option here would be to use some sort of native code to get at the underlying Function, or somehow use the v8 inspector API.  Will investigate more.

[2019-10-10 03:43] CyrusNajmabadi commented on #3310
Ok, i think we can do this with the inspector API.  Basically, using the inspector, it does look like you can introspect a proxy.  Just from the console i can get to:

[code]

So we can probably make this work.

[2019-10-10 08:13] boillodmanuel commented on #3313
Indeed, `pulumi up` update only the vnet as it detect that vnet name is unchanged.
I look forward for the next release.

[2019-10-10 14:46] alantreadway-hfour opened #3322 "Unable to deploy `aws-ts-eks-hello-world` on OSX 10.14"
Not sure this is the right place to raise this, but I'm unable to successfully launch the example EKS stack. There seems to be some issue between AWS VPC and AWS EKS meaning that EKS cannot be passed the subnet ids of the VPC.

The error message displayed is:
[code]

Please let me know if I'm missing something obvious?

Steps to reproduce:
[code]

Installed NPM modules:
[code]

Expected behaviour:

[2019-10-10 16:43] pgavlin commented on #3322
@alantreadway-hfour which version of `@pulumi/pulumi` are you using? If you are on 1.3.0, we've recently discovered an issue that we're working on patching now that can cause behavior like this.

[2019-10-10 16:48] clstokes opened #3323 "Not detecting changes when previously-set argument is omitted"
If I run an `up` with a Pulumi application and then comment or remove a previously-set argument on one of the already deployed resources, the next `preview` will return that no changes are needed.

I've verified this with the `@pulumi/gcp` provider too.

### Steps to Reproduce
1. `up` the code below
1. Comment out the `subnet` argument on the `aws.ec2.Instance`
1. Run `preview` and see no changes

[2019-10-10 17:25] pgavlin commented on #3301
Are you referring to Pulumi CLI versions here, or `@pulumi/pulumi` versions? Your `package-lock.json` indicates that you're using v0.16.19 of `@pulumi/pulumi`. Is that expected?

[2019-10-10 18:34] CyrusNajmabadi commented on #3310
Note: tehre are two potential solutions here (if we attack this in the future):

1. just detect and unwrap proxied Functions.  This is very targetted and likely low risk.
2. detect and serialize all proxies as proxies.  i.e. if we encounter a proxy we serialize it such that it stays a proxy on the other side.  We would do this by serializing its `target` and `handler` objects normally, and then re

[2019-10-10 18:39] CyrusNajmabadi commented on #3310
Note: I did a little investigating of this (and an impl of '1') in the  serializeProxies branch.

[2019-10-10 19:00] nesl247 commented on #1986
Is there any plan for this? I see it was closed, but it's still linked to in the Dockerfile.

[2019-10-10 20:21] kdreibel commented on #3301
I'm just talking about the Pulumi CLI version

[2019-10-11 08:17] alantreadway-hfour commented on #3322
@pgavlin Apologies I should've included the output from `npm ls`, which I've added it to the description; the answer is yes I'm using `@pulumi/pulumi@1.3.0`

[2019-10-11 08:33] alantreadway-hfour commented on #3322
Just performed an `npm upgrade`, which bumped `@pulumi/pulumi` to `1.3.1`, and I can confirm this appears to have fixed the issue - closing this issue out, thanks!

[2019-10-11 08:33] #3322 closed

[2019-10-11 18:03] lukehoban commented on #3309
We’ve heard reports of this on CentOS as well - so this does not appear to be limited to Catalina.

[2019-10-11 20:19] lukehoban commented on #3309
I confirmed that for at least one test program, the hangs occur on `>=12.11.0`, but not on `12.10.0`.  So it appears there is some change specifically in Node `12.11.0` that triggered this.

[2019-10-11 20:22] lukehoban commented on #3309
Link to changelog for Node 12.11.0.  If we could build a repro outside of Pulumi - it's theoretically possible we could report and get this fixed in Node for a future patch release.

https://github.com/nodejs/node/blob/master/doc/changelogs/CHANGELOG_V12.md#2019-09-25-version-12110-current-bridgear

[2019-10-12 22:24] mleclercq opened #3333 "Kubernetes Secret 'metadata.name' output is a secret even though it is in clear in the console"
Given the following example:

[code]

Running `pulumi up` gives:

[code]

Note that the `secretName` output is marked as a secret, event though the `mySecret.metadata.name` should not be considered a secret and actually shows in plain text in the pulumi console.

Expected behavior:
The `secretName` output should not be a secret.

Side note: it is quite surprising that we have to add `{ additionalS

[2019-10-13 20:05] stack72 opened #3337 "Create pulumi chocolatey package"
We want to make sure that we support installing Pulumi from [Chocolatey](https://chocolatey.org/)

There is currently a non-official package, but the release of a chocolatey package should be part of our release cadence

[2019-10-14 10:56] spion opened #3338 "pulumi-typescript, issues with multiple versions installed"
I've spent the best part of Friday trying to debug why my deployment doesn't preview at all. I would get errors where an eks ServiceRole would be created but when wrapped `pulumi.output` it would become undefined, i.e.

`pulumi.output(role).apply(role => use role.arn here)`

results with a `TypeError: Cannot read property 'arn' of undefined`

The cause of this was that some of the pulumi submodule

[2019-10-14 11:00] spion commented on #3338
Seems like #1017 is a related issue

[2019-10-14 16:22] breathe opened #3339 "how to merge stacks? Better docs needed on how to create stacks with shared codebases"
I've read the docs on stacks many many times and I really don't understand sane organizing principals.  Seems like from a mechanism perspective -- stacks are things that are (1) independently deployed (2) can have 'different versions' deployed from same declaration code.

Its a little unclear how to create 'new stacks' in a clean way.  I want to be able to just create new .yaml files and re-use th

[2019-10-14 17:41] pgavlin commented on #3338
In general, `Output` is intended to be both forwards- and backwards-compatible. The behavior you were seeing might have been due to problems with `Output` that were introduced with `@pulumi/pulumi` v1.3.0 and [fixed with `@pulumi/pulumi` v1.3.1](https://github.com/pulumi/pulumi/pull/3324). These problems caused `apply` callbacks to be run on data that was only partially known.

I am going to close

[2019-10-14 17:41] #3338 closed

[2019-10-14 17:48] pgavlin commented on #3333
Thanks for the report. Aside from not being displayed on the terminal, are there other issues that are caused by `secretName` being marked secret?

We have a workitem tracking this: https://github.com/pulumi/pulumi-terraform-bridge/issues/10

The secretName output should not be a secret.

This is a side-effect of the way we handle the serialization of secret data between the Pulumi CLI and the k8s

[2019-10-15 00:35] #3283 closed

[2019-10-15 10:17] prabak opened #3341 "differentiae between actual resources being created with virtual ones on the console display"
When I run **pulumi up** command, the following is displayed:

[code]
[code]

It appears, only 3 resources are actually created on AWS. It would be nice to separate the output visually. I.e. 3 actual resources, 2 component resources, and 1 stack.

I just want to know quickly what resources are being created on AWS by just looking at the output. Right now, i need to scan through the list which can

[2019-10-15 10:24] pbn4 commented on #3279
I am hitting the similar problem on Node v10.16.3:

[code]

[2019-10-15 15:52] lukehoban commented on #3318
@CyrusNajmabadi I think this was closed via https://github.com/pulumi/pulumi/pull/3325?

[2019-10-15 16:48] spion commented on #3338
Correct the actual versions in question were 1.3.0 and 1.3.1.

Good to know that Output is meant to be compatible. Thanks!

[2019-10-15 18:15] #3318 closed

[2019-10-15 18:46] CyrusNajmabadi commented on #3309
Fixed with https://github.com/pulumi/pulumi/pull/3325

[2019-10-15 18:46] #3309 closed

[2019-10-15 18:47] CyrusNajmabadi commented on #3260
Fixed with https://github.com/pulumi/pulumi/pull/3325

[2019-10-15 18:47] #3260 closed

[2019-10-15 21:16] lukehoban opened #3345 "Hacktoberfest 2019 - Pulumi"
To celebrate [Hacktoberfest](https://hacktoberfest.digitalocean.com/), we want to encourage anyone interested in contributing to the Pulumi open source projects to jump in and submit a PR, review a PR or add repros and/or additional insights to existing open issues.

Any and all contributions are warmly welcomed! :tada:

If you are looking for suggestions for first issues to contribute on - the li

[2019-10-15 22:00] nguyenxndaidev opened #3347 "lifecycle block does not exist in aws.ec2.LaunchConfigurationArgs"
I could not specify lifecycle for aws.ec2.LaunchConfiguration.

In the [documentation](https://www.pulumi.com/docs/reference/pkg/nodejs/pulumi/aws/ec2/#using-with-autoscaling-groups):

But does it exist?

Terraform supports it: https://www.terraform.io/docs/providers/aws/r/launch_configuration.html

I am using @pulumi/aws 1.6.0

[2019-10-15 22:06] stack72 commented on #3347
Hi @nguyenxndaidev

Luckily, due to the way that Pulumi's naming convention works, we actually do this by default. This specific documentation addition is from the generated docs.

So, this:

[code]

If you change the LaunchConfiguration, then Pulumi will create the new one before it destroys the old one

Please let me know if this is *not* the case for you

Paul

[2019-10-15 22:50] CyrusNajmabadi commented on #3341
We could consider a show-components flag for pulumi.  Not certain if components are something we know about in any way from the display perspective.

[2019-10-16 12:01] davidobrien1985 opened #3349 "pulumi login to az backend asks for token"
[code]
OS: Ubuntu 19.10

[code]

This should not happen, right?
I'd expect this to just use my environment's azure variables to go to Azure storage.

[2019-10-16 14:19] oliverholliday commented on #3301
I had a similar thing today.

The rather worrying preview included deleting a ton of important resources:
[code]

I didn't have any need for this stack anymore so I proceeded anyway resulting in this:

[code]

Package version changes were:
[code]

Full output attached as a text file (I've redacted some keys and UUIDs).

[bug.txt](https://github.com/pulumi/pulumi/files/3734781/bug.txt)

[2019-10-16 16:09] mikhailshilkov commented on #3153
@pgavlin @lukehoban  I'm trying to figure out which side(s) needs to change here.

For the case described above, the k8s provider would return these diff details:
[code]

the `bar` value is then masked to the string `[secret]` by the engine before it gets to `display`, so that package doesn't find the `bar` property and prints `null` as the value:

[code]

Two questions:

1. Is the behavior of k8s

[2019-10-16 16:13] lukehoban opened #3350 "`pulumi refresh` "details" does not show anything"
I expected details to show the details of the diff.  I'm fairly sure it did at some point and that this is a regression.  We should add test coverage.

[code]

[2019-10-16 16:35] pgavlin commented on #3350
@lukehoban IIRC we only show state/output diffs during refresh. It looks like all of those diffs are input diffs. Can you try reproducing this on resources with output changes?

[2019-10-16 16:39] lukehoban commented on #3350
How would I know whether these are input diffs or output diffs?  Why do we only show output diffs?  In this case, there definitely should have been an output diff related to `acl` which had changed - though I recall that `acl` has had other weirdness.

This doesn't feel "right" overall though.  If we show that there are diffs, it's very strange that details doesn't show details of those diffs.

[2019-10-16 17:36] pgavlin commented on #3350
I agree. The original display code was written before `refresh` understood how to display inputs.

This is only to clarify that I don't know that we've regressed here. I think we're still showing what we've always shown in the details view, but we've made things more confusing by showing inconsistent diffs between the summary and the details.

[2019-10-16 18:56] CyrusNajmabadi opened #3355 "Breakdown of perf cost in building/testing this repo."
WIP.  still collecting this info

Insignificant times dropped.

1. Travis install step (2.5 minutes). https://github.com/pulumi/pulumi/blob/d72872c49a5310160444833fff62895366f78b7e/.travis.yml#L24-L25

3. Installing go deps: 141s

3. Travis make step (25m total)
    1. Nodejs sdk
        1. ensure: 50s
        2. ts build: 20s
        3. go build: 60s
        4. go lint: 21s
        4. test: 72s

[2019-10-16 18:56] clstokes opened #3356 "Permalinks not shown for self-hosted Pulumi Console"
I don't get any permalinks from the CLI when I'm pointed to a self-hosted install. None from `up`, `stack`, `login`, etc. It's possible I misconfigured something in the self-hosted install, but if so it's not obvious to me.

In these two outputs, the first command is when logged in to my self-hosted install and second command is after logging into api,pulumi.com:
[code]
[code]

[2019-10-16 20:25] mikhailshilkov commented on #3349
@davidobrien1985 I believe the correct command is `pulumi login azblob://my-pulumi-state-bucket `

[2019-10-16 20:26] lukehoban opened #3358 "`unkown provider` errors with `@pulumi/pulumi@1.3.2`"
We have seen a few occurrences of the following error when `@pulumi/pulumi@1.3.2` is adopted.  They appear to be related to places where a first class provider is created that is not fully known during preview (such as a Kubernetes provider based on AWS infrastructure which is not yet created for the initial preview).

[code]

[2019-10-16 20:32] davidobrien1985 commented on #3349
Not according to the documentation. Plus, that also ends up with the same message.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Mikhail Shilkov <notifications@github.com>
Sent: Thursday, October 17, 2019 7:25:25 AM
To: pulumi/pulumi <pulumi@noreply.github.com>
Cc: David O'Brien <me@david-obrien.net>; Mention <mention@noreply.github.com>
Subject: Re: [pulumi/pu

[2019-10-16 20:45] mikhailshilkov commented on #3349
Okay, the docs are wrong then. Try this:

[code]

[2019-10-16 21:08] davidobrien1985 commented on #3349
Yeah, it's correct here:
https://www.pulumi.com/docs/reference/cli/pulumi_login/

Wrong here: https://www.pulumi.com/docs/intro/concepts/state/#azure-blob-storage

Thanks @mikhailshilkov

[2019-10-16 21:08] #3349 closed

[2019-10-16 21:21] justinvp commented on #3349
PR to fix the docs: https://github.com/pulumi/docs/pull/1854

[2019-10-16 21:22] davidobrien1985 commented on #3349
@justinvp :D thanks, I was already working on that and would've pushed after getting my tea.

[2019-10-16 21:24] justinvp commented on #3349
@davidobrien1985, ah, sorry! Thanks for letting us know about the issue!

[2019-10-16 21:58] mleclercq commented on #3333
The issue is that the "secretness" of `mySecret.metadata.name` is propagated where it is used. For instance I have a deployment that references in an `env` and as a result the whole container spec shows as a secret which reduce the ability to see change details before applying them.

I can try to provide a minimal example if that helps.

[2019-10-16 22:19] #3358 closed

[2019-10-16 23:20] devblackops opened #3359 ""Algorithm is required" when initializing stack with Azure Key Vault encryption provider"
Initializing a new stack using Azure Key Vault as the encryption provider results in an error:
[code]

The [docs](https://www.pulumi.com/docs/intro/concepts/config/#azure-key-vault) make no mention of how to provide the algorithm.

[2019-10-16 23:57] campbellr commented on #2896
@ellismg any issue with me picking this up?

[2019-10-17 00:02] lukehoban commented on #2896
@campbellr Absolutely!

In case you hadn't already found it - the relevant source code is at https://github.com/pulumi/pulumi/blob/31cb92d7b80a08a1527760cbbe2c3c6c1fa57900/sdk/python/lib/pulumi/asset.py#L35-L43

And there are some tests at https://github.com/pulumi/pulumi/blob/31cb92d7b80a08a1527760cbbe2c3c6c1fa57900/sdk/python/lib/test/langhost/asset/__main__.py#L25-L27

[2019-10-17 01:45] davidobrien1985 commented on #3359
@devblackops I think the documentation is wrong here.
`pulumi new --secrets-provider="azurekeyvault://<vault>.vault.azure.net/keys/<key>?algorithm=RSA-OAEP-4096"`
if algorithm RSA4096 was used.

This worked for me.

[2019-10-17 01:56] davidobrien1985 commented on #3359
Actually, it also failed, but with a different error:

[code]

and yes, I ran `az login` before this.

[2019-10-17 02:30] elucidsoft opened #3361 "Expose Stack Version in API"
As discussed here: https://pulumi-community.slack.com/archives/C84L4E3N1/p1571269842243900?thread_ts=1570895636.115500&cid=C84L4E3N1

It would be nice to have access to the anatomical version of the stack that the backend is keeping track of that way you can use potentially use this version in your deployments to aid in troubleshooting issues, among other various scenarios where this info could be

[2019-10-17 03:20] devblackops commented on #3359
Yep. I see the same error. `169.254.169.254` is the Azure Instance Metadata service which is would be used to acquire a token for a managed identity.

https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/how-to-use-vm-token

That API endpoint is only valid from within an Azure VM / container. That obviously won't work when when running pulumi locally or if alr

[2019-10-17 03:21] davidobrien1985 commented on #3359
Yep, I assume there's some spaghetti in the code. I'll take a look later on.

[2019-10-17 03:56] devblackops commented on #3359
The docs state that the URL should be something like `azurekeyvault://acmecorpvault.vault.azure.net/keys/payroll` but the code is adding  `vault.azure.net` and `keys` by itself.

It ends up trying to hit `https://acmecorpvault.vault.azure.net.vault.azure.net/keys/keys/payroll/encrypt?api-version=7.0`

I guess what it expects it to be is `azurekeyvault://acmecorpvault/payroll`.

To get around `169.

[2019-10-17 06:32] mikhailshilkov commented on #3359
@devblackops Try setting the `AZURE_AD_RESOURCE` env variable to `https://vault.azure.net`.

The CLI authentication, URL schema, and the default audience were all fixed in a newer version of the `go-cloud` library. I'll open a PR to update.

[2019-10-17 14:18] abdsahin opened #3363 "Pulumi is stuck in "running mode" with aws.<<Method Here>>"
Hi Everyone,

I use Terraform a lot but wanted to try out Pulumi. I have a problem with getting the default region value. According to the document, I do the following

[code]

When I run `pulumi up`, the screen stays like that
[code]

It stays like that for hours(if I let probably). When I remove the line `aws.getRegion()`, then it works(of course I need to give the region to my resources in anot

[2019-10-17 14:24] lukehoban commented on #3363
This is due to https://github.com/pulumi/pulumi/issues/3309. If you move to Node <= 12.10.0 (or Node 10) things should work.

That issue was closed yesterday, and the fixes should be fully rolled out today.

[2019-10-17 14:24] #3363 closed

[2019-10-17 16:22] nesl247 commented on #3301
@oliverholliday I believe your issue is related to https://github.com/pulumi/pulumi/issues/3190.

[2019-10-17 17:57] clstokes opened #3364 "Allow applications to handle "not found" errors from `<resource>.get()`"
### Problem Scenario
It can be common to need to query for an existing resource and if it doesn't exist then take some other action. Currently Pulumi's `<resource>.get()` methods halt Pulumi execution without throwing an error that the user/application can catch and react to.

### Suggestion
The results or error from `<resource>.get()` calls and data sources should be catchable so that users can t

[2019-10-17 19:12] clstokes opened #3365 "Panic when using `up --target` for non-existent resource"
If I specify a URN of a resource that does not exist in my stack, pulumi panics.

Pulumi version `v1.3.2`

[code]

#### Code to reproduce
[code]

#### `npm ls`

<details><summary>Expand</summary>
<p>

[code]
</p>
</details>

[2019-10-17 19:45] clstokes opened #3374 "Duplicate output with pulumi v1.3.2"
Pulumi v1.3.2 causes duplicate output in `preview` and `up` when a policy pack is applied via the Pulumi Console. See below for multiple rows of `Type                 Name ...` and resource diff data.

This does not occur with `v1.3.1`. See below for output from both versions.

#### 1.3.2
[code]

#### 1.3.1
[code]

[2019-10-18 04:40] clstokes opened #3369 "`up --target` warns about other resources during preview but `up` fails"
When using `up --target ...` to target a resource that has dependencies, the `preview` output warns about other resources being created, but then when the `up` executes Pulumi exits with an error about the dependencies and won't continue.

`destroy --target ...` works as expected.

Pulumi `v1.3.1`

#### Steps to Reproduce `up` behavior

Note: this targets the Subnet, to see the VPC created as well

[2019-10-18 04:45] clstokes commented on #3369
Additionally, the output is inconsistent from `up -t ...` and `destroy -t ...`.

As shown in the output above `up -t ...` prints a warning for each resource that will also be updated and `destroy -t ...` does not. The warning messages should be omitted from `up -t ...` IMO.

[2019-10-18 04:51] clstokes opened #3370 "Add `-t` target flag to `preview`"
With the addition of `-t` for targeting resources, this can only be previewed when running interactively via `up -t ...`, `refresh -t ...`, or `destroy -t ...` and then canceled.

`preview` should support `-t` as well.

[2019-10-18 07:38] boillodmanuel opened #3371 "During `pulumi up` the stack file is read again after preview which can take in account new modifications"
When using pulumi, I often do `pulumi up`, then waiting for preview to be finished, I continue to update the script. When preview is finished, I confirm `update` and pulumi take in account my last modifications (which I don't want).

I agree that is not the standard flow, but during testing, it can be surprising.

Feel free to close this issue if it's too minor for you.

[2019-10-18 08:21] boillodmanuel opened #3372 "Creating a resource with different pulumi name but same cloud name could lead to unexpected behab"
During a stack update I created a second azure resource group with the same name. I did a `pulumi update` and after having seen this, I wanted to revert it by removing the second azure resource group. This caused the deletion of the main azure resource group which ends up by a panic.... I finally destroy the whole stack... which seems the only way to recover.

# Steps to reproduce

Here is simple

[2019-10-18 12:19] nguyenxndaidev opened #3373 "Cannot pass value for a config key from commands"
Terraform support input variables with interactive [ui input](https://learn.hashicorp.com/terraform/getting-started/variables.html#ui-input) when the variable has no value.

I know that Pulumi support [config](https://www.pulumi.com/docs/intro/concepts/config/). But there are 2 missing features when using pulumi config when compare to terraform input variables.
1. Cannot pass a value from commands

[2019-10-18 12:46] mikhailshilkov commented on #3373
You can pass config values with the `--config stringArray` parameter, see https://www.pulumi.com/docs/reference/cli/pulumi_up/#options

[2019-10-18 13:05] nguyenxndaidev commented on #3373
@mikhailshilkov the behavior of `--config stringArray` is to save value to `Pulumi.<stack>.yaml` file. That is not so useful in case you want ad hoc value.
The value in `Pulumi.<stack>.yaml` should be considered as default value. The value provided in command line should be used and shouldn't save to the yaml file.

[2019-10-18 13:17] justinvp commented on #3374
@pgavlin, moved to `pulumi/pulumi` repo and assigning to you as this appears to be a broader regression that doesn't just impact output when policy is applied (see Cameron's comments above).

[2019-10-18 16:04] mark-bixler opened #3375 "Run After Resource Complete"
I have code that uses the aws node sdk that I want to run following pulumi creating it's resources. I use the pulumi outputs for the work at the end. Would love if there was a flag or setting to run a certain block of code after pulumi completes.

I tried using a `depends on` statement, but did not get the behavior I wanted. The "Trust Directories" Section is node sdk. Everything in the loop is a

[2019-10-18 17:03] clstokes commented on #3371
@lukehoban do we want to close this in favor of https://github.com/pulumi/pulumi/issues/2318 or do we consider this different enough?

[2019-10-18 21:00] pgavlin commented on #3371
I think we can close this, yes.

[2019-10-18 21:00] #3371 closed

[2019-10-18 21:32] #2896 closed

[2019-10-19 03:17] markphillips100 opened #3378 "No colours showing on Windows 10"
Pulumi CLI is not showing colour highlighting, as shown in the screen shot.
![colour2](https://user-images.githubusercontent.com/6239029/67137043-83075480-f272-11e9-924d-60f5b4e88e66.png)

CLI version: 1.3.3
Shell: Windows CMD
OS: Windows 10

The colours were showing perfectly well using CLI version 1.3.1 as shown below.
![colour1](https://user-images.githubusercontent.com/6239029/67137058-b649e38

[2019-10-19 08:27] nguyenxndaidev commented on #950
My workaround is to change also the `.pulumi/stacks/<stack>.json` to match the new project name.

[2019-10-19 09:39] nguyenxndaidev commented on #2883
I think spliting to multiple projects is not so complicated.
The problem when split project with `nodejs` is that how to reuse `node_modules`, `package.json`, `tsconfig.json`.

I solve this problem by structuring my project like this:
![image](https://user-images.githubusercontent.com/24372782/67140961-79c0bc80-f25f-11e9-813e-dbd7abe94865.png)

The `node_modules` and package.json at the root proje

[2019-10-19 17:29] nguyenxndaidev commented on #2208
I am testing the official example [aws-ts-stackreference](https://github.com/pulumi/examples/tree/master/aws-ts-stackreference) add these lines to all `Pulumi.yalm`
[code]

So each project has its own `.pulumi` directory
![image](https://user-images.githubusercontent.com/24372782/67149007-64bb4c00-f2a6-11e9-8ecc-c1483513aff6.png)

@lukehoban How can I create `StackReference` in this case? What is

[2019-10-19 18:26] lukehoban commented on #2208
@nguyenxndaidev StackReference currently can only work across stacks all managed by the same backend.  It uses that backend to look up the stacks.  You would need to have all your stacks share a single  backend.  In fact, this is part of why I didn't love the change to support `backend:` in the `Pulumi.yaml` - it is not really aligned with the existing model where backends are more of a global sta

[2019-10-19 21:33] joeduffy commented on #3349
@justinvp Should we be issuing an error for any unrecognized protocols (like `az://`)?

[2019-10-20 09:53] nguyenxndaidev commented on #2208
@lukehoban Thanks for your reply!

My workaround for this issue is that having a single backend for all inter-dependencies projects. Then I add project name to the stack name to differentiate stacks, ex. `dev` becomes `vpc.dev` for `vpc` project.

[2019-10-20 16:08] nguyenxndaidev commented on #2309
We could provide all options:
* First, show information about the problems of dependencies.
* Second, suggest solution, that user can do it manually if he want.
* Third, ask user if he want Pulumi runs the automated update.

[2019-10-21 12:17] nguyenxndaidev commented on #2801
I have the same problem, but with local filesystem backend:
[code]

[2019-10-21 13:51] justinvp opened #3382 "Issue an error when logging in with unrecognized URL protocols (like `az://`)"
https://github.com/pulumi/pulumi/issues/3349#issuecomment-544199112

Worth mentioning `azblob://` when `az://` is used (or just allow `az://` as an alias for `azblob://`).

[2019-10-21 13:52] justinvp commented on #3349
Good idea. And in the case of `az://` it'd be worth mentioning `azblob://` (or just allowing `az://`).

Opened #3382

[2019-10-21 15:53] arthur-caillaud commented on #2661
Is there any support for `yarn workspaces` ? I think I am facing the same issue on a big monorepo managed using `yarn workspaces`. Some dependencies seem to not be found by `pulumi cli` but they are actually located in the `node_modules` found in the root directory.

[code]

All my packages are named `@outmind/xxx` and here the `@outmind/lambdas` package has not been found. Strangely, the lambda i

[2019-10-21 15:55] arthur-caillaud commented on #3013
I think this issue is a duplicate of #2661 as I have been facing the same problems.

[2019-10-21 17:06] Dominik-K commented on #2247
I strongly support running a refresh by default (and disabling it with a `--refresh=false` flag):

1. I think that's more intuitive & expected behavior. Newbies then automatically learn that there's a state which Pulumi uses as its source of truth.
2. It's trained behaviour for people coming from Terraform.
3. The Kubernetes provider already compares to the live config instead of the state. (At le

[2019-10-21 19:08] lukehoban opened #3383 "Provide opt-in setting to disable default providers"
Default providers (configured using pulumi config, and used whenever an explicit provider is not passed either directly or indirectly) are very useful for getting started, but for robust deployments, it is often desirable to ensure that providers must be passed and configured explicitly.

While it is possible to do so today, it is still very easy to accidentally allow a resource to pick up the amb

[2019-10-21 20:24] CyrusNajmabadi opened #3384 ".NET support - work items"
Here's a list of work items for us to complete both for the immediate present, and to get .net support up to production quality.  This is mostly copied from https://github.com/pulumi/pulumi/wiki/New-Language-Bringup.

Pri0:

- [x] Create a Pulumi SDK that is feature-parity with the @pulumi/pulumi SDK in https://github.com/pulumi/pulumi/tree/master/sdk.
    1. Assigned to @CyrusNajmabadi.
    2. De

[2019-10-21 20:33] CyrusNajmabadi commented on #3384
@lukehoban  for our meeting tomorrow.

[2019-10-21 22:08] pgavlin commented on #3257
We have done quite a bit of work on this in recent weeks:
- https://github.com/pulumi/pulumi/pull/3332
- https://github.com/pulumi/pulumi/pull/3340
- https://github.com/pulumi/pulumi/pull/3336
- https://github.com/pulumi/pulumi/pull/3331

A fix for https://github.com/pulumi/pulumi/issues/3302 is also in review.

[2019-10-21 23:01] CyrusNajmabadi commented on #1743
I don't know what's being asked of here.  AFAICT, the logic we have is the intended logic.  Effectively, depending-on a ComponentResource is the same as depending on all transitively reachable child custom-resources of it.

[2019-10-21 23:02] CyrusNajmabadi commented on #1743
I'm going to close this out.  @lukehoban  if you do think there's work here, please let me know.  specifically, can you clarify:

[2019-10-21 23:02] #1743 closed

[2019-10-21 23:05] #3378 closed

[2019-10-22 08:52] boillodmanuel commented on #1986
Hi,

I wrote my own Dockerfile to resolve the same issue and reduced the image size from 1,98Gb to 189Mb \o/:

[code]
Build with:
[code]

Here is image sizes:
[code]

[2019-10-22 10:22] arthur-caillaud commented on #2980
[code]

The `@outmind/*` packages are our company modules that are imported by the `pulumi up` script (`deploy.ts`) and that are managed through `yarn workspaces`. They are symlinks to the actual modules. I have been looking in other issues and I think this problem is linked with the issues #2661 and #3013.

A support with `yarn workspaces` is greatly welcomed for large projects and monorepos.

[2019-10-22 15:08] nesl247 commented on #3374
Getting this on 1.3.4:

![image](https://user-images.githubusercontent.com/1037526/67300611-3b740900-f4bc-11e9-8c68-286fa3640e33.png)

[2019-10-22 15:18] justinvp commented on #3374
Thanks @nesl247. This should be fixed in master (by #3385) so closing this issue. I believe we're planning a release soon that contains the fix. cc @pgavlin.

[2019-10-22 17:26] lukehoban opened #3388 "Support declaring that a resource should be created only if it does not already exist"
There are some cases where there are cloud resources that are scoped to an account - like `ServiceLinkedRoles` in AWS or Project Services in GCP.  Individual deployments will frequently want to ensure the resource exists - but do not want to manage it long term.  For example:
1. If it exists, read it in so it can be referenced
2. If it does not exist, create it
3. When the Pulumi resource is delet

[2019-10-22 18:24] ncsibra opened #3389 "Support moving resources between projects"
Sometimes would be useful to move some resource from one project stack to another project stack, without recreating the resource.
For example, split a monolithic stack to micro stacks.
Currently, the easiest way to move the code to the new stack and import it, then remove from the old stack manually with `pulumi state delete` or exporting the stack and removing the resource and every dependency.
T

[2019-10-22 19:33] pgavlin commented on #3389
Thanks for the suggestion!

One thing you could try today to make things easier is to import the resource into its new stack using the [`import` functionality in the SDK](https://www.pulumi.com/docs/intro/concepts/programming-model/#import). While this doesn't perform a bulk move, it may make the process of moving a single resource to a new stack less error-prone.

We'll have to do some thinking o

[2019-10-22 20:49] hausdorff opened #3390 "Implement `StreamInvoke`"
We will add `StreamInvoke` to the resource provider gRPC in order to facilitate `pulumi query` running queries on _streams of resource updates_.

For example, a user might write:

[code]

Here, `forEach` will execute on every update to any `Service` resource live in a given Kubernetes cluster.

The idea exists to the exclusion of having `Watch` RPC on the provider interface. It's more general, mor

[2019-10-23 01:59] markphillips100 opened #3393 "Pulumi preview incorrectly references uninstalled plugin"
## Describe the Bug
Running a ```pulumi preview``` errors saying the following:
[code]

## To reproduce
It's possible to reproduce with a small Pulumi project comprising the following steps.

### Environment
Windows 10
Typescript v3.6.3
NodeJS v10.15.3
Pulumi v1.3.4

### Steps
1. Create a new blank typescript project.
2. Set package.json to the following:
[code]
3. Replace index.ts contents with t

[2019-10-23 09:56] ilkka opened #3394 ""pulumi.exe failed to run" on fresh install"
I'm on Win10 and I just manually downloaded v1.3.4 and dropped it into `~\.pulumi`. Set up my path and the binary is being found:

[code]

Tried running from explorer first, just to get the Windows SmartScreen popup and tell it to bypass protections. That gives me this dialog, the error message has the same content as my CLI run below.

![image](https://user-images.githubusercontent.com/1549/67381

[2019-10-23 09:58] ilkka commented on #3394
Ah, okay, found the culprit, it was being flagged and blocked by F-Secure Computer Protection's DeepGuard feature. Whitelisted and now it seems to work.

[2019-10-23 09:58] #3394 closed

[2019-10-23 16:05] nesl247 commented on #1743
I'm not sure if this should have been closed or not. Maybe we need to open up a ticket specific for helm? Because you cannot currently depend upon a helm chart.

[2019-10-23 16:18] lukehoban commented on #1743
Interesting - yes - there could be a Helm-specific issue here. Could you open a new issue on that in the kubernetes repo?

[2019-10-23 16:37] nesl247 commented on #1743
I'm actually surprised this was closed given helm was specifically mentioned here: https://github.com/pulumi/pulumi/issues/1743#issuecomment-424606039

[2019-10-23 16:44] lukehoban commented on #1743
Yeah - I think there *was* originally a much more general issue here - and that was fixed - which addressed what the title and most of the commentary here were referencing.

The fact that there was a *separate* issue specific to Helm was not immediately clear - and I do think we should track that separately as it will require a specific fix in that library.

Thanks!

[2019-10-23 18:09] rawkode opened #3395 "StackReference doesn't support multiple backends"
Currently, I need to use a single `pulumi login gs://bucket/directory` to utilise `StackReference`

This means my stack names, for each project, can have no collisions; as the project name isn't part of the path used to store state.

**Example:**

[code]

If I used the same `pulumi login` for these projects, to adopt `StackReference`, I'd have a problem.

If I could specify the complete path in `S

[2019-10-23 18:12] lukehoban commented on #3395
Just to cross reference - several of the issues here are rooted in https://github.com/pulumi/pulumi/issues/2522.

[2019-10-23 21:37] hausdorff opened #3396 "Enable access to local backend stacks in `pulumi query`"
`pulumi query` is currently hard-wired to use the cloud backend. This prevents us from being able to do things like `getStack()` to run. Among other things, this makes it difficult to run tests.

[2019-10-24 17:33] kdreibel commented on #3301
@pgavlin @lblackstone wondering if there is any movement on this issue, or if we're to interpret the earlier comments to mean "working as expected"?  We're just looking for a path forward here.  Is there a different way we should be doing the `kubeconfig` in order to get a proper preview?  The consequences of a `pulumi up` blowing away the existing infra are too high for us to risk not doing a `pu

[2019-10-24 19:24] VikingExplorer opened #3398 "pulumi up using Python fails in Windows"
I'm going through the "getting started" guide. I selected AWS.  When I type "up", I get an error:

PS C:\Users\g> cd .\pulumi-qs\
PS C:\Users\g\pulumi-qs> pulumi up
Previewing update (dev):
     Type                 Name          Plan     Info                                                                       pulumi:pulumi:Stack  pfmProto-dev           1 error
on 3.6 or greater?
Diagnostics:

[2019-10-24 19:25] VikingExplorer commented on #3398
![Capture](https://user-images.githubusercontent.com/15109208/67518267-6bfda380-f672-11e9-85de-42b2dad20a19.PNG)

[2019-10-24 22:49] joeduffy opened #3400 "Outputs in diff view can be printed out of order"
I have a program whose outputs show up out of order in the "details" diff view:

[code]

Notice the `--outputs:--` section is intermixed amongst the other resource diffs. I'd have expected this to always come at the end?

For what it's worth, the program is:

[code]

where the lines with `/*+*/` are added compared to the prior update (and hence are in the diff).

[2019-10-24 23:14] lukehoban commented on #3398
I just tried this myself, and indeed when I installed Python3 on Windows, I did not get any `python3` binary installed by default.  So it does sounds like Pulumi needs to fall back to `python` binary if `python3` cannot be found.

You should be able to workaround this by copying `python.exe` to `python3.exe` in the `AppData\Local\Programs\Python\Python38` folder.

I am still a little confused abou

[2019-10-24 23:34] clstokes commented on #3365
I don't have the output unfortunately, but I observed this happening for another user for an actual resource too, not just a typo'd urn.

[2019-10-24 23:45] clstokes opened #3401 "Allow shorthand reference to resources for target"
Pulumi should support more user-friendly or shorthand references to resources instead of URNs when the end-user must specify them - e.g. for targeting of resources operations. URNs are complex, not user-friendly, and not easily guessable.

Instead of:
[code]

How about:
[code]

[2019-10-25 11:22] stack72 opened #3402 "Create GitHub Action for installing Pulumi CLI"
We should create a GitHub Action for installing Pulumi CLI. The GHA should support:

* Installing a specific version of Pulumi CLI
* Installing Pulumi CLI on Linux / Windows and MacOS

[2019-10-25 11:23] stack72 opened #3403 "Create GitHub Action to Install tf2pulumi"
We should create a GitHub Action for installing tf2pulumi. The GHA should support:

Installing a specific version of tf2pulumi
Installing tf2pulumi on Linux and MacOS

[2019-10-25 14:17] boillodmanuel opened #3404 "Configuring `azuread` with pulumi config is not documented"
Configuration of `azuread` provider with ENV VARIABLES works as expected/documented.
[code]

But configuration using pulumi configuration variables **does not work**.
[code]

After looking in source code, I found that **we should use `azuread:` prefix** as following
[code]

This is not documented

[2019-10-25 14:20] stack72 commented on #3404
Hi @boillodmanuel

My apologies for this oversight. I will get it rectified  shortly

Paul

[2019-10-25 14:31] VikingExplorer commented on #3398
Error:
PS C:\Users\gunna\pulumi-qs> pulumi up                                                                                 Previewing update (dev):
     Type                 Name          Plan     Info                                                                       pulumi:pulumi:Stack  pfmProto-dev           1 error; 6 messages
ode: 1txt from inside the virtualenv.ule>
Diagnostics:
  pulu

[2019-10-25 15:31] VikingExplorer commented on #3398
I'm going through it carefully. The instructions are vague on the platform. For example, Homebrew was previously mentioned w/o regard to other platforms.

@lukehoban what is the Windows PS equivalent to the instructions at https://www.pulumi.com/docs/get-started/aws/review-project/ ?

[2019-10-25 16:00] igorshapiro opened #3405 "failed to compute asset hash: asset path '...' is a directory; try using an archive"
Trying to create a lambda for handling S3 object creation:

[code]
and getting an error:

[code]

[2019-10-25 16:22] #3404 closed

[2019-10-25 17:36] CyrusNajmabadi opened #3406 "Future .NET sdk work"
Here are items pulled out of the original .NET pr (https://github.com/pulumi/pulumi/pull/3399) that would be good to look into later on:

P1:
- [x] Normalize namespace naming (`Appservice` -> `AppService`, `Cosmosdb` -> `CosmosDB`, `Azuread` -> `AzureAD`) @mikhailshilkov https://github.com/pulumi/pulumi-terraform/pull/510
- [x] .NET plugin not installed with 1.4.1 installer @pgavlin
- [x] Ship 1.5

[2019-10-25 18:21] CyrusNajmabadi commented on #3369
Note: this is expected, and is how we doc'ed the feature (albeit not necessarily super clearly)when we released it:

That said, I agree we should likely warn if it will end up deleting resources you didn't ask to delete.

[2019-10-25 18:27] CyrusNajmabadi commented on #3369
Note: the 'up' behavior is behaving as we originally designed it (though i think we could be better here).  Specifically, we wanted to not error immediately if we encounter a downstream update to a resource that was not specified.  That way you would hear about all of them and not have to keep rerunning to hear about a new unspecified resource each time.

--

That said, the inconsistency and lack

[2019-10-25 18:33] clstokes commented on #3369
@CyrusNajmabadi, I think the behavior users want is for Pulumi to report all the resources that would need to be updated/destroyed and then proceed (or allow the user to proceed), not fail.

A targeted operation is a "power user" type operation and I expect users generally know what they're doing when they need to use `-t`. Forcing the user to specify every dependent resource to use `-t` isn't a g

[2019-10-25 19:45] VikingExplorer commented on #3398
Here is what I've done so far: https://www.evernote.com/l/ACyp0cmXpSBLQb4zj9wnSg-YF0nXdbecaBc/

[2019-10-25 22:27] CyrusNajmabadi commented on #3369
I'm not sure i agree with this.  I think it's important for this sort of power case to have to be explicit about what you're doing.  similar to how some tools require you to confirm you're doing what you want by explicitly retyping the name of things.

I can completley imagine someone not certain waht they're doing going and using `--target` and having things get much worse because we extended the

[2019-10-25 22:38] clstokes commented on #3369
The `-f` flag seems like a great option to support both desires - the default safe behavior and the power user use case. :+1:

[2019-10-25 22:49] CyrusNajmabadi commented on #3405
@igorshapiro do you know what `@lemonade` is?

[2019-10-25 23:06] clstokes commented on #3374
This is still occurring in 1.4.0 (both cli and `@pulumi/pulumi`). It seems to be related to StackReference usage. I'm able to reproduce this with https://github.com/pulumi/examples/tree/master/aws-ts-stackreference/team.

[code]

[2019-10-26 02:18] prasannapad opened #5765 ""project is missing a 'name' attribute" error"
### Problem description

First time quickstart experience failed with --"name" attribute error -- though the instructions say "simply press ENTER to accept the (default)."

- I saw a product documentation issue on the following URL: https://www.pulumi.com/docs/get-started/azure/create-project/

Repro steps:
c:\repos\pulumi\quickstart>pulumi new azure-typescript
This command will walk you through c

[2019-10-27 10:16] stack72 commented on #3406
@CyrusNajmabadi we also need to add the work for TerraformRemoteState in pulumi-terraform

[2019-10-27 14:10] elucidsoft commented on #2852
Adding an attribute to those exports seems like a pretty elegant way of doing this? Assuming all the languages supported have attributes or decorators of some sort?

[2019-10-27 17:02] jonashackt commented on #2097
I had the same problem/error message, while using TravisCI with Pulumi to have real CI/CD in place ([see build log](https://travis-ci.org/jonashackt/pulumi-python-aws-ansible/builds/603558895?utm_medium=notification&utm_source=github_status)).

I found a solution for this. The problem is, that Pulumi needs it's Plugin resource `aws` configured. As I use [pipenv](https://github.com/pypa/pipenv) ins

[2019-10-27 20:33] CyrusNajmabadi commented on #3406
@stack72 Indeed.  Added.  Thanks! :)

[2019-10-28 12:29] pbn4 commented on #3323
Up. I experience the same thing with `lambda.Function`, changes to keys in environment.variables are not detected.

Pulumi 1.3.4.

[2019-10-28 12:29] pbn4 commented on #3323
Is there any on-going pull request with a fix?

[2019-10-28 16:17] lukehoban commented on #1526
https://github.com/pulumi/pulumi/pull/3399 was merged into `master` last week, which adds core support for .NET via a language provider and core SDK.  :tada:

Several more steps to enable the end-to-end experience are being tracked now in https://github.com/pulumi/pulumi/issues/3384 and https://github.com/pulumi/pulumi/issues/3406.

[2019-10-28 16:17] #1526 closed

[2019-10-28 18:41] #3365 closed

[2019-10-28 19:30] lukehoban commented on #3302
Given the many other related performance improvements, we can hold off on this larger refactoring.  In practice, these steps should be quick enough for most "normal" deployments that this is not the major contributor to slow performance.  However, very large deployments will see this as a meaningful impact, and we will want to make further improvements here.

[2019-10-28 20:32] lblackstone opened #3412 "Allow `transform` to omit resources"
Related: #2068, https://github.com/pulumi/pulumi-kubernetes/pull/666

The k8s provider has an open PR relying on this feature, but we should investigate if this API can be unified before making the change there.

/cc @lukehoban @hausdorff

From a Slack discussion on this topic:

[2019-10-28 21:12] mikhailshilkov opened #3413 ".NET build output break table layout in terminal"
The ephemeral log messages from `dotnet build` sometimes look funky in the CLI output in Windows Terminal. They wrap over the next line and then somehow break the table:

![image](https://user-images.githubusercontent.com/1454008/67718350-e0687780-f9cf-11e9-9b5d-50eed2788d24.png)

I'm on Windows Terminal latest, but @lukehoban mentioned he saw glitches on Mac too.