[2022-11-08 17:15] viveklak commented on #11278
Hey @kpitzen, AFAIK we aren't explicitly blocked on this at the moment - I found a workaround in https://github.com/pulumi/pulumi-vault/pull/196 for now. We might see this in other providers as we upgrade the bridge across providers though so probably still consider this high-ish priority. Albeit this does seem like a contrived edge case. It is in the same class as https://github.com/pulumi/pulumi

[2022-11-08 17:22] kpitzen commented on #11271
Hi @bacek - I'm digging into this issue now.  We definitely shouldn't be panicking here.  Would you mind sharing an example program which resulted in this issue?  It doesn't have to be a full repro, since it can be hard to coerce this behavior directly, but it'd be helpful to at least see the state we ended up in here. It _does_ look like we got here due to k8s resource constraints, though the des

[2022-11-08 17:50] Frassle commented on #11279
Echo'ing Kyle above it looks like it might be fine to start passing inputs during imports not just refresh, although we need to give a bit of a think of if we also need to support that for the `pulumi import` command.

Possibly a better solution (and the standard way of solving this) is to put everything needed for an import into the ID of the resource. So rather than the ID just being the one pat

[2022-11-08 18:42] chomey opened #11285 "Pulumi Auto does not save provider versions in state"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

When running Pulumi via auto for CI/CD flows, we see the following saved in the state:
[code]

When we run `pulumi up` from the terminal, we see:
[code]

It looks like the automation API just doesn't track the pr

[2022-11-08 19:33] #10232 closed

[2022-11-08 20:55] dixler opened #11287 "bug in custom provider crashes CLI"
### What happened?

I was working on pulumi-command and some sort of bug causes the CLI to panic.

Should be an easy fix?

[code]

### Steps to reproduce

slack me if you need more details.

### Expected Behavior

not panic and gracefully terminate.

### Actual Behavior

panics.

### Output of `pulumi about`

_No response_

### Additional context

_No response_

### Contributing

Vote on this issu

[2022-11-08 20:57] kpitzen commented on #11271
I opened #11286 to resolve the panic we're seeing here.  Unfortunately that won't resolve the state issue you're seeing in this case.  Once we have a little more information about that, we can determine what the correct resolution should be.

[2022-11-08 21:17] #10903 closed

[2022-11-08 23:22] bacek commented on #11271
@kpitzen this is what I did:

Create simple k8s stack. Trimmed down version from example.

[code]

Created another stack:
[code]

After setting up first and second stacks, I renamed first one (and put name into second's stack config).

Setting up second stack failed with symptoms in the first message.

[2022-11-08 23:26] #10950 closed

[2022-11-08 23:46] justinvp opened #11298 "Mock the Deployments API"
Remote Automation API lifecycle tests require the service and access to Pulumi Deployments. As such, the tests are disabled by default unless the `PULUMI_TEST_DEPLOYMENTS_API` envvar is set.

We should look into introducing a way to mock the Deployments API so we can run these tests always against the mock, for coverage of our side of the implementation. Until then, we'll be running the tests less

[2022-11-08 23:46] justinvp opened #11299 "Run Remote Automation API lifecycle tests in a cronjob with `PULUMI_TEST_DEPLOYMENTS_API` set"
Lifecycle tests for remote operations are being added in the following PRs:

- https://github.com/pulumi/pulumi/pull/11290
- https://github.com/pulumi/pulumi/pull/11291
- https://github.com/pulumi/pulumi/pull/11292
- https://github.com/pulumi/pulumi/pull/11293
- https://github.com/pulumi/pulumi/pull/11294

Since these tests require the service and access to Pulumi Deployments, the tests are disabl

[2022-11-09 03:01] praneetloke commented on #11279
I actually thought of doing this as a workaround but felt it would be a bit of a hack that _may_ not work well in all conditions. It would require provider implementations to get creative with handling the formatted ID in ways that might be brittle. My thinking around asking for the inputs to be populated is that it would allow implementations to programmatically pluck whichever inputs they need b

[2022-11-09 05:58] jgyy opened #11303 "Pulumi up --plan without error message (exit code 255)"
### What happened?

When running pulumi up --plan on our stack, it bails out during preview with no error message.
![image](https://user-images.githubusercontent.com/36807486/200745862-32756a35-8e24-4e99-b365-347064b5b648.png)

### Steps to reproduce

pulumi preview --save-plan pulumi-plan.json
pulumi up --plan pulumi-plan.json

### Expected Behavior

Pulumi returns an error message that shows why

[2022-11-09 08:27] ffMathy commented on #9582
I tried commenting out the plugin installation code. The issue remains the same.

[2022-11-09 11:23] squaremo commented on #11304
Thanks for reporting and diagnosing this, Joe. Looks like you are not the only person to run into it: https://github.com/pulumi/pulumi/issues/3546.

[2022-11-09 12:23] dirien opened #11305 "Unable to convert HCL example"
### What happened?

With the latest version of

[code]

The provider I'm building is `pulumiverse/pulumi-aquasec`.

I get following output, when creating the sdks:

[code]

See https://github.com/pulumiverse/pulumi-aquasec/actions/runs/3426284456/jobs/5708011242#step:11:236 for more output in the GitHub action.

### Steps to reproduce

Run the generation of the sdks in this provider -> https://git

[2022-11-09 13:07] ffMathy commented on #9582
Hmmmm! New interesting discovery!

If I forward standard out, and then when it crashes, I hit a breakpoint and look at the logs, I can see that (at least the last 10 times I've tried running it), whenever I get the LogException, it actually shows that it succesfully performed the operation!

I can see X amount of resources updated etc, and I can also tell that it works.

If this is true, the issue

[2022-11-09 13:33] mortaelth commented on #6060
no, it still does not:

[code]

[2022-11-09 13:43] RobbieMcKinstry commented on #11305
Here's a stack trace I captured from my reproduction. Regardless of the language, all codegen reliably creates a trace like this (looked at dotnet, go, and node).

[code]

[2022-11-09 14:42] squaremo opened #12356 "NewProvider arguments `args` has wrong type in docs"
### Problem description

On https://www.pulumi.com/registry/packages/auth0/api-docs/provider/ for the go snippet, the `args` argument is typed `ProviderArgs`, but the type of that argument is `*ProviderArgs`: https://github.com/pulumi/pulumi-auth0/blob/master/sdk/go/auth0/provider.go.

### Suggestions for a fix

I _suspect_ that is for tfgen-generated projects, on flimsy evidence -- pulumi-mysql (

[2022-11-09 15:36] squaremo opened #11308 "tfgen defaults optional provider args that can come from the environment to empty values, rather than nil"
### What happened?

In this issue https://github.com/pulumi/pulumi-mysql/issues/131 a problem arises because the optional provider argument `Proxy` is given a value `""`. This is because the environment variables `ALL_PROXY` and `all_proxy` are consulted when it's not set explicitly, and the code handling that is given a default of `""` if it's not present in the environment either. The upstream p

[2022-11-09 17:56] aq17 commented on #11068
Closing this in favor of https://github.com/pulumi/pulumi-std/issues/1 due to overlap.

[2022-11-09 17:57] #11068 closed

[2022-11-09 18:36] kpitzen commented on #11287
Hey hey @dixler  - would you be able to provide a repro for this issue?

[2022-11-09 18:42] kpitzen commented on #11271
@bacek I've updated the linked PR above to (hopefully) prevent this issue from appearing in the future.  In the meantime, is it possible to delete the current stack and remake it?  As in - `pulumi down` followed by `pulumi up`?  I suspect the change in StackReferences may have caused the downstream issues in the rest of your state.  Alternately, manually deleting the deployment via `kubectl` and r

[2022-11-09 18:54] dixler commented on #11287
@kpitzen Yeah sure. It seems that the CLI panics without a useful error message when a provider schema is missing a version.

Not adding a version is an implementation error, but the engine should provide better feedback to the user than a panic.

The repro test case is located here.
https://github.com/pulumi/pulumi/tree/dixler/11287/version-panic-repro/tests/integration/provider-tests/version-pan

[2022-11-09 19:31] RobbieMcKinstry commented on #11305
Thanks for submitting this @dirien . My first PR in this area of the codebase, but I think we were just missing a guard. Hopefully its as simple as this.

[2022-11-09 20:28] dixler commented on #11287
This was on a dirty branch. My bad.

[2022-11-09 20:28] #11287 closed

[2022-11-09 20:35] blampe opened #11314 "RemoteWorkspace: ability to kick off a Deployment without waiting for it to complete"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

Currently, when using a RemoteWorkspace, `await stack.destroy()` (or similar operations) will return a Promise that resolves when the deployment terminates. AFAICT the user isn't able to kick off a deployment _an

[2022-11-09 22:22] rshade opened #11316 "Upgrading sdk form 3.43.1 to 3.46.1 throws eror"
### What happened?

Automated testing against upgrading from 3.43.1 -> 3.46.1 thru the following error:
[code]

### Steps to reproduce

1. Using the existing test infrastructure upgrade from 3.43.1 to 3.46.1
2. Only raises an issue in typescript, not python or go.

### Expected Behavior

1. error not to be thrown

### Actual Behavior

1. Error thrown.

### Output of `pulumi about`

_No response_

[2022-11-09 22:26] bacek commented on #11271
@kpitzen it was playground stack. I just destroyed it and re-imported created resources back.

[2022-11-10 01:29] jgyy commented on #11303
Hi @kpitzen! The marshalling json error will occur to every single pulumi stack that I am deploying however not every stack will give me error 255 due to this issue. Sorry for any belated response as I am located in SEA timezone.

From my investigation, there is a npm library called "resolve" which is a dependencies of @pulumi/aws (shown in screenshot below), that library have some deliberate malf

[2022-11-10 01:57] ryanpodonnell1 opened #11317 "what is the correct way to access reinstantiated providers?"
Hello 👋

I was curious what the correct way was to access multiple instantiated providers. The current use case is deploying resources to multiple regions so I would like to create the providers dynamically (number of regions depends on environment dev,stg,prd)

currently this works but was curious if there is a more idiomatic way of doing this (i.e. looking up the provider name from state) or if

[2022-11-10 02:33] #11241 closed

[2022-11-10 02:33] #11237 closed

[2022-11-10 12:09] kmoppel-cognite opened #11318 "Recently added `DeletedWith` resource option not working properly"
### What happened?

I created a Postgres Azure database via the [azure-native](https://www.pulumi.com/registry/packages/azure-native/api-docs/dbforpostgresql/server/#create-a-new-server) library, attached one [configuration flag](https://www.pulumi.com/registry/packages/azure-native/api-docs/dbforpostgresql/configuration/#configurationcreateorupdate) specifying `pulumi.DeletedWith` with the parent

[2022-11-10 14:12] kmoppel-cognite commented on #11318
UPDATE - worked as expected after updating the CLI also to `v3.46.1`. The [release notes](https://github.com/pulumi/pulumi/releases/tag/v3.46.1) could maybe mention that though, that SDK and CLI need to be in sync. Sorry for noise.

[2022-11-10 14:12] #11318 closed

[2022-11-10 16:16] chris-stetter commented on #2307
In the [current version](https://www.pulumi.com/blog/project-config-mvp/) of this feature, is the `required` option (as shown in the previous comment) implemented?

[2022-11-10 17:14] ShedPlant opened #11320 "Self Hosted State should distinguish projects and stacks"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

Using S3 for storing state doesn't use project name for disambiguation, but should.

The core concept of project and stack is still applicable to self-hosted backend, even if organisation arguably isn't.

#### Ho

[2022-11-10 17:17] mark-bixler commented on #7071
This issue just recently started for me. Running MacOS 12.6.

[code]

[2022-11-10 17:45] christophermaier opened #11321 "It is not possible to specify a type for objects in project-level configuration cannot be typed"
### What happened?

When trying to adopt the new [project-level configuration](https://www.pulumi.com/blog/project-config-mvp), I ran into a problem specifying a type for an object in our configuration. In the absence of documentation beyond the announcement blog post, I was just trying to say that our configuration object was simply an `object`, being happy to wait until more complete and concret

[2022-11-10 18:23] julioxavierr opened #11323 "Error pushing stack with AppFlow resources"
### What happened?

When updating a stack, even though there are no updates to the flow arguments, it tries to update it and errors.

### Steps to reproduce

1. Push a stack with a flow
2. Update the stack

### Sample code

[code]

### Expected Behavior

Updating a stack (with `pulumi up`) that has a flow configured should not try to update the flow if there are no updates.

### Actual Behavior

W

[2022-11-10 19:17] kpitzen commented on #11271
Thanks for the extra context @bacek - given we've found a workaround for this issue, and aren't exactly sure how to reproduce, I'm going to close this issue for now.  After discussing the issue, it seems like changing the diffing logic on StackReferences wouldn't resolve or prevent this issue.  If this occurs again, please feel free to re-open and we'll be more than happy to work through a resolut

[2022-11-10 19:17] #11271 closed

[2022-11-10 19:27] dixler opened #11324 "run downstream `pulumi-policy` tests"
During our postmortem call, we discussed running pulumi policy tests downstream to get more visibility into broken tests.

[2022-11-10 19:30] dixler opened #11325 "Consider changing latest-version API to be part of `get.pulumi.com` rather than docs."
During our postmortem call for #11140, we discussed changing the way that we broadcast the new version of the CLI.

[2022-11-10 20:16] activtrak-igueths opened #11326 "Parse errors during 'Pulumi up' when using top-level 'config' key in Pulumi.yaml"
Version: 3.46.1
Normal 'Pulumi up':
Diagnostics:
  pulumi:pulumi:Stack (REDACTED):
    Warning: Pulumi.yaml: root-level `configuration` field is deprecated; please use `config` instead.
'Pulumi up' after modifying 'configuration:' to 'config:' in Pulumi.yaml:
errors occurred:
	* #/config/gcp_project: oneOf failed
	* #/config/gcp_project: expected string, but got object
	* #/config/gcp_project: exp

[2022-11-10 20:24] AaronFriel commented on #9660
We're doing away with the auto-close bot in the future, but I think this one is still safe for us to close as no-repro.

I'm not sure if we're going to be able to fix snap curl or how to address this. It may be worth making a ticket upstream on the Snap to allow it to write to tmp dirs.

[2022-11-10 20:24] #9660 closed

[2022-11-10 20:42] kpitzen commented on #11303
Hey @jgyy thank you so much for your response!  I think that makes sense to me.  Would you be able to provide an example program which reproduces this issue?  I'm having difficulty reproducing it locally (saving a plan, and running `pulumi up` on that plan is working for the programs I've tried).  Thank you again!

[2022-11-10 20:43] iwahbe commented on #11211
I understand what's going on, and a fix will be coming shortly. @piotr-bzdyl-vertexinc I really appreciate the clear repro! It was super helpful in narrowing down the issue.

To illustrate the problem, we can make the repro even simpler.
[code]

[2022-11-10 21:48] AaronFriel commented on #11326
Hey @activtrak-igueths, thanks for flagging this! Would you mind sharing what your `configuration` or `config` block looks like in the `Pulumi.yaml` file?

We could improve our errors here, but I think the issue might be the last lines of each pair of paths:

[code]

Could you check and tell me if the config block is using an uppercase `String` or lowercase `string`? Changing it to `type: string`

[2022-11-10 21:51] AaronFriel opened #11328 "Improve diagnostics on project validation"
Using #11326 as an example, the user had a `config` block in `Pulumi.yaml` that might have looked like so:

[code]

When the project config fails schema validation, users will get a slew of errors, which look like all possible schema violations:

[code]
* #/config/gcp_project: doesn't validate with '/$defs/configTypeDeclaration'
* #/config/gcp_project/type: value must be one of "string", "integer"

[2022-11-10 22:30] activtrak-igueths commented on #11326
Hello,
This appears to resolve the issue, I no longer see any errors and am able to do a successful ‘Pulumi up’:
Type                 Name                             Plan
     pulumi:pulumi:Stack  REDACTED

Resources:
    3 unchanged
Thanks!

[2022-11-10 23:03] AaronFriel commented on #11326
Happy to help and we're tracking #11328 to improve the error message!

[2022-11-10 23:03] #11326 closed

[2022-11-10 23:48] EvanBoyle opened #11330 "Remote Automation API requires a CLI dependency"
I understand we have a lot of good reasons for doing this - however, it does add a lot of complexity. Take a look at all of the setup that is required to go from a lambda that uses the deployments REST API to a lambda that embeds remote automation API:

https://github.com/pulumi/deploy-demos/pull/37

We have to add a container, make sure the CLI is installed (and logged in), and then update to use

[2022-11-11 00:34] justinvp commented on #11314
There are a few options to consider if we wanted to address this:

1. Change the signatures of the new remote APIs along the lines of Bryce’s suggestion. It’d be a breaking change, but I suspect we’d be OK with making changes here given the new APIs are “in preview”. It would mean that the signatures for the remote APIs would be different from the local APIs -- the remote APIs would no longer be a

[2022-11-11 00:36] justinvp commented on #11330
This is kind of a broader issue with Automation API in general (CLI dependency), but I see how it can feel more acute with deployment API.

I could make a similar case for other areas of functionality in Automation API that talk to the service backend; i.e. why not just call the service APIs directly from automation API to avoid the CLI dependency for operations like managing stacks, getting stack

[2022-11-11 00:46] lukehoban commented on #11314
I'm not sure it's better than any of the options @justinvp lists - but another option would be to pass an optional callback in that is invoked when the deployment is created - returning metadata about the deployment.

This could then be captured into a promise or similar at the user code layer if needed.

[2022-11-11 01:02] MaxPowerWasTaken commented on #9660
just ducking back in to say it is wild to me that the issue was curl being installed via snap instead of apt on my machine (apparently). very impressed with the digging @nhobin219!

[2022-11-11 01:06] justinvp commented on #11330
That said, I think https://github.com/pulumi/pulumi/issues/11330 would be relatively cheap to implement in each of the existing languages. It'd probably be less than a week of work to implement for the 4 languages.

I'm a little concerned about the future maintenance burden, though. As deployment API evolves and gets new functionality that we want to expose through automation API, we'd have to re-

[2022-11-11 03:10] AaronFriel commented on #3622
👋 Another Pulumi maintainer here. I was surprised to see I wasn't subscribed to this issue! If anyone in the Rust community is interested in maintaining Rust language support as a community supported endeavor, I would be keenly interested in collaborating. If we have any Rust consultancies watching this thread, please reach out. :) My email is lastname at pulumi.com.

[2022-11-11 03:12] AaronFriel commented on #3622
Re: WASM, there is a major supply chain security benefit to WASM as well! It is much easier to sandbox a WASM program than a native binary. I'm very interested in the possibility here, though there are challenges beyond what @Frassle mentioned. One such challenge is that while there now a decent number of libraries for Rust to interact with cloud provider APIs, they may not be WASM compatible, as

[2022-11-11 07:22] lukehoban opened #11332 "Pulumi diff display doesn't take into account potential normalization of inputs stored into `outputs`"
Per the comment in https://github.com/pulumi/pulumi-awsx/issues/617#issuecomment-1311314657, there are cases where a provider might normalize some inputs to store into state (like normalizing JSON strings).  In Pulumi, this will result in the `inputs` being unnormalized, but the `outputs` being normalized.  Future calls to `diff` will use the outputs, so will be "correct" relative to this normaliz

[2022-11-11 07:23] ffMathy commented on #9582
And by "successfully performed", in this case, I actually have an error 400 from AWS for 2 resources, but at least the command runs all the way through.

[2022-11-11 08:08] jgyy commented on #11303
Give me some time to try replicate this issue, I ran it on a container in gitlab ec2 vm which causes exit code to be 255, the deployment is successful but error code shows 255. I will update this response later.

[2022-11-11 10:03] Frassle commented on #11328
Duplicate of https://github.com/pulumi/pulumi/issues/11129

[2022-11-11 10:07] Frassle commented on #11320
Thanks for the very detailed write up. I think this is a duplicate of https://github.com/pulumi/pulumi/issues/2522, or if that doesn't get fixed then https://github.com/pulumi/pulumi/issues/3395.

[2022-11-11 10:07] #11320 closed

[2022-11-11 10:07] Frassle commented on #7069
Duplicate of https://github.com/pulumi/pulumi/issues/3395

[2022-11-11 10:07] #7069 closed

[2022-11-11 10:09] Frassle commented on #11324
I'd actually like us to consider deprecating the pulumi-policy repo and bringing it's code into this repo. My vision is that language SDK should support all the core parts of Pulumi. That is programs, providers, automation, and policy. I think that also ties in nicely with supporting things like inline providers and inline policy in programs.

[2022-11-11 10:14] Frassle commented on #11321
This is currently the case. We currently only support typing of strings, bools, numbers, and arrays of that. But as you call out the config system can also support objects (being just JSON).

We do plan on adding support for `type: object` and also for declaring properties of that object (similar to JSON schema).

This is the correct workaround for now.

[2022-11-11 10:16] ffMathy commented on #9582
Aha @Frassle! I can now confirm that the LogException only occurs if the `up` operation actually fails in AWS, and gives an error 400!

If the operation is succesful, it doesn't throw a LogException.

In addition, *when* it throws a LogException, the stdout reveals that it also did indeed complete successfully!

Can you repro with this information? More specifically, the 400 that happened was due

[2022-11-11 10:18] Frassle commented on #11330
My 2cents is yes. I want to try and get automation api to be code generated as much as possible from a central spec, so that we can keep everything in sync.

It still has a dependency on another process, its just that we'd communicate via gRPC rather than trying to parse stdout and arg flags.

[2022-11-11 10:19] Frassle commented on #11332
Shouldn't "Check" be doing normalization for things like this?

[2022-11-11 10:23] Frassle commented on #11285
I think this is actually a Go codegen bug not automation api.
Compare [dotnet](https://github.com/pulumi/pulumi-random/blob/master/sdk/dotnet/Provider.cs#L29) which defaults the resource options Version field, to [Go](https://github.com/pulumi/pulumi-random/blob/master/sdk/go/random/provider.go#L29) which does nothing to automatically fill in the version based on the current SDK version.

[2022-11-11 10:26] Frassle commented on #9582
Oh maybe, sounds like the parsing is getting tripped up somewhere.

[2022-11-11 11:30] squaremo commented on #11086
This came up again, well spotted @csakshaug. I logged the issue https://github.com/pulumi/pulumi-terraform-bridge/issues/635 to fix the underlying problem.

[2022-11-11 15:22] kpitzen commented on #11323
Hey @julioxavierr - thank you for opening this issue!  I think your intuition is correct, and that this is related to the terraform-provider-aws issue you've linked.  Given that, I'm going to transfer this to our `pulumi-aws` provider repo.  Thanks again!

[2022-11-11 16:37] #11317 closed

[2022-11-11 16:38] kerruba-milkman opened #11334 "Pulumi stack select broke after update to v3.46.1"
### What happened?

After updating to version 3.46.1, the `pulumi stack select` command is breaking due to parsing issues with my stack.
The stack name is `shared-dev`, and while all the command related to stack selection were working fine before update - e.g.  `pulumi up`, `pulumi preview`,  `pulumi stack select` - now any command that require selecting the stack is breaking with this error:

[co

[2022-11-11 17:10] iwahbe commented on #7346
In reference to #11327, we should change python ResourceOptions.merge to not overload a static and dynamic method. Python doesn't support it, and the abstraction is leaky.

[2022-11-11 17:35] #11211 closed

[2022-11-11 18:53] Frassle commented on #11334
[code]

Odd, seems fine on my build. Are you sure your only stack is "shared-dev"?

[2022-11-11 19:09] iwahbe opened #11336 "Support pending delete refresh options in the Automation API"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

Expose the options introduced in #10394 to the Automation API.

### Affected area/feature

[2022-11-11 19:36] RobbieMcKinstry commented on #11316
@rshade Could you link us to the automated test that failed? Is the code sample that caused the failure available?

[2022-11-11 19:40] RobbieMcKinstry commented on #8613
👋🏻 Hello! I wanted to follow up with some additional information about the change that landed which closed this issue.
In https://github.com/pulumi/pulumi/pull/10831 we changed code generation to output many smaller files instead of a few massive ones.

## Background

As of v3.46.1 (the current release at the time of writing), types for each provider are written to `types/input.ts` or `types/outpu

[2022-11-11 20:27] #11000 closed

[2022-11-11 21:15] AaronFriel opened #11338 "Support embedded examples in package schemas"
Provider authors and bridging tools should be able to embed examples in YAML or the intermediate representation, PCL, into schemas.

* Enable examples codegen to be decoupled from bridging and provider authoring
* Enable tools to inspect structured examples, as opposed to text extraction from `description` fields

[2022-11-11 22:16] Mankee commented on #10313
this 409 issue is exactly why i'm switching back to terraform.

[2022-11-11 22:25] Frassle commented on #10313
Again, I'm confused because as I understand it Terraform _is exactly the same_ in this regard!?

Both systems will error if you try to create something that already exists, you can't create a new S3 bucket called "foo", if that bucket already exists. In fact if anything Pulumi _should be better_ here because by default we suffix names with random characters to avoid name collisions.

So what is Te

[2022-11-12 10:59] alexisatkinson commented on #11334
Also see this issue.  Rolling back to 3.46.0 and the issue goes away.

[2022-11-12 11:54] Frassle commented on #11334
I checked this in the service database, it does look like that's the only stack name in use here.

I suspect this has been caused by the update to the [survey library](https://github.com/pulumi/pulumi/commit/61269918c61597f925b99998b47ec72d74778136), where it's probably returning something like "shared-dev\n" or something weirder.

[2022-11-12 20:59] aschleck commented on #11334
I am experiencing this with a stack named "prod" if I only press enter at the stack selection dialog (the default suggested stack is the one I want so enter should select it.) But if I press down arrow, up arrow, and then enter, then it works fine.

[2022-11-13 00:58] MMartyn commented on #11265
Unfortunately, I downgraded the CLI, deleted the stack and then rebuilt it. The issue don't seem to happen on a new stack with latest cli. I think we can close. If i hit again, I'll reopen.

[2022-11-13 00:58] #11265 closed

[2022-11-13 01:39] AaronFriel commented on #11129
I noticed that all but the last message for each path tends to be noise.

[2022-11-13 06:31] h20220025 commented on #10117
hi @Frassle , This issue seems to be a good initiation of my journey towards contribution to FOSS projects.
Can you please assign this to me?

[2022-11-13 06:32] h20220025 commented on #10069
hi @rshade, This issue seems to be a good initiation of my journey towards contribution to FOSS projects.
Can you please assign this to me?

[2022-11-13 06:33] h20220025 commented on #10080
hi @vaibhavkoshti7, can you suggest any issue that will be good initiation of my journey towards contribution to FOSS projects.

[2022-11-13 11:57] Frassle commented on #10117
I'd probably look at adding these tests to https://github.com/pulumi/pulumi/blob/master/pkg/engine/lifecycletest/pulumi_test.go

There's nothing language specific about supporting these names, we just need to check the engine is ok with them.

[2022-11-13 14:20] heagma commented on #10663
@krupaJari you working on this?. There is some other changes to be done if we want to keep both URNS and short names. I got a PR ready for this, so let me know if I can go ahead and push it.

cc @iwahbe

[2022-11-13 14:43] EvanBoyle commented on #11183
Another pretty cool part about this for yaml specifically is that Pulumi would store your last applied YAML program.

[2022-11-13 14:49] jodysalt commented on #11103
I am getting a similar error.

This might be digital ocean specific.

after running

[code]

 I get:

[code]

Here is the code the replicates it:

[code]

I am running it on my MacBook pro, pulumi cli version `v3.46.1`. It has worked in the past, but I have since manually destroyed and want to recreate it.

If I remove the following:

[code]

it no longer crashes. I am not sure what is going on.

[2022-11-13 15:51] krupaJari commented on #10663
@heagma I'm working on it. I was facing some issues, so not fully done with it.

[2022-11-14 01:34] RobbieMcKinstry commented on #10080
Hi @h20220025 , thanks for offering to become a FOSS contributor. We keep a [list of issues for first-time contributors](https://github.com/pulumi/pulumi/issues?q=is%3Aopen+is%3Aissue+label%3Agood-first-issue) for this repo. Some of our other repos keep similar lists. For example, the [Pulumi GitHub Action](https://github.com/pulumi/actions/issues?q=is%3Aissue+is%3Aopen+label%3Agood-first-issue) a

[2022-11-14 05:05] heagma commented on #10747
@iwahbe please assign this to me.

[2022-11-14 12:04] Zaid-Ajaj opened #11342 "Download Pulumi Cron job fails when installing winget CLI"
### What happened?

Installing WinGet CLI is required for us to test that we can install Pulumi from winget. Windows 11 comes with winget preinstalled and on Windows 10 you can install it from the app store. When using `windows-latest` from the github action, we expected that winget CLI is already installed but that is unfortunately not the case.

To install Winget CLI on the machine of the github

[2022-11-14 15:20] brandontoups commented on #11334
confirming on 3.46.1 that the behavior aschleck described happens to me as well. if I click up and down arrows (i only have one stack, so it doesn't actually move the arrow anywhere) and then hit enter, it then works

[2022-11-14 15:33] AaronFriel opened #11346 "[tf2pulumi codegen] `cannot traverse value of type` errors"
* `cannot traverse value of type int; cannot traverse value of type union(int, none); cannot traverse value of type union(int, none, output(int), output(union(int, none)), annotated(0xc00bcbf780)); cannot traverse value of type union(int, none, output(int), output(union(int, none)), annotated(0xc00bcbfb40))`
* `cannot traverse value of type string; cannot traverse value of type union(none, output(

[2022-11-14 16:47] Graham-Beer opened #11347 "Go: AsStringMapOutput() - panic: interface conversion: interface {}"
### What happened?

Trying to convert an export `pulumi.StringMap` through a stack reference in a new Pulumi project.

### Steps to reproduce

ctx.Export("tags", MaximoTags) - The variable `MaximoTags` is of type `pulumi.StringMap`.

Trying to import the value into a new project:

[code]

The variable `maximoTags` is used when creating a new EFS:

[code]

### Expected Behavior

I would expect the

[2022-11-14 17:46] iwahbe opened #11348 "Allow `As*Map*` and `As*Array*` functions to perform inner conversions"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

Calling any of our `As*Map*` or `As*Array*` methods performs a direct cast on the awaited value, with no attempt to ensure the conversion is valid. This is particularly painful in go, since it is not valid to cas

[2022-11-14 17:49] iwahbe commented on #11348
Partially implemented by https://github.com/pulumi/pulumi/pull/10991.

[2022-11-14 18:22] kevinopt opened #11388 "Python - wrong conversion from snake_case to camelCase in example"
### What happened?

When creating an UptimeCheck and reruning up it want to always replace the current one.

### Steps to reproduce

Create mulitple uptime checks.
Reapplying the deployment with no changes.

### Expected Behavior

Not replace the uptime checks if there is no changes.

### Actual Behavior

Uptimechecks get reaplced everytime with the diff on MonitoredReources.

This the reason give

[2022-11-14 18:32] chirauki opened #11349 "Spec is propagated for a resource"
### What happened?

We have some schemas that we obtain from running `crd2pulumi`. For one of them, we are seeing that `spec` is not being updated in the cluster.

### Steps to reproduce

-

### Expected Behavior

`spec` is propagated correctly to the destination object in k8s.

### Actual Behavior

When creating the resource, I can see the `preview --diff` shows the right spec being computed:

[c

[2022-11-14 18:42] AaronFriel opened #11350 "Enable package authors to write examples in YAML"

[2022-11-14 20:59] iwahbe commented on #11347
Hi @Graham-Beer. Thanks for bringing this up. Technically, everything is working as intended. The panic describes the problem: you cannot cast ` map[string]interface{}` to `map[string]string`. Go casts are invariant over underlying types. That being said...

This is a super annoying sharp edge to casting in go. We already have contravariance for array types (casting `[]interface{}` to `[]string` w

[2022-11-14 21:25] iwahbe commented on #10747
@heagma Thanks for your interest. Can you let us know a little more about your plan of attack?

[2022-11-14 21:31] guineveresaenger commented on #11088
Hit this today in https://github.com/pulumi/pulumi-docker/actions/runs/3465176510/jobs/5787674014.

[2022-11-14 22:27] #11347 closed

[2022-11-14 22:27] #11348 closed

[2022-11-14 23:34] RobbieMcKinstry commented on #10057
@dmattia just wanted to let you know that @kpitzen and I are adapting your pull request to resolve this issue. I estimate it to ship in v3.48.0.

Gocloud defers to the AWS library to select a concurrency value when MAX_CONCURRENCY is unset. Turns out that number is `5`. We're worried that if we set the value to a fixed number, we might regress performance for some machines. For example, in your PR

[2022-11-14 23:42] iwahbe commented on #10663
@heagma If you already have a branch ready, feel free to make it public and open a PR. We're going to give @krupaJari priority on this, since they asked to be assigned first.

@krupaJari It would be great if you could post your branch as a draft PR so we could see what you have so far. If you're blocked somewhere, let us know and we can help you get moving again.

If either of you want to review e

[2022-11-14 23:49] RobbieMcKinstry commented on #11305
We're merging a fix for this now. I was able to locally verify correctness. Please let me know if you still encounter this issue after the next release and we can reopen. 👍🏻

[2022-11-15 01:35] RobbieMcKinstry commented on #11280
This appears not to be as simple as I first suspected. We recently switched to employ merge queues to ensure master is always green. We vet the master build on the `staging` branch before we cherry-pick those commits to the master branch.
This research paper describes our methodology: ["Keeping Master Green At Scale."](https://dl.acm.org/doi/10.1145/3302424.3303970)

[2022-11-15 01:57] #11305 closed

[2022-11-15 02:24] heagma commented on #10663
sounds about right. Just opened the PR.

[2022-11-15 03:01] heagma commented on #10747
Initially I thought to retrieve the current available ENV variables on Pulumi from somewhere thinking all these variables were set in a single package but this is not the case as they are set differently. So I am still not sure if take them from the docs and make this new file the central point of all the env variables available (which will require to be updated if we add more env variables to Pul

[2022-11-15 03:17] RobbieMcKinstry commented on #11078
In general, if you're having trouble with the entire test suite, you can run individual tests (the ones you add), and that's usually enough to submit to CI IMO.

I think `make test_auto` can only be run by Pulumi employees because it relies on Service credentials to specific organizations. When I run that command, I get this error:

which seems related to the errors you're getting.

[2022-11-15 09:25] XChikuX commented on #6877
Having official support on this would be great. Any chance we could get eyes on this?

[2022-11-15 09:36] Frassle commented on #10747
I don't think programs can generally set the environment of the containing shell. The other two command (Just `pulumi env` and `pulumi env SOME_KEY`) sound fine to me.

Yeh this would have to just be a search across the codebase to find everywhere we look at the environment. Also this should probably just report envvars that control the engine, not all the various envvars that the language provide

[2022-11-15 11:48] justinvp commented on #11078
Just a note that the automation tests default to `pulumi-test`, but the organization can be overridden by setting the `PULUMI_TEST_ORG` envvar (i.e. could be your set to your Pulumi username).

https://github.com/pulumi/pulumi/blob/f6d09b810435de8457b9b3213f114acf54c232c1/sdk/nodejs/tests/automation/util.ts#L20-L27

I'm actually not sure why the automation API tests default to using the service. W

[2022-11-15 12:56] pierskarsenbarg opened #11355 "If no stack is selected, cannot select organisation stack in menu that has both underscore and period in name"
### What happened?

When trying to run an update with no stack selected, on a stack belonging to an organisation that has both a period and an underscore in the name, getting the following error message: `error: parsing selected stack: stack names may only contain alphanumeric, hyphens, underscores, and periods`

### Steps to reproduce

1. Create new project: `pulumi new typescript -y`
2. Create n

[2022-11-15 13:10] Frassle commented on #11355
`pulumi stack unselect`

This might just be https://github.com/pulumi/pulumi/issues/11334 which I've raised a fix for.

[2022-11-15 13:11] pierskarsenbarg commented on #11355
I can do `pulumi stack select demo/piers.piers_test`and then an update and I can run `pulumi up -s demo/piers.piers_test` and the update works

[2022-11-15 13:26] justinvp opened #11356 "RemoteWorkspaces: Adopt less fragile way of determining when Pulumi operation is running"
The CLI needs to find the update associated with a deployment to get the update's events, which is used to make the events available to Automation API (and also to render the events more nicely from the CLI).

The current approach the CLI uses is kind of hacky and fragile. Once the deployment has been created, it reads the deployment's logs. When it sees the "Pulumi operation" header, it then requ

[2022-11-15 13:30] justinvp opened #11357 "RemoteWorkspaces: Add `skipInstallDependencies` option"
`skipInstallDependencies` was recently added to the Deployments API (https://github.com/pulumi/service-requests/issues/126). It should be exposed as an option in Automation API.

[2022-11-15 13:34] Frassle commented on #11357
We're really gonna need to start investing in something automatic to keep all this in sync, it was bad enough trying to keep automation api in sync with the engine, now we've got to keep it in sync with the service as well.

[2022-11-15 13:52] dtlary25 commented on #9660
this worked for me. :) thank you

[2022-11-15 14:04] #11334 closed

[2022-11-15 14:08] dorfire opened #11358 "New resource option `DeletedWith` accepts a URN instead of a Resource"
### What happened?

At least in the Go SDK, it's difficult to utilize the new `DeletedWith()` option.
It accept a `URN`, unlike `Parent()` which accepts a `Resource`, so it seems like the only way to use `DeletedWith` is inside an `.ApplyT(...)` block.

### Steps to reproduce

Try to invoke `pulumi.DeletedWith` in the Go SDK.

### Expected Behavior

I would like to be able to invoke `pulumi.Delete

[2022-11-15 15:06] thomas11 commented on #10209
related: pulumi/pulumi-digitalocean#341

[2022-11-15 16:34] #11042 closed

[2022-11-15 16:43] AaronFriel commented on #11043
We've made the GitHub releases immutable via process changes.

[2022-11-15 16:43] #11043 closed

[2022-11-15 17:29] #11355 closed

[2022-11-15 17:30] aq17 commented on #11355
Closing as duplicate of https://github.com/pulumi/pulumi/issues/11334

[2022-11-15 18:54] AaronFriel opened #11360 "Community contributions failing to merge"
See: https://github.com/pulumi/pulumi/pull/11307

Bors expects a status check to complete to ensure that the PR doesn't have any reverse lints. However community contributions are failing to reach the lint step.

[2022-11-15 19:15] mjerdely commented on #11334
Do we have an ETA for when this will be released?

[2022-11-15 19:18] antifuchs opened #11361 "Python: Can async functions' responses be parts of dependencies?"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

In order for a resource in a particular provider to come up, it requires a webhook endpoint to be up, which is handled by a service that's spun up in the same infrastructure code. I thought I could do something s

[2022-11-15 19:28] Frassle commented on #11334
Tomorrow

[2022-11-15 20:01] AaronFriel commented on #11280
Hey @Arindam200, as @RobbieMcKinstry mentioned I think the badge doesn't convey anything useful.

[Pulumi's GitHub Releases](https://github.com/pulumi/pulumi/releases) are authoritative, and our CI changes ensure that our latest build must pass all tests.

I think that we ought to remove this section as there's no signal to convey to users here. Badges like this help the team know if they should e

[2022-11-15 20:10] iwahbe commented on #10747
I spent a little bit of time exploring how we might centralize our env var usage so we don't need to maintain documentation separate from consumption. I came up with https://github.com/pulumi/pulumi/pull/11362. It has the nice property of only displaying env vars accessed in modules that end up in the generated binary.

Documenting our env vars seems like a good place to make this kind of change.

[2022-11-15 20:25] krupaJari commented on #10663
@iwahbe I'm working on the draft PR. I'm currently trying the integration testing for the changes made but when I run the 'make ensure' command, the build fails because of dotnet. Also, when I 'run and debug' the modified 'stack_graph.go' file, errors pop up because of go ("message": "go.sum is out of sync with go.mod. Please update it by applying the quick fix.", "source": "go list"). I tried the

[2022-11-15 20:56] lukehoban commented on #11361
@antifuchs I would have expected this example to work as written.  What error are you seeing?  Is it from Python type checker or from Pulumi CLI?

[2022-11-15 20:59] ToddG opened #11363 "Provide missing key names in error messages"
### What happened?

**WHAT**
`pulumi up` fails with missing keys, but does not report what the missing keys actually are.

**RELATED**
* https://github.com/localstack/pulumi-local/issues/5
* https://github.com/localstack/pulumi-local/issues/7
* https://pulumi-community.slack.com/archives/C026EE6N2VB/p1668542984295379

### Steps to reproduce

Following Instructions:
* https://docs.localstack.cloud/

[2022-11-15 21:27] iwahbe commented on #10663
@krupaJari You can open a PR with what you have right now, even if it doesn't pass all tests. That way we can collaborate on the branch.

If you don't have `dotnet` installed then `make ensure` will fail, but thats ok. `make build` will only build the `pulumi` binary, which should be all you need.

I'm not sure about this. I don't think you will need to touch `go.mod` or `go.sum`. Like I said, we

[2022-11-15 22:01] dirien commented on #11305
Thanks @RobbieMcKinstry! Will let u know! 👍

[2022-11-15 22:03] lukehoban commented on #11361
I tried this out myself - and it works without any errors:

[code]

[2022-11-16 00:11] AaronFriel opened #11368 "Merges blocked, possible type checking error in TypeScript SDK"
An integration test jobs is failing with errors on running `tsc`, preventing PRs from merging.

See: https://github.com/pulumi/pulumi/actions/runs/3474952430/jobs/5808746910#step:36:509

[code]

[2022-11-16 01:36] #11368 closed

[2022-11-16 02:19] iwahbe opened #11372 "PCL type check doesn't account for const attributes"
### What happened?

The PCL binder raises missing required attribute errors on const attributes.

### Steps to reproduce

Remove the bind option added in https://github.com/pulumi/pulumi/pull/11371 and then run
[code]

### Expected Behavior

Const attributes shouldn't need to be present.

### Actual Behavior

Error on missing const attributes.

### Output of `pulumi about`

_No response_

### Addi

[2022-11-16 03:15] Arindam200 commented on #11280
Thank you @AaronFriel  for your kind feedback! You are too kind!

Should I close this issue?

[2022-11-16 06:02] AaronFriel commented on #11280
I think @RobbieMcKinstry will when we remove the badge, thanks for offering!

[2022-11-16 06:10] Arindam200 commented on #11280
Thanks a lot @AaronFriel ! You are very helpful 🙏!

[2022-11-16 08:32] 0xJem commented on #11257
Thanks for the tip! It unfortunately returns an error:
`Secret outputs cannot be captured by a closure`

[2022-11-16 09:58] Frassle commented on #11363
I think this is probably more an issue in the aws provider than the engine? cc @pulumi/platform-providers

Also referencing back to the confusion of https://github.com/pulumi/pulumi/issues/10446, this:
[code]
Is a bit odd that it looks like a bucket error but it's actually a provider error. I'm very tempted to remove the async configuration of providers to get better looking diagnostics here.

[2022-11-16 12:06] samox73 opened #11373 "Organization part of stack name not parsed correctly in some cases"
### What happened?

When referencing existing stacks, sometimes the organization part of the stack is not handled correctly:
- When a project with name `test` exists for the current **user**, and a project with stack `organizationId/test` is created, pulumi fails with
[code]
  Deleting the **user** project and trying again successfully creates the project within the **organization**
- When executi

[2022-11-16 12:20] PawelLipski opened #11374 "`panic: fatal: An assertion has failed` in `sdk/v3/go/common/resource/plugin.(*provider).Construct` on preview"
### What happened?

[code]

### Steps to reproduce

Whoops that's gonna be hard without actually giving the access to entire stack... anyway, lemme at least provide package.json (as it's a TypeScript project):

[code]

I can provide more info if needed!

### Expected Behavior

Preview of `pulumi up` displayed

### Actual Behavior

Panic :/

### Output of `pulumi about`

[code]

### Additional cont

[2022-11-16 13:02] pierskarsenbarg commented on #11373
Hi this has been fixed and should be released shortly: https://github.com/pulumi/pulumi/pull/11354

[2022-11-16 13:25] Arindam200 commented on #11245
Hey @Frassle  The Badge is working correctly for me. Should I Close this Issue?

![image](https://user-images.githubusercontent.com/109217591/202192264-9817e4f8-8e21-457c-85b2-56fbbfa3be41.png)

[2022-11-16 14:01] markfickett opened #11375 "pulumi up --target says URN could not be found in stack even though pulumi stack -u shows the URN"
### What happened?

I tried to update a specific URN, but even though Pulumi shows the URN and the expected stack modification, it also shows an error that the URN isn't found.

### Steps to reproduce

List the URN I want to update:

[code]

Attempt to update it:

[code]

The "Previewing update" block shows what I would expect, deleting one AWS SSM Parameter. However, the diagnostic seems to list

[2022-11-16 18:09] pierskarsenbarg opened #11379 "Add flag to the `pulumi stack` command to show the fully qualified name"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

At the moment you can run `pulumi stack --show-name` and get the name of the stack, but would be useful to be able to get the "fully-qualified" stack name (so `{organisation name}/{project name}/{stack name}`)

#

[2022-11-16 18:26] iwahbe commented on #11257
Thats unhelpful. I'm sorry. You can remove the secretes via [`pulumi.unsecret`](https://github.com/pulumi/pulumi/blob/6f21c0dacafdcd5f7a45147ed9e192281932e9c3/sdk/nodejs/output.ts#L540-L547).

I'm not an expert on this area, but I think this is true:
The function serializer is prompt, so all `Output<T>` are awaited and evaluated before uploading. The error is to prevent you from leaking a secret v

[2022-11-16 18:31] justinvp opened #11380 "Regression: `pulumi:pulumi:getResource` no longer returning resource references"
The `pulumi:pulumi:getResource` builtin is used to get a resource's state, primarily when deserializing a resource reference.

If the resource's state itself contains resource references, we used to _always_ keep those resource references when marshaling the state, but unfortunately this regressed in #9323 back in April: https://github.com/pulumi/pulumi/pull/9323/files#diff-984b3279d61b58803047483

[2022-11-16 18:34] aq17 commented on #11373
Thanks @pierskarsenbarg!

[2022-11-16 18:35] iwahbe commented on #11245
If it's working for you now, and it seems to be working for everybody else, I think we can close it.

[2022-11-16 18:35] #11245 closed

[2022-11-16 18:35] aq17 commented on #11373
Closed as duplicate of https://github.com/pulumi/pulumi/issues/11334

[2022-11-16 18:35] #11373 closed

[2022-11-16 18:38] thomas11 commented on #11374
Hi @PawelLipski , thanks for the detailed report. This panic occurs when Pulumi thinks the provider (aws+eks in your case) is not fully configured.

Did the same or similar program work before? Recent changes would help us narrow the problem down.

Did you upgrade any dependencies recently, or change the AWS authentication?

With EKS, we've also seen this issue before when the kubeconfig is requir

[2022-11-16 18:39] aq17 commented on #11379
Closing as duplicate of https://github.com/pulumi/pulumi/issues/11081, pinned on other issue for flag suggestion.

[2022-11-16 18:39] #11379 closed

[2022-11-16 18:44] Arindam200 commented on #11245
Thank you for your kind feedback @iwahbe !

[2022-11-16 19:16] thomas11 commented on #11375
Thanks for the report, @markfickett , I'll be looking into it. The `[secret]` in the not-found url is suspicious. Does the value `arbin` come from a config value that's marked as a secret?

[2022-11-16 19:20] antifuchs commented on #11361
Hah, I found the problem - my type checker was trying to tell me that this function isn't returning a `pulumi.Resource`, which is required when you put them on `depends_on` lists. Think this works, after all - I just needed to read the type error right.

Thank you!

[2022-11-16 19:20] #11361 closed

[2022-11-16 19:23] marcus-sa opened #11381 "Allow disabling automatically dependency resolution in remote workspace."
https://github.com/pulumi/service-requests/issues/126.## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details
Since https://github.com/pulumi/service-requests/issues/126 had been closed, the Deployments API now supports disabling automatic dependency resolution, but it

[2022-11-16 19:23] marcus-sa opened #11389 "Allow disabling automatic dependency resolution in remote workspace"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details
Since https://github.com/pulumi/service-requests/issues/126 has been implemented, the Deployments API now supports disabling automatic dependency resolution, but it's not yet supported when using Remote Workspace

[2022-11-16 19:35] aq17 commented on #11375
Thanks for picking this up @thomas11 !

[2022-11-16 20:06] justinvp opened #11384 "Add tests to ensure invoking `pulumi:pulumi:getResource` keeps resource refs"
Follow-up to #11382 to add tests to lock-in the behavior to prevent future regressions.

[2022-11-16 20:10] justinvp opened #11385 "Consider removing checks for `PULUMI_DISABLE_RESOURCE_REFERENCES` throughout"
`PULUMI_DISABLE_RESOURCE_REFERENCES` was used when we were originally rolling out support for _resource references_ as a way to be able to turn off the feature if something went wrong during the rollout. We should consider removing checks for this envvar throughout (SDKs and CLI) as it's not really needed anymore: resource refs have been working fine E2E for quite some time and there hasn't been a

[2022-11-16 20:10] markfickett commented on #11375
Thanks for checking ths out @thomas11 ! The `arbin` value is not coming from a config (the `arbin_central` is all one string, not assembled from components). But, there is a secret config value where the actual value is `arbin` elsewhere in the project. Could Pulumi be scanning for instances of any secret's value and swapping it out?

[2022-11-16 20:15] krupaJari commented on #10663
@iwahbe I've done a draft PR. And as per your suggestion, I tried doing make build but I'm getting the following errors :
[code]

[2022-11-16 20:36] #11380 closed

[2022-11-16 20:41] AaronFriel opened #11386 "CLI command(s) to output fully qualified stack name"
Currently there's no single command that outputs the fully qualified stack name in the format a StackReference accepts.

Workarounds include using `pulumi stack ls` and a regular expression:

[code]

Adding this to `pulumi about` and its `--json` flag output seems like the best place to locate this.

As a stretch goal, we could follow up by adding a JSON output flag to `pulumi stack ls`.

[2022-11-16 21:54] thomas11 commented on #11375
We do indeed have such a secret scrubbing logic, but it's supposed to run only on output, not on URN's before they are used internally. I'll validate this.

I assume you can find the correct URN in your project's stack.json file?

[2022-11-16 22:05] iwahbe commented on #10663
@krupaJari It looks like `go` is having some problems building on gitpod. I'm not sure what's wrong there. Your branch builds fine on my machine, and it looks like it works. I left a small comment on the PR. Let me know if you want to fix it or add to the branch. Otherwise I can get it merged.

[2022-11-16 23:03] thomas11 commented on #11375
I wrote a small repro but wasn't able to reproduce the issue. I do see the redacted output, but the actual operation succeeds. That leads me to believe the `[secret]` angle is a red herring and there is an issue with your stack.

Can you try `pulumi refresh` to sync Pulumi's state with the AWS state?

[2022-11-16 23:49] komalali commented on #11389
Closing as duplicate of https://github.com/pulumi/pulumi/issues/11357

[2022-11-16 23:49] #11389 closed

[2022-11-17 00:10] AaronFriel opened #11390 "Support a pseudo-org for StackReference and GetOrganization API on filestate"
We have a number of features that now depend on detecting an organization and rendering it into a string. Among these, the get organization API in the SDKs and the StackReference resource.

The blocker here is deciding on how to handle the org or user name portion of the `$org/$project/$stack` string.

Resolving this for filestate backend will enable more integration tests to run locally, a signif

[2022-11-17 02:03] iwahbe commented on #11338
Design doc is https://docs.google.com/document/d/1CpOmG3QNtY1fGX1vuXsb5nehr40lomknbJtjWivjBhM/edit#

[2022-11-17 02:03] tonybruess commented on #11334
Please release 😃

[2022-11-17 02:28] bacek opened #11391 "assertion failure in pulumi cli"
### What happened?

Trying to deploy stack with stackRef in s3 bucket.

[code]

### Steps to reproduce

Probably:

1. Use s3 backend
2. Deploy one stack (with GKE cluster and DB).
3. Deploy second stack, which reference first.

### Expected Behavior

Deploy stack

### Actual Behavior

CLI crash.

### Output of `pulumi about`

CLI
Version      3.46.1
Go Version   go1.19.2
Go Compiler  gc

Plugins
N

[2022-11-17 02:37] bacek commented on #11391
`pulumi refresh` did get through. But `pulumi up`/`pulumi preview` is failing

[2022-11-17 03:14] heagma commented on #11198
I'll work on this. Could you please assign it. @dixler

[2022-11-17 03:20] #11280 closed

[2022-11-17 03:28] aq17 commented on #11334
@mjerdely @tonybruess thanks for your patience, the release will actually go out tomorrow morning PDT

[2022-11-17 04:28] krupaJari commented on #10663
@iwahbe I've made the changes. Please let me know if any other changes are required.

[2022-11-17 07:33] ringods opened #11392 "`Stack.createOrSelect`: first select, then create to play well with RO permissions on Pulumi Service"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

The current implementation for `Stack.createOrSelect` first tries to create the stack and falls back to selecting the stack if the stack already exists. Here is the NodeJS implementation, but as far as I could se

[2022-11-17 09:43] Frassle commented on #11390
I've actually been thinking about maybe just support orgs and projects in filestate. They would both just be folders really, but by default if you had a backend set to "s3://my_bucket" we'd save stacks to full path like "s3://my_bucket/fraser/the_project/the_stack/state.json"

By default the org would just be the username, but you could use `pulumi org set-default` to change it to anything else.

[2022-11-17 09:45] Frassle commented on #11392
We've already flipped this around in the python automation api: https://github.com/pulumi/pulumi/commit/7695311d799f47a3cf13e6019d135eec4bb886bd

It makes sense to just do that in all the apis to keep them in sync.

[2022-11-17 10:04] simonkarman commented on #4625
@ghostsquad Actually moving a resource to another parent structure is not straightforward in Pulumi either, since the URN **is** based on the parent structure. The difference is that in Pulumi URN is based on the `types` in the chain of parents and not the `names` of those parents.

IMHO: it would make more sense to include the name in the URN, since that makes it easy to create child resources, s

[2022-11-17 11:31] ffMathy opened #11393 "Allow initializing a stack that already exists"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

The title sounds a bit strange, so allow me to explain.

I have a setup where I (when starting my project locally) programmatically copy my development stack using `pulumi stack init local --non-interactive --cop

[2022-11-17 11:46] ffMathy commented on #11393
Might relate a bit (or add fuel to the fire) on the discussion over at #8402.

[2022-11-17 13:43] lenardchristopher commented on #4996
This is a bug that Pulumi should fix, imo.

For now, I think understanding the bug will help anyone work around the issue safely. If you have a single stack creating a cluster and k8s resources together, then you must be configuring the k8s provider using the cluster's certs. When you recreate a cluster, the cert's change. The bug is the k8s provider doesn't pick up these new certs. It is still so

[2022-11-17 15:28] markfickett commented on #11375
I had initially needed to use `--target` because someone else had un-updated Pulumi changes; we got that resolved, so I ran a full `pulumi up` and that was able to process this URN. But unfortunately that means I can't repro any more.

I did take a look at my `stack.json` and the URNs look fine, no evidence of `[secret]`s.

If it comes up again I'll revisit the ticket and try a `refresh`. In the m

[2022-11-17 15:30] #11375 closed

[2022-11-17 17:33] phillipedwards opened #11397 "Unintended Bucket Replacement when Aliasing Bucket to BucketV2 in Component Resource"
### What happened?

When attempting to migrate from aws s3 bucket to aws s3 bucketv2 Pulumi, using aliases, Pulumi wants to replace the s3 bucket.
- Existing component resource contains aws s3 bucket
- Create a new component resource which contains aws s3 bucketv2
- Alias existing aws s3 bucket to the new aws s3 bucketv2 so that the physical aws s3 bucket is retained

### Steps to reproduce

- Exi

[2022-11-17 17:42] iwahbe commented on #10663
@krupaJari It looks good to me.

[2022-11-17 18:51] bmyers-ozette opened #11399 "Stack transformation to apply tags does not work for child resources"
### What happened?

I am trying to automatically apply tags using the method from this blog post with a stack transformation: https://www.pulumi.com/blog/automatically-enforcing-aws-resource-tagging-policies/#automatically-applying-tags

This works fine for parent resources, but isn't applying to the child resources. For example:
[code]

On pulumi up, the s3 bucket and vpc get the `test-tag` but n

[2022-11-17 19:37] aq17 commented on #11391
@bacek could you possibly share a more detailed program so we can try to repro?

[2022-11-17 23:22] aq17 commented on #11397
@phillipedwards can you share your program? I tried

1. creating a component resource
2. creating an s3 bucket as part of the component
3. pulumi up
4. creating a second component resource
5. creating an s3 v2 bucket aliased to the original bucket

Did you delete the 1st component prior but not the bucket prior to 4?

[2022-11-17 23:59] bacek commented on #11391
First stack (gke + anthos + dns + db):

[code]

Second (crashing) stack with a simple deployments:
[code]

[2022-11-18 00:00] bacek commented on #11391
For the record:
1. When I was spinning up second stack for the first time, it's OOMed and killed.
2. On second attempt it start crashing

[2022-11-18 00:14] aureq commented on #11391
@bacek if you could:

- share some code with us
- confirm the backend used for both stacks. You mentioned S3, but worth confirming, including bucket names and path if possible
- confirm if the issue is happening randomly/intermittently, or at every single run

[2022-11-18 00:14] aq17 commented on #11393
Thanks for the suggestion, @ffMathy – we'll add this to our backlog for consideration.
A workaround may be to deploy another stack with the same (or different) config as your development stack. As you stated that you'd like `multiple copies of my AWS resources with different states`, managing those different states with a separate stack should be best for now.

[2022-11-18 00:16] phillipedwards commented on #11397
@aq17 apologies, I meant to comment that I'll be trying to produce a repro for this one.

[2022-11-18 00:16] aq17 commented on #11399
Hi @bmyers-ozette , this is a known [issue](https://github.com/pulumi/pulumi/issues/6948). Please see the discussion [here](https://github.com/pulumi/pulumi/issues/10428#issuecomment-1219601303) re: `registerStackTransformation` as a potential workaround for the time being.

[2022-11-18 00:16] #11399 closed

[2022-11-18 00:21] bacek commented on #11391
Yeap. Whole code is in previous commit.

Yes, I'm using s3 backend. But I'm pretty sure it's irrelevant based on stacktrace.

100% reproducible.

[2022-11-18 01:07] anemptyair opened #11403 "Can the state be shared cross different languages?"
For example,
I created S3 bucket(example01) with golang languages, and then other members are going to update the S3 bucket(example01) with Python languages. Will it be doable and the state is shared cross golang & python code?

Best wishes,

[2022-11-18 01:55] aq17 commented on #11391
@bacek I'm having trouble reproducing this, though I suspect it has something to do with your first attempt OOM'ing. It's possible your checkpoint was corrupted – could you possibly clear your state files from your s3 backend and attempt to get a successful first deploy of both stacks?

cc @kpitzen @Frassle if you two have a sec to look at the program, I'm not sure what is triggering a `DeleteStep

[2022-11-18 02:36] bacek commented on #11391
@aq17 I can try it. But `pulumi refresh` does go through. So state is not corrupted to the point where it's totally useless.

[2022-11-18 04:12] ffMathy commented on #11393
But isn't that what I am doing?

From what I understand, the init command copies the config from another stack?

[2022-11-18 09:51] danielrbradley opened #11404 "Making a property optional is a breaking change in Go"
### What happened?

If a property is changed from being required to being optional, this causes a change from `Foo` to `*Foo` which is a breaking change.

In all other languages and tooling, making a field optional is a backward compatible change.

### Steps to reproduce

1. Remove a property from the required set in a schema
2. Re-generate the Go SDK

### Expected Behavior

Existing programs shou

[2022-11-18 10:10] mikhailshilkov commented on #11404
Notably, this is also a problem for Java and C#, at least for Output properties where we have a breaking difference in `Output<Optional<String>>` vs `Output<String>` and `Output<bool?>` and `Output<bool>`. We deemed this acceptable.

Maybe, we could improve on inputs in Go in the next version of the SDK.

[2022-11-18 10:39] stefaneacsu147 opened #11405 "Error: Running programs "" with an unhandled exception"
I am getting the following error:

[code]

This is also the code for sa:
[code]

The serviceAccount exists in GKE, so I am not sure why it fails.

[2022-11-18 11:43] #11405 closed

[2022-11-18 12:09] narenvivek opened #11406 "brew install failing for version 3.47.0"
### What happened?

![image](https://user-images.githubusercontent.com/29542480/202701894-927ec1d9-e5d9-403a-b743-bb7b8e04c33e.png)

### Steps to reproduce

brew install pulumi/tap/pulumi

### Expected Behavior

should have installed correctly

### Actual Behavior

Error: pulumi: Failed to download resource "pulumi"
Download failed: https://github.com/pulumi/pulumi/releases/download/v3.47.0/pulumi

[2022-11-18 13:23] #11210 closed

[2022-11-18 13:23] #11181 closed

[2022-11-18 13:24] aq17 commented on #11406
Hi @narenvivek , apologies for this – please retry now

[2022-11-18 14:58] narenvivek commented on #11406
that works. thanks

[2022-11-18 15:01] dirien opened #11407 "Pulumi delete not working as expected in version v3.47.0"
### What happened?

I get an error message displayed, when trying to delete a Pulumi stack:

[code]

Looks related to https://github.com/pulumi/pulumi/issues/11334

### Steps to reproduce

Delete a Pulumi stack via `pulumi destroy -y -f`

### Expected Behavior

The Stack gets deleted

### Actual Behavior

Error message:

[code]

### Output of `pulumi about`

[code]

### Additional context

-

###

[2022-11-18 16:25] #11406 closed

[2022-11-18 18:46] dviry opened #11409 "3.47 win amd64 setup missing, 404 link"
### What happened?

Download link here: https://www.pulumi.com/docs/get-started/install/

Returns a 404 - looking at the releases page: https://github.com/pulumi/pulumi-winget/releases/ - shows the latest is 3.46.1

### Steps to reproduce

see above

### Expected Behavior

correct setup, correct link

### Actual Behavior

404 setup not found

### Output of `pulumi about`

_No response_

### Additi

[2022-11-18 19:03] aq17 commented on #11403
Hi @anemptyair, a Pulumi program determines the state, so if you were to start with instantiating resources with a go program, you can definitely reference the same resources in a python program after [importing](https://www.pulumi.com/docs/guides/adopting/import/) those resources. However, if you wanted to subsequently manage the resources again with your original go program, you should make sure

[2022-11-18 19:03] #11403 closed

[2022-11-18 20:30] #11392 closed

[2022-11-18 21:10] #11407 closed

[2022-11-18 22:01] aq17 commented on #11391
Thanks @bacek. Any updates?
Also in your second stack, can you clarify the values for `neeraConfig.stackRef` and `neeraConfig.environment`?

[2022-11-18 23:36] aq17 commented on #11409
Hi @dviry , we are working on a fix. `v3.47.1` should be released shortly to remedy this.

[2022-11-18 23:36] #11409 closed

[2022-11-19 16:40] PawelLipski commented on #11374
Hey, thanks for quick reply, and sorry for my delayed response. Together with @prryb, we've managed to narrow down the issue to a very specific component:

[code]

What's more, it doesn't happen unless `provider` is specified:

[code]

[2022-11-19 16:42] PawelLipski commented on #11374
Okay, so now for the further steps... do you think we should pursue resolution in **this** repo, or rather repost it in https://github.com/pulumi/pulumi-kubernetes-cert-manager? 🤔 to me, it seems more like a bug in that plugin 🐞

[2022-11-19 20:05] aq17 commented on #11393
The `--copy-config-from` flag does, but it sounds like you may be attempting to initialize an already existing stack `local` numerous times, rather than standing up a new distinct (but identical) stack?

[2022-11-19 23:45] georgettica opened #11424 "FYI: installing on MacOS Ventura (13.0.1) fails on grpcio"
### What happened?

followed the instructions and failed on grpcio

### Steps to reproduce

pulumi new aws-python

### Expected Behavior

that is will create the stack

### Actual Behavior

tried to pull the full log but it seems I cannot sanitize it correctly, so I will work on that tomorrow, sry about that

### Output of `pulumi about`

[code]

### Additional context

_No response_

### Contribu

[2022-11-20 20:41] ffMathy commented on #11393
Yes. Since I am copying from my "dev" stack which I already have locally checked in to GIT (so the stack config is there) and it also exists in S3 state-wise, I basically just want to be able to create a copy of the stack.

However, since the copy I am creating already exists in S3 (but not in GIT, the config file is not present on the build server, because it's a copy I made locally), I can't do

[2022-11-20 23:20] bacek commented on #11391
stackRef is link to first stack
environment is "latest"

[2022-11-20 23:21] bacek commented on #11391
Does it mean that I have to wipe whole deployed stack? If so it's not something I would like to do for an actual production deployments...

[2022-11-20 23:24] Frassle commented on #11393
Little hesitant to allow init to not error for already existing stacks. Creating new stacks is the common case here and most users want an error if they accidentally try to create a stack that already exists.

It seems the main thing your wanting here is the config copied across, is `pulumi config cp` not sufficient for this:
[code]

[2022-11-20 23:30] Frassle commented on #11391
The asserting line is:
```	contract.Assert(pendingReplace != old.Delete)```

I suspect we did corrupt state here, somehow ended up with a resource that then wanted to be replaced but there was an old copy not marked for deletion.

@bacek if I understand correctly trying to run `up` on your second stack is still 100% failing because of this? Could you export the current state for that stack (`pulum

[2022-11-20 23:44] bacek commented on #11391
I removed ciphers from it.
[pulumi.zip](https://github.com/pulumi/pulumi/files/10051032/pulumi.zip)

[2022-11-21 00:04] ffMathy commented on #11393
But copying a stack requires an existing stack to exist, no?

And the problem is that the stack can't be created, because it has already been created on another machine.

[2022-11-21 04:45] ladung opened #11415 "Error when create stack: stack names may not contain slashes"
### What happened?

When I create stack with command:
[code]
Why I do not create stack with ```orgName/stackName```

### Steps to reproduce

1

### Expected Behavior

1

### Actual Behavior

1

### Output of `pulumi about`

_No response_

### Additional context

_No response_

### Contributing

Vote on this issue by adding a 👍 reaction.
To contribute a fix for this issue, leave a comment (and link

[2022-11-21 09:58] mikhailshilkov commented on #11332
@Frassle Maybe it should - but I think it's a TF provider in this case, so we can't do much? Sounds like a legit concern?

[2022-11-21 12:42] danielrbradley opened #11416 "Error deserializing optional output resource"
The Python SDK throws errors when an optional resource output is missing.

See https://github.com/pulumi/pulumi-awsx/issues/929 for the original issue.
See also https://github.com/pulumi/pulumi-awsx/issues/933 for the same issue with optional output roles.

## Reproduction

In AWSx the `FargateTaskDefinition` can optionally create a log group for you. So has an output property of `pulumi.Output[Op

[2022-11-21 13:37] gustawdaniel opened #11417 "add allowSyntheticDefaultImports and esModuleInterop to default tsconfig"
I created new pulimi project by

[code]

generated tsconfig.json was following

[code]

imports was the following:

[code]

I prefer imports without starts so imported

[code]

in index.ts. Then i had errors:

[code]

that can be fixed by `"allowSyntheticDefaultImports": true`

and

[code]

that can be fixed by `"esModuleInterop": true`

---

My proposal is to add:

[code]

to default generated ts

[2022-11-21 14:56] #11360 closed

[2022-11-21 15:47] heagma commented on #11198
@Frassle Could you review it and see if it's ready to merge  ?

[2022-11-21 16:16] justinvp commented on #11416
The SDKs have this behavior where if the output value isn't present, it'll just set the output value to the input value. Which mostly works for custom resources where there's generally a 1:1 match between inputs/outputs, but obviously does not work well when that's not the case (which is likely to be more often now with components). We likely need to re-think this overall.

https://github.com/pulu

[2022-11-21 16:24] dixler opened #11419 "CodeCov Not Uploading Coverage Reports"
https://app.codecov.io/gh/pulumi/pulumi hasn't been updated in quite some time.

[internal discussion](https://pulumi.slack.com/archives/C02VCJEBT2N/p1669047706081659)

[2022-11-21 16:24] danielrbradley commented on #11416
Initial options I could see here:
- Could we provide a workaround where by we provide some kind of an "empty" value which will stop it defaulting back to the inputs?
- Should we rename all output properties to have different names from inputs - this would be a big breaking change to our existing components, but now might be the moment to do this.
- Do we need a flag in the schema to disable this i

[2022-11-21 16:38] jaxxstorm commented on #11417
this appears to be a matter of personal preference.for anyone else

[2022-11-21 16:39] #11417 closed

[2022-11-21 17:14] justinvp commented on #11416
I tried out Go and .NET, and they don't fail during `pulumi up`. (I haven't actually tried inspecting the output value yet; which I suspect will have issues).

Another option would be a more targeted fix for the Python SDK only, where when we're attempting to set the output value as the input value, instead of failing when there's a type mismatch, just don't set the value (and don't fail), which w

[2022-11-21 17:15] pierskarsenbarg opened #11420 "List policy packs in an empty or non-pulumi project folder returns a 400 error message saying that the feature is not available"
### What happened?

User ran `pulumi policy ls` on an empty folder (and I've verified this with a folder just containing the contents of `pulumi policy new awsguard-typescript`). Neither of us had a stack selected or a `Pulumi.yaml` file present.

### Steps to reproduce

1. `mkdir new-folder && cd new-folder`
2. `pulumi policy ls`

### Expected Behavior

An error message saying that either there w

[2022-11-21 17:23] dixler commented on #11415
Hi. Thanks for posting. I believe this error occurs if you use the filestate backend rather than the pulumi service (via `pulumi login`). Organizations are only supported on the Pulumi service.

If you have more questions or this doesn't solve your issue, definitely let us know! Thanks!

[2022-11-21 18:07] nstires-ctgx commented on #11415
I saw this consistently with one of my stacks in the previous version of pulumi CLI. The workaround I found was to pass the stack argument:

`pulumi up -s my-team/app-deploy/my-stack`

All of my stacks follow the same naming convention, and it was isolated to `my-team/app-deploy`

This does appear to be resolved in CLI v3.47.1.

[2022-11-21 18:38] RobbieMcKinstry commented on #11419
@AaronFriel the timeline looks suspiciously Bors related. Around when we started using Bors, CodeCov stopped receiving coverage reports.

[2022-11-21 19:29] dixler opened #11423 "Resolve outstanding community PRs not merging."
This issue was closed, but there are a lot of outstanding approved PRs that are unable to be merged
- https://github.com/pulumi/pulumi/issues/11360

We need to merge the following approved PRs.

Failed `bors merge` PRs
- [ ] https://github.com/pulumi/pulumi/pull/11331
- [ ] https://github.com/pulumi/pulumi/pull/11383
- [ ] https://github.com/pulumi/pulumi/pull/11307

Documenting the strategy used

[2022-11-21 20:02] t0yv0 commented on #11424
Guessing the repro here might be just "pulumi new was-python && pulumi up" on an M1-powered (arm) Mac machine.

[2022-11-21 20:12] justinvp commented on #11424
Just want to confirm that `pulumi new aws-python && pulumi up` works OK on an M1 mac on Monterey. Checking to see if anyone on the team has already upgraded to Ventura, otherwise, we can look into running in a VM (or possibly CI) to repro.

[2022-11-21 20:37] RobbieMcKinstry commented on #11424
Also confirmed that `pulumi new aws-python && pulumi up` works on my M1 mac on `Ventura 13.0.1`.

https://app.warp.dev/block/NXK69cORCxjbQBVp9IYcrZ

[2022-11-21 21:15] dixler commented on #11420
The pulumi policy CLI command has the following usage string `pulumi policy ls <org-name>`. If `org-name` is unspecified, it defaults to the user's personal organization which can lead to some confusion.

The error message could be improved to indicate the org that we're checking.

[2022-11-21 23:14] #11416 closed

[2022-11-21 23:42] iwahbe opened #11425 "Env vars to document"
A list of environmental variables to document. Related to https://github.com/pulumi/pulumi/pull/11362.

Generated by running the following in `pkg` and `go/sdk/common`:
[code]

I then manually filled filled in entries where where the argument to `LookupEnv|Getenv` was a variable and re-de-duped.

- [ ] "BITBUCKET_BRANCH"
- [ ] "BITBUCKET_BUILD_NUMBER"
- [ ] "BITBUCKET_COMMIT"
- [ ] "BITBUCKET_GIT_

[2022-11-22 01:49] iwahbe commented on #11427
I've transferred the issue from pulumi-yaml to pu/pu. The generated PCL looks correct, and other languages generate valid code. I think this is a problem with the go language generator.

Generated PCL:
[code]

[2022-11-22 08:30] Frassle opened #11429 "Support GitHub enterprise in pluginDownloadUrl"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

Github Enterprise API endpoints usually contain hierarchical slashes. An example format of a private host would be "github_hostname/api/v2" . This is not supported with the current method of splitting the PluginD

[2022-11-22 12:06] jelicics opened #11430 "Unable to create NSG flow log"
## What happened?

I have tried to create a network security group flow log for an existing Network Watcher.
The error I am getting is:
[code]

I have tried getting the Network Watcher configuration (through the get/lookup function), both with native and classic Azure provider.
I have also tried importing said Network Watcher in the pulumi stack, with the same error.
All of the above was tried wit

[2022-11-22 13:54] zlugo commented on #7094
We are having this exact issue on Pulumi version 3.47.1 with a stack of ~1700 resources (mostly `azure:keyvault:Secret`, `random:index:RandomPassword`, `postgresql:index:Database`, `postgresql:index:Grant`, `postgresql:index:GrantRole`, `postgresql:index:Role`, but according to the previous comments that does not make a big difference).
A stack with ~1400 resources in the same project always runs

[2022-11-22 14:42] kpitzen commented on #11276
Hi @vtkageyama - just a quick update for you.  It seems like we may be able to separate your issue with the broader issue of supporting Python 3.11 overall.  I've opened #11431 to help facilitate this.  Once this is released, you should be good to go!

[2022-11-22 14:55] t0yv0 commented on #7094
Thank you so much for reporting that this is happening again!

Copying @RobbieMcKinstry - we have new evidence here, I recall you warned about time.NewTicker having starvation issues. Are there different ways to use Go that would alleviate starvation for the renewLease thread? Or alternatively is there a reason renewLease would take >2.5 min latency due to network saturation, could we do something

[2022-11-22 15:20] t0yv0 commented on #7094
A few more hypotheses around http handling issues.  Suppose concurrency limits or contention in the network layer could cause renewLease starvation. Pulumi currently uses the same client for all requests, including renewLease requests that bottoms out at `http.DefaultClient` from `net/http`. It does not look like the default client sets MaxConnPerHost so that is not limited.  But this *might* be u

[2022-11-22 15:56] wimi commented on #7094
Is there anything we can do on our side to test any of these hypotheses?
I'm working with @zlugo so I could experiment a bit on our code. We are using Pulumi typescript.

[2022-11-22 16:29] t0yv0 commented on #7094
If you have a way to repro that would be super helpful. To test out the contention hyptothesis we need to run with a small change to pulumi/pulumi code and a custom build of `pulumi` CLI. Something like this: https://github.com/pulumi/pulumi/pull/11432 - running `make install` on that branch for 11432 gives you a `~/.pulumi-dev/bin/pulumi` custom build, if you could bring that in $PATH and try it

[2022-11-22 17:51] svodwood opened #11433 "Command "pulumi new --force" fails to launch the project creation sequence on the command line"
### What happened?

Updated pulumi to the recent release v3.47.1. Initialized a repository in Github, cloned to a local workstation. Navigated to the folder and attempted to run 'pulumi new --force' to initialize a new Pulumi project. Got an error related to one of the template definitions.

### Steps to reproduce

Run 'pulumi new --force' in a non-empty directory.

### Expected Behavior

Should k

[2022-11-22 18:23] justinvp commented on #11433
Thanks for filing the issue, @svodwood. We're working on fixing the templates that are impacting `pulumi new`.

In the meantime, you can run `pulumi new <templatename> --force`, specifying the template you want, and that should work. The list of available templates are just top-level directories in https://github.com/pulumi/templates, e.g. `aws-typescript`.

[2022-11-22 18:39] dixler commented on #11430
Hi. Thanks for posting. I was googling the error message and it seems that the error message is coming from Azure.

I found the following stack overflow post with a similar error message, but on a different resource.
https://stackoverflow.com/questions/56671647/can-not-perform-requested-operation-on-nested-resource-parent-resource-io

I have very limited experience with azure, but my uneducated gu

[2022-11-22 18:42] iwahbe opened #11434 "`pulumi new` should not depend on all templates being valid"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

We error when anything [is](https://github.com/pulumi/pulumi/issues/11121) [off](https://github.com/pulumi/pulumi/issues/11433) with our templates, causing `pulumi new` to fail with a deserialization error. We sh

[2022-11-22 18:45] iwahbe commented on #11434
I'm going to assign this to myself to make sure I get around to it. If anyone else is interested, feel free to transfer the assignment.

[2022-11-22 19:10] #11433 closed

[2022-11-22 20:04] justinvp commented on #11434
Make sure `pulumi policy new` has the same improvement.

[2022-11-22 20:04] #9687 closed

[2022-11-22 22:52] rdanno commented on #11429
Would be great to see this implemented!

[2022-11-23 00:45] iwahbe commented on #11427
Progress so far:
- #11437 makes sure that all the external types are appropriately qualified.
- #11440 removes the erroneous `"github.com/.../apigateway/index"`.
- #11442 removes the erroneous `"github.com/pulumi/pulumi-aws/sdk/v5/go/aws"`

[2022-11-23 00:46] #11434 closed

[2022-11-23 00:52] iwahbe commented on #11427
The following error is because `pulumi-aws-apigateway` sets the wrong `languages.go.importBasePath`.
[code]

It sets the base path as `github.com/pulumi/pulumi-aws-apigateway/sdk/apigateway` when it should set it as `github.com/pulumi/pulumi-aws-apigateway/sdk/go/apigateway` (notice the `/go` between the `/sdk` and `/apigateway`:

https://github.com/pulumi/pulumi-aws-apigateway/blob/d8a5e8d6264c51

[2022-11-23 01:01] iwahbe commented on #11434
@aq17 did the fix end up accounting for `pulumi policy new`?

[2022-11-23 01:01] aq17 commented on #11434
@iwahbe Working on that right now 😅

[2022-11-23 07:41] #8070 closed

[2022-11-23 08:28] Antman261 opened #11444 "`pulumi up --yes` failing with 3.47.2 due to `error: resource violates plan`"
### What happened?

All of our deployments have started failing since Nov 23rd, 3:00 UTC with the error `error: resource violates plan`.

We discovered that the failure only occurs in version `3.47.2` when supplying the `--yes` flag. If we run in interactive mode, it passes as usual.

### Steps to reproduce

1. Run `pulumi up --yes`

### Expected Behavior

Update succeeds with no changes

### Actu

[2022-11-23 08:47] Frassle commented on #11444
Almost definitely the case, and not the intention. We'll get a fix out ASAP.

[2022-11-23 12:32] #11444 closed

[2022-11-23 14:38] agluck91 commented on #3389
I want to add a plus one to this, the OP's method for moving items in a stack is the same method I have to use, and it is pretty cumbersome.

[2022-11-23 14:59] mark-bixler commented on #7071
I can confirm this broke after installing `3.46.1` & continues to a problem through `3.47.2`. I have reverted back to `3.46.0` and do not have the problem. MacOS 12.6 / iTerm2 / zsh / xterm-256color.

[2022-11-23 16:01] zlugo commented on #7094
I did that and ran our program with the `3.47.2-dev.0` build I got from this branch. Unfortunately, there's no change - we still see the same error. I also did not see much related to this token in the verbose logs (`--logtostderr --logflow -v=9 2> out.txt`).

Is there any other idea we can follow and/or support you with?

[2022-11-23 16:25] Frassle opened #11449 "CI with bors is slow, still flaky, and provides no way to manually override"
Pretty much the title.

We're finding that bors has not really improved our issues with CI, it's at best moved them around, and more likely made them worse.

For reasons unrelated to bors our CI actions are flaky and often timeout or crash the github runners. With bors that requires _a complete retry_ of the bors action, while previously we could use githubs "retry failing jobs" feature to just re

[2022-11-23 16:43] dixler commented on #11449
Some community PRs are currently in a weird state where bors won't merge them
They're tracked in this issue: https://github.com/pulumi/pulumi/issues/11423

[2022-11-23 16:51] MitchellGerdisch opened #11450 "CLI version 3.47.2 breaks awsx.lb"
### What happened?

With CLI 3.47.1 the code below works.
Upgrading to CLI 3.47.2, it breaks with this error

[code]

[code]

### Steps to reproduce

1. Install Pulumi cli 3.47.1 (or older)
2. `pulumi up` the stack given above
3. see no error
4. `pulumi destroy` the stack
5. Upgrade to 3.47.2
6. `pulumi up`
7. See the error given above

### Expected Behavior

Should work in 3.47.2

### Actual Beha

[2022-11-23 16:54] jaxxstorm commented on #11450
We're having reports this also affects Helm Release as well

[2022-11-23 17:11] fbarrerafalabella opened #11451 "3.47.2 version breaks auto-approve CLI"
### What happened?

with this new release I cannot perform the following command on my CI/CD pipeline
[code]
I tells me the following
[code]
When I manually execute
[code]
and then I select yes it executes as normal

### Steps to reproduce

Execute pulumi up -s <stack> --yes

### Expected Behavior

Apply the changes without any problem

### Actual Behavior

shows this message
[code]

### Output of

[2022-11-23 17:18] viveklak opened #11452 "Convert test failure in pulumi-terraform-bridge when upgrading pu/pu pkg to v3.47.2"
### What happened?

Bumping the pu/pu pkg dependency to v3.47.2 fails: https://github.com/pulumi/pulumi-terraform-bridge/actions/runs/3534186280/jobs/5930763252

[code]

### Steps to reproduce

Run a new workflow for https://github.com/pulumi/pulumi-terraform-bridge/actions/workflows/weekly-pulumi-update.yml

### Expected Behavior

Successful upgrade

### Actual Behavior

Panic/test failure. See a

[2022-11-23 17:24] henry-fn opened #11453 "Non-json output when using --json and --save-plan together"
### What happened?

I **sometimes** (depending on context) get an extra message after running `pulumi preview --json --save-plan plan.txt`.

`Update plan written to plan.txt`

For me this can be determined by if I am using `poetry run` or `poetry shell` but I imagine this should just never print non-json output when --json is specified.

### Steps to reproduce

Pulumi `v3.47.1`
Poetry version `1.2

[2022-11-23 18:05] megbetts commented on #11429
Yes please, we have to resorted to packaging the plugin with the sdk and pushing it to our pypi repo in the interim which isn't an ideal solution

[2022-11-23 20:03] fbarrerafalabella commented on #11451
when I do a
[code]
it works, I think the preview is what is causing the problem

[2022-11-23 20:13] danielrbradley opened #11462 "Component resources shouldn't have id properties"
### Problem description

All custom resources have an `id` output field which is not part of the schema but is added by the SDK (and docs).

However, component resources do not have an `id` added by the SDK, but the docs do still add the id field.

E.g. https://www.pulumi.com/registry/packages/awsx/api-docs/ec2/vpc/#id_csharp

### Suggestions for a fix

We should add an exception to the docs gener

[2022-11-23 21:00] #11453 closed

[2022-11-23 21:05] ivan-amity commented on #11451
I've got this issue and this can pass by adding the `-f` flag.

`pulumi up -r -s <stack_name> -y -f`

[2022-11-23 22:06] fbarrerafalabella commented on #11451
Yes, but it should work showing the preview as before doesnt it?

[2022-11-23 22:28] jackwtech opened #11457 "aws classic elasticache ReplicationGroup automatic_failover_enabled cannot be enabled"
### What happened?

The elasticache.ReplicationGroup was first created with single node in single AZ. When doing an update to change to multi-AZ and automatic failover enabled, the automatic failover cannot be enabled. No error message.

### Steps to reproduce

Initially create an ReplicationGroup as below:

[code]

Then update with below:

[code]

No error from running `pulumi up`, but checking f

[2022-11-23 22:39] jackwtech opened #11458 "aws classic elasticache ReplicationGroup can't update from multi-AZ to single node"
### What happened?

When a elasticache.ReplicationGroup was first created with multiple nodes (1 primary + multiple read replica) in multi-AZ then updated to single node with multi-AZ disabled, the update failed.

### Steps to reproduce

Initially create a ReplicationGroup as below:

[code]

Then update to below:

aws.elasticache.ReplicationGroup(
    "replication-group",
    engine="redis",
    m

[2022-11-24 00:18] justinvp commented on #11451
Duplicate of https://github.com/pulumi/pulumi/issues/11444, which has been fixed in v3.48.0.

[2022-11-24 00:18] #11451 closed

[2022-11-24 00:19] justinvp commented on #11444
Note that this only happens when passing `--yes`. Running `pulumi up` interactively and selecting yes should work. This has been fixed in v3.48.0.

[2022-11-24 00:19] justinvp commented on #11450
Duplicate of https://github.com/pulumi/pulumi/issues/11444, which has been fixed in v3.48.0.

[2022-11-24 00:19] #11450 closed

[2022-11-24 03:39] justinvp commented on #11462
Here's where this is set:

https://github.com/pulumi/pulumi/blob/449307d4d20f386bcc9df923ebc4ef209d09ff50/pkg/codegen/docs/gen.go#L1561-L1566

The fix: if `r.IsComponent`, then the `id` property should not be added.

[2022-11-24 06:55] contrarianchris commented on #9927
I think this can be closed. I have not seen a repeat of this since 3.35.1.

[2022-11-24 08:25] mikhailshilkov commented on #11452
@iwahbe Could you please take a look?

[2022-11-24 10:26] Zaid-Ajaj commented on #11452
The line where the error occurs is `nodes := make([]Node, 0, len(p.Nodes))` which can only fail when `p : *pcl.Program` is `nil` so suspecting that something went wrong when going tf to pcl without propagating error information that the binding has failed

[2022-11-24 10:39] stefaneacsu147 opened #11464 "Panic: fatal: An assertion has failed"
### What happened?

[code]

### Steps to reproduce

Tried to do `pulumi preview` and `pulumi up` and got the following error. I updated the Pulumi version but the issue still persists after the update.

### Expected Behavior

The preview and up to work as intended

### Output of `pulumi about`

[code]

### Additional context

_No response_

### Contributing

Vote on this issue by adding a 👍 reacti

[2022-11-24 11:03] Frassle commented on #11464
Duplicate of https://github.com/pulumi/pulumi/issues/11391 I think.

[2022-11-24 11:03] #11464 closed

[2022-11-24 13:40] stefaneacsu147 commented on #11391
I have similar issue and I have the same kind of need. It's production state and I do not want to reset it.

`pulumi refresh` works but up and preview crashes. Are there any other commands I can use to check exactly or indicate which of the resource is corrupting the state so I can remove or maybe re-import it? @Frassle

[2022-11-24 18:33] RobbieMcKinstry commented on #11424
I compiled Pulumi from source.

[2022-11-24 20:51] ringods opened #11465 "Installation of Pulumi via Chocolatey fails on Windows"
### What happened?

Upgrade of Pulumi fails on Windows using Chocolatey. User reports he currently has v3.38.0 Install of 3.42, 3.45 and 3.48 fails for him.

### Steps to reproduce

Run `choco upgrade pulumi` on Windows.

### Expected Behavior

Upgrade of Pulumi should work using Chocolatey

### Actual Behavior

![image](https://user-images.githubusercontent.com/77923/203861101-8507e237-4ce6-4a92-

[2022-11-24 22:03] #8067 closed

[2022-11-25 01:57] iwahbe commented on #11452
From the stack trace, we see the error chain go
https://github.com/pulumi/pulumi/blob/35f8427aa091a315da0c2199c8a72b229e24b47b/pkg/codegen/pcl/utilities.go#L145

https://github.com/pulumi/pulumi/blob/35f8427aa091a315da0c2199c8a72b229e24b47b/pkg/codegen/nodejs/gen_program.go#L52-L53

https://github.com/pulumi/pulumi-terraform-bridge/blob/65079911289212d33b98958221df78168fbe464d/pkg/tf2pulumi/conver

[2022-11-25 08:09] Frassle commented on #11452
Huh my bad, I rewrote that bit to use internalEject. Very surprised the linter didn't pick up that err was unchecked though? Guess we're not running linting here, or at least missing errcheck.

[2022-11-25 08:30] pashtet04 commented on #2383
`pulumi stack -u -i` to get an urns of resources from state

[2022-11-25 08:37] pasqualet opened #11466 "The NodeJS SDK is broken when a component is using another component from the same schema as a property"
### What happened?

The code generated for the NodeJS SDK is broken when a component is using another component from the same schema as a property.

The property component is imported in the following way:

[code]

but the the property is declared using the whole package:

[code]

### Steps to reproduce

To reproduce the bug, the property type must be set to the type of another resource in the sam

[2022-11-25 10:57] mikocot commented on #11465
I'll let myself add that both originally and now the terminal was in elevated mode.

I'm also attaching chocolatey logs.
[choco.log](https://github.com/pulumi/pulumi/files/10091821/choco.log)

[2022-11-25 11:26] Frassle commented on #11452
Seems errcheck just doesn't detect this case, I think because the error is checked and returned later on in the method.
Still merged https://github.com/pulumi/pulumi-terraform-bridge/pull/652 to add the missing check, see if that helps this.

[2022-11-25 14:00] pjoe opened #11468 "Have Lambda function serialization generate require calls outside handler function"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

When using function serialization the resulting code puts require calls inside the Lambda handler, e.g.:
[code]

This is against recommendations to have this in the global scope of the file which will run during

[2022-11-25 18:58] justinvp opened #11470 "Resource docs: Input properties are not always implicitly available as output properties"
Our resource docs say the following about output properties:

https://github.com/pulumi/pulumi/blob/35f8427aa091a315da0c2199c8a72b229e24b47b/pkg/codegen/docs/templates/resource.tmpl#L120

But that's not always true, especially for component resources that can have very different input and output properties.

[2022-11-25 21:43] iwahbe commented on #11452
I don't think that errorcheck will get this case. The underlying problem is a useless assignment (we assign to `err`, then re-assign to `err` without viewing the old value). That would be the `ineffassign` lint.

I assume that the `errcheck` lint only triggers if the var itself is not checker.

[2022-11-25 22:55] #11462 closed

[2022-11-26 02:00] joeduffy opened #11472 "Update status displays repeated Type column while downloading"
If a plugin download occurs mid-update, all of the update columns seem to draw fine, except that newlines keep getting printed, and the Type column repeated, as the following screenshot demonstrates (this is a preview):

<img width="1272" alt="image" src="https://user-images.githubusercontent.com/3953235/204068075-1be9a93a-c505-4067-8029-4ba022ec7b83.png">

[2022-11-26 19:59] jameslawson commented on #4876
**For anyone wanting to tweak the ts-node version in their projects:**
I'm using something like a monorepo and I already have  ts-node and typescript as dependencies.
After trying to various workarounds for this, for me, this was the simplest temporary solution (until pulumi updates its typescript version). Sharing it here in case anyone else finds it helpful.

*Pulumi.yaml:*

[code]

*index.js* (

[2022-11-27 05:15] aureq opened #11473 "`pulumi policy publish` should report all duplicated policy names at once (cli & service)"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

I have a policy-pack with 44 policies and somehow I failed to noticed that 3 of them has their `"name"` reused/duplicated with other policies. Running `pulumi policy publish orgName` fails as expected **but** onl

[2022-11-28 07:26] Draiget opened #11474 "Preview stuck at `futex(...)` loop consuming all available memory"
### What happened?

`pulumi preview` consuming all available memory without doing/outputting anything except live preview link.

### Steps to reproduce

For me it's even repeating using `pulumi preview` with below simple code:

[code]

### Expected Behavior

Preview ouput.

### Actual Behavior

Memory consuming, no output except preview link:
[code]

### Output of `pulumi about`

[code]

### Addit

[2022-11-28 09:45] sy-bee commented on #3737
This would be very useful when using Automations API.

[2022-11-28 09:50] Frassle commented on #11465
This looks like an issue in unzipping Pulumi. From the logs it looks like it's trying to use 'C:\ProgramData\chocolatey\tools\7z.exe', are you sure that executable works.

[2022-11-28 09:56] Frassle commented on #11474
Could you send the debug logs from this? Add `-v10 --logtostderr --logflow` to the preview command.

[2022-11-28 10:07] mikocot commented on #11465
Thanks, I've seen it's related to decompression, but I kind of assumed it must be a faulty script as it worked before for this and different libs. Now that I checked the binary indeed doesn't work, and it looks like 7zip seems to be a common source of choco problems. Mine might be related to this one: https://github.com/chocolatey/choco/issues/2735

Quite weird, that it stopped working now, but ma

[2022-11-28 10:28] Frassle commented on #11465
Great thanks for confirming.

[2022-11-28 10:29] #11465 closed

[2022-11-28 10:35] Draiget commented on #11474
Here it is, don't see any explicit errors, probably something is entering deadlock\loop or recursive stuff is happening.

[output_1.log](https://github.com/pulumi/pulumi/files/10102785/output_1.log)
[output_2.log](https://github.com/pulumi/pulumi/files/10102786/output_2.log)

[2022-11-28 11:24] Frassle commented on #11474
Thanks, your right about there not being anything explicitly wrong in there, it does look like it just locked up somewhere.

Are you able to try an older version of pulumi to see if that still works? If it's possible to work out a specific version of pulumi that triggers this we can check what changes went into that version, hopefully give a clue as to what's wrong.

[2022-11-28 11:43] Draiget commented on #11474
Tried all versions up to `3.46.0`, issue was still there, but once I deleted the remote stack using `pulumi stack rm <remote> --force`, it's not freezes anymore and giving an output, like:
[code]
Not sure if that was last stack I've dumped, but I've tried importing existing resources with components as parent objects, maybe that is damaged something in remote stack and it was invalid somehow.

Att

[2022-11-28 12:30] Frassle commented on #11391
I've got a reproduction of this going locally now. Seems to be an issue where if a resource is replaced but fails to delete, then is replaced again we can assert (and also fail to correctly try deleting the resource again).

[2022-11-28 17:50] vtereshyn opened #11476 "OOM - JavaScript heap out of memory when trying to create resources"
### What happened?

We use `pulumi` and `pulumi/azure-native` to create Frontdoor resources. After upgrading to the latest Typescript, Pulumi, and Node JS versions and moving project to the EcmaScript modules, we started getting OOM whenever we ran `pulumi preview` or `pulumi up`

Not sure if the issue is in `@pulumi/azure-native` or `@pulumi/pulumi` package, but this is a huge blocker for us. We

[2022-11-28 18:04] XBeg9 commented on #11476
@mikhailshilkov any suggestions here, we are kind of blocked due to it :( if you need more info happy to provide it here or over Slack. Thanks!

[2022-11-28 18:41] t0yv0 commented on #7094
Thank you for trying! Interesting result indeed. Did you try also reproducing with tracing https://www.pulumi.com/docs/support/troubleshooting/#performance ? The calls to renew token should be visible on the trace, and perhaps something else in the trace can give a hint as to what's going on.

[2022-11-28 19:29] iwahbe commented on #8063
This looks like it has since been fixed. Test is reenabled in #11478.

[2022-11-28 19:29] #8063 closed

[2022-11-28 19:33] aq17 commented on #11434
Closed by https://github.com/pulumi/pulumi/pull/11435, https://github.com/pulumi/pulumi/pull/11443

[2022-11-28 20:06] #8068 closed

[2022-11-28 20:12] whitelancer commented on #132
I'd also love to help with this.  I think Ruby and Pulumi would be a great match!

[2022-11-28 23:41] bacek opened #11479 "Incorrect/confusing plan produced when `--diff` option provided."
### What happened?

Running `pulumi up` vs `pulumi up --diff` creates different/confusing plans

[code]

[code]

Plan without `--diff` is showing replacement of 2 resources: `gcp:kms:CryptoKey` and `kubernetes:mesh.cloud.google.com/v1beta1:ControlPlaneRevision`. Plan with `--diff` doesn't

### Steps to reproduce

No idea how to reproduce it.

### Expected Behavior

`pulumi up --diff` showing why r

[2022-11-29 01:58] #8440 closed

[2022-11-29 03:21] thomas11 commented on #11452
Trying with the latest pulumi release 3.48.0, it still fails the same test with an assertion failure instead of a nil ref.

[code]

[2022-11-29 07:41] pjoe commented on #11468
FWIW: did a simple test just importing `aws-sdk`. When moving `require("aws-sdk")` to global scope, cold start went from 5s To 300ms.

[2022-11-29 08:24] ffMathy opened #11482 "Pulumi KMS secrets provider can't handle assumed web roles"
### What happened?

I am using GitLab with the following guide:
https://docs.gitlab.com/ee/ci/cloud_services/aws/

It allows GitLab to use OpenId Connect to retrieve temporary AWS credentials by assuming a role. This is perfect, because it allows me to have GitLab runners which do not need permanent AWS credentials as variables in my project.

However, even though my script sets the `AWS_ACCESS_KE

[2022-11-29 10:30] slavafomin opened #11483 "Specify TypeScript version"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

Hello! I'm using Pulumi Service via [Pulumi GitHub Actions](https://www.pulumi.com/docs/guides/continuous-delivery/github-actions/) and it looks like it uses an outdated version of TypeScript, because it can't re

[2022-11-29 12:03] Frassle commented on #11476
That's quite a lot changed all at once. Can you make one change at a time and repro which part of that overall change actually causes the OOM errors to start?

[2022-11-29 12:09] Frassle commented on #11482
Might be this needs the v2 sdk setup to work, have you tried adding "?awssdk=v2" to the pulumi secret manager url. Something like "awskms://example?awssdk=v2".

[2022-11-29 12:32] ffMathy commented on #11482
Yes, that's already there.

[2022-11-29 12:35] vtereshyn commented on #11476
As I mentioned before this issue was with Common JS and old Typescript version. Here is a branch from my repository with CJS instead of ESM, old Node JS version, but latest Pulumi - https://github.com/vtereshyn/pulumi-fw-issue/tree/node_16.17.1-cjs

[2022-11-29 13:13] jalmeroth opened #11502 "upsert: true option leads to dataloss, when stack can't be selected/decrypted"
### What happened?

Hi 👋,

I have a Pulumi project, where a Azure BlobStorage is used as backend and a Azure Keyvault as secret provider. We use a Service Principal for pipeline execution.

The `Pulumi.yaml` project file has the following config:
[code]

The `Pulumi.bootstrap.yaml` stack file has the following config:
[code]

Our Github `workflow.yaml` looks like this:
[code]

In a situation, wher

[2022-11-29 13:41] vtereshyn commented on #11476
Here is last working version – https://github.com/vtereshyn/pulumi-fw-issue/tree/last_working_version

[code]

[2022-11-29 13:53] Frassle commented on #11476
Checking that out seems to run, but if I update it to:
[code]
It still seems to work fine.

I suspect this is that pulumi isn't handling esm modules correctly, but I don't think it's ever done that afaik.

[2022-11-29 13:56] vtereshyn commented on #11476
Have you checked my repository or tried on yours? We have other stacks that are working fine. But the stack with Azure Firewall breaks other stacks that have dependency on it. In that stack we have OOM @Frassle

[2022-11-29 13:59] vtereshyn commented on #11476
Sounds good. But upgrading dependencies (not CJS to ESM and Typescript version) will break `preview`

[2022-11-29 14:18] Frassle commented on #11476
As above I can run `pulumi preview` on last_working_version + the changes:
[code]
Are you saying that if you update last_working_version to those versions (with no other changes) that it starts OOMing on preview?

[2022-11-29 14:38] vtereshyn commented on #11476
@Frassle yes, exactly

<img width="897" alt="image" src="https://user-images.githubusercontent.com/32247411/204558312-e022b653-e3dc-4178-916c-33ef39e5f938.png">

[2022-11-29 14:50] Frassle commented on #11476
Right ok, I'll do some more checks haven't used pnpm before might of missed something with that.

[2022-11-29 16:07] Frassle commented on #11476
I think this is due to https://github.com/pulumi/pulumi/pull/8627 which was added in 3.21.0. We're currently working on a replacement for this (https://github.com/pulumi/pulumi/pull/11206).

I don't think you'll be able to update past 3.20 with the current code until that's fixed.
Alternatively rework the code to not parent resources to other resources.

[2022-11-29 16:28] vtereshyn commented on #11476
@Frassle does it mean that ESM support is available after 3.21.0, but all past versions are broken and won't work with `parent`?

[2022-11-29 17:06] ubeytdemirr commented on #10009
Hey guys :) Just encountered with this issue, any update on this?

[2022-11-29 17:08] sean1588 commented on #10748
I ran into this issue recently as well where I intended to create a project in a different org that has the same project name as one in my personal.

[2022-11-29 17:11] Frassle commented on #11482
OK got a couple of simple tests written up that demonstrate that those envvars aren't working as expected: https://github.com/pulumi/pulumi/pull/11484

This is _probably_ an issue in gocloud given how little logic is in pulumi itself to deal with this stuff, will dig into it.

[2022-11-29 17:28] vtereshyn commented on #11476
@Frassle is there a way to prioritize this issue? Looks like it is a huge thing, but it hasn't been fixed for about 27 minor versions (from 3.21.0 to 3.48.0)

[2022-11-29 17:57] RobbieMcKinstry commented on #10403
# Update

I did a spike on this as a holiday treat. I want to get evidence there's a performance win to be had here.

My hypothesis is that NodeJS code in provider packages would be faster if minified. Part of my problem right now is I don't have data to support this hypothesis, so it's hard to get buy-in. I did a spike with a little script to get this working, and came up against an incompatibili

[2022-11-29 19:37] kpitzen opened #11485 "[sdks/python] Cache virtual environments for integration tests"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

Currently, each integration test creates its own virtual environment, installs the released version of the pulumi python sdk and all its associated dependencies AND the local version and all its dependencies.  Th

[2022-11-29 19:39] Frassle commented on #11476
CC @kpitzen as his been working on it.
It hasn't been fixed in 27 minor revisions because it was initially noticed that there was a performance issue, and then fixing it in a way that was still correct but performance has ended up being a lot of work. We've been chipping away at fixing this for a few months now, it is getting done.

[2022-11-29 19:42] kpitzen opened #11486 "[tests/integration] Formalize test provider"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

Currently, we have a "test" provider in p/p which is used via some bespoke SDK code in a few tests.  Additionally, other integration tests depend on things like `pulumi/random` and `pulumi-kubernetes` providers.

[2022-11-29 19:48] justinvp commented on #11485
Would this be a new option in [`ProgramTestOptions`](https://github.com/pulumi/pulumi/blob/e43e98e5a7abadca7ab04c5f6bf9511b2dcb0478/pkg/testing/integration/program.go#L147)? Something like `UseSharedVirtualEnv bool`?

[2022-11-29 19:50] kpitzen commented on #11485
I think that makes sense.  It feels like it ought to default to `true` for now, and we can add exceptions to tests where needed?

[2022-11-29 19:58] justinvp commented on #11485
Maybe... The only thing that gives me pause is that this is used outside this repo, and even by customers. So we have to be thoughtful about some changes and how it'd impact other users.

I guess an alternative would be an envvar to opt-in globally.

[2022-11-29 20:54] ffMathy commented on #11482
Awesome stuff @Frassle! Keep me posted.

[2022-11-29 21:13] iwahbe commented on #11452
We have tightened up the contract for the loader. We require that `LoadPackage(name, version)` returns a package where `pkg.Name == name`.

The test was failing because the loader defined [here](https://github.com/pulumi/pulumi-terraform-bridge/blob/023b36175e3af65d1ac2aac87bdc86f212907280/pkg/tfgen/loaders.go#L24-L27) returned an empty schema for `aws`.

The test runs correctly with this patch:
[

[2022-11-29 22:13] kpitzen opened #11488 "Function serialization broken in NodeJS 19.2"
### What happened?

When opening a new PR unrelated to the Node SDK, tests related to function serialization fail due to a missing internal property `[[Scopes]]`

### Steps to reproduce

Run Node SDK unit tests in CI

### Expected Behavior

If no code changes have been made, no tests should fail.

### Actual Behavior

Tests are failing

### Output of `pulumi about`

Not _terribly_ relevant, but:

[2022-11-30 04:38] kenseii opened #11508 "The title of the DatabaseUser's example code just says `S`"

[2022-11-30 09:27] LucasBrazi06 commented on #7702
Same problem here, new fix has been provided in plugin 'kubernetes' V3.21.1 but it still uses the V3.20.2 when doing 'pulumi up'!!!
pulumi/pulumi-kubernetes#2249

[2022-11-30 09:28] LucasBrazi06 commented on #5641
Same problem here, new fix has been provided in plugin 'kubernetes' V3.21.1 but it still uses the V3.20.2 when doing 'pulumi up'!!!
pulumi/pulumi-kubernetes#2249

[2022-11-30 10:05] Frassle commented on #11488
Well would you look at that, [Node.js 19.2.0 dropped yesterday 2022-11-29](https://nodejs.org/en/download/releases/).

I'm guessing that's changed some internal details, we better make sure we're testing on 19.2 _and_ some older versions for this.

[2022-11-30 10:34] Frassle commented on #11488
Node 19.2 updated to a newer version of V8, and it looks like V8 has started to remove that "[[Scopes]]" property: https://github.com/v8/v8/commit/735401e1fb317979afe205ff0deaf3d7bf35c835

This stuff hasn't been touched for four years, and I'm not sure what we could do to lookup captured variables without going through [[Scopes]].

Given this is hard blocking everything I'm going to state that we

[2022-11-30 10:52] daanporon commented on #3388
Maybe a stupid idea, but i was thinking something similar to `dependsOn` might be useful, for example `shouldExecute` that you can give an `Output<boolean>` to ... so that you can use for example a data resource to check if it already exists and apply this to a boolean output.

[2022-11-30 12:55] cr1cr1 opened #11493 "[feat] add AGE Secrets Provider"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

- Currently, for local secrets there is only `passphrase` provider, so a good addition would be able to use other encryption mechanisms like [age](https://github.com/FiloSottile/age)
- Would support multiple iden

[2022-11-30 13:13] PraveenNanda124 commented on #11493
Good issue

[2022-11-30 13:32] Frassle commented on #11493
What fortuitous timing! I was literally yesterday thinking about how we could move our secret providers to a one of our plugin interfaces. Both to help with some internal build dependencies (The actually pulumi engine executable wouldn't have to link directly to the aws sdk for example) but also to allow community members to contribute their own secret plugins.

We've got a hackweek coming up soon

[2022-11-30 14:22] Frassle commented on #11486
+1 to that. My long term vision for this is that we publish test vectors from pu/pu (probably in pcl or yaml) and each language then does codegen to translate those tests to their language.
We'd then have some tests that would expect a new provider to be written in the target language (we should be able to write providers in each language) but then a load of tests that would hit some engine intern

[2022-11-30 15:31] danielrbradley commented on #11470
Moreover, outputs with the same name as inputs are excluded from being documented. This can be an issue because the outputs might have different types to the inputs and contain additional important information such as instances when they might not be populated

[2022-11-30 16:28] danielrbradley opened #11495 "Incorrect index accessor against optional property"
### What happened?

Attempting to access a nested property within an optional array property generates invalid TypeScript code.

### Steps to reproduce

Run `pulumi convert --language typescript --out typescript` for the following YAML program.

[code]

### Expected Behavior

Output should be generated as:

[code]

### Actual Behavior

Output should be generated as:

[code]

Required change is a s

[2022-11-30 16:42] danielrbradley opened #11496 "Converting optional property accessor fails to compile"
### What happened?

When generating code for accessing an optional property within an output, the generated code should use pointer types rather than plain types.

### Steps to reproduce

Run `pulumi convert --language go --out go` for the following YAML program:

[code]

### Expected Behavior

[code]

### Actual Behavior

[code]

### Output of `pulumi about`

[code]

### Additional context

_No r

[2022-11-30 18:25] iwahbe commented on #11427
As each of the underlying problems were fixed, we can now close the issue.

[2022-11-30 18:25] #11427 closed

[2022-11-30 18:52] #11386 closed

[2022-11-30 19:06] justinvp commented on #11495
I believe this is a dupe of #8068 which was fixed 2 days ago by #11477

[2022-11-30 19:06] #11495 closed

[2022-11-30 19:41] RobbieMcKinstry commented on #7094
I'm skeptical that the timer is starved for 2.5 minutes. In the past when I looked at similar circumstances, I determined the Go scheduler does not experience much "jitter." Here, "jitter" is the measure of time between when a thread expected to wake up and when it was actually scheduled by the Go runtime. Even under very high network load, jitter is usually extremely small (less than 10ms 100% of

[2022-11-30 20:50] danielrbradley commented on #11495
Bah! I searched, but guess I missed it because it was closed 😆  Thanks!

[2022-11-30 21:34] justinvp commented on #11316
@RobbieMcKinstry, there's a repro in https://github.com/pulumi/pulumi-awsx/issues/948, if that helps. I still haven't figured out what's going on. It appears to happen when passing an explicit `provider` when creating an MLC. Interestingly, if the provider is passed using `providers:` rather than `provider:`, the program works without the error.

[2022-11-30 23:19] iwahbe commented on #10814
I agree that the current behavior isn't right, but `pulumi convert` won't produce a valid program. Attempting to run `pulumi up` with the original Pulumi YAML program will tell us why:

[code]

I think the preferred result is to emit `"block"` and a diagnostic error explaining that `"block"` is statically known to be invalid.

CC @aq17